{% extends "ODROpenRepositoryUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% set form_path = path("fos_user_security_check") %}
{% if alternate_path is defined and alternate_path != '' %}
    {% set form_path = alternate_path %}
{% endif %}

<form action="{{ form_path }}" method="post" class="pure-form {#pure-form-aligned#}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" id="target_path" name="_target_path" value="" />
{#
    <input type="hidden" id="failure_path" name="_failure_path" value="" />
#}
    <fieldset>
        <div class="pure-control-group">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="pure-control-group">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            <input class="pure-button pure-button-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
{% if not app.user %}
        <div class="pure-control-group">
            <a class="address" href="{{ path('fos_user_resetting_request') }}" >Forgot Password?</a>
        </div>
{% endif %}
    </fieldset>
</form>

<style>
    .pure-control-group {
        margin-top: 5px;
    }
</style>

<script>
    $(function() {
        // Need to grab referrer for the search slug
        var referrer = document.referrer;
        // Need this for the hash
        var url = window.location.href;

//alert( 'referrer: ' + referrer + "\n\n" + 'url: ' + url );

        // Grab parts of the urls to compare with...
        var referrer_hostname = referrer.substr(0, referrer.lastIndexOf('/'));
        var url_hostname = url;
        if ( url.indexOf('#') !== -1 ) {
            var tmp = url.split('#');
            url_hostname = tmp[0].substr(0, tmp[0].lastIndexOf('/'));
        }

//alert( referrer_hostname + "\n" + url_hostname + "\n" + (referrer_hostname == url_hostname));

        // If the user was redirected here from a page on this site and a hash is present, splice them together to create a target path for symfony
        // This target_path should be the page from which they clicked the "Login" button...
        if (referrer_hostname.indexOf(url_hostname) !== -1 && url.indexOf('#') !== -1) {
            var tmp = url.split('#');
            url = referrer + '#' + tmp[1];

//alert( url );
            $("#target_path").val( url );
        }
        else {
            // Otherwise, just use the default target path redirect...
        }

        $("#username").focus();
    });
</script>
{% endblock fos_user_content %}

