{% extends "ODROpenRepositoryUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% set form_path = path("fos_user_security_check") %}
{% if alternate_path is defined and alternate_path != '' %}
    {% set form_path = alternate_path %}
{% endif %}

<form class="ODRLoginForm" action="{{ form_path }}" method="post" class="pure-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" id="target_path" name="_target_path" value="" />

    <fieldset>
        <div class="pure-control-group">
            <input id="username" name="_username" type="email" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required" />
        </div>
        <div class="pure-control-group">
            <input id="password" name="_password" type="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required" />
        </div>

        <div class="pure-control-group">
            <label for="remember">
                <input id="remember" type="checkbox"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-controls">
            <button id="_submit" name="_submit" class="pure-button pure-button-primary" type="submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
        {% if not app.user %}
            <a class="address pure-button" href="{{ path('fos_user_resetting_request') }}" >Forgot Password?</a>
        {% endif %}
        </div>
    </fieldset>
</form>

<script>
    $(function() {
        // If a URL fragment exists, then notify ODR of its existence so the user can be properly redirected afterwards
        if ( window.location.href.indexOf('#') !== -1 ) {
            var fragment = (window.location.href.split('#'))[1];
            console.log(fragment);
            var url = "{{ path('odr_save_fragment') }}";

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {'fragment': fragment}
            });
        }

        // Apparently the username field isn't focused by default?
        $("#username").focus();
    });
</script>
{% endblock fos_user_content %}
