{% spaceless %}
{% set field_typename = field.getfieldtype.typename %}

{#{% if field_typename != "File" and field_typename != "Image" and field_typename != "Single Radio" and field_typename != "Multiple Radio" and field_typename != "Single Select" and field_typename != "Multiple Select" %}#}
{% if field_typename != "File" and field_typename != "Image" %}
<div class="ODRDataField pure-u-1 pure-u-md-{{ fieldtheme.getcsswidthmed }} pure-u-xl-{{ fieldtheme.getcsswidthxl }}" id="Field_{{ field.id }}" >
    <div id="Field_{{ field.id }}_overlay" class="ODRCSVExport {% if field_typename != "Markdown"%}Pointer ODROverlayDiv ODRUnselectedDatafield{% endif %}{% if field_typename == "Multiple Radio" or field_typename == "Multiple Select" %} ODRSecondaryDelimiter{% endif %}" rel="{{ field.id }}"></div>

    <form id="Form_DataField_{{ field.id }}" class="pure-u-1">
    <input type="hidden" name="theme_field_id" value="{{ fieldtheme.id }}" />
{% endif %}

    {% if field_typename == "Boolean" %}
    <fieldset>
        <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel pure-u-1" style="margin:0.5em 0;">
            <input type="checkbox" name="" disabled>
            {{ field.fieldname }}
        </label>
    </fieldset>

    {% elseif field_typename == "File" %}
{#
    <fieldset>
        <div class="pure-u-1">
            <table class="ODRTable pure-u-1">
                <thead class="pure-u-1">
                    <tr class="pure-u-1">
                        <th class="pure-u-1-24">&nbsp;</th>
                        <th id="Label_{{ field.id }}" class="pure-u-20-24">{{ field.fieldname }}</th>
                        <th class="pure-u-3-24">Options</th>
                    </tr>
                </thead>
                <tbody class="pure-u-1">
                    <tr class="pure-u-1">
                        <td class="pure-u-1-24">&nbsp;</td>
                        <td class="pure-u-20-24">file_name_here</td>
                        <td class="pure-u-3-24">
                            <i class="Cursor tooltip fa fa-globe fa-lg ODRPublicFile" title="Public since [YYYY-MM-DD]"></i>
                            <i class="Cursor tooltip fa fa-calendar fa-lg" title="Uploaded [YYYY-MM-DD] by John Doe"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pure-u-1">
            <div class="pure-u-1-24"></div>
            <div class="pure-u-23-24">
                <input disabled id="Input_{{ field.id }}" type="file" id="f6_file" name="f6_file"/>
            </div>
        </div>
    </fieldset>
#}
    {% elseif field_typename == "Image" %}
{#
    <fieldset>
        <label id="Label_{{ field.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.fieldname }}</label>
        <div class="pure-u-1">
            <div class="pure-u-1">&nbsp;<i class="ODRDeleteImage Pointer fa fa-lg fa-trash-o" title="Delete Image"></i>&nbsp;<i class="PublicImage Pointer fa fa-lg fa-globe"></i>&nbsp;</div>
            <div class="pure-u-1">
                <img class="pure-img" src="/img/_demo/_tmb/1.jpg" />
            </div>
        </div>
    </fieldset>
#}
    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Paragraph Text" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
    <fieldset>
        <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel">{{ field.fieldname }}</label>
        <div class="ODRPseudoField" id="Input_{{ field.id }}"></div>
    </fieldset>

    {% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" %}
    <fieldset>
        <span class="pure-u-1">
            <label id="Label_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
{#
            <span style="margin-left: 10px;">
                <i id="Field_{{ field.id }}_radio_options" class="ODRRadioOptions Pointer fa fa-lg fa-cog" title="Edit Options" rel="{{ field.id }}"></i>
            </span>
#}
        </span>
        {% for radio_option in field.getRadioOptions %}
            <label id="Option_{{ radio_option.id }}" for="Option_object_{{ radio_option.id }}" class="pure-u-1 pure-u-md-1-{{ field.childrenperrow }}" style="margin: 0.5em 0;">

            {% if field_typename == "Single Radio" %}
                <input id="Option_object_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ field.id }}" class="SingleRadioGroup" disabled />
            {% else %}
                <input id="Option_object_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ field.id }}" class="MultipleRadioGroup" disabled />
            {% endif %}

            <span id="Option_{{ radio_option.id }}_name">{{ radio_option.getOptionName }}</span>
            </label>
        {% endfor %}
    </fieldset>

    {% elseif field_typename == "Single Select" or field_typename == "Multiple Select" %}
    <fieldset>
        <span class="pure-u-1">
            <label id="Label_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
{#
            <span style="margin-left: 10px;">
                <i id="Field_{{ field.id }}_radio_options" class="ODRRadioOptions Pointer fa fa-lg fa-cog" title="Edit Options" rel="{{ field.id }}"></i>
            </span>
#}
        </span>
        <select id="SelectGroup_{{ field.id }}" class="{% if field_typename == "Multiple Select" %}MultipleSelectGroup{% else %}SingleSelectGroup{% endif %}" {% if field_typename == "Multiple Select" %}multiple{% endif %}>
        {% if field_typename == "Single Select" %}
            <option id="Option_0" value="0">Select an Option</option>
        {% endif %}

        {% for radio_option in field.getRadioOptions %}
            <option id="Option_{{ radio_option.id }}" value="{{ radio_option.id}}">{{ radio_option.getOptionName }}</option>
        {% endfor %}
        </select>
    </fieldset>

    {% elseif field_typename == "DateTime" %}
    <fieldset>
        <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel">{{ field.fieldname }}</label>
        <div class="ODRPseudoField" id="Input_{{ field.id }}">
            <input type="text" name="" class="ODRDatePicker" style="width: 100%" readonly />
        </div>
        <div style="margin-bottom:5px;"><label class="ODRDatePicker_clear"><u>Clear Date</u></label></div>
    </fieldset>

    {% elseif field_typename == "Markdown" %}
    <fieldset>
        <div class="ODRPseudoField">{% if field.markdowntext != null %}{{ field.markdowntext|markdown }}{% endif %}</div>
    </fieldset>

    {% endif %}
    </form>

{#{% if field_typename != "File" and field_typename != "Image" and field_typename != "Single Radio" and field_typename != "Multiple Radio" and field_typename != "Single Select" and field_typename != "Multiple Select" %}#}
{% if field_typename != "File" and field_typename != "Image" %}
</div><!-- End of #Field_{{ field.id}} -->
{% endif %}

{% endspaceless %}
