{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}

<div class="ODRDataType pure-u-1 ODRAccordionWrapper ODRFormAccordion" id="DataType_{{ datatype.id }}">

    {% if is_top_level == 0 %}

        {# current datatype is a child/linked datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</a>
        </h3>

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:CSVExport:csvexport_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,
                'site_baseurl': site_baseurl,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'is_top_level': is_top_level,
                'prefix': prefix
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% else %}

        {# current datatype is top-level #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</a>
        </h3>

        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:CSVExport:csvexport_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,
                'site_baseurl': site_baseurl,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'is_top_level': is_top_level,
                'prefix': prefix
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
