{% spaceless %}

    <!-- Add DataType Dialog Form -->
    <form class="ODRAddDatatypeForm pure-form pure-form-aligned full validate" id="AddDatatypeForm" action="{{ path('odr_add_types') }}" method="post">

        {#
        { form_errors(form._token) }}
        {{ form_widget(form._token) }}
        #}

        <fieldset>
            <div class="pure-control-group">
                <label for="{{form.shortName.vars.id}}">
                    <strong>{{form.shortName.vars.label}}</strong>
                </label>
                {{ form_errors(form.shortName) }}
                {{ form_widget(form.shortName, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
            </div>
            <div class="pure-control-group">
                <label for="{{form.longName.vars.id}}">
                    <strong>{{form.longName.vars.label}}</strong>
                </label>
                {{ form_errors(form.longName) }}
                {{ form_widget(form.longName, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
            </div>

            <div style="display: none">
            {{ form_rest(form) }}
            </div>

        </fieldset>

    </form>

    <button type="button" class="pure-button ODRCancelButton">Cancel</button>
    <button type="button" class="pure-button pure-button-primary ODRSubmitButton">Create DataType</button>

    <script>
        $(function() {

            $("#dialog_add_datatype").dialog({
                autoOpen: false,
                modal: true,
                width: 400,
                open: function() {
                    $(this).parent().css('overflow', 'visible');
                },
            });
            $("#dialog_add_datatype").find('.ODRSubmitButton').click(function() {
                var $el = $(this).parents('.ui-dialog-content');
//                if ($el.validate().form()) {
                if ( $("#AddDatatypeForm").valid() ) {
                    $("#AddDatatypeForm").submit();

                    $el.find('form')[0].reset();
                    $el.dialog('close');
                }
            });
            $("#dialog_add_datatype").find('.ODRCancelButton').click(function() {
                var $el = $(this).parents('.ui-dialog-content');

                $el.find('form')[0].reset();
                $el.dialog('close');
            });
{#
            // Init Form
            AddDataTypeFormInit();

            if(typeof(AddDataTypeFormInit) !== "undefined") {
                AddDataTypeFormInit();
            }
#}
        });
    </script>

{% endspaceless %}