{% spaceless %}

<!-- Add DataType Dialog Form -->
{{ form_start(form, {
    'action': path('odr_add_types'),
    'method': 'POST',
    'attr': {
        'id': 'AddDatatypeForm',
        'class': 'ODRAddDatatypeForm pure-form pure-form-aligned full validate'
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ form.shortName.vars.id }}">
                <strong>{{ form.shortName.vars.label }}</strong>
            </label>
            {{ form_errors(form.shortName) }}
            {{ form_widget(form.shortName, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
        <div class="pure-control-group">
            <label for="{{ form.longName.vars.id }}">
                <strong>{{ form.longName.vars.label }}</strong>
            </label>
            {{ form_errors(form.longName) }}
            {{ form_widget(form.longName, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>

        <div style="display: none">
            {{ form_rest(form) }}
        </div>
    </fieldset>

{{ form_end(form) }}

<button id="AddDatatypeForm_cancel" class="pure-button ODRCancelButton">Cancel</button>
<button id="AddDatatypeForm_submit" class="pure-button pure-button-primary ODRSubmitButton">Create DataType</button>

<script>
    $(function() {
        var dialog_form = $("#dialog_add_datatype");

        $(dialog_form).dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            open: function() {
                $(this).parent().css('overflow', 'visible');
            }
        });
        $(dialog_form).find('.ODRSubmitButton').click(function() {
            var $el = $(this).parents('.ui-dialog-content');

            if ( $("#AddDatatypeForm").valid() ) {
                $("#AddDatatypeForm").submit();

                $el.find('form')[0].reset();
                $el.dialog('close');
            }
        });
        $(dialog_form).find('.ODRCancelButton').click(function() {
            var $el = $(this).parents('.ui-dialog-content');

            $el.find('form')[0].reset();
            $el.dialog('close');
        });
    });
</script>

{% endspaceless %}
