{% spaceless %}

    {% include 'ODRAdminBundle:Displaytemplate:wizard.html.twig' with {
        'wizard_step': 1,
        'datatype_id': 0,
        'edit_properties': false,
        'create_master': create_master,
        'master_templates': master_templates,
        'master_type_id': 0,
    } %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <div class="ODRAccordionWrapper ODRFormAccordion">
                {% if not create_master %}
                    {% for datatype in master_templates %}
                        {% set datatype_meta = datatype.dataTypeMeta[0] %}

                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                        Template: {{ datatype_meta.shortName }}
                    </h3>
                    <div class="ODRFieldArea accordion-content">
                        <div class="ODRBodyContent">
                            <h3>Database Template Description</h3>
                            <p>
                                {{ datatype_meta.description }}
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                To view a sample record demonstration of this database's default capabilities, click the button below:
                            </p>
                            <p>
                                <a class="pure-button ODRSearchPreview" title="View {{ datatype_meta.shortName }} Sample Record" rel="{{ datatype.id }}">View Sample Record</a>
                            </p>
                            <p>
                                To select this database template, click the button below:
                            </p>
                            <p>
                                {% set datatype_baseurl = path('odr_search', { 'search_slug': datatype_meta.searchSlug } ) %}
                                <a class="pure-button" href="#{{ path('odr_create_type_info', {'template_choice': datatype.id, 'creating_master_template': '0'} ) }}" title="Select {{ datatype_meta.shortName }} Database Template">Select <b>{{ datatype_meta.shortName }}</b> Database Template</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}

                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                        Create Custom Database
                    </h3>
                    <div class="ODRFieldArea accordion-content">
                        <div class="ODRBodyContent">
                            <h3>Create Custom Database</h3>
                            <p>
                                When creating a custom database, the administrator must define all fields using the database editor.  Select this option if your database needs are not met by the
                                pre-defined templates.
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                To create a custom database, click the button below:
                            </p>
                            <p>
                                <a class="pure-button" href="#{{ path('odr_create_type_info', {'template_choice': '0', 'creating_master_template': '0'} ) }}" title="Create a Custom Database">Create a Custom Database</a>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                        Create a Master Database Template
                    </h3>
                    <div class="ODRFieldArea accordion-content">
                        <div class="ODRBodyContent">
                            <h3>Create a Master Database Template</h3>
                            <p>
                                When creating a master database template, the administrator must define all fields using the database editor.  Select this option if your database needs are not met by the pre-defined templates.
                            </p>
                            <p>&nbsp;</p>
                            <p>
                                To create a master database template, click the button below:
                            </p>
                            <p>
                                <a class="pure-button" href="#{{ path('odr_create_type_info', {'template_choice': '0', 'creating_master_template': create_master} ) }}" title="Create a Custom Database">Create a Master Database Template</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        setupAccordions();

        $(".ODRSearchPreview").unbind('click').click(function(event) {
            // Prevent the default <a> behavior
            event.preventDefault();

            var datatype_id = $(this).attr('rel');

            var url = '{{ path('odr_default_search_render', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    //
                    var baseurl = '{{ path('odr_search', { 'search_slug': '' } ) }}' + data.d.search_slug;
                    var url = baseurl + '#' + data.d.url;

                    window.open(url, '_blank');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
    });
</script>

{% endspaceless %}
