{% spaceless %}
<div class="ODRFormWrap ODRRecord">

<!-- Add DataType Dialog Form -->
{{ form_start(form, {
    'action': path('odr_add_types'),
    'method': 'POST',
    'attr': {
        'id': 'AddDatatypeForm',
        'class': 'ODRAddDtatypeForm pure-form pure-form-aligned full validate'
    }
}) }}

    <fieldset>
            <label class="ODRFieldLabel pure-u-1" for="{{ form.shortName.vars.id }}">
                <strong>{{ form.shortName.vars.label }}</strong>
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(form.shortName) }}
                {{ form_widget(form.shortName, { 'attr': {'class': 'required pure-u-1', 'data-error-type': 'inline' } }) }}
            </div>
            <label class="ODRFieldLabel pure-u-1" for="{{ form.description.vars.id }}">
                <strong>{{ form.description.vars.label }}</strong>
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, { 'attr': {'class': 'required pure-u-1', 'data-error-type': 'inline' } }) }}
            </div>
        <div style="display: none">
            {{ form_rest(form) }}
        </div>
    </fieldset>

{{ form_end(form) }}
    <p>
        <button id="AddDatatypeForm_submit" class="pure-button pure-button-primary ODRSubmitButton">Save and Create Database</button>
    </p>
</div>



{% endspaceless %}
