<table id="ODRDatatypeList" class="{#pure-table pure-table-striped#}display dataTable">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Type Name</th>
            <th>Number of Records</th>

            <th>Search Records</th>
            <th>List Records</th>
            <th>Add Record</th>
            {#<th>Import Records</th>#}
        </tr>
    </thead>
    <tbody>
    {% for datatype in datatypes %}

        {# Pre-determine which permissions user has for this datatype... #}
        {% set can_edit_datarecord = false %}
        {% set can_add_datarecord = false %}
        {% set can_view_datatype = false %}
        {% set can_design_datatype = false %}

        {% if permissions[ datatype.id ] is defined %}
            {% if permissions[ datatype.id ][ 'edit' ] is defined or permissions[ datatype.id ][ 'child_edit' ] is defined %}
                {% set can_edit_datarecord = true %}
            {% endif %}
            {% if permissions[ datatype.id ][ 'add' ] is defined %}
                {% set can_add_datarecord = true %}
            {% endif %}
            {% if permissions[ datatype.id ][ 'view' ] is defined %}
                {% set can_view_datatype = true %}
            {% endif %}
            {% if permissions[ datatype.id ][ 'design' ] is defined %}
                {% set can_design_datatype = true %}
            {% endif %}
        {% endif %}

        {% if can_view_datatype == true %}
        <tr>
            <td>{{ datatype.id }}</td>
            <td>
                <span class="ODRDatatypeInfoDiv">
                    <i class="fa fa-lg fa-info-circle"></i>
                    <span class="ODRDatatypeInfo">
                        <div>
                            <b>Created By: </b>{{ datatype.createdBy.getuserstring }}<b> on </b>{{ datatype.created|date('Y-m-d') }}
                        </div>
                        <div>
                            <b>Description: </b>{{ datatype.description }}
                        </div>
                    </span>
                </span>
            </td>
            <td>{{ datatype.shortname }}</td>

            {# number of datatrecords for this datatype #}
            {% set datarecord_count = 0 %}
            {% set found = false %}
            {% for datatype_id, data in metadata %}
                {% if datatype_id == datatype.id %}
                    {% set datarecord_count = data.count %}
                    {% set found = true %}
                    <td class="center">{{ datarecord_count }}</td>
                {% endif %}
            {% endfor %}

            {% if found == false %}
                <td class="center">0</td>
            {% endif %}

            {# link to search this datatype #}
            {% if datatype.searchslug != '' and datarecord_count > 0 %}
                <td class="center"><a href="{{ path('odr_search', { 'search_slug': datatype.searchslug } ) }}" title="Search {{ datatype.shortname }} DataRecords"><i class="fa fa-lg fa-search"></i>&nbsp;Search Records</a></td>
            {% elseif can_design_datatype == false or datarecord_count == 0 %}
                <td class="center"></td>
            {% else %}
                <td class="center"><a class="address" href="#{{ path('odr_design_master_theme', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.shortname }} Master Layout"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;No Search Abbreviation!</a></td>
            {% endif %}

            {# view/edit links for this datatype #}
            {% if datarecord_count == 0 %}
                <td class="center"></td>
            {% elseif (datatype.useshortresults == 1 and datatype.hasshortresults == true) or (datatype.useshortresults == 0 and datatype.hastextresults == true) %}
                <td class="center"><a class="address" href="#{{ path('odr_search_render', {'search_key': 'dt_id='~datatype.id} ) }}" title="View {{ datatype.shortname }} DataRecords"><i class="fa fa-lg fa-list"></i>&nbsp;List Records</a></td>
            {% elseif can_design_datatype == false %}
                <td class="center"></td>
            {% elseif datatype.useshortresults == 1 and datatype.hasshortresults == false %}    {# user has design permission at this point #}
                <td class="center"><a class="address" href="#{{ path('odr_design_derivative_themes', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.shortname }} Derivative Layouts"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;Search Results Theme not designed!</a></td>
            {% elseif datatype.useshortresults == 0 and datatype.hastextresults == false %}     {# user has design permission at this point #}
                <td class="center"><a class="address" href="#{{ path('odr_design_derivative_themes', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.shortname }} Derivative Layouts"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;Table Theme not designed!</a></td>
            {% endif %}

            {# add/import links for this datatype #}
            {% if can_add_datarecord == true %}
                <td class="center"><a style="cursor:pointer;" onclick="addDataRecord({{ datatype.id }});"><i class="fa fa-lg fa-plus-circle"></i>&nbsp;Add New Record</a></td>
                {#<td class="center"><a style="cursor:pointer;" onclick="LoadContentFullAjax('{{ path('odr_xml_import', { 'type': 'datatype', 'id': datatype.id } ) }}');"><i class="fa fa-lg fa-upload"></i>&nbsp;Import Records</a></td>#}
            {% else %}
                <td class="center"></td>
                {#<td class="center"></td>#}
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<style>
    .ODRDatatypeInfoDiv {
        cursor: pointer;
        position: relative;
    }
    .ODRDatatypeInfoDiv:hover .ODRDatatypeInfo {
        visibility: visible;
        top: 20px;
        left: 20px;
    }
    .ODRDatatypeInfo {
        visibility: hidden;
        position: absolute;
        background-color: lightyellow;
        padding: 5px;
        border: 1px dashed gray;
        z-index: 999;
        width: 500px;
    }
</style>

<script>
    $(function() {
        $("#ODRDatatypeList").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1,4,5,6],
                    "orderable": false,
                    "searchable": false,
                }
            ],
            "order": [[ 2, "asc" ]],
            "autoWidth": true,
            "paging": false,
            "info": false,
            "language": {
                "emptyTable": "No Datatypes found"
            }
        });

        $("#ODRDatatypeList").removeAttr('style');
    });

    function addDataRecord(datatype_id) {
        if ( confirm('Are you sure you want to create a new Datarecord?') ) {
            var url = '{{ path('odr_record_add', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

            var dataType = "json";
            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: dataType,
                success: function(data, textStatus, jqXHR) {
                    if(data.r == 0) {
                        // Reload this area of the page
                        var datarecord_id = data.d.datarecord_id;

                        var url = '{{ path('odr_record_edit', { 'datarecord_id': 0 }) }}';
                        url = url.substring(0, (url.length-1));
                        url += datarecord_id;

                        UpdateURL(url);
                    }
                    else {
                        // Error occurred
                        alert( data.d );
                    }
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        }
    }
</script>
