{% spaceless %}

<div id="ODRDataTypeListWrapper">
<table id="ODRDatatypeList" class="display dataTable">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Type Name</th>
            <th>Number of Records</th>

            <th>Search Records</th>
            <th>List Records</th>
            <th>Add Record</th>
            <th>Download Schema</th>
        </tr>
    </thead>
    <tbody>
    {% for datatype in datatypes %}

        {% set datatype_baseurl = path('odr_search', { 'search_slug': datatype.dataTypeMeta.searchSlug } ) %}

        {# Pre-determine which permissions user has for this datatype... #}
        {% set can_view_datatype = false %}
        {% set can_add_datarecord = false %}
        {% set is_datatype_admin = false %}

        {% if permissions['datatypes'][datatype.id] is defined %}
            {% set datatype_permissions = permissions['datatypes'][datatype.id] %}

            {% if datatype_permissions[ 'dt_view' ] is defined %}
                {% set can_view_datatype = true %}
            {% endif %}
            {% if datatype_permissions[ 'dr_add' ] is defined %}
                {% set can_add_datarecord = true %}
            {% endif %}
            {% if datatype_permissions[ 'dt_admin' ] is defined %}
                {% set is_datatype_admin = true %}
            {% endif %}
        {% endif %}


        {% if can_view_datatype == true or datatype.dataTypeMeta.publicDate|is_public == true %}
        <tr>
            <td>{{ datatype.id }}</td>
            <td>
                <span class="ODRDatatypeInfoDiv">
                    <i class="fa fa-lg fa-info-circle"></i>
                    <span class="ODRDatatypeInfo">
                        <div>
                            <b>Created By: </b>{{ datatype.createdBy.getuserstring }}<b> on </b>{{ datatype.created|date('Y-m-d') }}
                        </div>
                        <div>
                            <b>Description: </b>{{ datatype.dataTypeMeta.description }}
                        </div>
                    </span>
                </span>
            </td>
            <td id="ODRDatarecordList_{{ datatype.id }}_name">{{ datatype.dataTypeMeta.shortName }}</td>

            {# number of datarecords for this datatype #}
            {% set datarecord_count = 0 %}
            {% set found = false %}
            {% for datatype_id, data in metadata %}
                {% if datatype_id == datatype.id %}
                    {% set datarecord_count = data.count %}
                    {% set found = true %}
                    <td id="ODRDatarecordList_{{ datatype.id }}_count">{{ datarecord_count }}</td>
                {% endif %}
            {% endfor %}

            {% if found == false %}
                <td id="ODRDatarecordList_{{ datatype.id }}_count">0</td>
            {% endif %}


            {# link to search this datatype #}
            <td>
            {% if datatype.dataTypeMeta.searchSlug != '' and datarecord_count > 0 %}
                <a id="ODRDatarecordList_{{ datatype.id }}_search" href="{{ datatype_baseurl }}" title="Search {{ datatype.dataTypeMeta.shortName }} DataRecords"><i class="fa fa-lg fa-search"></i>&nbsp;Search Records</a>
            {% elseif datarecord_count == 0 %}
                {# don't display link, nothing to search #}
            {% elseif is_datatype_admin == false %}
                <i class="fa fa-lg fa-exclamation-triangle Cursor"></i>&nbsp;No Search Abbreviation!
            {% else %}
                <a id="ODRDatarecordList_{{ datatype.id }}_search" class="address" href="#{{ path('odr_design_master_theme', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.dataTypeMeta.shortName }} Master Layout"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;No Search Abbreviation!</a>
            {% endif %}
            </td>


            {# view link for this datatype #}
            <td>
            {% if datarecord_count == 0 %}
                {# don't display link, nothing to view #}
            {% elseif datatype.dataTypeMeta.searchSlug == '' %}
                {% if is_datatype_admin == true %}
                    <a id="ODRDatarecordList_{{ datatype.id }}_view" class="address" href="#{{ path('odr_design_master_theme', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.dataTypeMeta.shortName }} Master Layout"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;No Search Abbreviation!</a>
                {% endif %}
            {% else %}
                {% if (datatype.dataTypeMeta.useShortResults == 1 and datatype.hasShortResults == true) or (datatype.dataTypeMeta.useShortResults == 0 and datatype.hasTextResults == true) %}
                    <a id="ODRDatarecordList_{{ datatype.id }}_view" class="address" href="{{ datatype_baseurl }}#{{ path('odr_search_render', {'search_key': 'dt_id='~datatype.id} ) }}" title="View {{ datatype.dataTypeMeta.shortName }} DataRecords"><i class="fa fa-lg fa-list"></i>&nbsp;List Records</a>
                {% elseif is_datatype_admin == true %}
                    {% if datatype.dataTypeMeta.useShortResults == 1 and datatype.hasShortResults == false %}
                        <a id="ODRDatarecordList_{{ datatype.id }}_view" class="address" href="{{ datatype_baseurl }}#{{ path('odr_design_derivative_themes', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.dataTypeMeta.shortName }} Derivative Layouts"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;Search Results Theme not designed!</a>
                    {% elseif datatype.dataTypeMeta.useShortResults == 0 and datatype.hasTextResults == false %}
                        <a id="ODRDatarecordList_{{ datatype.id }}_view" class="address" href="{{ datatype_baseurl }}#{{ path('odr_design_derivative_themes', { 'datatype_id': datatype.id }) }}" title="Edit {{ datatype.dataTypeMeta.shortName }} Derivative Layouts"><i class="fa fa-lg fa-exclamation-triangle"></i>&nbsp;Table Theme not designed!</a>
                    {% endif %}
                {% else %}
                    {# missing templates to display search results,and user doesn't have permission to make any...do nothing #}
                {% endif %}
            {% endif %}
            </td>


            {# add/import links for this datatype #}
            <td>
            {% if can_add_datarecord == true %}
                <a id="ODRDatarecordList_{{ datatype.id }}_add" class="Pointer" onclick="addDataRecord('{{ datatype_baseurl }}',{{ datatype.id }});"><i class="fa fa-lg fa-plus-circle"></i>&nbsp;Add New Record</a>
            {% endif %}
            </td>

            <td>
                <a id="ODRDatarecordList_{{ datatype.id }}_downloadXSD" class="Pointer" onclick="downloadXSD({{ datatype.id }});"><i class="fa fa-lg fa-download"></i>&nbsp;Download</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
</div>

<style>
    .ODRDatatypeInfoDiv {
        cursor: pointer;
        position: relative;
    }
    .ODRDatatypeInfoDiv:hover .ODRDatatypeInfo {
        visibility: visible;
        top: 20px;
        left: 20px;
    }
    .ODRDatatypeInfo {
        visibility: hidden;
        position: absolute;
        background-color: lightyellow;
        padding: 5px;
        border: 1px dashed gray;
        z-index: 999;
        width: 500px;
    }
</style>

<script>
    $(function() {
        $("#ODRDatatypeList").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                },
                {
                    "targets": [1,4,5,6],
                    "orderable": false,
                    "searchable": false,
                }
            ],
            "order": [[ 2, "asc" ]],
            "autoWidth": true,
            "paging": false,
            "fixedHeader": {
                headerOffset: 42
            },
            "info": false,
            "language": {
                "emptyTable": "No Datatypes found"
            }
        });

        $("#ODRDatatypeList").removeAttr('style');
    });

    function addDataRecord(urlpath, datatype_id) {
        if ( confirm('Are you sure you want to create a new Datarecord?') ) {
            var url = '{{ path('odr_record_add', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

            var dataType = "json";
            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: dataType,
                success: function(data, textStatus, jqXHR) {
                    if(data.r == 0) {
                        // Reload this area of the page
                        var datarecord_id = data.d.datarecord_id;

                        var url = urlpath + '#{{ path('odr_record_edit', { 'datarecord_id': 0 }) }}';
                        url = url.substring(0, (url.length-1));
                        url += datarecord_id;

                        window.location = url;
                    }
                    else {
                        // Error occurred
                        alert( data.d );
                    }
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        }
    }

    function downloadXSD(datatype_id) {
        var url = '{{ path('odr_get_datatype_xsd', { 'version': 'v1', 'datatype_id': 0 }) }}';
        url = url.substring(0, (url.length - 1));
        url += datatype_id;

        document.location = url;
    }
</script>

{% endspaceless %}
