{% spaceless %}

    <div id="ODRDataTypeListWrapper">
        <table id="ODRDatatypeList" class="display dataTable">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Database Name</th>
                <th>Records</th>

                <th>Search</th>
                <th>Dashboard</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for datatype in datatypes %}

                {% if datatype.metadata_for is defined and datatype.metadata_for is not null %}
                    {# don't display metadata datatypes #}
                {% elseif datatype.id != top_level_datatype.id %}
                    {# don't display the top-level datatype again #}

                    {% set is_top_level = false %}
                    {% if datatype.id == datatype.grandparent.id %}
                        {% set is_top_level = true %}
                    {% endif %}

                    {% set datatype_meta = datatype.dataTypeMeta %}

                    {% set datatype_baseurl = path('odr_search', { 'search_slug': datatype_meta.searchSlug } ) %}
                    {% if datatype_meta.searchSlug == '' %}
                        {# this shouldn't be an issue anymore, but keep around just in case #}
                        {% set datatype_baseurl = path('odr_admin_homepage') %}
                    {% endif %}

                    {# Pre-determine which permissions user has for this datatype... #}
                    {% set can_view_datatype = false %}
                    {% set can_view_datarecord = false %}
                    {% set can_edit_datarecord = false %}
                    {% set can_add_datarecord = false %}
                    {% set can_delete_datarecord = false %}
                    {% set is_datatype_admin = false %}

                    {% if datatype_permissions[ datatype.id ] is defined %}

                        {% if datatype_permissions[ datatype.id ][ 'dt_view' ] is defined %}
                            {% set can_view_datatype = true %}
                        {% endif %}
                        {% if datatype_permissions[ datatype.id ][ 'dr_view' ] is defined %}
                            {% set can_view_datarecord = true %}
                        {% endif %}
                        {% if datatype_permissions[ datatype.id ][ 'dr_edit' ] is defined %}
                            {% set can_edit_datarecord = true %}
                        {% endif %}
                        {% if datatype_permissions[ datatype.id ][ 'dr_add' ] is defined %}
                            {% set can_add_datarecord = true %}
                        {% endif %}
                        {% if datatype_permissions[ datatype.id ][ 'dr_delete' ] is defined %}
                            {% set can_delete_datarecord = true %}
                        {% endif %}
                        {% if datatype_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
                            {% set is_datatype_admin = true %}
                        {% endif %}
                    {% endif %}

                    {% set datatype_is_public = datatype_meta.publicDate|is_public %}

                    {% if can_view_datatype or datatype_is_public %}
                        <tr id="RowDataType_{{ datatype.id }}" {#{% if hidden_datatype %}class="ODRPublicDatatype ODRHidden"{% endif %}#}>

                            <td>{{ datatype.id }}</td>
                            <td><i class="fa fa-lg fa-globe {% if datatype_is_public %}ODRActiveIcon{% endif %}" title="Database is{% if not datatype_is_public %} not{% endif %} public"></i></td>
                            <td id="ODRDatarecordList_{{ datatype.id }}_name">{{ datatype_meta.longName }}</td>

                            {# number of datarecords for this datatype #}
                            {% set datarecord_count = 0 %}
                            {% if metadata[ datatype.id ] is defined %}
                                {% set datarecord_count = metadata[ datatype.id ] %}
                            {% endif %}
                            <td id="ODRDatarecordList_{{ datatype.id }}_count">{{ datarecord_count }}</td>

                            {# link to search this datatype #}
                            <td>
                                {% if datarecord_count == 0 %}
                                    {# don't display link, nothing to view #}
                                {% elseif is_top_level == false %}
                                    {# don't display link, makes no sense to directly search child datatypes #}
                                {% else %}
                                    <a id="ODRDatarecordList_{{ datatype.id }}_search"
                                       href="{{ datatype_baseurl }}"
                                       title="Search {{ datatype_meta.longName }} DataRecords"
                                    >
                                        <i class="fa fa-lg fa-search"></i>
                                        <span class="pure-visible-xl">&nbsp;Search</span>
                                    </a>
                                {% endif %}
                            </td>

                            {# Link to database landing page #}
                            <td>
                                {% if is_top_level == false %}
                                    {# don't display link, makes no sense to view dashboards of child datatypes #}
                                {% else %}
                                    <a id="ODRDatarecordList_{{ datatype.id }}_landing"
                                       href="{{ datatype_baseurl }}#{{ path('odr_datatype_landing', { 'datatype_id': datatype.id }) }}"
                                       title="{{ datatype_meta.longName }} Info Page"
                                    >
                                        <i class="fa fa-lg fa-tachometer"></i>
                                        <span class="pure-visible-xl">&nbsp;Dashboard</span>
                                    </a>
                                {% endif %}
                            </td>

                            <td>{{ datatype.createdBy|user_string }}</td>
                            <td>{{ datatype.created|date('Y-m-d') }}</td>
                            <td>{{ datatype_meta.description }}</td>

                        </tr>
                    {% endif %}

                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            $("#ODRDatatypeList").dataTable({
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false
                    },
                    {
                        "targets": [4, 5],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "width": "30%",
                        "targets": [8]
                    }
                ],
                "order": [[2, "asc"]],
                "autoWidth": true,
                "paging": false,
                "fixedHeader": {
                    /* headerOffset: 42 */
                },
                "info": false,
                "language": {
                    "emptyTable": "No Related Databases"
                }
            });

            $("#ODRDatatypeList").removeAttr('style');
        });
    </script>
{% endspaceless %}
