{% block navigation_top %}

{% set level = 0 %}
{% for role in user.getroles %}
    {% if role == 'ROLE_SUPER_ADMIN' %}
        {% set level = level + 4 %}
    {% elseif role == 'ROLE_ADMIN' %}
        {% set level = level + 2 %}
    {% elseif role == 'ROLE_USER' %}
        {% set level = level + 1 %}
    {% endif %}
{% endfor %}

{% set is_datatype_admin = false %}
{% if level == 7 %}
    {% set is_datatype_admin = true %}
{% else %}
    {% for datatype_id, permissions in user_permissions %}
        {% if user_permissions[ datatype_id ][ 'dt_admin' ] is defined %}
            {% set is_datatype_admin = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{#{% set baseurl =  site_baseurl ~ "/" ~ search_slug %}#}
<!-- This div is used to indicate the original position of the scrollable nav -->
    <ul class="ODR-pure-submenu">
        <li class="pure-menu-item"><a class="pure-menu-link" href="{{ path('odr_admin_homepage') }}"><i class="fa fa-lg fa-dashboard fa-fw"></i>Dashboard</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_self_profile_edit') }}"><i class="fa fa-lg fa-user fa-fw"></i>Profile</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_job_list') }}"><i class="fa fa-lg fa-cogs fa-fw"></i>Active Jobs</a></li>

        <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_list_types', { 'section': 'records' } ) }}" title="List Records"><i class="fa fa-lg fa-fw fa-list"></i>List Records</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_list_types', { 'section': 'design' } ) }}" title="List Databases"><i class="fa fa-lg fa-fw fa-cog"></i>List Databases</a></li>

{% if is_datatype_admin == true %}
        <li class="pure-menu-item">
            <span class="pure-menu-heading">User Management (i)</span>
            <ul class="ODR-pure-submenu">
                <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_user_list') }}" title="List Users"><i class="fa fa-lg fa-fw fa-cog"></i>List Users</a></li>
            {% if level == 3 or level == 7 %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_admin_new_user_create') }}" title="Add User"><i class="fa fa-lg fa-fw fa-cog"></i>Add User</a></li>
            {% endif %}
            {% if level == 7 %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="#{{ path('odr_manage_user_roles') }}" title="Manage Roles"><i class="fa fa-lg fa-fw fa-cog"></i>Manage Roles</a></li>
            {% endif %}
            </ul>
        </li>
{% endif %}

    </ul>

{% endblock %}


