{% spaceless %}

    {% set datafield_id = datafield.id %}
    {% set fieldname = datafield['dataFieldMeta']['fieldName'] %}
    {% set description = datafield['dataFieldMeta']['description'] %}
    {% set field_typename = datafield['dataFieldMeta']['fieldType']['typeName'] %}
    {% set field_typeclass = datafield['dataFieldMeta']['fieldType']['typeClass'] %}

    {% set preset_value = '' %}
    {% if search_params[datafield_id] is defined %}
        {# doesn't make sense for radio/tags #}
        {% set preset_value = search_params[datafield_id] %}
    {% endif %}

    <span class="pure-u-1">
        <label for="datafield_{{ datafield_id }}" class="pure-u-1"><span title="{{ description }}">{{ fieldname }}:</span>
        {% if field_typeclass == "Radio"%}
            <span class="pure-u-1 ODRSelectAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Select all options">
                <span class="ODRTristateCheckbox" rel="multiple">
                    <i class="fa fa-check"></i>
                </span>
            </span>
            <span class="pure-u-1 ODRDeselectAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Deselect all options">
                <span class="ODRTristateCheckbox" rel="multiple">
                    <i class="fa fa-ban"></i>
                </span>
            </span>
            <span class="pure-u-1 ODRClearAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Clear all selections">
                <span class="ODRTristateCheckbox" rel="multiple">
                    <i class="fa"></i>
                </span>
            </span>
        {% endif %}
        </label>
    </span>

{% if field_typename == "Boolean" %}
    <select class="ODRInput pure-u-1 Pointer" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" rel="{{ datatype_id }}">
        <option value="">Any</option>
        <option value="0" {% if preset_value == '0' %}selected{% endif %}>Unselected</option>
        <option value="1" {% if preset_value == '1' %}selected{% endif %}>Selected</option>
    </select>


{% elseif field_typename == "File" or field_typename == "Image" %}
    <input type="text" class="ODRInput ODRFileDatafieldName pure-u-1" id="datafield_{{ datafield_id }}_fn" name="{{ datafield_id }}" value="{{ preset_value }}" rel="{{ datatype_id }}" title="Search based on the {{ field_typename }}'s filename"/>

    <label class="pure-u-1"></label>
    <select class="ODRInput ODRFileDatafieldExist pure-u-1" id="datafield_{{ datafield_id }}_ex" rel="{{ datatype_id }}" title="Search based on whether this field has any {{ field_typename }}s uploaded or not">
        <option value="">Any</option>
        <option value="1" {% if preset_value != '' and preset_value != '""' %}selected{% endif %}>Has {{ field_typename }}s</option>
        <option value="0" {% if preset_value == '""' %}selected{% endif %}>Does not have {{ field_typename }}s</option>
    </select>


{% elseif field_typename == 'DateTime' %}
    {% set key = datafield_id ~ '_s' %}
    {% set value = '' %}
    {% if search_params[key] is defined %}
        {% set value = search_params[key] %}
    {% endif %}
    <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield_id }}_start" name="{{ key }}" value="{{ value }}" rel="df_{{ datafield_id }}" title="Find records with a value AFTER this date" />

    {% set key = datafield_id ~ '_e' %}
    {% set value = '' %}
    {% if search_params[key] is defined %}
        {% set value = search_params[key] %}
    {% endif %}
    <label class="pure-u-1"></label>
    <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield_id }}_end" name="{{ key }}" value="{{ value }}" rel="df_{{ datafield_id }}" title="Find records with a value BEFORE this date" />


{% elseif field_typeclass == "Radio" %}
    {% set selected_ro_ids = [] %}
    {% set unselected_ro_ids = [] %}
    {% if preset_value != '' %}
        {% set selected_ro_ids = preset_value['selected'] %}
        {% set unselected_ro_ids = preset_value['unselected'] %}
    {% endif %}

    <span class="pure-u-1 ODRRadioSearchDiv ODRSearchScrollbox" id="Input_{{ datafield_id }}" rel="{{ datatype_id }}">
    {% if datafield['radioOptions'] is defined %}
        <input type="hidden" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" value="" />

        {% for num, radio_option in datafield['radioOptions'] %}
        {% set ro_id = radio_option.id %}
        <label id="Label_{{ ro_id }}" for="RadioOption_{{ ro_id }}" class="ODRRadioLabel pure-u-1">
            <span id="RadioOption_{{ ro_id }}" class="ODRTristateCheckbox" rel="{% if field_typename == "Single Radio" or field_typename == "Single Select" %}single{% else %}multiple{% endif %}">
                <i class="fa {% if ro_id in selected_ro_ids %}fa-check{% elseif ro_id in unselected_ro_ids %}fa-ban{% endif %}"></i>
                <input type="hidden" rel="{{ ro_id }}" value="" />
            </span>
            {{ radio_option['radioOptionMeta']['optionName'] }}
        </label>
        {% endfor %}
    {% endif %}
    </span>


{% elseif field_typeclass == "Tag" %}
    {% set selected_tags = [] %}
    {% set unselected_tags = [] %}
    {% if preset_value != '' %}
        {% set selected_tags = preset_value['selected'] %}
        {% set unselected_tags = preset_value['unselected'] %}
    {% endif %}

    <span class="pure-u-1 ODRTagSearchDiv ODRSearchScrollbox" id="Input_{{ datafield_id }}" rel="{{ datatype_id }}">
    {% if datafield['tags'] is defined %}
        <input type="hidden" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" value="" />

        {% include 'ODROpenRepositorySearchBundle:Default:tag_wrapper.html.twig' with {
            'stacked_tags': datafield['tags'],

            'selected_tags': selected_tags,
            'unselected_tags': unselected_tags,
        } %}
    {% endif %}
    </span>


{% else %}
    <input type="text" class="ODRInput pure-u-1" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" rel="{{ datatype_id }}" {% if preset_value != '' %}value="{{ preset_value }}"{% endif %}/>
{% endif %}

{% endspaceless %}
