{% spaceless %}

{% set is_datatype_admin = false %}
{% if datatype_permissions[target_datatype.id] is defined and datatype_permissions[target_datatype.id]['dt_admin'] is defined %}
    {% set is_datatype_admin = true %}
{% endif %}

{% set using_sidebar_layout = false %}
{% if sidebar_array['layout_array']|length > 0 %}
    {% set using_sidebar_layout = true %}
{% endif %}

{% set datatype_array = sidebar_array['datatype_array'] %}
{% set datatype = datatype_array[target_datatype.id] %}

<div id="markdown_help_dialog_wrapper">
    {% include 'ODRAdminBundle:Displaytemplate:markdown_help_dialog.html.twig' %}
</div>

    {# Search sidebar is loaded from ODROpenRepositorySearchBundle:Default:index.html.twig #}
    {#{% include 'ODROpenRepositorySearchBundle:Default:search_sidebar.html.twig' %}#}

<script>
    $(function () {
        // Need to ensure the sidebar is initialized properly...
        InitSearchSidebar();
        // ...but don't need to ensure it's enabled...the display/edit/search results page will take
        //  care of that
        // enableSearchSidebar('{{ search_key }}', 'expanded');

        // If user is on the base search page for a datatype...
        if (window.location.hash.length === 0) {
            // ...then immediately trigger a search with "default" criteria
            doSearch('{{ path('odr_search_results') }}');

            // Don't immediately return...the search controls need initialization
            // return;
        }
    });

    /**
     * Toggles the search sidebar between "collapsed" and "extended" modes.  By default, the sidebar
     * starts out in "collapsed" mode.
     */
    function changeSearch() {
        // If this element doesn't exist, then there's nothing to do
        if ( $("#ODRSearchControls_top") === undefined )
            return;

        if ($("#search_type").val() === 'collapsed') {
            // Show all expanded search datafields
            $("#search_type").val('extended');
            $(".ODRSearchFieldsToggle").each(function () {
                $(this).html('Close Expanded Search');
            });

            $(".ODRSearchSidebar_extended").removeClass('ODRHidden');

            $("#ODRSearchControls_top").removeClass('ODRHidden');
        }
        else {
            // Hide all expanded search datafields
            $("#search_type").val('collapsed');
            $(".ODRSearchFieldsToggle").each(function () {
                $(this).html('Open Expanded Search');
            });

            $(".ODRSearchSidebar_extended").addClass('ODRHidden');

            $("#ODRSearchControls_top").addClass('ODRHidden');
        }
    }

    /**
     * Reloads the page so the default search is guaranteed to display.
     */
    function doReset() {
        var context = $("#odr_content").find("#ODRSearchSidebar").first();
        var intent = $(context).find("#ODRSearchIntent").val();

        if ( intent === 'searching' ) {
            {# Redirect to get rid of anything that would match the route 'odr_search_immediate' #}
            window.location.href = '{{ path('odr_search', {'search_slug': search_slug}) }}';
        }
        else {
            window.location.reload();
        }
    }

    /**
     * Serializes the search sidebar and POSTs the data to the given URL.
     *
     * If the given URL is equivalent to the path for the route 'odr_search_results', then a
     * regular search is triggered, and the user is redirected to the search results afterwards.
     *
     * If a callback function is provided, then it will be given whatever the POST returned.
     *
     * @param {String} target_url
     * @param {HTMLElement} context
     * @param {Function} callback
     */
    function doSearch(target_url, context = undefined, callback = undefined) {
        // console.log('doSearch()', target_url, context, callback);

        // ----------------------------------------
        var is_actual_search = true;
        if ( target_url != '{{ path('odr_search_results') }}' )
            is_actual_search = false;

        if (context == undefined)
            context = $("#odr_content").find("#ODRSearchSidebar").first();

        if (callback == undefined)
            callback = function() {}

        // ----------------------------------------
        var top_level_tag_group = $(context).find(".ODRChangeSearchedDescendants_wrapper").children("li.ODRTagItem").children("ul.ODRTagGroup").first();
        var ignored_prefixes = determineIgnoredPrefixes(top_level_tag_group);
        if ( ignored_prefixes.length > 0 )
            $("#ODRIgnoredPrefix_list").val( ignored_prefixes.join(',') ).prop('disabled', false);
        else
            $("#ODRIgnoredPrefix_list").val('').prop('disabled', true);    // TODO - won't be the case when default ignored prefixes exist

        // Values for Radio datafields need to be manually set
        $(context).find(".ODRRadioSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $(this).children("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).children('.ODRRadioLabel').find('input').each(function () {
                // Grab the radio_option_id
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;
                if ( !first_selection ) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                datafield.val(str);
        });

        // ...same for tag datafields
        $(context).find(".ODRTagSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $(this).children("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).children('.ODRTagWrapper').find('input').each(function () {
                // Grab the tag
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;
                if ( !first_selection ) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                $(datafield).val(str);
        });

        // ...and for XYZData
        $(context).find(".ODRXYZData_select").each(function() {
            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield_id = $(this).attr('id').split(/_/)[1];
            var input = $("#datafield_" + datafield_id + "_input");

            // Reset the input's value since this is rebuilding the search value from scratch
            $(input).val('');

            var str = '';
            var first_entry = true;
            var has_entries = false;

            $(this).children('option').each(function () {
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_entries = true;
                if ( !first_entry ) {
                    str += '|' + value;
                }
                else {
                    first_entry = false;
                    str += value;
                }
            });

            if (has_entries)
                $(input).val(str);
        });

        // Ensure the two parts of the search criteria for a file/image match
        $(context).find(".ODRFileDatafieldName").each(function () {
            var df_id_data = $(this).attr('id').split(/_/);
            var df_id = df_id_data[1];

            var value = $(this).val().trim();
            var exist_value = $("#datafield_" + df_id + "_ex option:selected").val();

            if (exist_value == '') {
                $(this).val('');
            }
            else if (exist_value == 0) {
                $(this).val('""');   // If user wanted datarecords that do not have files/images, set this datafield's value to empty string
            }
            else if (exist_value == 1 && (value == '' || value == '""')) {
                $(this).val('!""');  // If user wanted datarecords that do have files/images, but didn't specify a filename, set this datafield's value to 'not empty'
            }
        });
        // Don't need to do anything specific for the file/image's public status or quality

        $(context).find(".ODRPluginSearchField").each(function(index,elem) {
            var id = '#' + $(elem).attr("id");
            var main_value = $(id + "_main").val();
            var alt_value = $(id + "_alt").val();

            if ( alt_value === '' ) {
                $(elem).val(main_value);
            }
            else {
                var new_value = '';
                if ( main_value !== '' )
                    new_value = main_value;

                new_value += ":" + alt_value;
                $(elem).val(new_value);
            }
        });

        $(context).find(".ODRChangeMerge").each(function(index,elem) {
            // Should only be one...
            var input = $(context).find('#merge_type');
            $(input).attr('disabled', 'disabled').val('AND');

            // console.log( $(elem), '"' + $(elem).text() + '"' );
            if ( $(elem).text() === 'OR' )
                $(input).removeAttr('disabled').val('OR');
        })


        var search_form = $(context).find("#search_form");
        // console.log(search_form);

        var post_data = $(search_form).serialize();
        var df_values = post_data.split(/&/);
        var cleaned = [];
        $.each(df_values, function(index, elem) {
            if ( elem.charAt(elem.length-1) !== '=' )
                cleaned.push(elem);
        });
        post_data = cleaned.join('&');
        // console.log(post_data);
        // return;

        // ----------------------------------------
        // TODO - need to communicate which theme to use...

        // Request search results
        var intent = $(context).find("#ODRSearchIntent").val();
        if ( is_actual_search )
            showSearchOverlay('Searching...', intent);

        $.ajax({
            type: 'POST',
            url: target_url,
            dataType: 'json',
            data: post_data,
            success: function (data, textStatus, jqXHR) {
                // If this wasn't a "regular" search request, then execute the given callback
                if ( !is_actual_search ) {
                    callback(data);
                    return true;
                }

                // ----------------------------------------
                // If this was a "regular" search request, then do required setup before redirecting
                //  the user
                if ( intent === 'searching' ) {
                    // Overwrite any currently existing tab id, since a new search was performed
                    if (window.sessionStorage.getItem('odr_tab_id')) {
                        // Tell the server to stop storing data for the old tab
                        // TODO - transfer page length?
                        var url = '{{ path('odr_datatables_state_destroy', { 'odr_tab_id': '' } ) }}';
                        url += window.sessionStorage.getItem('odr_tab_id');

                        $.ajax({
                            type: 'GET',
                            url: url,
                            dataType: 'json',
                        });
                    }
                    window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

                    // Now that the search has been performed and cached, render the results
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1' } ) }}';
                    url = url.substr(0, url.length - 2);
                    url += $("#selected_theme_id").val() + '/' + data.d.search_key + '/1';

                    // Save the search key so TODO
                    $(context).find("#ODRSidebarSearchKey").val(data.d.search_key);

                    // UpdateURL() will end up forcing a hashchange event one way or another, and
                    //  also replace the search overlay
                    // hideSearchOverlay();
                    UpdateURL(url);
                }
                else if ( intent === 'linking' ) {
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1', 'intent': 'linking' } ) }}';
                    url = url.substr(0, url.length - 10);
                    url += data.d.search_key + '/1/linking';

                    // Render the html into the #ODRSearchBoxContent div on this page
                    $.ajax({
                        type: 'GET',
                        url: url,
                        dataType: 'json',
                        success: function (data, textStatus, jqXHR) {
                            $(context).find("#ODRSidebarSearchKey").val(data.d.search_key);
                            $("#ODRSearchBoxContent").html(data.d.html);

                            // Linking does need the search overlay to be hidden though, since the
                            //  results are spliced onto the page
                            hideSearchOverlay();
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // TODO - should everything get reset on an error?
                // doReset();

                // If an error was encountered and this wasn't a real search, it was most likely
                //  a request from one of ODR's modals...close the modal so the error can be seen
                if ( !is_actual_search )
                    closeODRRemodal();
            },
            complete: function (jqXHR, textStatus) {

                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                }
            }
        });
    }

    /**
     * When a tag is clicked, it's useful to visually notify the state of the tag's parent too...
     * @param {HTMLElement} source_element
     */
    function applyToTagParents(source_element) {
        var parent_tag = $(source_element).parent().parent().not('div');
        if ( $(parent_tag).length === 0)
            return;

        // $(parent_tag) should be a <li class="ODRTagItem"> element
        var parent_checkbox_icon = $(parent_tag).children('label').children('.ODRTristateCheckbox,.ODRFourstateCheckbox').first().children('i');
        var selected_count = $(parent_tag).children('ul').find('.fa-check, .ODRFourstate_OR, .ODRFourstate_AND').length;
        var unselected_count = $(parent_tag).children('ul').find('.fa-ban').length;
        // var total_count = $(parent_tag).children('ul').find('.fa').length;
        // NOTE: intentionally not differentiating between OR/AND here

        if (selected_count === 0 && unselected_count === 0) {
            // No children selected, so this one should be unselected too
            $(parent_checkbox_icon).removeClass('fa-check fa-ban partial ODRFourstate_OR ODRFourstate_AND');
        }
        /*
        else if (selected_count === total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_icon).removeClass('fa-ban partial').addClass('fa-check');
        }
        else if (unselected_count === total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_icon).removeClass('fa-check partial').addClass('fa-ban');
        }
        */
        else if (selected_count > 0) {
            // Some children selected, so this one should be partially selected
            $(parent_checkbox_icon).removeClass('fa-ban ODRFourstate_OR ODRFourstate_AND').addClass('fa-check partial');
        }
        else if (unselected_count > 0) {
            // No children are selected, but at least one child is unselected...so this one
            //  should be partially unselected
            $(parent_checkbox_icon).removeClass('fa-check ODRFourstate_OR ODRFourstate_AND').addClass('fa-ban partial');
        }

        // The parent tag should no longer have a selection of its own
        $(parent_tag).children('label').find('input').val('');

        // Need to recursively apply this stuff to the parent tag as well
        applyToTagParents( $(parent_tag) );
    }

    /**
     * When a tag is clicked, all of its children need to have their selections cleared...
     * @param {HTMLElement} source_element
     */
    function applyToTagChildren(source_element) {
        var child_tag_group = $(source_element).children('.ODRTagGroup').first();
        if ( $(child_tag_group).length === 0 )
            return;

        $(child_tag_group).find('i').each(function() {
            $(this).removeClass('fa-check fa-ban partial ODRFourstate_AND ODRFourstate_OR');
        });
        $(child_tag_group).find('input').each(function() {
            $(this).val('');
        });
    }

    /**
     * Filters the displayed options/tags for a field in the search sidebar.
     * @param {HTMLElement} context
     * @param {number} df_id
     */
    function filterSearchSidebarField(context, df_id) {
        var filter_element = $(context).find("#df_" + df_id + "_filter").first();
        var fieldtype = $(filter_element).attr('rel');
        var filter_text = $(filter_element).val().trim().toLowerCase();

        if ( fieldtype == 'Radio' ) {
            // Radio fields are simpler to filter...
            var radio_options = $(context).find("#Input_" + df_id).children(".ODRRadioLabel");

            if ( filter_text == '' ) {
                // If no text in the filter, ensure all radio options are visible
                $(radio_options).each(function(index,elem) {
                    $(elem).removeClass('ODRHidden');
                });
            }
            else {
                $(radio_options).each(function(index,elem) {
                    // Otherwise, need to convert each radio option to lower case...
                    var option_name = $(elem).text().toLowerCase();

                    // ...so it can get compared against the provided filter text
                    if ( option_name.indexOf(filter_text) === -1 )
                        $(elem).addClass('ODRHidden');
                    else
                        $(elem).removeClass('ODRHidden');
                });
            }
        }
        else if ( fieldtype == 'Tag' ) {
            // Tag fields could have a hierarchy...
            var tags = $(context).find("#Input_" + df_id).find(".ODRTagItem");

            if ( filter_text == '' ) {
                // If no text in the filter, ensure all tags are visible
                $(tags).each(function(index,elem) {
                    $(elem).removeClass('ODRHidden');
                });
            }
            else {
                $(tags).each(function(index,elem) {
                    // Otherwise, need to convert each tag to lower case...
                    var tag_name = $(elem).children('label').text().toLowerCase();

                    // ...so it can get compared against the provided filter text
                    if ( tag_name.indexOf(filter_text) === -1 )
                        $(elem).addClass('ODRHidden');
                    else {
                        $(elem).removeClass('ODRHidden');

                        // Also need to ensure that all parents of this tag are visible
                        $(elem).parents('.ODRTagItem').removeClass('ODRHidden');
                    }
                });
            }
        }
    }

    /**
     * Returns which descendants the search should ignore, if any.
     * @param {HTMLElement} tag_group
     * @return array
     */
    function determineIgnoredPrefixes(tag_group) {
        var prefixes = [];

        $(tag_group).children('li.ODRTagItem').each(function(index,elem) {
            var info_span =  $(elem).children('label').children('span').first();
            var icon = $(info_span).children('i');
            var prefix_val = $(info_span).children('input').val();

            if ( $(icon).hasClass('fa-check') ) {
                // User does want to search this descendant...if it has a descendant of its own...
                var child_tag_group = $(elem).children('ul.ODRTagGroup');
                if ( $(child_tag_group).length > 0 ) {
                    var child_prefixes = determineIgnoredPrefixes( $(child_tag_group) );
                    if ( child_prefixes.length > 0 )
                        prefixes.push(...child_prefixes);
                }
            }
            else {
                // User does not want to search this descendant...don't need to check any of this
                //  descendant's descendants
                prefixes.push( prefix_val );
            }
        });

        return prefixes;
    }
</script>

{% endspaceless %}
