{% spaceless %}

{% set datatype_id = datatype.id %}
{% set datafield_id = datafield.id %}

{% set preset_value = '' %}
{% if search_params[datafield_id] is defined %}
    {# doesn't make sense for radio/tags #}
    {% set preset_value = search_params[datafield_id] %}
{% endif %}

{% set can_execute_plugin = false %}
{% set content = '' %}
{% if design_page is not defined %}
    {% set rendering_options = {'is_datatype_admin': false, 'context': 'search'} %}
    {% set render_plugin_instance = null %}

    {% for rpi_num,rpi in datafield.renderPluginInstances %}
        {% if rpi.renderPlugin.overrideSearch == true and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
            {% set can_execute_plugin = rpi|can_execute_search_plugin(datatype, datafield, rendering_options) %}

            {# Only want to save the render_plugin_instance if it's render-able #}
            {% if can_execute_plugin %}
                {% set render_plugin_instance = rpi %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if can_execute_plugin %}
        {% set content = render_plugin_instance|search_plugin(datatype, datafield, preset_value, rendering_options) %}
    {% endif %}
{% endif %}

{% if can_execute_plugin and content|length > 0 %}
    {{ content|raw }}
{% elseif datafield_id == 0 %}
    <label for="textbox_general">
        All Fields:
        {% if design_page is defined or datatype_array|length > 1 %}
            {% if search_params is defined and search_params['gen_lim'] is defined %}
            <span id="textbox_general_blurb" title="Search each field in the current database">
                (current database)
            </span>
            {% else %}
            <span id="textbox_general_blurb" title="Search in all possible fields, including descendant databases">
                (include descendants)
            </span>
            {% endif %}
        {% endif %}
    </label>
    <input id="textbox_general" class="ODRInput pure-u-1" type="text"
        {% if search_params is defined and search_params['gen_lim'] is defined %}name="gen_lim"{% else %}name="gen"{% endif %}

        {% if search_params is defined and search_params['gen'] is defined %}value="{{ search_params['gen'] }}"{% endif %}
        {% if search_params is defined and search_params['gen_lim'] is defined %}value="{{ search_params['gen_lim'] }}"{% endif %}
        {% if design_page is defined %}readonly{% endif %}
    />

{% else %}
    {% set datafield_meta = datafield.dataFieldMeta %}
    {% set fieldname = datafield_meta['fieldName'] %}
    {% set description = datafield_meta['description'] %}
    {% set field_typename = datafield_meta['fieldType']['typeName'] %}
    {% set field_typeclass = datafield_meta['fieldType']['typeClass'] %}

    <span class="pure-u-1">
        <label {% if field_typename != "DateTime" and field_typeclass != "Radio" and field_typeclass != "Tag"%}for="datafield_{{ datafield_id }}"{% endif %}
               class="pure-u-1">

            <span title="{{ description }}">{{ fieldname }}{% if field_typeclass == 'File' or field_typeclass == 'Image'%} filename{% endif %}:</span>
        {% if field_typeclass == "Radio" or field_typeclass == "Tag" %}
            <input id="df_{{ datafield_id }}_filter" class="ODRSearchDatafieldFilter fa" type="text"
                   title="Filter {{ field_typeclass }} field" rel="{{ field_typeclass }}"
                   placeholder="&#xf002;"    {# use the fa-search icon as a placeholder #}
                   size="10" maxlength="10" {% if design_page is defined %}readonly{% endif %}
            />
        {% endif %}
        {% if field_typeclass == "Radio" or field_typeclass == "Tag" %}
            <span class="ODRSelectAllOption_span">
                <span class="ODRSelectAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Select all {% if field_typeclass == "Tag" %}tags{% else %}options{% endif %}">
                    <span class="ODRTristateCheckbox" rel="multiple">
                        <i class="fa fa-check"></i>
                    </span>
                </span>
                    <span class="ODRDeselectAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Deselect all {% if field_typeclass == "Tag" %}tags{% else %}options{% endif %}">
                    <span class="ODRTristateCheckbox" rel="multiple">
                        <i class="fa fa-ban"></i>
                    </span>
                </span>
                    <span class="ODRClearAll ODRSelectAllOption" rel="{{ datafield_id }}" title="Clear all selections">
                    <span class="ODRTristateCheckbox" rel="multiple">
                        <i class="fa"></i>
                    </span>
                </span>
            </span>
        {% endif %}
        {% if field_typename == "DateTime" %}
            <span id="df_{{ datafield_id }}_clear" class="ODRDatePickerSearch_clear">Clear Dates</span>
        {% endif %}
        </label>
    </span>

    {% if field_typename == "Boolean" %}
        <select class="ODRInput pure-u-1 Pointer" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" rel="{{ datatype_id }}" {% if design_page is defined %}disabled{% endif %}>
            <option value="">Any</option>
            <option value="0" {% if preset_value == '0' %}selected{% endif %}>Unchecked</option>
            <option value="1" {% if preset_value == '1' %}selected{% endif %}>Checked</option>
        </select>

    {% elseif field_typename == "File" or field_typename == "Image" %}
        {% set can_view_nonpublic_files = false %}
        {% if datatype_permissions[datatype_id] is defined and datatype_permissions[datatype_id]['dr_view'] is defined
            and datafield_permissions[datafield_id] is defined and datafield_permissions[datafield_id]['view'] is defined
        %}
            {% set can_view_nonpublic_files = true %}
        {% endif %}

        <input type="text" class="ODRInput ODRFileDatafieldName pure-u-1" id="datafield_{{ datafield_id }}_fn" name="{{ datafield_id }}" value="{{ preset_value }}" rel="{{ datatype_id }}" title="Search based on the {{ field_typename }}'s filename" {% if design_page is defined %}readonly{% endif %} />

        <label class="pure-u-1"></label>
        <select class="ODRInput ODRFileDatafieldExist pure-u-1" id="datafield_{{ datafield_id }}_ex" rel="{{ datatype_id }}" title="Search based on whether this field has any {{ field_typename }}s uploaded or not"  {% if design_page is defined %}disabled{% endif %}>
            <option value="">Any</option>
            <option value="1" {% if preset_value != '' and preset_value != '""' %}selected{% endif %}>Has {{ field_typename }}s</option>
            <option value="0" {% if preset_value == '""' %}selected{% endif %}>Does not have {{ field_typename }}s</option>
        </select>

        {# Don't allow users to search on file public status if they can't view non-public files #}
        {% if can_view_nonpublic_files %}
            {% set key = datafield_id ~ '_pub' %}
            {% set value = '' %}
            {% if search_params[key] is defined %}
                {% set value = search_params[key] %}
            {% endif %}
            <label class="pure-u-1" for="{{ datafield_id }}_pub" title="Find {{ field_typename }}s based on public status">{{ fieldname }} Public status:</label>
            <select class="ODRInput pure-u-1 Pointer" id="{{ key }}" name="{{ key }}" rel="{{ datafield_id }}" {% if design_page is defined %}disabled{% endif %}>
                <option id="Option_0" value="">Any</option>
                <option id="Option_nonpublic" value="0" {% if value == '0' %}selected{% endif %}>Non-public</option>
                <option id="Option_public" value="1" {% if value == '1' %}selected{% endif %}>Public</option>
            </select>
        {% endif %}

        {% if datafield_meta.quality_str != '' %}
            {% set key = datafield_id ~ '_qual' %}
            {% set selection = '' %}
            {% if search_params[key] is defined %}
                {% set selection = search_params[key] %}
            {% endif %}

            <label class="pure-u-1" for="{{ key }}" title="Find {{ field_typename }}s based on quality">{{ fieldname }} Quality:</label>
            {% if datafield_meta.quality_str == 'toggle' or datafield_meta.quality_str == 'stars5' %}
                {% set max = 1 %}
                {% if datafield_meta.quality_str == 'stars5' %}
                    {% set max = 5 %}
                {% endif %}

                <select class="ODRInput pure-u-1 Pointer" id="{{ key }}" name="{{ key }}" rel="{{ datafield_id }}" {% if design_page is defined %}disabled{% endif %}>
                    <option id="Option_any" value="">Any</option>
                    {% for i in 0..max %}
                        <option id="Option_{{ i }}" value="{{ i }}" {% if selection != '' and selection == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
            {% else %}
                {% set decoded_quality = datafield_meta.quality_str|quality_json_decode %}    {# TODO: should attempt to cache this... #}
                {% if decoded_quality != '' %}
                    <select class="ODRInput pure-u-1 Pointer" id="{{ key }}" name="{{ key }}" rel="{{ datafield_id }}" {% if design_page is defined %}disabled{% endif %}>
                        <option id="Option_any" value="">Any</option>
                        {% for num,label in decoded_quality %}
                            <option value="{{ num }}" {% if selection != '' and selection == num %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            {% endif %}
        {% endif %}

    {% elseif field_typename == 'DateTime' %}
        {% set key = datafield_id ~ '_s' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield_id }}_start" name="{{ key }}" value="{{ value }}" rel="df_{{ datafield_id }}" title="Find records with a value AFTER this date" {% if design_page is defined %}readonly{% endif %} />

        {% set key = datafield_id ~ '_e' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1"></label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield_id }}_end" name="{{ key }}" value="{{ value }}" rel="df_{{ datafield_id }}" title="Find records with a value BEFORE this date" {% if design_page is defined %}readonly{% endif %} />

        <label for="df_{{ datafield_id }}_no_val" class="pure-u-1">
            <input type="checkbox" id="df_{{ datafield_id }}_no_val" class="ODRDatePicker_value ODRInput" name="{{ datafield_id }}" value='""' /> Search where {{ fieldname }} is empty.
        </label>
        <label for="df_{{ datafield_id }}_with_val" class="pure-u-1">
            <input type="checkbox" id="df_{{ datafield_id }}_with_val" class="ODRDatePicker_value ODRInput" name="{{ datafield_id }}" value='!""' /> Search where {{ fieldname }} is not empty.
        </label>

    {% elseif field_typeclass == "Radio" %}
        {% if preset_value == '' %}
            {% set preset_value = {'selected': [], 'alt_selected': [], 'unselected': [] } %}
        {% endif %}

        {% set additional_class = '' %}
        {% if datafield_meta['search_can_request_both_merges'] == 1 %}
            {% if datafield_meta['merge_by_AND'] == 0 %}
                {% set additional_class = 'ODRDefaultMerge_OR' %}
            {% else %}
                {% set additional_class = 'ODRDefaultMerge_AND' %}
            {% endif %}
        {% endif %}

        <span class="pure-u-1 ODRRadioSearchDiv ODRSearchScrollbox {{ additional_class }}" id="Input_{{ datafield_id }}" rel="{{ datatype_id }}">
        {% if datafield['radioOptions'] is defined %}

            {% set fa_selected_class = 'fa-check' %}
            {% set fa_alt_selected_class = '' %}
            {% if datafield_meta['search_can_request_both_merges'] == 1 %}
                {% if datafield_meta['merge_by_AND'] != 1 %}
                    {% set fa_selected_class = 'ODRFourstate_OR' %}
                    {% set fa_alt_selected_class = 'ODRFourstate_AND' %}
                {% else %}
                    {% set fa_selected_class = 'ODRFourstate_AND' %}
                    {% set fa_alt_selected_class = 'ODRFourstate_OR' %}
                {% endif %}
            {% endif %}

            <input type="hidden" id="datafield_{{ datafield_id }}" class="ODRInput" name="{{ datafield_id }}" value="" />

            {% for num, radio_option in datafield['radioOptions'] %}
            {% set ro_id = radio_option.id %}
            <label id="Label_{{ ro_id }}" for="RadioOption_{{ ro_id }}" class="ODRRadioLabel pure-u-1">
                <span id="RadioOption_{{ ro_id }}" class="{% if datafield_meta['search_can_request_both_merges'] != 1 %}ODRTristateCheckbox{% else %}ODRFourstateCheckbox{% endif %}" rel="{% if field_typename == "Single Radio" or field_typename == "Single Select" %}single{% else %}multiple{% endif %}">

                    {% set ro_val = '' %}
                    {% set fa_class = '' %}
                    {% if ro_id in preset_value['selected'] %}
                        {% set ro_val = ro_id %}
                        {% set fa_class = fa_selected_class %}
                    {% elseif ro_id in preset_value['alt_selected'] %}
                        {% set ro_val = '~' ~ ro_id %}
                        {% set fa_class = fa_alt_selected_class %}
                    {% elseif ro_id in preset_value['unselected'] %}
                        {% set ro_val = '-' ~ ro_id %}
                        {% set fa_class = 'fa-ban' %}
                    {% endif %}

                    <i class="fa {{ fa_class }}"></i>
                    <input type="hidden" rel="{{ ro_id }}" value="{{ ro_val }}" />
                </span>
                {{ radio_option['radioOptionMeta']['optionName'] }}
            </label>
            {% endfor %}
        {% endif %}
        </span>

    {% elseif field_typeclass == "Tag" %}
        {% if preset_value == '' %}
            {% set preset_value = {'selected': [], 'alt_selected': [], 'unselected': [] } %}
        {% endif %}

        {% set additional_class = '' %}
        {% if datafield_meta['search_can_request_both_merges'] == 1 %}
            {% if datafield_meta['merge_by_AND'] == 0 %}
                {% set additional_class = 'ODRDefaultMerge_OR' %}
            {% else %}
                {% set additional_class = 'ODRDefaultMerge_AND' %}
            {% endif %}
        {% endif %}

        {% set fa_selected_class = 'fa-check' %}
        {% set fa_alt_selected_class = '' %}
        {% if datafield_meta['search_can_request_both_merges'] == 1 %}
            {% if datafield_meta['merge_by_AND'] != 1 %}
                {% set fa_selected_class = 'ODRFourstate_OR' %}
                {% set fa_alt_selected_class = 'ODRFourstate_AND' %}
            {% else %}
                {% set fa_selected_class = 'ODRFourstate_AND' %}
                {% set fa_alt_selected_class = 'ODRFourstate_OR' %}
            {% endif %}
        {% endif %}

        <span class="pure-u-1 ODRTagSearchDiv ODRSearchScrollbox {{ additional_class }}" id="Input_{{ datafield_id }}" rel="{{ datatype_id }}">
        {% if datafield['tags'] is defined %}
            <input type="hidden" class="ODRInput" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" value="" />

            {% include 'ODROpenRepositorySearchBundle:Default:tag_wrapper.html.twig' with {
                'datafield': datafield,
                'stacked_tags': datafield['tags'],

                'preset_value': preset_value,
                'fa_selected_class': fa_selected_class,
                'fa_alt_selected_class': fa_alt_selected_class,
            } %}
        {% endif %}
        </span>

    {% else %}    {# text/number fieldtypes #}
        <input type="text" class="ODRInput pure-u-1" id="datafield_{{ datafield_id }}" name="{{ datafield_id }}" rel="{{ datatype_id }}" {% if preset_value != '' %}value="{{ preset_value }}"{% endif %} {% if design_page is defined %}readonly{% endif %} />
    {% endif %}
{% endif %}

{% endspaceless %}
