{% spaceless %}

{% set can_search_metadata = false %}
{% if datatype_permissions[datatype_id] is defined %}
    {% if datatype_permissions[datatype_id]['dr_edit'] is defined
        or datatype_permissions[datatype_id]['dr_add'] is defined
        or datatype_permissions[datatype_id]['dr_delete'] is defined
    %}
        {% set can_search_metadata = true %}
    {% endif %}
{% endif %}

{% if can_search_metadata %}
    <div class="ODRAdvSearch_datafield pure-u-1">
        {% set key = 'dt_' ~ datatype_id ~ '_m_s' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_m_start" title="Find records based on when they were last modified">Modified Date:</label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_m_start" name="{{ key }}" value="{{ value }}" rel="dt_{{ datatype_id }}_m" title="Find records modified AFTER this date" />

        {% set key = 'dt_' ~ datatype_id ~ '_m_e' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1-3" for="dt_{{ datatype_id }}_m_end"></label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_m_end" name="{{ key }}" value="{{ value }}" rel="dt_{{ datatype_id }}_m" title="Find records modified BEFORE this date" />
    </div>

    {# NOTE - this is effectively "most recently modified by"...it's not really useful with how ODR works #}
    <div class="ODRAdvSearch_datafield pure-u-1">
        {% set key = 'dt_' ~ datatype_id ~ '_m_by' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_m_by" title="Find records based on which user last modified them">Modified By:</label>
        <select class="ODRInput pure-u-1 Pointer" id="dt_{{ datatype_id }}_m_by" name="{{ key }}" rel="{{ datatype_id }}">
            <option value=""></option>
            {% if user_list[datatype_id] is defined %}
                {% for user_id, username in user_list[datatype_id] %}
                <option value="{{ user_id }}" {% if user_id == value %}selected{% endif %}>{{ username }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        {% set key = 'dt_' ~ datatype_id ~ '_c_s' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_c_start" title="Find records based on when they were created">Created Date:</label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_c_start" name="{{ key }}" value="{{ value }}" rel="dt_{{ datatype_id }}_c" title="Find records created AFTER this date" />

        {% set key = 'dt_' ~ datatype_id ~ '_c_e' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_c_end"></label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_c_end" name="{{ key }}" value="{{ value }}" rel="dt_{{ datatype_id }}_c" title="Find records created BEFORE this date" />
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        {% set key = 'dt_' ~ datatype_id ~ '_c_by' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_c_by" title="Find records based on who created them">Created By:</label>
        <select class="ODRInput pure-u-1 Pointer" id="dt_{{ datatype_id }}_c_by" name="{{ key }}" rel="{{ datatype_id }}">
            <option value=""></option>
            {% if user_list[datatype_id] is defined %}
                {% for user_id, username in user_list[datatype_id] %}
                <option value="{{ user_id }}" {% if user_id == value %}selected{% endif %}>{{ username }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        {% set key = 'dt_' ~ datatype_id ~ '_pub' %}
        {% set value = '' %}
        {% if search_params[key] is defined %}
            {% set value = search_params[key] %}
        {% endif %}
        <label class="pure-u-1" for="dt_{{ datatype_id }}_pub" title="Find records based on public status">Public status:</label>
        <select class="ODRInput pure-u-1 Pointer" id="dt_{{ datatype_id }}_pub" name="{{ key }}" rel="{{ datatype_id }}">
            <option id="Option_0" value="">Any</option>
            <option id="Option_nonpublic" value="0" {% if value == '0' %}selected{% endif %}>Non-public</option>
            <option id="Option_public" value="1" {% if value == '1' %}selected{% endif %}>Public</option>
        </select>
    </div>
{% endif %}

{% endspaceless %}
