{% spaceless %}

    {% set is_datatype_admin = false %}
    {% if datatype_permissions[target_datatype.id] is defined and datatype_permissions[target_datatype.id]['dt_admin'] is defined %}
        {% set is_datatype_admin = true %}
    {% endif %}

    {% set datatype = datatype_array[target_datatype.id] %}

    <div id="markdown_help_dialog_wrapper">
        {% include 'ODRAdminBundle:Displaytemplate:markdown_help_dialog.html.twig' %}
    </div>

    {# Search sidebar is loaded from ODROpenRepositorySearchBundle:Default:index.html.twig #}
    {#{% include 'ODROpenRepositorySearchBundle:Default:search_sidebar.html.twig' %}#}

<script>
    $(function () {
        if ( window.location.href.indexOf('#') === -1 ) {
            // Ensure the sidebar is visible when on the default search page
            enableSearchSidebar('', true);    {# defined in ODRAdminBundle:Default:common_js.html.twig #}
        }
        else {
            // Everywhere else, just ensure it's up to date
            enableSearchSidebar();
        }

        InitSearchSidebar();

{% if sidebar_reload == false %}
    {% if search_params|length <= 1 %}
        // Close all accordions, then re-open the first one (target datatype)
        $(".ODRAdvSearch_header").trigger('click');
        $(".ODRAdvSearch_default").prev().trigger('click');
        // Default to not-advanced search
        $(".ODRAdvSearch_header").parent().hide();
    {% else %}
        // Close all accordions...those with search params will remain partially open
        $(".ODRAdvSearch_header").trigger('click');
        // Hide the advanced search div...
        $(".ODRAdvSearch_header").parent().hide();
        // ...then switch back to advanced search
        changeSearch();
    {% endif %}
{% endif %}

        // If user is on the base search page for a datatype...
        if (window.location.hash.length === 0) {
            // ...then immediately trigger a search with "default" criteria
            doSearch();

            // Don't immediately return...the search controls need initialization
            // return;
        }
    });

    function changeSearch() {
        if ($("#search_type").val() === 'basic') {
            // Show all advanced search datafields
            $("#search_type").val('advanced');
            $(".ODRSearchHelper").each(function () {
                $(this).html('Close Advanced Search');
            });

            $(".ODRAdvSearch_header").parent().removeAttr('style'); // show() uses display:block..don't want that
            $(".ODRInput").prop("disabled", false);

            $("#search_top").show();
        }
        else {
            // Hide all advanced search datafields
            $("#search_type").val('basic');
            $(".ODRSearchHelper").each(function () {
                $(this).html('Open Advanced Search');
            });

            $(".ODRAdvSearch_header").parent().hide();
            $(".ODRInput").prop("disabled", true);

            $("#search_top").hide();
        }
    }

    function doReset() {
        {# Redirect to get rid of anything that would match the route 'odr_search_immediate' #}
        window.location.href = '{{ path('odr_search', {'search_slug': search_slug}) }}';
    }

    function doSearch() {
        // Values for Radio datafields need to be manually set
        $(".ODRRadioSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).find('input').each(function () {
                // Grab the radio_option_id
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;

                if (!first_selection) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                datafield.val(str);
        });

        // Same for tag datafields
        $(".ODRTagSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).find('input')/*.not('.ODRSearchParentTag')*/.each(function () {
                // Grab the tag
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;

                if (!first_selection) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                $(datafield).val(str);
        });

        // Ensure the two parts of the search criteria for a file/image match
        $(".ODRFileDatafieldName").each(function () {
            var df_id_data = $(this).attr('id').split(/_/);
            var df_id = df_id_data[1];

            var value = $(this).val().trim();
            var exist_value = $("#datafield_" + df_id + "_ex option:selected").val();

            if (exist_value == '') {
                $(this).val('');
            }
            else if (exist_value == 0) {
                $(this).val('""');   // If user wanted datarecords that do not have files/images, set this datafield's value to empty string
            }
            else if (exist_value == 1 && value == '') {
                $(this).val('!""');  // If user wanted datarecords that do have files/images, but didn't specify a filename, set this datafield's value to 'not empty'
            }
        });

        // Request search results
        var url = '{{ path('odr_search_results') }}';

        // showSearchOverlay( $("#ODRSearchIntent").val() );

        // TODO - need to communicate which theme to use...

        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            data: $("#search_form").serialize(),
            success: function (data, textStatus, jqXHR) {
                if ( $("#ODRSearchIntent").val() === 'searching' ) {
                    // Overwrite any currently existing tab id, since a new search was performed
                    if (window.sessionStorage.getItem('odr_tab_id')) {
                        // Tell the server to stop storing data for the old tab
                        // TODO - transfer page length?
                        var url = '{{ path('odr_datatables_state_destroy', { 'odr_tab_id': '' } ) }}';
                        url += window.sessionStorage.getItem('odr_tab_id');

                        $.ajax({
                            type: 'GET',
                            url: url,
                            dataType: 'json',
                        });
                    }
                    window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

                    // Now that the search has been performed and cached, render the results
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1' } ) }}';
                    url = url.substr(0, url.length - 2);
                    url += $("#selected_theme_id").val() + '/' + data.d.search_key + '/1';

                    // Save the search key so TODO
                    $("#ODRSidebarSearchKey").val(data.d.search_key);

                    // UpdateURL() will end up forcing a hashchange event one way or another
                    UpdateURL(url);
                    // hideSearchOverlay();    // Don't hide search overlay here, rendering takes longer than searching
                }
                else if ( $("#ODRSearchIntent").val() === 'linking' ) {
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1', 'intent': 'linking' } ) }}';
                    url = url.substr(0, url.length - 10);
                    url += data.d.search_key + '/1/linking';

                    // Render the html into the #ODRSearchBoxContent div on this page
                    $.ajax({
                        type: 'GET',
                        url: url,
                        dataType: 'json',
                        success: function (data, textStatus, jqXHR) {
                            $("#ODRSidebarSearchKey").val(data.d.search_key);
                            $("#ODRSearchBoxContent").html(data.d.html);

                            // hideSearchOverlay();
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // TODO - should everything get reset on an error?
                // doReset();
            },
            complete: function (jqXHR, textStatus) {

                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                }
            }
        });
    }
</script>

<script>

    var search_content = "";

    $(function() {
        setupBackgroundImage();
    });

    function setupBackgroundImage() {
        {% if background_image_id != null %}
        if (window.location.hash === '') {
            // After the rest of the page is loaded, start loading the bg image
            var url = "{{ path('odr_image_download', {'image_id': 0 }) }}";
            url = url.substring(0, url.length - 1);
            url += "{{ background_image_id }}";
            $("#odr_bg").attr('src', url);
        }
        {% endif %}
    }
</script>

{% endspaceless %}
