{% spaceless %}

    {% set is_datatype_admin = false %}
    {% if datatype_permissions[target_datatype.id] is defined and datatype_permissions[target_datatype.id]['dt_admin'] is defined %}
        {% set is_datatype_admin = true %}
    {% endif %}

    {% set datatype = datatype_array[target_datatype.id] %}

    <div id="markdown_help_dialog_wrapper">
        {% include 'ODRAdminBundle:Displaytemplate:markdown_help_dialog.html.twig' %}
    </div>

    {# Search sidebar is loaded from ODROpenRepositorySearchBundle:Default:index.html.twig #}
    {#{% include 'ODROpenRepositorySearchBundle:Default:search_sidebar.html.twig' %}#}

<script>
    $(function () {
        if ( window.location.href.indexOf('#') === -1 ) {
            // Ensure the sidebar is visible when on the default search page
            enableSearchSidebar('', true);    {# defined in ODRAdminBundle:Default:common_js.html.twig #}
        }
        else {
            // Everywhere else, just ensure it's up to date
            enableSearchSidebar();
        }

        InitSearchSidebar();

{% if sidebar_reload == false %}
    {% if search_params|length <= 1 %}
        // Close all accordions, then re-open the first one (target datatype)
        $(".ODRAdvSearch_header").trigger('click');
        $(".ODRAdvSearch_default").prev().trigger('click');
        // Default to not-advanced search
        $(".ODRAdvSearch_header").parent().hide();
    {% else %}
        // Close all accordions...those with search params will remain partially open
        $(".ODRAdvSearch_header").trigger('click');
        // Hide the advanced search div...
        $(".ODRAdvSearch_header").parent().hide();
        // ...then switch back to advanced search
        changeSearch();
    {% endif %}
{% endif %}

        // If user is on the base search page for a datatype...
        if (window.location.hash.length === 0) {
            // ...then immediately trigger a search with "default" criteria
            doSearch();

            // Don't immediately return...the search controls need initialization
            // return;
        }
    });

    function applyToTagParents(source_element) {
        var parent_tag = $(source_element).parent().parent().not('div');
        if ( $(parent_tag).length === 0)
            return;

        // $(parent_tag) should be a <li class="ODRTagItem"> element
        var parent_checkbox_icon = $(parent_tag).children('label').children('.ODRTristateCheckbox').first().children('i');

        var selected_count = $(parent_tag).children('ul').find('.fa-check').length;
        var unselected_count = $(parent_tag).children('ul').find('.fa-ban').length;
        var total_count = $(parent_tag).children('ul').find('.fa').length;

        if (selected_count === 0 && unselected_count === 0) {
            // No children selected, so this one should be unselected too
            $(parent_checkbox_icon).removeClass('fa-check fa-ban partial');
        }
        else if (selected_count === total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_icon).removeClass('fa-ban partial').addClass('fa-check');
        }
        else if (unselected_count === total_count) {
            // All children selected, so this one should be selected too
            $(parent_checkbox_icon).removeClass('fa-check partial').addClass('fa-ban');
        }
        else if (selected_count > 0) {
            // Some children selected, so this one should be partially selected
            $(parent_checkbox_icon).removeClass('fa-ban').addClass('fa-check partial');
        }
        else if (unselected_count > 0) {
            // No children are selected, but at least one child is unselected...so this one
            //  should be partially unselected
            $(parent_checkbox_icon).removeClass('fa-check').addClass('fa-ban partial');
        }

        applyToTagParents( $(parent_tag) );
    }

    function changeSearch() {
        if ($("#search_type").val() === 'basic') {
            // Show all advanced search datafields
            $("#search_type").val('advanced');
            $(".ODRSearchHelper").each(function () {
                $(this).html('Close Advanced Search');
            });

            $(".ODRAdvSearch_header").parent().removeAttr('style'); // show() uses display:block..don't want that
            $(".ODRInput").prop("disabled", false);

            $("#search_top").show();
        }
        else {
            // Hide all advanced search datafields
            $("#search_type").val('basic');
            $(".ODRSearchHelper").each(function () {
                $(this).html('Open Advanced Search');
            });

            $(".ODRAdvSearch_header").parent().hide();
            $(".ODRInput").prop("disabled", true);

            $("#search_top").hide();
        }
    }

    function doReset() {
        // radio and tag fields
        $(".ODRRadioSearchDiv").find(".ODRTristateCheckbox").each(function() {
            $(this).removeAttr('title');
            $(this).children(".fa").removeClass('fa-check fa-ban partial');
            $(this).children("input").val('');
        });

        // general field
        $("#textbox_general").val('');

        // select fields
        $("select.ODRInput").val('');

        // every other field
        $("input.ODRInput").not(".hidden").each(function () {
            if ($(this).hasClass('ODRDatePicker')) {
                $(this).datepicker('setDate', '');
                $(this).datepicker("option", "maxDate", null);
                $(this).datepicker("option", "minDate", null);
            }
            else {
                $(this).val('');
            }
        });

        // Trigger another search when the reset button is clicked
        doSearch();
    }

    function doSearch() {
        // Values for Radio datafields need to be manually set
        $(".ODRRadioSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).find('input').each(function () {
                // Grab the radio_option_id
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;

                if (!first_selection) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                datafield.val(str);
        });

        // Same for tag datafields
        $(".ODRTagSearchDiv").each(function () {
            var data = $(this).attr('id').split(/_/);
            var datafield_id = data[1];

            // Reset the input's value since this is rebuilding the search value from scratch
            var datafield = $("#datafield_" + datafield_id);
            datafield.val('');

            var str = '';
            var first_selection = true;
            var has_selections = false;

            $(this).find('input').not('.ODRSearchParentTag').each(function () {
                // Grab the tag
                var value = $(this).val().trim();
                if (value == '')
                    return;

                has_selections = true;

                if (!first_selection) {
                    str += ',' + value;
                }
                else {
                    first_selection = false;
                    str += value;
                }
            });

            if (has_selections)
                $(datafield).val(str);
        });

        // Ensure the two parts of the search criteria for a file/image match
        $(".ODRFileDatafieldName").each(function () {
            var df_id_data = $(this).attr('id').split(/_/);
            var df_id = df_id_data[1];

            var value = $(this).val().trim();
            var exist_value = $("#datafield_" + df_id + "_ex option:selected").val();

            if (exist_value == '') {
                $(this).val('');
            }
            else if (exist_value == 0) {
                $(this).val('""');   // If user wanted datarecords that do not have files/images, set this datafield's value to empty string
            }
            else if (exist_value == 1 && value == '') {
                $(this).val('!""');  // If user wanted datarecords that do have files/images, but didn't specify a filename, set this datafield's value to 'not empty'
            }
        });

        // Request search results
        var url = '{{ path('odr_search_results') }}';

        showSearchOverlay( $("#ODRSearchIntent").val() );

        // TODO - need to communicate which theme to use...

        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            data: $("#search_form").serialize(),
            success: function (data, textStatus, jqXHR) {
                if ( $("#ODRSearchIntent").val() === 'searching' ) {
                    // Overwrite any currently existing tab id, since a new search was performed
                    if (window.sessionStorage.getItem('odr_tab_id')) {
                        // Tell the server to stop storing data for the old tab
                        // TODO - transfer page length?
                        var url = '{{ path('odr_datatables_state_destroy', { 'odr_tab_id': '' } ) }}';
                        url += window.sessionStorage.getItem('odr_tab_id');

                        $.ajax({
                            type: 'GET',
                            url: url,
                            dataType: 'json',
                        });
                    }
                    window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

                    // Now that the search has been performed and cached, render the results
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1' } ) }}';
                    url = url.substr(0, url.length - 2);
                    url += $("#selected_theme_id").val() + '/' + data.d.search_key + '/1';

                    // Save the search key so TODO
                    $("#ODRSidebarSearchKey").val(data.d.search_key);

                    // UpdateURL() will end up forcing a hashchange event one way or another
                    UpdateURL(url);
                    // hideSearchOverlay();    // Don't hide search overlay here, rendering takes longer than searching
                }
                else if ( $("#ODRSearchIntent").val() === 'linking' ) {
                    var url = '{{ path('odr_search_render', { 'search_theme_id': 0, 'search_key': '', 'offset': '1', 'intent': 'linking' } ) }}';
                    url = url.substr(0, url.length - 10);
                    url += data.d.search_key + '/1/linking';

                    // Render the html into the #ODRSearchBoxContent div on this page
                    $.ajax({
                        type: 'GET',
                        url: url,
                        dataType: 'json',
                        success: function (data, textStatus, jqXHR) {
                            $("#ODRSidebarSearchKey").val(data.d.search_key);
                            $("#ODRSearchBoxContent").html(data.d.html);

                            hideSearchOverlay();
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // TODO - should everything get reset on an error?
                // doReset();
            },
            complete: function (jqXHR, textStatus) {

                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                }
            }
        });
    }
</script>

<script>

    var search_content = "";

    $(function() {
        setupBackgroundImage();
    });

    function setupBackgroundImage() {
        {% if background_image_id != null %}
        if (window.location.hash === '') {
            // After the rest of the page is loaded, start loading the bg image
            var url = "{{ path('odr_image_download', {'image_id': 0 }) }}";
            url = url.substring(0, url.length - 1);
            url += "{{ background_image_id }}";
            $("#odr_bg").attr('src', url);
        }
        {% endif %}

        {% if intent == 'searching' %}
        // Setup IntroJS Walkthrough
        jQuery('#ODRHelpButton')
            .attr('data-step', '1')
            .attr('data-intro', 'Welcome to the ODR Help System.  This system will guide you through the features of this page.<br /><br />  For quicker navigation, use your left and right arrow keys to go through the tutorial.');
        jQuery('#textbox_general')
            .attr('data-step', '2')
            .attr('data-intro', 'This is the "general search" box. Enter terms in this field that you want to find in any of the available search fields.');
        jQuery('.ODRGeneralSearchList')
            .attr('data-step', '3')
            .attr('data-intro', 'Clicking this icon brings up a panel that lists the fields in this database that will be searched when using the "general search" box.');
        jQuery('.ODRSearchHelp')
            .attr('data-step', '4')
            .attr('data-intro', 'All search fields can make use of operators and logic to build more refined searches.  Clicking this icon presents instructions on using operators to build more complex searches.');
        jQuery('.ODRSearchHelper:first')
            .attr('data-step', '5')
            .attr('data-intro', 'Click this link to open or close "Advanced Search".  Advanced search allows you to refine searches to specific fields or field selections.');

        // Initialize the help button
        jQuery('#ODRHelpButton').unbind('click').click(function () {
            introJs()
                .onbeforechange(introJsStepBeforeChangeHandler)
                .onbeforeexit(introJsExitHandler)
                .start();
        });
        {% endif %}
    }

    {% if intent == 'searching' %}
    var introjs_starting_search_type = "basic";

    function introJsExitHandler() {
        if (introjs_starting_search_type === "basic" && $("#search_type").val() !== 'basic') {
            changeSearch()
        }
    }

    function introJsStepBeforeChangeHandler(elem) {
        if (jQuery(elem).hasClass("ODRGeneralSearchList")) {
            if (!jQuery("#ODRGeneralSearchList_div").is(":visible")) {
                jQuery(elem).click();
            }
        }
        if (jQuery(elem).hasClass("ODRSearchHelp")) {
            if (!jQuery("#ODRSearchHelp_div").is(":visible")) {
                jQuery(elem).click();
            }
            if (jQuery("#ODRGeneralSearchList_div").is(":visible")) {
                jQuery(".ODRGeneralSearchList").click();
            }
        }
        if (jQuery(elem).hasClass("ODRSearchHelper")) {
            if (jQuery("#ODRSearchHelp_div").is(":visible")) {
                jQuery(".ODRSearchHelp").click();
            }
            if ($("#search_type").val() === 'basic') {
                introjs_starting_search_type = "basic";
                changeSearch();
            }
            else {
                introjs_starting_search_type = "advanced";
            }
        }
    }
    {% endif %}
</script>

{% endspaceless %}
