{% spaceless %}

    {% set fieldname = datafield['dataFieldMeta']['fieldName'] %}
    {% set description = datafield['dataFieldMeta']['description'] %}
    {% set field_typename = datafield['dataFieldMeta']['fieldType']['typeName'] %}
    {% set field_typeclass = datafield['dataFieldMeta']['fieldType']['typeClass'] %}

    {#<div class="ODRAdvSearch_datafield pure-u-1">#}
        <span class="pure-u-1">
            <label for="datafield_{{ datafield.id }}" class="pure-u-1"><span title="{{ description }}">{{ fieldname }}:</span>
            {% if field_typeclass == "Radio"%}
                <span class="pure-u-1 ODRSelectAll ODRSelectAllOption" rel="{{ datafield.id }}" title="Select all options">
                    <span class="ODRTristateCheckbox" rel="multiple">
                       <i class="fa fa-check"></i>
                    </span>
                </span>
                <span class="pure-u-1 ODRDeselectAll ODRSelectAllOption" rel="{{ datafield.id }}" title="Deselect all options">
                    <span class="ODRTristateCheckbox" rel="multiple">
                       <i class="fa fa-ban"></i>
                    </span>
                </span>
                <span class="pure-u-1 ODRClearAll ODRSelectAllOption" rel="{{ datafield.id }}" title="Clear all selections">
                    <span class="ODRTristateCheckbox" rel="multiple">
                       <i class="fa"></i>
                    </span>
                </span>
            {% endif %}
            </label>
        </span>

        {% if field_typename == "Boolean" %}
            <select class="ODRInput pure-u-1 Pointer" id="datafield_{{ datafield.id }}" name="{{ datafield.id }}" rel="{{ datatype_id }}">
                <option value="">Any</option>
                <option value="0">Unselected</option>
                <option value="1">Selected</option>
            </select>

        {% elseif field_typename == "File" or field_typename == "Image" %}
            <input type="text" class="ODRInput ODRFileDatafieldName pure-u-1" id="datafield_{{ datafield.id }}_fn" name="{{ datafield.id }}" rel="{{ datatype_id }}" title="Search based on the {{ field_typename }}'s filename"/>

            <label class="pure-u-1"></label>
            <select class="ODRInput ODRFileDatafieldExist pure-u-1" id="datafield_{{ datafield.id }}_ex" rel="{{ datatype_id }}" title="Search based on whether this field has any {{ field_typename }}s uploaded or not">
                <option value="">Any</option>
                <option value="1">Has {{ field_typename }}s</option>
                <option value="0">Does not have {{ field_typename }}s</option>
            </select>

        {% elseif field_typename == 'DateTime' %}
            <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield.id }}_start" name="{{ datafield.id }}_s" value="" rel="df_{{ datafield.id }}" title="Find records with a value AFTER this date" />

            <label class="pure-u-1"></label>
            <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="df_{{ datafield.id }}_end" name="{{ datafield.id }}_e" value="" rel="df_{{ datafield.id }}" title="Find records with a value BEFORE this date" />

        {% elseif field_typeclass == "Radio" %}
            <span class="pure-u-1 ODRRadioSearchDiv ODRSearchScrollbox" id="Input_{{ datafield.id }}" rel="{{ datatype_id }}">
                {% if datafield['radioOptions'] is defined %}
                    <input type="hidden" id="datafield_{{ datafield.id }}" name="{{ datafield.id }}" value="" />

                    {% for num, radio_option in datafield['radioOptions'] %}
                    <label id="Label_{{ radio_option.id }}" for="Input_{{ radio_option.id }}" class="ODRRadioLabel pure-u-1">
                        <span class="ODRTristateCheckbox" rel="{% if field_typename == "Single Radio" or field_typename == "Single Select" %}single{% else %}multiple{% endif %}">
                            <i class="fa"></i>
                            <input type="hidden" rel="{{ radio_option.id }}" value="" />
                        </span>
                        {{ radio_option['radioOptionMeta']['optionName'] }}
                    </label>
                    {% endfor %}
                {% endif %}
            </span>

        {% elseif field_typeclass == "Tag" %}
            <span class="pure-u-1 ODRTagSearchDiv ODRSearchScrollbox" id="Input_{{ datafield.id }}" rel="{{ datatype_id }}">
                {% if datafield['tags'] is defined %}
                    <input type="hidden" id="datafield_{{ datafield.id }}" name="{{ datafield.id }}" value="" />

                    {% include 'ODROpenRepositorySearchBundle:Default:tag_wrapper.html.twig' with {
                        'stacked_tags': datafield['tags'],
                    } %}
                {% endif %}
            </span>

        {% else %}
            <input type="text" class="ODRInput pure-u-1" id="datafield_{{ datafield.id }}" name="{{ datafield.id }}" rel="{{ datatype_id }}"/>
        {% endif %}
    {#</div>#}

{% endspaceless %}
