{% spaceless %}

{% set has_view_permission = false %}
{% if datatype_permissions[datatype_id] is defined and datatype_permissions[datatype_id]['dr_view'] is defined %}
    {% set has_view_permission = true %}
{% endif %}

{% if has_view_permission %}
    <div class="ODRAdvSearch_datafield pure-u-1">
        <label class="pure-u-1" title="Find records based on when they were last modified">Modified Date:</label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_m_start" name="dt_{{ datatype_id }}_m_s" value="" rel="dt_{{ datatype_id }}_m" title="Find records modified AFTER this date" />

        <label class="pure-u-1-3"></label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_m_end" name="dt_{{ datatype_id }}_m_e" value="" rel="dt_{{ datatype_id }}_m" title="Find records modified BEFORE this date" />
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        <label class="pure-u-1" title="Find records based on which user last modified them">Modified By:</label>
        <select class="ODRInput pure-u-1 Pointer" id="select_modified_by" name="dt_{{ datatype_id }}_m_by" rel="{{ datatype_id }}">
            <option value=""></option>
            {% for user_id, username in user_list %}
            <option value="{{ user_id }}">{{ username }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        <label class="pure-u-1" title="Find records based on when they were created">Created Date:</label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_c_start" name="dt_{{ datatype_id }}_c_s" value="" rel="dt_{{ datatype_id }}_c" title="Find records created AFTER this date" />

        <label class="pure-u-1"></label>
        <input type="text" class="ODRInput ODRDatePicker pure-u-1 Pointer" id="dt_{{ datatype_id }}_c_end" name="dt_{{ datatype_id }}_c_e" value="" rel="dt_{{ datatype_id }}_c" title="Find records created BEFORE this date" />
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        <label class="pure-u-1" title="Find records based on who created them">Created By:</label>
        <select class="ODRInput pure-u-1 Pointer" id="select_created_by" name="dt_{{ datatype_id }}_c_by" rel="{{ datatype_id }}">
            <option value=""></option>
            {% for user_id, username in user_list %}
            <option value="{{ user_id }}">{{ username }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="ODRAdvSearch_datafield pure-u-1">
        <label class="pure-u-1" title="Find records based on public status">Public status:</label>
        <select class="ODRInput pure-u-1 Pointer" id="select_public" name="dt_{{ datatype_id }}_pub" rel="{{ datatype_id }}">
            <option id="Option_0" value="">Any</option>
            <option id="Option_nonpublic" value="0">Non-public</option>
            <option id="Option_public" value="1">Public</option>
        </select>
    </div>
{% endif %}

{% endspaceless %}
