{# This is an override of the default FOS layout.html.twig file #}

{% extends '::base.html.twig' %}

    {% set site_baseurl = '' %}
{% set current_user = '' %}

{% set header_left_title = 'Search' %}
{% set header_left_path = path('odr_search') %}

{% set header_middle_title = '' %}
{% set header_middle_path = '' %}

{% set header_right_title = '' %}
{% set header_right_path = '' %}
{% set header_right_js = '' %}

{% block title %}ODR Admin{% endblock %}

{% set use_navigation_block = false %}

{% block body %}
    <section id="content" class="container_12 clearfix">

        <div id="login_wrapper">
            {# Doesn't seem to really do anything... #}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div class="ODRContentWrapper pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
                <div class="ODRThemeElement pure-u-1">
                    <div class="ODRInnerBox pure-u-1">
                        <h3 class="ODRHeader" style="padding-left: 0px;"><i class="fa fa-md fa-user fa-fw"></i>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                        </h3>
                        <div class="ODRBodyContent">
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>

                        {# only display the oauth provider list on the actual login page #}
                        {% if render_type is defined and render_type == 'login' %}
                        <div class="ODROAuthProviderList">
                            {% include "ODROpenRepositoryOAuthClientBundle:Connect:login.html.twig" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock body %}
