{% spaceless %}

{{ form_start(theme_datafield_form, {
    'method': 'POST',
    'attr': {
        'id': 'ThemeDatafieldPropertiesForm_' ~ theme_datafield.id,
        'class': 'ODRThemeDatafieldPropertiesForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ theme_datafield_form.cssWidthMed.vars.id }}">
                <strong>{{ theme_datafield_form.cssWidthMed.vars.label }}</strong>
            </label>
            {{ form_errors(theme_datafield_form.cssWidthMed) }}
            {{ form_widget(theme_datafield_form.cssWidthMed, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{ theme_datafield_form.cssWidthXL.vars.id }}">
                <strong>{{ theme_datafield_form.cssWidthXL.vars.label }}</strong>
            </label>
            {{ form_errors(theme_datafield_form.cssWidthXL) }}
            {{ form_widget(theme_datafield_form.cssWidthXL, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div style="display: none">
        {{ form_rest(theme_datafield_form) }}
        </div>
    </fieldset>

{{ form_end(theme_datafield_form) }}

{% endspaceless %}
