{% spaceless %}

{{ form_start(theme_form, {
    'method': 'POST',
    'attr': {
        'id': 'ThemePropertiesForm_' ~ theme.id,
        'class': 'ODRThemePropertiesForm pure-form pure-form-aligned',
        'rel': datatype.id,
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ theme_form.templateName.vars.id }}">
                <strong>{{ theme_form.templateName.vars.label }}</strong>
            </label>
            {{ form_errors(theme_form.templateName) }}
            {{ form_widget(theme_form.templateName, { 'attr': {'class': 'ODRThemeName', 'style': 'width:auto'} }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{ theme_form.templateDescription.vars.id }}">
                <strong>{{ theme_form.templateDescription.vars.label }}</strong>
            </label>
            {{ form_errors(theme_form.templateDescription) }}
            {{ form_widget(theme_form.templateDescription, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{ theme_form.isDefault.vars.id }}">
                <strong>{{ theme_form.isDefault.vars.label }}</strong>
            </label>
            {{ form_errors(theme_form.isDefault) }}
            {% if theme_form.isDefault.vars.checked == true %}
                {{ form_widget(theme_form.isDefault, { 'attr': {'title': 'Not allowed to set a Theme as "not default"...change another Theme to "default" instead', 'style': 'width:auto; cursor:not-allowed', 'disabled': 'disabled'} }) }}
            {% else %}
                {{ form_widget(theme_form.isDefault, { 'attr': {'style': 'width:auto'} }) }}
            {% endif %}
        </div>

        <div style="display: none">
        {{ form_rest(theme_form) }}
        </div>
    </fieldset>

{{ form_end(theme_form) }}

<button type="button" id="DeleteTheme_{{ theme.id }}" class="pure-button pure-button-primary ODRDeleteTheme" style="float:left;" rel="{{ datatype.id }}"><i class="fa fa-trash-o"></i>&nbsp;Delete Theme</button>

{% endspaceless %}
