{% spaceless %}

{{ form_start(theme_datatype_form, {
    'method': 'POST',
    'attr': {
        'id': 'ThemeDatafieldPropertiesForm_' ~ theme_datatype.id,
        'class': 'ODRThemeDatatypePropertiesForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ theme_datatype_form.display_type.vars.id }}">
                <strong>{{ theme_datatype_form.display_type.vars.label }}</strong>
            </label>
            {{ form_errors(theme_datatype_form.display_type) }}
            {{ form_widget(theme_datatype_form.display_type, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div style="display: none">
        {{ form_rest(theme_datatype_form) }}
        </div>
    </fieldset>

{{ form_end(theme_datatype_form) }}

{% endspaceless %}
