{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}

<div class="ODRDataType{% if is_link == 1 %} ODRLinkedType{% endif %}{% if is_top_level == 0 %} ODRAccordionWrapper ODRFormAccordion{% endif %} pure-u-1" id="DataType_{{ datatype.id }}" {#rel="{{ datatype_tree.theme_datatype.id }}"#}>

    {% if is_top_level == 0 %}
        {# current datatype is a child or linked datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top{% if display_type == 4 %} ODRThemeHiddenElement{% endif %}" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <a id="Datatype_{{ datatype.id }}_ShortName" class="ODRDatatypeProperties" rel="{{ datatype.id }}">
                {{ datatype.dataTypeMeta.shortName }}
            </a>
        </h3>
        {% include 'ODRAdminBundle:Theme:theme_datatypetools_div.html.twig' with {
            'datatype': datatype,
            'theme_id': theme.id,

            'is_top_level': is_top_level,
            'is_link': is_link,
        } %}

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:Theme:theme_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'target_datatype_id': target_datatype_id,
                'theme_array': theme_array,

                'datatype_permissions': datatype_permissions,
                'is_datatype_admin': is_datatype_admin,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->
    {% else %}

        <div class="ODRThemeElement pure-u-1">
            <div class="ODRInnerBox pure-u-1">
                <h3 class="ODRHeader ODRDatatypeProperties" id="Datatype_{{ datatype.id }}_ShortName" rel="{{ datatype.id }}">
                    {{ datatype.dataTypeMeta.shortName }}
                </h3>
                {# current datatype is top-level #}
                {% include 'ODRAdminBundle:Theme:theme_datatypetools_div.html.twig' with {
                    'datatype': datatype,
                    'theme_id': theme.id,

                    'is_top_level': is_top_level,
                    'is_link': is_link,
                } %}
            </div>
        </div>

        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:Theme:theme_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'target_datatype_id': target_datatype_id,
                'theme_array': theme_array,

                'datatype_permissions': datatype_permissions,
                'is_datatype_admin': is_datatype_admin,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->
    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
