{% spaceless %}

{# "theme_datafield_form.vars.value.dataField" and "theme_datafield_form.vars.value.themeElement" get actual ODR entities... #}
{{ form_start(theme_datafield_form, {
    'method': 'POST',
    'attr': {
        'id': 'ThemeDatafieldPropertiesForm_' ~ theme_datafield_form.vars.value.themeElement.id ~ '_' ~ theme_datafield_form.vars.value.dataField.id,
        'class': 'ODRThemeDatafieldPropertiesForm ODRThemeForm pure-form'
    }
}) }}

    <fieldset>
        {% if datafield_name is defined and not is_master_theme %}
            <div class="pure-control-group pure-u-1">
                <span class="ODRDatafieldName">{{ datafield_name }}</span>
            </div>
        {% endif %}

        <div class="pure-control-group pure-u-1">
            <label for="{{ theme_datafield_form.hidden.vars.id }}" class="pure-u-1">
                {{ theme_datafield_form.hidden.vars.label }}
            </label>
            {{ form_errors(theme_datafield_form.hidden) }}
            {{ form_widget(theme_datafield_form.hidden, { 'attr': {'style': 'width:auto', 'data-error-type': 'inline'} }) }}
        </div>

        {{ form_rest(theme_datafield_form) }}
    </fieldset>

{{ form_end(theme_datafield_form) }}

{% endspaceless %}
