{% spaceless %}

{% set ACCORDION_HEADER = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::ACCORDION_HEADER') %}

{% if is_top_level == 0 and display_type == ACCORDION_HEADER %}     {# unlike edit page, don't want list display_type here #}
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
        <span class="ui-icon ui-icon-triangle-1-s"></span>

    {% if datarecord.nameField_value != datarecord.id %}
        <a>{{ datarecord.nameField_value }}</a>
    {% else %}
        <a>{{ datatype.dataTypeMeta.shortName }}</a>
    {% endif %}

        <span id="DataTypeTools_{{ datarecord.id }}" class="DatatypeTools">
        {% if is_link == 1 %}
            <span title="This is a linked Datatype">
                <i class="fa fa-link Cursor"></i>
            </span>
        {% endif %}

            <span rel="{{ datatype.id }}">
                {% set class_str = "tooltip fa fa-globe Cursor" %}
                {% if datarecord.dataRecordMeta.publicDate|is_public %}
                    {% set class_str = class_str ~ " ODRActiveIcon" %}
                {% endif %}

                {% set title_str = "Record is Not Public" %}
                {% if datarecord.dataRecordMeta.publicDate|is_public %}
                    {% set title_str = "Record is Public" %}
                {% endif %}

                {% if is_link == 1 %}
                    {% set title_str = "Linked " ~ title_str %}
                {% else %}
                    {% set title_str = "Child " ~ title_str %}
                {% endif %}

                <i id="datarecord_{{ datarecord.id }}_public" class="{{ class_str }}" title="{{ title_str }}" rel="{{ datarecord.id }}"></i>
            </span>
        </span>
    </h3>
{% endif %}

{# tabbed and dropdown display_type have already been handled in Default::fieldarea_header.html.twig #}

{% endspaceless %}
