{% spaceless %}

<div class="ODRCreatedBy pure-u-1 PadRight">
{% if can_edit_datarecord %}
    <strong>Created by: </strong>{{ datarecord.createdBy.getuserstring }}
    <strong>on</strong> {{ datarecord.created|date('Y-m-d h:m:s') }} (UTC-5)
    <strong>Last Modified by: </strong>{{ datarecord.updatedBy.getuserstring }}
    <strong>on</strong> {{ datarecord.updated|date('Y-m-d h:m:s') }} (UTC-5)
{% endif %}
</div>

<div class="pure-u-1 clearfix" id="ODRSearchHeaderWrapper">

    {% if search_key != '' %}
    <div class="pure-u-1-2" id="ODRPublicExportButtons">
    {% else %}
    <div class="pure-u-1" id="ODRPublicExportButtons">
    {% endif %}

    {% if can_edit_datarecord %}
        <button id="ODREditRecord" type="button" class="pure-button pure-button-primary">Edit</button>
    {% endif %}

        <button id="ChooseView" type="button" class="pure-button pure-button-primary">Choose View</button>

    {% if can_edit_datarecord == true %}
        <i id="ODRDownloadAllFilesIcon" class="fa fa-file-archive-o Pointer" title="Download files"></i>
        <i class="fa fa-globe {% if datarecord.ispublic %}ODRActiveIcon{% endif %}" title="This record is{% if not datarecord.ispublic %} not{% endif %} public"></i>
    {% endif %}

    {% if can_add_datarecord and datatype.isMasterType == 0 %}
        <i id="ODRAddRecord" class="fa fa-plus Pointer tooltip ODRAddRecord" title="Click to add a record"></i>
    {% endif %}
    </div>

    {% if search_key != '' %}
        {% include 'ODRAdminBundle:Default:search_header.html.twig' with {
            'search_theme_id': search_theme_id,
            'search_key': search_key,
            'offset': offset,
            'page_length': page_length,
            'prev_datarecord': prev_datarecord,
            'next_datarecord': next_datarecord,
            'redirect_path': redirect_path,
            'search_result_current': search_result_current,
            'search_result_count': search_result_count,

            'page_type': page_type,
        } %}
    {% endif %}
</div>

<script>
    $(function() {
        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

        $("#ChooseView").unbind('click').click(function(event) {
            window.ODRChooseView_applyredirectcallback = function(theme_id) {
                // When a new 'display' theme is selected, just reload the entire page afterwards
                // ...the newly selected theme will be pulled from the user's session
                reloadPage();
            }
            openChooseViewRemodal({{ datatype.id }}, 'display', '{{ search_key }}');
        });


        {% if can_edit_datarecord %}
        $("#ODRDownloadAllFilesIcon").unbind('click').click(function() {
            {# defined in ODRAdminBundle:Default:mass_download_dialog.html.twig #}
            openMassDownloadDialog("{{ search_key }}");
        });
        $("#ODREditRecord").unbind('click').click(function() {
            loadDataRecord({{ datarecord.id }}, 'edit', '{{ offset }}');
        });
        {% endif %}

        {% if can_add_datarecord and datatype.isMasterType == 0 %}
        $("#ODRAddRecord").unbind('click').click(function() {
            var url = '{{ path('odr_edit_fake_record', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += {{ datarecord.datatype.id }};

            UpdateURL(url);
        });
        {% endif %}

        $("#ODRDownloadAllFilesButton").unbind('click').click(function() {
            openFileDownloadDialog( {{ datarecord.id }}, 0, 0 );
        });
    });
</script>

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(search_theme_id, search_key) }}

{% endspaceless %}
