{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% set render_plugin = datatype.dataTypeMeta.renderPlugin %}

{% if render_plugin.overrideChild == 1 %}
    <!-- Start {{ render_plugin.pluginName }} override child html -->
    {% set rendering_options = {'is_top_level': is_top_level, 'is_link': is_link, 'display_type': display_type} %}
    {{ datarecord_array|datatype_plugin(datatype, render_plugin, theme_array, rendering_options)|raw }}
    <!-- End {{ render_plugin.pluginName }} override child html -->

{% else %}
    <div id="DataType_{{ datatype.id }}" class="ODRDataType pure-u-1">

        {% include 'ODRAdminBundle:Default:fieldarea_header.html.twig' with {
            'datatype': datatype,
            'datarecord_list': datarecord_array,

            'is_top_level': is_top_level,
            'is_link': is_link,
            'display_type': display_type
        } %}

        {% for dr_id, datarecord in datarecord_array %}

{#
----------</br>
datarecord: {{ datarecord.id }}...datatype {{ datarecord.dataType.id }}</br>
parent: {{ datarecord.parent.id }}</br>
grandparent: {{ datarecord.grandparent.id }}</br>
</br>
parent_datarecord_id: {{ parent_datarecord_id }}</br>
target_datatype_id: {{ target_datatype_id }}</br>
</br>
is_top_level: {{ is_top_level }}</br>
is_link: {{ is_link }}</br>
display_type: {{ display_type }}</br>
</br>
render_plugin_name: {{ render_plugin.pluginName }}</br>
render_plugin.overrideChild: {{ render_plugin.overrideChild }}</br>
render_plugin.overrideFields: {{ render_plugin.overrideFields }}</br>
----------</br>
#}

            {% include 'ODRAdminBundle:Display:accordion_header.html.twig' with {
                'datarecord': datarecord,
                'datatype': datatype,
                'is_top_level': is_top_level,
                'display_type': display_type
            } %}

            <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">

                {% if render_plugin.id != '1' and (render_plugin.overrideChild == 1 or render_plugin.overrideFields == 1) %}
                    <!-- html for {{ render_plugin.pluginName }} -->
                    {% set rendering_options = {'is_top_level': is_top_level, 'is_link': is_link, 'display_type': display_type, 'theme_type': theme.themeType} %}
                    {{ [datarecord]|datatype_plugin(datatype, render_plugin, theme_array, rendering_options)|raw }}
                    {# [datarecord] converts datarecord into a single-element array #}

                {% endif %}

                {% if render_plugin.overrideFields == 0 %}
                    {% include 'ODRAdminBundle:Display:display_fieldarea.html.twig' with {
                        'datatype_array': datatype_array,
                        'datarecord': datarecord,
                        'theme_array': theme_array,

                        'target_datatype_id': target_datatype_id,
                        'parent_datarecord_id': parent_datarecord_id,
                        'target_datarecord_id': datarecord.id,
                        'target_theme_id': target_theme_id,

                        'is_top_level': is_top_level,
                        'is_link': is_link,
                        'display_type': display_type
                    } %}
                {% endif %}

            </div><!-- End of #FieldArea_{{ datarecord.id }} -->
        {% endfor %}

        {% include 'ODRAdminBundle:Default:fieldarea_footer.html.twig' with {'display_type': display_type } %}

    </div><!-- End of #DataType_{{ datatype.id }} -->

{% endif %}

{% endspaceless %}
