{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[ datatype.id ] %}

{% if is_top_level == 0 and (display_type == 1 or display_type == 2) %}    {# tabbed or dropdown display_type #}
    <div id="DataTypeTools_{{ datarecord.id }}" class="DataTypeTools">
        <span rel="{{ datatype.id }}">
            <i id="datarecord_{{ datarecord.id }}_public"
               class="fa fa-globe Cursor
                {% if datarecord.dataRecordMeta.publicDate|is_public %}
                    ODRActiveIcon
                {% endif %}"
               title="{% if is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if not datarecord.dataRecordMeta.publicDate|is_public %}not {% endif %}Public" rel="{{ datarecord.id }}">
            </i>
        </span>
    </div>
{% endif %}


{% for theme_element in theme.themeElements %}

    {% if not theme_element|is_empty(datarecord, datatype, 'display') %}

        <div rel="{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
            <div class="ODRInnerBox">

                {% if theme_element.themeDataFields is defined %}
                    {% for theme_datafield in theme_element.themeDataFields %}
                        {% set datafield_id = theme_datafield.dataField.id %}

                        {% if datatype['dataFields'][datafield_id] is not defined %}
                            {# user doesn't have permissions to see this datafield #}
                            <div class="pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"></div>
                        {% else %}
                            {% set datafield = datatype['dataFields'][datafield_id] %}

                            {% if theme_datafield.hidden == 0 %}
                                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}" rel="{{ theme.id }}">
                                    {% if datafield.dataFieldMeta.fieldType.typeName == "Markdown" %}
                                        {% include 'ODRAdminBundle:Display:display_markdown.html.twig' with {'datafield': datafield} %}
                                    {% else %}
                                        {% include 'ODRAdminBundle:Display:display_datafield.html.twig' with {
                                            'datarecord': datarecord,
                                            'datafield': datafield,
                                            'image_thumbnails_only': false,
                                        } %}
                                    {% endif %}
                                </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                {% elseif theme_element.themeDataType is defined %}

                    {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
                    {% for theme_datatype in theme_element.themeDataType %}
                        {% set child_datatype_id = theme_datatype.dataType.id %}

                        {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
                        {% if datatype_array[child_datatype_id] is defined and datatype['descendants'][child_datatype_id] is defined %}
                            {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}

                            {# filtering also means there may not be anything in the datarecord array... #}
                            {% if datarecord['children'][child_datatype_id] is defined %}
                                {# pass all child datarecords of this child datatype to display_childtype.html.twig at once #}
                                {% set datarecord_array = datarecord['children'][ child_datatype_id ] %}

                                {% include 'ODRAdminBundle:Display:display_childtype.html.twig' with {
                                    'datatype_array': child_datatype,
                                    'datarecord_array': datarecord_array,
                                    'theme_array': theme_array,

                                    'target_datatype_id': child_datatype_id,
                                    'parent_datarecord_id': datarecord.id,

                                    'is_top_level': 0,
                                    'is_link': theme_datatype.is_link,
                                    'display_type': theme_datatype.display_type
                                } %}
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </div><!-- End of .ODRInnerBox -->
        </div><!-- End of .ThemeElement -->

    {% endif %}

{% endfor %}

{% endspaceless %}
