{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = datatype.themes[theme_id] %}

{% if is_top_level == 0 and (display_type == 1 or display_type == 2) %}
    {# tabbed or dropdown display_type #}
    <div id="DataTypeTools_{{ datarecord.id }}" class="ResultsDataTypeTools">
        <span style="float: right;">
            <i class="tooltip fa fa-globe {% if not datarecord.dataRecordMeta.publicDate|is_public %}IconRed{% endif %}" title="{% if is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if not datarecord.dataRecordMeta.publicDate|is_public %}not {% endif %}Public" style="cursor:default;"></i>
        </span>
    </div>
{% endif %}


{% for theme_element in theme.themeElements %}

    {% if not theme_element|is_empty(datarecord) %}

        <div rel="{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
            <div class="ODRInnerBox">

                {% if theme_element.themeDataFields is defined %}
                    {% for theme_datafield in theme_element.themeDataFields %}
                        {% if theme_datafield.dataField is not defined %}
                            <div class="pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"></div>
                            {# user doesn't have permissions to see this datafield #}
                        {% else %}
                            {% set datafield = theme_datafield.dataField %}

                            {% if theme_datafield.hidden == 0 %}
                                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}" rel="{{ theme.id }}">
                                    {% if datafield.dataFieldMeta.fieldType.typeName == "Markdown" %}
                                        {% include 'ODRAdminBundle:Display:display_markdown.html.twig' with {'datafield': datafield} %}
                                    {% else %}
                                        {% include 'ODRAdminBundle:Display:display_datafield.html.twig' with {
                                            'datarecord': datarecord,
                                            'datafield': datafield,
                                            'image_thumbnails_only': false,
                                        } %}
                                    {% endif %}
                                </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                {% elseif theme_element.themeDataType is defined %}

                    {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
                    {% for theme_datatype in theme_element.themeDataType %}
                        {% set child_datatype = theme_datatype.dataType %}

                        {# locate the child datatype's id #}
                        {% set child_datatype_id = '' %}
                        {% for c_dt_id, c_dt in child_datatype %}
                            {% set child_datatype_id = c_dt_id %}
                        {% endfor %}

                        {% if child_datatype_id != '' and theme_datatype.hidden == 0 %}
                            {# locate the master theme id for this child datatype #}
                            {% set child_theme_id = '' %}
                            {% for t_id, t in child_datatype[ child_datatype_id ]['themes'] %}
                                {# Match the parent theme passed to this system #}
                                {% if theme.parentTheme != null and theme.parentTheme.id > 0 %}
                                    {% if t.parentTheme != null and t.parentTheme.id == theme.parentTheme.id %}
                                        {% set child_theme_id = t['id'] %}
                                    {% endif %}
                                    {# Or just use master #}
                                {% else %}
                                    {% if t['themeType'] == 'master' %}
                                        {% set child_theme_id = t['id'] %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {# pass all child datarecords of this child datatype to display_childtype.html.twig at once #}
                            {% if datarecord['children'][ child_datatype_id ] is defined %}
                                {% set datarecord_array = datarecord['children'][ child_datatype_id ] %}

                                {% include 'ODRAdminBundle:Display:display_childtype.html.twig' with {
                                    'datatype_array': child_datatype,
                                    'datarecord_array': datarecord_array,
                                    'theme_id': child_theme_id,

                                    'target_datatype_id': child_datatype_id,
                                    'parent_datarecord_id': datarecord.id,

                                    'is_top_level': 0,
                                    'is_link': theme_datatype.is_link,
                                    'display_type': theme_datatype.display_type
                                } %}
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </div><!-- End of .ODRInnerBox -->
        </div><!-- End of .ThemeElement -->

    {% endif %}

{% endfor %}

{% endspaceless %}
