{% spaceless %}

<div class="ODRCreatedBy pure-u-1 PadRight">
{% if can_edit_datarecord %}
    <strong>Created by: </strong>{{ datarecord.createdBy.getuserstring }}
    <strong>on</strong> {{ datarecord.created|date('Y-m-d h:m:s') }} (UTC-5)
    <strong>Last Modified by: </strong>{{ datarecord.updatedBy.getuserstring }}
    <strong>on</strong> {{ datarecord.updated|date('Y-m-d h:m:s') }} (UTC-5)
{% endif %}
</div>

<div class="pure-u-1 clearfix">

    <div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-3">
    {% if can_edit_datarecord %}
        <button id="ODREditButton" type="button" class="pure-button pure-button-primary"
                onclick="loadDataRecord({{ datarecord.id }}, 'edit', {{ offset }});">Edit DataRecord</button>
    {% endif %}

        <button id="ODRDownloadAllFilesButton" type="button" class="pure-button pure-button-primary"
                onclick="openFileDownloadDialog( {{ datarecord.id }}, 0, 0 );">Download Files...</button>
    </div>

    {% if search_key != '' %}
        <div class="pure-u-1 pure-u-md-2-3 pure-u-xl-2-3" style="text-align: right">
            {% include 'ODRAdminBundle:Default:search_header.html.twig'
            with {
                'search_theme_id': search_theme_id,
                'search_key': search_key,
                'offset': offset,
                'page_length': page_length,
                'prev_datarecord': prev_datarecord,
                'next_datarecord': next_datarecord,
                'redirect_path': redirect_path,
                'search_result_current': search_result_current,
                'search_result_count': search_result_count
            } %}
        </div>
    {% endif %}
</div>

<script>
    $(function() {
        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');
    });
</script>

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(search_theme_id, search_key) }}

{% endspaceless %}
