{% spaceless %}

{% set TABLE_CONTENT = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::DATATABLES_CONTENT') %}
{% set DATATYPE_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATATYPE_PLUGIN') %}
{% set ARRAY_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::ARRAY_PLUGIN') %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% set is_datatype_admin = false %}
{% if datatype_permissions[ datatype.id ] is defined
    and datatype_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
    {% set is_datatype_admin = true %}
{% endif %}

{% set rendering_options = {
    'record_display_view': record_display_view,

    'is_top_level': is_top_level,
    'is_link': is_link,
    'display_type': display_type,
    'multiple_allowed': multiple_allowed,
    'context': 'display',
    'is_datatype_admin': is_datatype_admin
} %}

{# Determine whether any array render plugins need to be run #}
{% for rpi_num,rpi in datatype.renderPluginInstances %}
    {% set array_plugin_return = null %}
    {% set can_execute_plugin = false %}
    {% if rpi.renderPlugin.plugin_type == ARRAY_PLUGIN and rpi.renderPlugin.active %}
        {% set can_execute_current_plugin = rpi|can_execute_array_plugin(datatype, rendering_options) %}

        {% if can_execute_current_plugin %}
            {# If the plugin can execute, do so #}
            {% set array_plugin_return = datarecord_array|array_plugin(datatype, rpi, theme_array, rendering_options, parent_datarecord) %}

            {# If the plugin returned anything, then update the stacked arrays with the changes #}
            {% if array_plugin_return is not null %}
                {% set datatype = array_plugin_return.getdatatypearray %}
                {% set datarecord_array = array_plugin_return.getdatarecordarray %}
                {% set theme_array = array_plugin_return.getthemearray %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Determine whether a datatype render plugin needs to be run #}
{% set render_plugin_instance = null %}
{% set can_execute_plugin = false %}
{% for rpi_num,rpi in datatype.renderPluginInstances %}
    {% if rpi.renderPlugin.plugin_type == DATATYPE_PLUGIN and rpi.renderPlugin.overrideChild and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
        {% set can_execute_current_plugin = rpi|can_execute_datatype_plugin(datatype, rendering_options) %}

        {# Only want to save the render_plugin_instance if it's render-able #}
        {% if can_execute_current_plugin %}
            {% set can_execute_plugin = true %}
            {% set render_plugin_instance = rpi %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set content = '' %}
{% if can_execute_plugin and render_plugin_instance.renderPlugin.overrideChild %}
    {% set content = datarecord_array|datatype_plugin(datatype, render_plugin_instance, theme_array, rendering_options, parent_datarecord, datatype_permissions, datafield_permissions) %}
    {% if content|length > 0 %}
        <!-- Start {{ render_plugin_instance.renderPlugin.pluginName }} override child html -->
        {{ content|raw }}
        <!-- End {{ render_plugin_instance.renderPlugin.pluginName }} override child html -->
    {% endif %}
{% endif %}

{% if not can_execute_plugin or content|length == 0 %}
    <div id="DataType_{{ datatype.id }}" class="ODRDataType pure-u-1">

        {% include 'ODRAdminBundle:Default:fieldarea_header.html.twig' with {
            'context' : 'display',

            'datatype': datatype,
            'parent_datarecord': parent_datarecord,
            'datarecord_list': datarecord_array,

            'datatype_permissions': datatype_permissions,

            'is_top_level': is_top_level,
            'is_link': is_link,
            'display_type': display_type,
            'multiple_allowed': multiple_allowed,
        } %}

        {% if display_type != TABLE_CONTENT %}
            {% for dr_id, datarecord in datarecord_array %}

                {% include 'ODRAdminBundle:Display:accordion_header.html.twig' with {
                    'datarecord': datarecord,
                    'datatype': datatype,

                    'is_top_level': is_top_level,
                    'display_type': display_type
                } %}

                <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
                    {% include 'ODRAdminBundle:Display:display_childtype_fieldarea.html.twig' with {
                        'datatype_array': datatype_array,
                        'datarecord': datarecord,
                        'theme_array': theme_array,

                        'parent_datarecord': parent_datarecord,
                        'target_datatype_id': target_datatype_id,
                        'target_datarecord_id': datarecord.id,
                        'target_theme_id': target_theme_id,

                        'datatype_permissions': datatype_permissions,
                        'datafield_permissions': datafield_permissions,

                        'record_display_view': record_display_view,
                        'is_top_level': is_top_level,
                        'is_link': is_link,
                        'display_type': display_type,
                        'multiple_allowed': multiple_allowed,
                    } %}
                </div><!-- End of #FieldArea_{{ datarecord.id }} -->
            {% endfor %}

        {% else %}
            {% include 'ODRAdminBundle:Display:display_setup_table_layout.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord_array': datarecord_array,
                'theme_array': theme_array,

                'parent_datarecord': parent_datarecord,
                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
                'is_link': is_link,
                'display_type': display_type,
                'multiple_allowed': multiple_allowed,
            } %}
        {% endif %}

        {% include 'ODRAdminBundle:Default:fieldarea_footer.html.twig' with {
            'display_type': display_type,
            'is_top_level': is_top_level,
        } %}

    </div><!-- End of #DataType_{{ datatype.id }} -->

{% endif %}

{% endspaceless %}
