{% spaceless %}

{% set DATAFIELD_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATAFIELD_PLUGIN') %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% set valuefield_value = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}

    {% if field_typename == "Boolean" and datarecordfield.boolean[0] is defined %}
        {% set valuefield = datarecordfield.boolean[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "File" %}
        {% set valuefield = datarecordfield.file %}
    {% elseif field_typename == "Image" %}
        {% set valuefield = datarecordfield.image %}
    {% elseif field_typename == "Decimal" and datarecordfield.decimalValue[0] is defined %}
        {% set valuefield = datarecordfield.decimalValue[0] %}
        {% set valuefield_value = valuefield.original_value %}
    {% elseif field_typename == "Integer" and datarecordfield.integerValue[0] is defined %}
        {% set valuefield = datarecordfield.integerValue[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Paragraph Text" and datarecordfield.longText[0] is defined %}
        {% set valuefield = datarecordfield.longText[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Long Text" and datarecordfield.longVarchar[0] is defined %}
        {% set valuefield = datarecordfield.longVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Medium Text" and datarecordfield.mediumVarchar[0] is defined %}
        {% set valuefield = datarecordfield.mediumVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typeclass == "Radio" %}
        {% set valuefield = datarecordfield.radioSelection %}
    {% elseif field_typeclass == "Tag" %}
        {% set valuefield = datarecordfield.tagSelection %}
    {% elseif field_typename == "Short Text" and datarecordfield.shortVarchar[0] is defined %}
        {% set valuefield = datarecordfield.shortVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "DateTime" and datarecordfield.datetimeValue[0] is defined %}
        {% set valuefield = datarecordfield.datetimeValue[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "XYZ Data" %}
        {% set valuefield = datarecordfield.xyzData %}

        {% set labels = datafield_meta.xyz_data_column_names|split(',') %}
        {% for num,xyz_data in valuefield %}
            {% if labels|length == 1 %}
                {% set valuefield_value = valuefield_value ~ '(' ~ xyz_data.x_value ~ ')' %}
            {% elseif labels|length == 2 %}
                {% set valuefield_value = valuefield_value ~ '(' ~ xyz_data.x_value ~ ',' ~ xyz_data.y_value ~ ')' %}
            {% elseif labels|length == 3 %}
                {% set valuefield_value = valuefield_value ~ '(' ~ xyz_data.x_value ~ ',' ~ xyz_data.y_value ~ ',' ~ xyz_data.z_value ~ ')' %}
            {% endif %}

            {% if not loop.last %}
                {% set valuefield_value = valuefield_value ~ '|' %}
            {% endif %}
        {% endfor %}
    {% elseif field_typename == "Markdown" %}
        {% set valuefield = '' %}
    {% endif %}
{% endif %}

{% if valuefield == '' and (field_typename == 'File' or field_typename == 'Image' or field_typeclass == 'Radio') %}
    {% set valuefield = [] %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}
{% set input_id = field_typeclass ~ 'Form_' ~ unique_id %}

    <form class="pure-u-1" id="ViewForm_{{ unique_id }}">

    {# Determine whether a render plugin needs to be run #}
    {% set rendering_options = {'is_link': is_link, 'is_datatype_admin': is_datatype_admin, 'context': 'display'} %}
    {% set render_plugin_instance = null %}
    {% set can_execute_plugin = false %}

    {% for rpi_num,rpi in datafield.renderPluginInstances %}
        {% if rpi.renderPlugin.plugin_type == DATAFIELD_PLUGIN and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
            {% set can_execute_plugin = rpi|can_execute_datafield_plugin(datafield, datarecord, rendering_options) %}

            {# Only want to save the render_plugin_instance if it's render-able #}
            {% if can_execute_plugin %}
                {% set render_plugin_instance = rpi %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% set content = '' %}
    {% if can_execute_plugin %}
        {% set content = datafield|datafield_plugin(datarecord, render_plugin_instance, rendering_options) %}
    {% endif %}

    {% if can_execute_plugin and content|length > 0 %}
        {# TODO - ...require the render plugin to also handle the <form> element? #}
        {{ content|raw }}

    {% elseif field_typename == "Boolean" %}
        <fieldset>
            <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">
                <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                    <input id="{{ input_id }}" type="checkbox" value="1" {% if valuefield_value == 1 %}checked{% endif %} disabled />
                    {{ datafield_meta.fieldName }}
                </div>
            </label>
        </fieldset>

    {% elseif field_typename == "File" %}
        {#<fieldset class="pure-u-1">#}
            <div class="ODRFileDatafield">
                <div class="ODRFileDatafield_header pure-u-1">
                    <i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>&nbsp;
                    <span title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
                </div>
                {% for file in valuefield %}
                    {% set file_meta = file.fileMeta %}
                    <div id="File_{{ file.id }}" class="ODRFileDatafield_file pure-u-1">
                        <span class="ODRFileSpacer">&nbsp;</span>

                        <span class="ODRTruncateFilename">
                            {% set filename = file_meta.originalFileName %}
                            {% if file_meta.originalFileName == null %}
                                {% set filename = 'File_' ~ file.id ~ '.' ~ file.ext %}
                            {% endif %}

                            <span class="ODRFileInfoDiv">
                                <i class="fa fa-lg fa-info-circle {% if file_meta.publicDate|is_public %}ODRPublic{% else %}ODRNotPublic{% endif %}"></i>
                                <span class="ODRFileInfo">
                                    <div>
                                        <i class="fa fa-globe ODRPublicFile {% if file_meta.publicDate|is_public %}ODRPublic{% else %}ODRNotPublic{% endif %}"></i>&nbsp;
                                        <span>{% if not file_meta.publicDate|is_public %}File is not public{% else %}File was made public on {{ file_meta.publicDate|date('Y-m-d') }}{% endif %}</span>
                                    </div>
                                    <div>
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy|user_string }}
                                    </div>
                                    <div>
                                        <i class="fa fa-file-o"></i>&nbsp;
                                        {{ file.filesize|filesize }}
                                    </div>
                                </span>
                            </span>
                            <a {#href="{{ path('odr_file_download', { 'file_id': file.id } ) }}"#} class="ODRFileDownload" title="{{ filename }}" rel="{{ file.id }}">{{ filename }}</a>
                        </span>

                        {% if datafield_meta.quality_str != '' %}
                            {% include 'ODRAdminBundle:Display:file_quality.html.twig' with {
                                'datafield': datafield,
                                'file': file,
                                'meta': file_meta,
                            } %}
                        {% endif %}

                        <span id="ODRFileDecrypt_{{ file.id }}_overlay" class="ODRFakeProgressBar_overlay" {% if file.original_checksum != '' %}style="visibility:hidden;"{% endif %}>
                            <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRFakeProgressBar"></span>
                        </span>

                        {# NOTE - would be using encryptKey, but that property is stripped out of the cached array #}
                        {% if file.original_checksum == '' %}
                            <script>
                                $(function() {
                                    createFileEncryptProgressCheck({{ file.id }}, {{ datarecord.id }}, {{ datafield.id }});
                                });
                            </script>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="ODRFileDatafield_empty pure-u-1">
                        <span class="ODRFileSpacer_empty">&nbsp;</span>
                        <a class="Cursor">No Files Uploaded</a>
                    </div>
                {% endfor %}
            </div>
        {#</fieldset>#}

    {% elseif field_typename == "Image" %}
        {#<fieldset>#}
            <div class="ODRFileDatafield_header ODRFileImageHeader pure-u-1 {% if themeDatafield.hideHeader %}ODRFileImageHeader_hidden{% endif %}">
                <span title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
            </div>
            <div id="imagegallery_{{ datafield.id }}_{{ datarecord.id }}" class="ODRImageGallery pure-u-1">
                {#<label id="Label_{{ datafield.id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>#}
                <i id="ODRImageLeft_{{ datafield.id }}_{{ datarecord.id }}" class="ODRGalleryLeftArrow Pointer fa fa-2x fa-chevron-left" rel="{{ datafield.id }}_{{ datarecord.id }}"></i>
                <i id="ODRImageRight_{{ datafield.id }}_{{ datarecord.id }}" class="ODRGalleryRightArrow Pointer fa fa-2x fa-chevron-right" rel="{{ datafield.id }}_{{ datarecord.id }}"></i>
                <div class="ODRImageGalleryImage pure-u-1"></div>
            </div>
            <div id="imagestorage_{{ datafield.id }}_{{ datarecord.id }}" class="ODRHidden" rel="{{ datafield_meta.children_per_row }}">

                {% for image in valuefield %}
                    {% set oimage = image.parent %}
                    {% set oimage_meta = oimage.imageMeta %}
                    {% set image_ext = oimage.ext %}
                    {% set image_caption = oimage.imageMeta.caption %}
                    {% set image_filename = oimage.imageMeta.originalFileName %}
                    {% set public_image_filename = 'Image_' ~ image.id ~ '.' ~ oimage.ext %}

                    <div id="Image_{{ oimage.id }}" class="ODRImage pure-u-1-{{ datafield_meta.children_per_row }}" rel="{{ image.id }}">    {# rel is the id of the thumbnail, id attr is the id of the full-size image #}
                        {% if datafield_meta.quality_str != '' %}
                            {% include 'ODRAdminBundle:Display:file_quality.html.twig' with {
                                'datafield': datafield,
                                'file': oimage,
                                'meta': oimage_meta,
                            } %}
                        {% endif %}

                        <a target="_blank" href="{{ path('odr_image_download', {'image_id': oimage.id}) }}" title="{{ image_caption }}">
                            {% if oimage_meta.publicDate|date('U') < 'now'|date('U') %}
                                <img class="pure-img" src="{{ config_site_baseurl }}{{ config_images_directory }}/{{ public_image_filename }}" title="{% if image_filename != null %}{{ image_filename }}{% else %}Image_{{ image.id }}.{{ image_ext }}{% endif %}" />
                            {% else %}
                                <img class="pure-img" src="{{ path('odr_image_download', {'image_id': image.id}) }}#{{ oimage_meta.updated|date('U') }}" title="{% if image_filename != null %}{{ image_filename }}{% else %}Image_{{ image.id }}.{{ image_ext }}{% endif %}" />
                            {% endif %}
                        </a>
                    </div>
            {% endfor %}
            </div>
        {#</fieldset>#}

    {% elseif field_typename == "Paragraph Text" %}
        <fieldset>
            <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                <textarea id="{{ input_id }}" class="pure-u-1 Cursor" readonly="readonly">{{ valuefield_value }}</textarea>
            </div>
        </fieldset>

    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
        <fieldset>
            <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                <input id="{{ input_id }}" class="pure-u-1 Cursor" type="text" value="{{ valuefield_value }}" readonly="readonly"/>
            </div>
        </fieldset>

    {% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" or field_typename == "Single Select" or field_typename == "Multiple Select" %}
        <fieldset>
            <label class="ODRFieldLabel pure-u-1" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>

            {% if datafield.radioOptions is defined %}
                {% for radio_option in datafield.radioOptions %}
                    {% set is_selected = 0 %}
                    {% if datarecordfield.radioSelection[ radio_option.id ] is defined %}
                        {% set is_selected = datarecordfield.radioSelection[ radio_option.id ].selected %}
                    {% endif %}

                    {% if datafield_meta.radio_option_display_unselected == 1 or is_selected == 1 %}
                        <label for="Input_{{ unique_id }}_{{ radio_option.id }}" class="pure-u-1 {% if field_typename == "Multiple Radio" or field_typename == "Multiple Select" %}pure-u-md-1-{{ datafield_meta.children_per_row }}{% endif %} ODRResults_radio">

                        {% if field_typename == "Single Radio" or field_typename == "Single Select" %}
                            <input id="Input_{{ unique_id }}_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ unique_id }}" {% if is_selected == 1 %}checked{% endif %} disabled class="SingleRadioGroup" />
                        {% else %}
                            <input id="Input_{{ unique_id }}_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ unique_id }}" {% if is_selected == 1 %}checked{% endif %} disabled class="MultipleRadioGroup" />
                        {% endif %}

                        {{ radio_option.radioOptionMeta.optionName }}
                        </label>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </fieldset>

    {% elseif field_typename == "Tags" %}
        <fieldset>
            <label class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            {% if datafield.tags is defined %}
                {% include 'ODRAdminBundle:Display:tag_wrapper.html.twig' with {
                    'datafield': datafield,
                    'stacked_tags': datafield.tags,

                    'drf': datarecordfield,
                    'unique_id': unique_id,
                } %}
            {% endif %}
        </fieldset>

        <script>
            $(function() {
                // Due to potentially having multiple tag fields with different values for display_unselected...
                // Need to separately initialize the tag tree for each field
                {% if datafield_meta.radio_option_display_unselected == 1 %}
                setupTagTree( $("#Field_{{ unique_id }}"), 3);
                {% else %}
                setupTagTree( $("#Field_{{ unique_id }}"), 2);
                {% endif %}
                {# TODO - will need to figure out another solution if something reloads a tag field in Display #}
            });
        </script>

    {% elseif field_typename == "DateTime" %}
        <fieldset>
            <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                <input id="{{ input_id }}" type="text" class="pure-u-1 Cursor" value="{% if valuefield_value != '' and valuefield_value|date('Y-m-d') != "9999-12-31" %}{{ valuefield_value|date('Y-m-d') }}{% endif %}" readonly="readonly" />
            </div>
        </fieldset>

    {% elseif field_typename == "XYZ Data" %}
        <fieldset>
            <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                {% if is_datatype_admin and datafield_meta.xyz_data_column_names|trim == '' %}
                <span class="ODRInputError">No column names defined!</span>
                {% else %}
                <textarea id="{{ input_id }}" class="pure-u-1 Cursor" readonly="readonly">{{ valuefield_value }}</textarea>
                {% endif %}
            </div>
        </fieldset>

    {% endif %}

</form>
{% endspaceless %}
