{% spaceless %}

{% set DATAFIELD_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATAFIELD_PLUGIN') %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% set valuefield_value = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}

    {% if field_typename == "Boolean" and datarecordfield.boolean[0] is defined %}
        {% set valuefield = datarecordfield.boolean[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "File" %}
        {% set valuefield = datarecordfield.file %}
    {% elseif field_typename == "Image" %}
        {% set valuefield = datarecordfield.image %}
    {% elseif field_typename == "Decimal" and datarecordfield.decimalValue[0] is defined %}
        {% set valuefield = datarecordfield.decimalValue[0] %}
        {% set valuefield_value = valuefield.original_value %}
    {% elseif field_typename == "Integer" and datarecordfield.integerValue[0] is defined %}
        {% set valuefield = datarecordfield.integerValue[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Paragraph Text" and datarecordfield.longText[0] is defined %}
        {% set valuefield = datarecordfield.longText[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Long Text" and datarecordfield.longVarchar[0] is defined %}
        {% set valuefield = datarecordfield.longVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Medium Text" and datarecordfield.mediumVarchar[0] is defined %}
        {% set valuefield = datarecordfield.mediumVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typeclass == "Radio" %}
        {% set valuefield = datarecordfield.radioSelection %}
    {% elseif field_typeclass == "Tag" %}
        {% set valuefield = datarecordfield.tagSelection %}
    {% elseif field_typename == "Short Text" and datarecordfield.shortVarchar[0] is defined %}
        {% set valuefield = datarecordfield.shortVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "DateTime" and datarecordfield.datetimeValue[0] is defined %}
        {% set valuefield = datarecordfield.datetimeValue[0] %}
        {% set valuefield_value = valuefield.value %}
    {% elseif field_typename == "Markdown" %}
        {% set valuefield = '' %}
    {% endif %}
{% endif %}

{% if valuefield == '' and (field_typename == 'File' or field_typename == 'Image' or field_typeclass == 'Radio') %}
    {% set valuefield = [] %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}
{% set input_id = field_typeclass ~ 'Form_' ~ unique_id %}

    {# Determine whether a render plugin needs to be run #}
    {% set rendering_options = {'is_link': is_link, 'is_datatype_admin': false, 'context': 'text'} %}    {# NOTE: intentionally not 'display', as it is in 'display_datafield.html.twig' #}
    {% set render_plugin_instance = null %}
    {% set can_execute_plugin = false %}

    {% for rpi_num,rpi in datafield.renderPluginInstances %}
        {% if rpi.renderPlugin.plugin_type == DATAFIELD_PLUGIN and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
            {% set can_execute_plugin = rpi|can_execute_datafield_plugin(datafield, datarecord, rendering_options) %}

            {# Only want to save the render_plugin_instance if it's render-able #}
            {% if can_execute_plugin %}
                {% set render_plugin_instance = rpi %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% set content = '' %}
    {% if can_execute_plugin %}
        {% set content = datafield|datafield_plugin(datarecord, render_plugin_instance, rendering_options) %}
    {% endif %}

    {% if can_execute_plugin and content|length > 0 %}
        {# TODO - ...require the render plugin to also handle the <form> element? #}
        {{ content|raw }}

    {% elseif field_typename == "Boolean" %}
        <input id="{{ input_id }}" type="checkbox" value="1" {% if valuefield_value == 1 %}checked{% endif %} disabled />

    {% elseif field_typename == "File" %}
        {% for file in valuefield %}
            {% set file_meta = file.fileMeta %}
            {% set filename = file_meta.originalFileName %}
            {% if file_meta.originalFileName == null %}
                {% set filename = 'File_' ~ file.id ~ '.' ~ file.ext %}
            {% endif %}

            <a {#href="{{ path('odr_file_download', { 'file_id': file.id } ) }}"#} class="ODRFileDownload" title="{{ filename }}" rel="{{ file.id }}">{{ filename }}</a>

        {% else %}
             <a class="Cursor">No Files Uploaded</a>
        {% endfor %}

    {% elseif field_typename == "Image" %}
        {% for image in valuefield %}
            {% set oimage = image.parent %}
            {% set oimage_meta = oimage.imageMeta %}
            {% set image_ext = oimage.ext %}
            {% set image_caption = oimage.imageMeta.caption %}
            {% set image_filename = oimage.imageMeta.originalFileName %}

            <a target="_blank" href="{{ path('odr_image_download', {'image_id': oimage.id}) }}" title="{{ image_caption }}">{{ image_filename }}</a>

        {% else %}
            <a class="Cursor">No Images Uploaded</a>
        {% endfor %}

    {% elseif field_typename == "Paragraph Text" %}
        {{ valuefield_value }}

    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
        {{ valuefield_value }}

    {% elseif field_typename == "Single Radio" or field_typename == "Single Select" %}
        {% if datafield.radioOptions is defined %}
            {% for radio_option in datafield.radioOptions %}
                {% set is_selected = 0 %}
                {% if datarecordfield.radioSelection[ radio_option.id ] is defined %}
                    {% set is_selected = datarecordfield.radioSelection[ radio_option.id ].selected %}
                {% endif %}

                {% if is_selected == 1 %}
{#                <label for="Input_{{ unique_id }}_{{ radio_option.id }}" class="pure-u-1 pure-u-md-1-{{ datafield_meta.children_per_row }} ODRResults_radio">#}
                    <input id="Input_{{ unique_id }}_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ unique_id }}" {% if is_selected == 1 %}checked{% endif %} disabled class="SingleRadioGroup" />
                    {{ radio_option.radioOptionMeta.optionName }}
{#                </label>#}
                {% endif %}
            {% endfor %}
        {% endif %}

    {% elseif field_typename == "Multiple Radio" or field_typename == "Multiple Select" %}

    {% elseif field_typename == "Tags" %}
        {#
        <fieldset>
            <label class="ODRFieldLabel pure-u-1" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>
            {% if datafield.tags is defined %}
                {% include 'ODRAdminBundle:Display:tag_wrapper.html.twig' with {
                    'datafield': datafield,
                    'stacked_tags': datafield.tags,

                    'drf': datarecordfield,
                    'unique_id': unique_id,
                } %}
            {% endif %}
        </fieldset>
        #}

    {% elseif field_typename == "DateTime" %}
        {% if valuefield_value != '' and valuefield_value|date('Y-m-d') != "9999-12-31" %}{{ valuefield_value|date('Y-m-d') }}{% endif %}

    {% endif %}

{% endspaceless %}
