{% spaceless %}

<div class="ODRCreatedBy pure-u-1 PadRight">
{% if can_edit_datarecord %}
    <strong>Created by: </strong>{{ datarecord.createdBy.getuserstring }}
    <strong>on</strong> {{ datarecord.created|date('Y-m-d h:m:s') }} (UTC-5)
    <strong>Last Modified by: </strong>{{ datarecord.updatedBy.getuserstring }}
    <strong>on</strong> {{ datarecord.updated|date('Y-m-d h:m:s') }} (UTC-5)
{% endif %}
</div>

<div class="pure-u-1 clearfix">

    <div class="pure-u-1 pure-u-md-1-2">
    {% if can_edit_datarecord %}
        <button id="ODREditRecord" type="button" class="pure-button pure-button-primary">Edit DataRecord</button>
    {% endif %}

    {% if can_add_datarecord and datatype.isMasterType == 0 %}
        <button id="ODRAddRecord" type="button" class="pure-button pure-button-primary">Add New Record</button>
    {% endif %}

        <button id="ODRDownloadAllFilesButton" type="button" class="pure-button pure-button-primary">Download Files...</button>
    </div>

    {% if search_key != '' %}
        <div class="pure-u-1 pure-u-md-1-2" style="text-align: right">
            {% include 'ODRAdminBundle:Default:search_header.html.twig'
            with {
                'search_theme_id': search_theme_id,
                'search_key': search_key,
                'offset': offset,
                'page_length': page_length,
                'prev_datarecord': prev_datarecord,
                'next_datarecord': next_datarecord,
                'redirect_path': redirect_path,
                'search_result_current': search_result_current,
                'search_result_count': search_result_count,

                'page_type': 'display'
            } %}
        </div>
    {% endif %}
</div>

<script>
    $(function() {
        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

{% if can_edit_datarecord %}
        $("#ODREditRecord").unbind('click').click(function() {
            loadDataRecord({{ datarecord.id }}, 'edit', '{{ offset }}');
        });
{% endif %}

{% if can_add_datarecord and datatype.isMasterType == 0 %}
        $("#ODRAddRecord").unbind('click').click(function() {
            var url = '{{ path('odr_edit_fake_record', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += {{ datarecord.datatype.id }};

            UpdateURL(url);
        });
{% endif %}

        $("#ODRDownloadAllFilesButton").unbind('click').click(function() {
            openFileDownloadDialog( {{ datarecord.id }}, 0, 0 );
        });
    });
</script>

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(search_theme_id, search_key) }}

{% endspaceless %}
