{% spaceless %}

{% set drf_list = datarecord.dataRecordFields %}


{% if datatype.display_type == 1 or datatype.display_type == 2 %}
    {% if datarecord.grandparent.id != null %}
    <div id="DataTypeTools_{{ datarecord.id }}" class="ResultsDataTypeTools"><span style="float: right;">
        {#<i class="tooltip fa fa-globe {% if datarecord.ispublic == false %}IconRed{% endif %}" title="{% if datatype_tree.is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if datarecord.ispublic == false %}not {% endif %}Public" style="cursor:default;"></i> #}
    </span></div>
    {% endif %}
{% endif %}


{% for theme_element in theme_data_by_type[datatype.id] %}
        {#{% include 'ODRAdminBundle:Results:element_style.html.twig' with {'element': theme_element, 'theme': theme} %}#}

    <div class="{% if datarecord.parent.id == datarecord.grandparent.id %}ODRTopLevel {% endif %}ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.cssWidthMed }} pure-u-xl-{{ theme_element.cssWidthXL }}">
    <div class="ODRInnerBox">

        {# TODO Ask Alex what displayInResults was used for -
           believe it is deprecated due to new structure #}
    {# {% if theme_element.displayInResults %} #}
        {% for field in theme_element.themeElementField %}
            {% if field.dataFields|length > 0 %}
                {# Output via results_datafield or markdown #}
                    {% set datafield = field.dataFields %}
                    {% set theme_datafield = datafield.themeDataField %}

                    {#
                       TODO determine if this will always work.
                       theme_datafield is an array due to the possibility of multiple themes.
                       Current queries restrict theme so only one is returned.
                    #}
                    <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield[0].cssWidthMed }} pure-u-xl-{{ theme_datafield[0].cssWidthXL }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}">
                    {% if datafield.fieldType.typeName == "Markdown" %}
                        {% include 'ODRAdminBundle:Display:results_markdown.html.twig' with {'field': datafield} %}
                    {% else %}
                        {# TODO Refactor Memcached Data to use DRF_IDs for DRF array #}
                        {%  set datarecordfield = '' %}
                        {% for drf in drf_list %}
                            {% if drf.dataField.id == datafield.id %}
                                {% set datarecordfield = drf %}
                            {% endif %}
                        {%  endfor %}
                        {% include 'ODRAdminBundle:Display:results_datafield.html.twig' with {'theme_datafield': theme_datafield, 'datafield': datafield, 'datatype': datatype, 'datarecord': datarecord, 'datarecordfield': datarecordfield} %}
                    {% endif %}
                    </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->
            {% elseif field.dataType|length > 0 %}
                {# Render plugin created output below #}
                {% set childtype = field.dataType %}
                {% set first_child = '' %}
                {% for dr_entry in data_record_array[datarecord.id]  %}
                    {% if dr_entry.dataType.id == childtype.id and first_child == '' %}
                        {% set first_child = dr_entry %}
                    {% endif %}
                {%  endfor %}

                {% if first_child == '' %}
                    {% for dr_entry in linked_data_array[datarecord.id]  %}
                        {% if dr_entry.dataType.id == childtype.id and first_child == '' %}
                            {% set first_child = dr_entry %}
                        {% endif %}
                    {%  endfor %}
                {%  endif %}

                {%  if first_child != '' %}
                <div class="ODRChildDatatype" id="ChildTypeWrapper_{{ childtype.id }}_{{ first_child.id }}">

                    {% set mylayout = "default" %}
                {# {% for rpi in childtype.getrenderplugin.getrenderplugininstance %}
                        {% if rpi.getdatatype.id == childtype.id %}
                            {% for myoption in rpi.getrenderpluginoptions %}
                                {% if myoption.optionname == "layout" %}
                                    {% set mylayout = myoption.optionvalue %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %} #}

                    {% if mylayout == "13_23" %}
                        {# Data Fields for all child types are rendered here #}
                        <div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-3">
                        {#
                        {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
                        {{ mychildform.input(datarecord.id, first_child.id, data_record_array, linked_data_array, theme_data_by_type) }}
                        #}

                        {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': datarecord.id, 'data_record_id': first_child.id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}
                        </div>
                        
                        {# Graphs for plugins are rendered here #}
                        <div class="pure-u-1 pure-u-md-2-3 pure-u-xl-2-3">
                            {#
                        {% if childtype.getrenderplugin.getoverridechild and dr_entry.rendered_child_datarecords_html[childtype.id] is defined %}
                            <!-- child_override render plugin html -->
                            {{ dr_entry.rendered_child_datarecords_html[childtype.id]|raw }}
                        {% endif %}
                            #}
                        </div>
                    {% elseif mylayout == "23_13" %}
                        {# Data Fields for all child types are rendered here #}
                        <div class="pure-u-1 pure-u-md-2-3 pure-u-xl-2-3">
                            {#
                            {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
                            {{ mychildform.input(datarecord.id, first_child.id, data_record_array, linked_data_array, theme_data_by_type) }}
                            #}
                            {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': datarecord.id, 'data_record_id': first_child.id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}
                        </div>
                        
                        {# Graphs for plugins are rendered here #}
                        <div class="pure-u-1 pure-u-md-1-3 pure-u-xl-1-3">
                            {#
                        {% if childtype.getrenderplugin.getoverridechild and dr_entry.rendered_child_datarecords_html[childtype.id] is defined %}
                            <!-- child_override render plugin html -->
                            {{ dr_entry.rendered_child_datarecords_html[childtype.id]|raw }}
                        {% endif %}
                            #}
                        </div>
                    {% elseif mylayout == "14_34" %}
                        {# Data Fields for all child types are rendered here #}
                        <div class="pure-u-1 pure-u-md-1-4 pure-u-xl-1-4">
                            {#
                            {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
                            {{ mychildform.input(datarecord.id, first_child.id, data_record_array, linked_data_array, theme_data_by_type) }}
                            #}
                            {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': datarecord.id, 'data_record_id': first_child.id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}
                        </div>
                        
                        {# Graphs for plugins are rendered here #}
                        <div class="pure-u-1 pure-u-md-3-4 pure-u-xl-3-4">
                            {#
                        {% if childtype.getrenderplugin.getoverridechild and dr_entry.rendered_child_datarecords_html[childtype.id] is defined %}
                            <!-- child_override render plugin html -->
                            {{ dr_entry.rendered_child_datarecords_html[childtype.id]|raw }}
                        {% endif %}
                            #}
                        </div>
                    {% elseif mylayout == "34_14" %}
                        {# Data Fields for all child types are rendered here #}
                        <div class="pure-u-1 pure-u-md-3-4 pure-u-xl-3-4">
                        {#
                        {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
                        {{ mychildform.input(datarecord.id, first_child.id, data_record_array, linked_data_array, theme_data_by_type) }}
                        #}
                            {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': datarecord.id, 'data_record_id': first_child.id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}
                        </div>
                        
                        {# Graphs for plugins are rendered here #}
                        <div class="pure-u-1 pure-u-md-1-4 pure-u-xl-1-4">
                            {#
                        {% if childtype.getrenderplugin.getoverridechild and dr_entry.rendered_child_datarecords_html[childtype.id] is defined %}
                            <!-- child_override render plugin html -->
                            {{ dr_entry.rendered_child_datarecords_html[childtype.id]|raw }}
                        {% endif %}
                            #}
                        </div>
                    {% else %}
                        {#
                        {% import "ODRAdminBundle:Display:results_childtype.html.twig" as mychildform %}
                        {{ mychildform.input(datarecord.id, first_child.id, data_record_array, linked_data_array, theme_data_by_type) }}
                        #}
                        {%  include "ODRAdminBundle:Display:results_childtype.html.twig"  with { 'parent_data_record_id': datarecord.id, 'data_record_id': first_child.id, 'data_record_array': data_record_array, 'linked_data_array': linked_data_array, 'theme_data_by_type': theme_data_by_type} %}

                        {#
                    {% if childtype.getrenderplugin.getoverridechild and dr_entry.rendered_child_datarecords_html[childtype.id] is defined %}
                        <!-- child_override render plugin html -->
                        {{ dr_entry.rendered_child_datarecords_html[childtype.id]|raw }}
                    {% endif %}
                        #}
                    {% endif %}
                </div><!-- End of #ChildTypeWrapper_{{ childtype.id }}_{{ first_child.id }} -->
                {% endif %}
            {% endif %}
        {% endfor %}

    </div><!-- End of .ODRInnerBox -->
    </div><!-- End of .ThemeElement -->

{% endfor %}

{% endspaceless %}
