{% spaceless %}

{# Store whether this tag has any child tags #}
{% set has_children = false %}
{% if tag.children is defined and tag.children is not empty %}
    {% set has_children = true %}
{% endif %}

{# Store whether this tag is selected #}
{% set is_selected = 0 %}
{% if tag_selections[ tag.id ] is defined %}
    {% set is_selected = tag_selections[ tag.id ].selected %}
{% endif %}

<li class="ODRTagItem">
{% if has_children %}
    {% if display_unselected %}
        {# Have the tag tree start out collapsed if displaying all tags #}
        <span class="ODRTagSpacer ODRTagParent ODRTagCollapsed"><i class="fa fa-caret-right Pointer"></i></span>
    {% else %}
        {# If only selected tags are being displayed, don't collapse the tree to begin with #}
        <span class="ODRTagSpacer ODRTagParent"><i class="fa fa-caret-down Pointer"></i></span>
    {% endif %}
{% else %}
    <span class="ODRTagSpacer"></span>
{% endif %}
{#
{% if has_children %}
    <label class="ODRTagLabel">{{ tag.tagMeta.tagName|markdown }}</label>
{% else %}
#}
    <label for="TagForm_{{ unique_id }}_{{ tag.id }}" class="ODRTagLabel">
        <input id="TagForm_{{ unique_id }}_{{ tag.id }}" class="ODRTagEdit" type="checkbox" {% if is_selected == 1 %}checked{% endif %} disabled />&nbsp;
        {{ tag.tagMeta.tagName|markdown }}
    </label>
{#
{% endif %}
#}
{% if has_children %}
    <ul class="ODRTagGroup" {% if display_unselected %}style="display: none;"{% endif %}>    {# Have the tag tree start out collapsed #}
        {% for child_tag_id, child_tag in tag.children %}
            {# Store whether this child tag is selected #}
            {% set child_is_selected = 0 %}
            {% if tag_selections[ child_tag.id ] is defined %}
                {% set child_is_selected = tag_selections[ child_tag.id ].selected %}
            {% endif %}

            {# Store whether this child tag has children which are selected #}
            {% set grandchild_is_selected = 0 %}
            {% if child_tag_selections[ child_tag.id ] is defined %}
                {% set grandchild_is_selected = 1 %}
            {% endif %}

            {% if display_unselected or (child_is_selected == 1 or grandchild_is_selected == 1) %}
                {% include 'ODRAdminBundle:Display:tag.html.twig' with {
                    'display_unselected': display_unselected,

                    'tag_selections': tag_selections,
                    'child_tag_selections': child_tag_selections,
                    'tag': child_tag,
                } %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
</li>

{% endspaceless %}
