{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password pure-form pure-form-aligned">
    <fieldset>
        {{ form_errors(form) }}
        {{ form_errors(form.plainPassword.first) }}
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            <input type="submit" class="pure-button pure-button-primary" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </fieldset>

    {{ form_end(form) }}
</form>

<style>
    .pure-control-group {
        margin-top: 5px;
    }
</style>

