{% spaceless %}

<div class="header">
    <h2>User Profile{% if target_user != null %} - {{ target_user.getuserstring }}{% endif %}
        <span id="saved">&nbsp;&nbsp;&nbsp;SAVED</span>
    </h2>
</div>


{{ form_start(form, {
    'method': 'POST',
    'attr': {
        'id': 'ODRAdminChangePasswordForm',
        'class': 'ODRAdminChangePasswordForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div id="form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div id="password_errors"></div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div style="display: none">
            {{ form_rest(form) }}
        </div>

        <div class="pure-control-group">
            <input type="button" class="pure-button pure-button-primary" value="Change Password" onclick="submitForm();"/>
        </div>
    </fieldset>

{{ form_end(form) }}

{% include 'ODRAdminBundle:ODRUser:password_rules.html.twig' with {'form': form} %}

<script>
    $(function() {
        $("#saved").hide();
    });

    function submitForm() {
        if ( !ODR_isPasswordValid() ) {
            alert('Password is not valid');
            return;
        }

        var url = "{{ path('odr_admin_save_password') }}";
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: $("#ODRAdminChangePasswordForm").serialize(),
            success: function(data, textStatus, jqXHR) {
                if (data.r == 0) {
                    $('#saved').fadeIn();
                    setTimeout(function() {
                        $('#saved').fadeOut();
                    }, 2500);
                }
                else {
                    // Error in form
                    alert(data.d.html);
//                    window.location.reload();
                }
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });

    }
</script>

{% endspaceless %}
