{% spaceless %}

{{ form_start(form, {
    'method': 'POST',
    'attr': {
        'id': 'ODRAdminChangePasswordForm',
        'class': 'ODRAdminChangePasswordForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div id="form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div id="password_errors"></div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            <button id="submitButton" class="pure-button pure-button-primary">Change Password</button>
            <button class="pure-button ODRReturnToProfile">Return to Profile page</button>
        </div>

        <div style="display: none">
            {{ form_rest(form) }}
        </div>
    </fieldset>

{{ form_end(form) }}

{% endspaceless %}
