{% spaceless %}

<div class="header">
    <h2>User Profile{% if target_user != null %} - {{ target_user.getuserstring }}{% endif %}
        <span id="saved">&nbsp;&nbsp;&nbsp;SAVED</span>
    </h2>
</div>

<div>
    <button class="pure-button" onclick="returnToEditPage();">Return to Profile page</button>
</div>

{{ form_start(form, {
    'method': 'POST',
    'attr': {
        'id': 'ODRAdminChangePasswordForm',
        'class': 'ODRAdminChangePasswordForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div id="form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div id="password_errors"></div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div style="display: none">
            {{ form_rest(form) }}
        </div>
    </fieldset>

{{ form_end(form) }}

<button class="pure-button pure-button-primary ODRPasswordChange">Change Password</button>

{% include 'ODRAdminBundle:ODRUser:password_rules.html.twig' with {'form': form} %}

<script>
    $(function() {
        $("#saved").hide();

        $(".ODRPasswordChange").unbind('click').click(function() {
            submitForm();
        });
    });

    function submitForm() {
        if ( !ODR_isPasswordValid() ) {
            alert('Password is not valid');
            return;
        }

        var url = "{{ path('odr_admin_save_password') }}";
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: $("#ODRAdminChangePasswordForm").serialize(),
            success: function(data, textStatus, jqXHR) {
                if (data.r == 0) {
                    $('#saved').fadeIn();
                    setTimeout(function() {
                        $('#saved').fadeOut();
                    }, 2500);
                }
                else {
                    // Error in form
                    alert(data.d.html);
//                    window.location.reload();
                }
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    function returnToEditPage() {
        var url = "{{ path('odr_profile_edit', {'user_id': 0}) }}";
        url = url.substring(0, (url.length - 1));
        url += {{ target_user.id }};

        UpdateURL(url);
    }
</script>

{% endspaceless %}
