{% spaceless %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i>
                Create User
            </h3>

            <div class="ODRBodyContent">
                {% include 'ODRAdminBundle:ODRUser:create_user_form.html.twig' with {'profile_form': profile_form} %}
            </div>
        </div>
    </div>
</div>

<script>
    var xhr;
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}
        disableInputs();

        xhr = null;

        $("#ODRUserProfileForm").validate({
            rules: {
                "{{ profile_form.email.vars.full_name }}": {
                    required: true,
                    email: true
                }
            },
            errorLabelContainer: "#email_errors",
            messages: {
                "{{ profile_form.email.vars.full_name }}": {
                    required: "Invalid email address",
                    email: "Invalid email address"
                }
            },
            submitHandler: function(form) {
                // This validation will fire regardless of whether the email matches an existing
                //  user or not...only want to submit the form when the password field is enabled
                if ( $("#{{ profile_form.plainPassword.vars.id }}").prop('disabled') === false )
                    saveProfileForm();
            }
        });

        var old_email = '';
        $("#submitButton").removeClass('pure-button-primary').prop('disabled', true);
        $("#{{ profile_form.email.vars.id }}").unbind('keyup').unbind('paste');
        $("#{{ profile_form.email.vars.id }}").on('keyup paste', function() {
            var new_email = $(this).val();
            if (old_email != new_email) {
                old_email = new_email;

                $("#emailCheckButton").addClass('pure-button-primary').html('Check Email Availability').prop('disabled', false);
                $("#submitButton").removeClass('pure-button-primary').prop('disabled', true);
            }
        });

        // Don't allow regular form submission...
        $("#ODRUserProfileForm").submit(function(event) {
            event.preventDefault();
        });
    });

    function disableInputs() {
        $("#ODRUserProfileForm").find("input").not(".required").each(function() {
            $(this).prop('disabled', true);
        });
    }

    function enableInputs() {
        $("#ODRUserProfileForm").find("input").not(".required").each(function() {
            $(this).prop('disabled', false);
        });
    }

    function checkEmail() {
        var url = "{{ path('odr_admin_new_user_check') }}";
        var email = $("#{{ profile_form.email.vars.id }}").val().trim();

        // Require a valid email address before sending an ajax request
        if ( !$("input[name='{{ profile_form.email.vars.full_name }}']").valid() )
            return;

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {"email": email},
            success: function(data, textStatus, jqXHR) {
                $("#emailCheckButton").removeClass('pure-button-primary').prop('disabled', true);

                if (data.d === 0) {
                    // Email not found, can create new user
                    $("#submitButton").addClass('pure-button-primary').html('Save').attr('onclick', 'saveProfileForm();').prop('disabled', false);

                    enableInputs();
                }
                else if (data.d === -1) {
                    // User checked whether their own profile existed, or managed to check the email
                    //  of a super-admin
                    $("#submitButton").html('Unable to modify permissions for this user').attr('onclick', '');
                    $("#emailCheckButton").html('User already exists');

                    disableInputs();
                }
                else {
                    // Email that was checked belongs to a different user
                    $("#submitButton").addClass('pure-button-primary').html('View User Permissions').attr('onclick', 'viewPermissions(' + data.d + ');').prop('disabled', false);
                    $("#emailCheckButton").html('User already exists');

                    disableInputs();
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    function viewPermissions(user_id) {
        var url = "{{ path('odr_manage_user_groups', {'user_id': 0}) }}";
        url = url.substr(0, url.length-1);
        url += user_id;

        UpdateURL(url);
    }

    function saveProfileForm() {
        if ( !$("#ODRUserProfileForm").valid() ) {
            alert("Invalid form");
            return;
        }

        if ( !ODR_isPasswordValid() ) {
            alert('Password is not valid');
            return;
        }

        // Only submit once
        if ( xhr !== null )
            return;

        var url = "{{ path('odr_admin_new_user_save') }}";

        $("#submitButton").prop('disabled', true).html('Creating New User...');

        xhr = $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: $("#ODRUserProfileForm").serialize(),
            success: function(data, textStatus, jqXHR) {
                // Redirect to their permissions page
                alert('User Created');
                UpdateURL( data.d.url );

                xhr = null;
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Reset the email validation and the save button
                checkEmail();

                xhr = null;
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
