{% spaceless %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i>
                User List
            </h3>

            <div class="ODRBodyContent">
                <table class="pure-table pure-table-striped" style="width: 100%">
                    <thead><tr>
                        <th>User Name</th>
                        <th class="Pointer ODRCenterText" title="Restricted to datatypes they have permissions for">User</th>
                        <th class="Pointer ODRCenterText" title="Able to perform any action to every datatype">Super Admin</th>
{#
                    {% if using_jupyterhub %}
                        <th class="Pointer ODRCenterText" title="Able to access JupyterHub">JupyterHub User</th>
                    {% endif %}
#}
                    </tr></thead>
                    <tbody>
                {% for user in users %}
                    {% if user.enabled == 1 %}
                        <tr>
                            <td>{{ user.username }}</td>

                            {% set is_super_admin = user.hasrole("ROLE_SUPER_ADMIN") %}

                            <td class="ODRCenterText">
                                <input id="user_{{ user.id }}" onclick="setRole('user_{{ user.id }}');" type="radio" name="user_{{ user.id }}" {% if not is_super_admin %}checked{% endif %} {% if user == admin_user %}disabled{% endif%}/>
                            </td>
                            <td class="ODRCenterText">
                                <input id="sadmin_{{ user.id }}" onclick="setRole('sadmin_{{ user.id }}');" type="radio" name="user_{{ user.id }}" {% if is_super_admin %}checked{% endif %} {% if user == admin_user %}disabled{% endif%}/>
                            </td>
{#
                        {% if using_jupyterhub %}
                            <td class="ODRCenterText">
                                <input id="jupyterhub_{{ user.id }}" onclick="setRole('jupyterhub_{{ user.id }}');" type="checkbox" name="user_{{ user.id }}" {% if user.hasRole('ROLE_JUPYTERHUB_USER') %}checked{% endif %} />
                            </td>
                        {% endif %}
#}
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
{#
                    {% if using_jupyterhub %}
                        <td colspan="3">No Users Found</td>
                    {% else %}
#}
                        <td colspan="2">No Users Found</td>
{#
                    {% endif %}
#}
                    </tr>
                {% endfor %}
                    </tbody>
                </table>

            </div><!-- end of .ODRBodyContent -->
        </div>
    </div>
</div>
            
<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}
    });

    function setRole(id) {
        var data = id.split('_');
        var role = data[0];
        var user_id = data[1];

        var url = '{{ path('odr_set_user_role', { 'user_id': 0, 'role': '' }) }}';
        url = url.substring(0, (url.length - 2));
        url += user_id + '/' + role;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                notifySaved();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // TODO - revert back to previously selected option on error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
