{% spaceless %}

{#
    Any change to the password rules also needs to be made in ODR\OpenRepository\UserBundle\Entity\User.php
#}

<script>
    $(function() {
        var old_first_value = '';
        var old_second_value = '';
        $("#{{ form.plainPassword.first.vars.id }}").unbind('keyup paste');
        $("#{{ form.plainPassword.first.vars.id }}").on('keyup paste', function() {
            var current_value = $(this).val().trim();

            if ( old_first_value != current_value ) {
                old_first_value = current_value;
                ODR_isPasswordValid();
            }
        });
        $("#{{ form.plainPassword.second.vars.id }}").unbind('keyup paste');
        $("#{{ form.plainPassword.second.vars.id }}").on('keyup paste', function() {
            var current_value = $(this).val().trim();

            if ( old_second_value != current_value ) {
                old_second_value = current_value;
                ODR_isPasswordValid();
            }
        });

        $("#form_errors > ul > li").each(function() {
            var error_text = $(this).html();
            $("#password_errors").append( "<label class=\"ODRInputError\">" + error_text + "</label></br>" );
        });
        $("#form_errors").remove();

    });

    var password_lower = new RegExp("[a-z]");
    var password_upper = new RegExp("[A-Z]");
    var password_digit = new RegExp("[0-9]");
    var exp = /[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\[\{\]\}\\\|\;\:\'\"\,\<\.\>\/\?]/;
    var password_symbol = new RegExp(exp);

    function ODR_isPasswordValid() {
        var current_value = $("#{{ form.plainPassword.first.vars.id }}").val().trim();
        var second_value = $("#{{ form.plainPassword.second.vars.id }}").val().trim();
        var is_valid = false;

        var error_div = $("#password_errors");
        $(error_div).html('');

        if ( !password_lower.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one lowercase character</label></br>" );
        if ( !password_upper.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one uppercase character</label></br>" );
        if ( !password_digit.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one digit</label></br>" );
        if ( !password_symbol.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one symbol</label></br>" );
        if ( current_value.length < 8 )
            $(error_div).append( "<label class=\"ODRInputError\">Password must be at least 8 characters long</label></br>" );
        if ( current_value != second_value )
            $(error_div).append( "<label class=\"ODRInputError\">Password fields must match</label></br>" );

        if ( $(error_div).html().trim() != '' )
            is_valid = false;
        else
            is_valid = true;

        return is_valid;
    }
</script>

{% endspaceless %}
