{% spaceless %}
{#
<div class="grid_12">
    <div class="box">
#}
        <div class="header">
            <h2>User Profile{% if user_extend != null %} > {{ user_extend.firstname }} {{ user_extend.lastname }}{% elseif user != null %} > {{ user.username }}{% endif %}
                <span id="saved">&nbsp;&nbsp;&nbsp;SAVED</span>
            </h2>
        </div>

        <div class="pure-u-1">

            <form class="pure-form pure-form-aligned" id="profile_form" {#action="{{ path('odr_profile_save') }}" method="POST"#}>
                <input type="hidden" id="odr_profile_form__token" name="odr_profile_form[_token]" value="{{ token }}" />
                <input type="hidden" id="odr_profile_form_user_id" name="odr_profile_form[user_id]" {% if user != null %}value="{{ user.id }}"{% endif %} />

                {#<div id="odr_profile_form">}#}
                <fieldset>
                    <div class="pure-control-group">
                        <label for="odr_profile_form_username" class="required">Username:</label>
                        <input id="odr_profile_form_username" type="text" name="odr_profile_form[username]" required="required" {% if user != null %}value="{{ user.username }}" disabled{% endif %} />
                    </div>

                    <div class="pure-control-group">
                        <label for="odr_profile_form_firstname" class="required">First name:</label>
                        <input id="odr_profile_form_firstname" type="text" name="odr_profile_form[firstname]" required="required" {% if user_extend != null %}value="{{ user_extend.firstname }}"{% endif %} />
                    </div>

                    <div class="pure-control-group">
                        <label for="odr_profile_form_lastname" class="required">Last name:</label>
                        <input id="odr_profile_form_lastname" type="text" name="odr_profile_form[lastname]" required="required" {% if user_extend != null %}value="{{ user_extend.lastname }}"{% endif %} />
                    </div>

                    <div class="pure-control-group">
                        <label for="odr_profile_form_email" class="required">Email:</label>
                        <input id="odr_profile_form_email" type="email" name="odr_profile_form[email]" required="required" {% if user != null %}value="{{ user.email }}"{% endif %} />
                    </div>

                    <div class="pure-control-group">
                        <label for="odr_profile_form_plainPassword_first" class="required">Password:</label>
                        <input id="odr_profile_form_plainPassword_first" type="password" name="odr_profile_form[plainPassword][first]" required="required" />
                    </div>

                    <div class="pure-control-group">
                        <label for="odr_profile_form_plainPassword_second" class="required">Confirm Password:</label>
                        <input id="odr_profile_form_plainPassword_second" type="password" name="odr_profile_form[plainPassword][second]" required="required" />
                    </div>

                </fieldset>

                <input class="pure-button pure-button-primary" type="button" value="Save" onclick="verifyProfileForm();" />
            </form>
        </div>

        <script>
            $(function() {
                $("#saved").hide();
            });

            function verifyProfileForm() {
                if ( $("#odr_profile_form_username").value == '' || $("#odr_profile_form_email").value == '' ) {
                    alert('Username and Email fields are required!');
                    $("#odr_profile_form_plainPassword_first").value = '';
                    $("#odr_profile_form_plainPassword_second").value = '';
                    return;
                }

                {% if self_edit == 'true' %}
                    var url = "{{ path('odr_self_profile_save') }}";
                {% else %}
                    var url = "{{ path('odr_profile_save') }}";
                {% endif %}

                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: $("#profile_form").serialize(),
                    success: function(data, textStatus, jqXHR) {

                        if (data.r == 0) {
                            $('#saved').fadeIn();
                            setTimeout(function() {
                                $('#saved').fadeOut();
                            }, 1500);

                            // Redirect to the user list
//                            $.address.value("{{ path('odr_user_list') }}");
                        }
                        else if (data.r == 2) {
                            alert(data.d.error);
                        }
                        else if (data.r == 3) {
                            alert("user already exists...redirecting to their permissions page");
                            UpdateURL( data.d.url );
                        }
                        else {
                            alert(data.d.html);
                        }
                    },
                    complete: function(jqXHR, textStatus) {
                        // Get the xdebugToken from response headers
                        var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                        // If the Sfjs object exists
                        if (typeof Sfjs !== "undefined") {
                            // Grab the toolbar element
                            var currentElement = $('.sf-toolbar')[0];

                            // Load the data of the given xdebug token into the current toolbar wrapper
                            Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                        }
                    }
                });
            }
        </script>
{#
    </div><!-- End of .box -->
</div><!-- End of .grid_12 -->
#}
{% endspaceless %}
