{% spaceless %}

{% set can_view_datatype = false %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dt_view' ] is defined %}
    {% set can_view_datatype = true %}
{% endif %}

<h1 class="no-margin-top-phone">
    <span>Effective Permissions Viewer for "{{ datatype.getshortname }}" &raquo; {{ target_user.getuserstring }}</span>
</h1>

<button class="pure-button ODRManageGroups">Return to "Manage Groups" page</button>

<div class="pure-u-1">
    {% if not datatype.isPublic and not can_view_datatype %}
        <b>This user is not allowed to view this non-public Datatype!</b>
    {% else %}
        <div id="ODRThemeList" class="pure-u-1-4">
            <div class="pure-u-1" style="padding-top:15px">
                <div class="pure-u-1">
                    <span style="float:left">
                        <b>Master Themes</b>
                    </span>
                </div>
                <div class="pure-u-1-12"></div>
                <div class="pure-u-11-12">
                    {% set count = 0 %}
                    {% for theme in theme_list %}
                        {% set theme_name = theme.themeMeta.templateName %}
                        {% if theme_name == '' %}
                            {% set theme_name = 'theme_' ~ theme.id %}
                        {% endif %}

                        {% if theme.themeType == 'master' %}
                            {% set count = count + 1 %}
                            <div class="pure-u-1">
                                <span style="float:left;">
                                    <i class="fa fa-lg fa-edit Pointer ODREditTheme" title="Edit Theme" rel="{{ theme.id }}"></i>
                                </span>
                                <span id="ODRTheme_{{ theme.id }}_name" class="Cursor" style="padding-left:15px;">
                                    {{ theme_name }}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if count == 0 %}
                        <div class="pure-u-1">
                            <span class="Cursor" style="padding-left:15px; color: red;">
                                No Master Themes exist!
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
{#
            <div class="pure-u-1" style="padding-top:15px">
                <div class="pure-u-1">
                    <span style="float:left">
                        <b>Derivative Themes</b>
                    </span>
                </div>
                <div class="pure-u-1-12"></div>
                <div class="pure-u-11-12">
                    {% set count = 0 %}
                    {% for theme in theme_list %}
                        {% set theme_name = theme.themeMeta.templateName %}
                        {% if theme_name == '' %}
                            {% set theme_name = 'theme_' ~ theme.id %}
                        {% endif %}

                        {% if theme.themeType == 'derivative' %}
                            {% set count = count + 1 %}
                            <div class="pure-u-1">
                                <span style="float:left;">
                                    <i class="fa fa-lg fa-edit Pointer ODREditTheme" title="Edit Theme" rel="{{ theme.id }}"></i>
                                </span>
                                <span id="ODRTheme_{{ theme.id }}_name" class="Cursor" style="padding-left:15px;">
                                    {{ theme_name }}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if count == 0 %}
                        <div class="pure-u-1">
                            <span class="Cursor" style="padding-left:15px; color: red;">
                                No Derivative Themes exist!
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
#}
            <div class="pure-u-1" style="padding-top:15px">
                <div class="pure-u-1">
                    <span style="float:left">
                        <b>Search Result Themes</b>
                    </span>
                </div>
                <div class="pure-u-1-12"></div>
                <div class="pure-u-11-12">
                    {% set count = 0 %}
                    {% for theme in theme_list %}
                        {% set theme_name = theme.themeMeta.templateName %}
                        {% if theme_name == '' %}
                            {% set theme_name = 'theme_' ~ theme.id %}
                        {% endif %}

                        {% if theme.themeType == 'search_results' %}
                            {% set count = count + 1 %}
                            <div class="pure-u-1">
                                <span style="float:left;">
                                    <i class="fa fa-lg fa-edit Pointer ODREditTheme" title="Edit Theme" rel="{{ theme.id }}"></i>
                                </span>
                                <span id="ODRTheme_{{ theme.id }}_name" class="Cursor" style="padding-left:15px;">
                                    {{ theme_name }}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if count == 0 %}
                        <div class="pure-u-1">
                            <span class="Cursor" style="padding-left:15px; color: red;">
                                No Search Results Themes exist!
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="pure-u-1" style="padding-top:15px">
                <div class="pure-u-1">
                    <span style="float:left">
                        <b>Table Themes</b>
                    </span>
                </div>
                <div class="pure-u-1-12"></div>
                <div class="pure-u-11-12">
                    {% set count = 0 %}
                    {% for theme in theme_list %}
                        {% set theme_name = theme.themeMeta.templateName %}
                        {% if theme_name == '' %}
                            {% set theme_name = 'theme_' ~ theme.id %}
                        {% endif %}

                        {% if theme.themeType == 'table' %}
                            {% set count = count + 1 %}
                            <div class="pure-u-1">
                                <span style="float:left;">
                                    <i class="fa fa-lg fa-edit Pointer ODREditTheme" title="Edit Theme" rel="{{ theme.id }}"></i>
                                </span>
                                <span id="ODRTheme_{{ theme.id }}_name" class="Cursor" style="padding-left:15px;">
                                    {{ theme_name }}
                                </span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if count == 0 %}
                        <div class="pure-u-1">
                            <span class="Cursor" style="padding-left:15px; color: red;">
                                No Table Themes exist!
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="ODRRenderContent" class="pure-u-1"></div>

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $(".ODREditTheme").unbind('click').click(function() {
            var theme_id = $(this).attr('rel');

            var url = '{{ path('odr_view_permissions_result', {'user_id': 0, 'theme_id': 0 } ) }}';
            url = url.substring(0,(url.length - 3)) + {{ target_user.id }} + "/" + theme_id;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    if(data.r == 0) {
                        $("#ODRRenderContent").html(data.d.html);
                        resizeOverlayDivs();
                    }
                    else {
                        // An error has occurred.
                        // Show Error message dialog
                        alert(data.d);
                    }
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODRManageGroups").unbind('click').click(function() {
            var url = '{{ path('odr_manage_user_groups', {'user_id': 0}) }}';
            url = url.substr(0, (url.length-1));
            url += '{{ target_user.id }}';

            UpdateURL(url);
        });

        // Resize all overlay divs on window size
        $(window).unbind('resize');
        $(window).resize(function() {
            WindowResizeInterval = window.clearInterval(WindowResizeInterval);
            WindowResizeInterval = window.setInterval("resizeOverlayDivs()", 50);
        });

        resizeOverlayDivs();
    });

    var WindowResizeInterval = "";
    function resizeOverlayDivs() {
        WindowResizeInterval = window.clearInterval(WindowResizeInterval);

        // Attach an overlay div of sorts over each datafield
        $(".ODROverlayDiv").each(function() {
            // Need dimensions of parent div...
            var height = $(this).parent().css('height');
            var width = $(this).parent().css('width');

            // Apply dimensions of parent div to loading div
            $(this).css({"height": height, "line-height": height, "width": width});
        });
    }
</script>
{% endspaceless %}
