<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.  More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <meta name="description" content="The Planetary Materials Database catalogues the work of the Mars Rover Curiosity and the materials discovered during its mission on Mars..">
    <meta name="author" content="Simon Stamm & Markus Siemens">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- iPhone: Don't render numbers as call links -->
    <meta name="format-detection" content="telephone=no">
    
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
    
    
    <!-- Pure Layout -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css"><![endif]-->
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"><!--<![endif]-->

    <!-- Icon Styles -->
    <link rel="stylesheet" href="/css/fonts/font-awesome.css">
    <!--[if IE 8]><link rel="stylesheet" href="/css/fonts/font-awesome-ie7.css"><![endif]-->
    
    <!-- External Styles -->
    <link rel="stylesheet" href="/css/external/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="/css/external/jquery.jgrowl.css">
    <!-- <link rel="stylesheet" href="/css/external/jquery.dataTables.css"> -->
    <link rel="stylesheet" href="/js/mylibs/jquery_datatables/datatables.min.css">

    <!-- Symfony Stylesheets -->
    <link href="/css/pure_odr_custom.css" type="text/css" rel="stylesheet"> 
    <link href="/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="/css/purecss_responsive_horizontal.css" type="text/css" rel="stylesheet">

    <!-- NVD3 StyleSheet -->
    <link rel="stylesheet" href="/js/mylibs/nvd3/nv.d3.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/themes/css_smart/style.css" >
    <!-- TODO Use Stylsheets block to load theme -->
    {% block stylesheets %}{% endblock %}

    <!-- Scripts -->
    <script defer async src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.28/webfont.js"></script>
    
    <!-- Essential polyfills -->
    <script src="/js/mylibs/polyfills/modernizr-2.6.1.min.js"></script>
    <!--[if lt IE 9]><script src="/js/mylibs/polyfills/selectivizr.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="/js/mylibs/polyfills/excanvas.js"></script><![endif]-->
    <!--[if lt IE 10]><script src="/js/mylibs/polyfills/classlist.js"></script><![endif]-->
    
    
    
    <!-- Grab frameworks from CDNs -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.js"><\/script>')</script>

    <!-- Do the same with jQuery UI -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/js/libs/jquery-ui-1.8.21.js"><\/script>')</script>
    
    <!-- Do the same with Lo-Dash.js -->
    <!--[if gt IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.4.2/lodash.js"></script>
        <script>window._ || document.write('<script src="/js/libs/lo-dash.js"><\/script>')</script>
    <![endif]-->
    <!-- IE8 doesn't like lodash -->
    <!--[if lt IE 9]><script src="http://documentcloud.github.com/underscore/underscore.js"></script><![endif]-->
    
    
    <!-- Load Webfont loader -->
    <script type="text/javascript">
        $(function() {
            window.WebFontConfig = {
                google: { families: [ 'PT Sans:400,700' ] },
                active: function(){ $(window).trigger('fontsloaded') }
            };
        });
    </script>
    
    <!-- scripts concatenated and minified via build script -->
    
    <!-- General Scripts -->
    <script src="/js/mylibs/jquery.hashchange.js"></script>
    <script src="/js/mylibs/jquery.idle-timer.js"></script>
    <script src="/js/mylibs/jquery.plusplus.js"></script>
    <script src="/js/mylibs/jquery.jgrowl.js"></script>
    <script src="/js/mylibs/jquery.scrollTo.js"></script>
    <script src="/js/mylibs/jquery.ui.touch-punch.js"></script>
    <script src="/js/mylibs/jquery.ui.multiaccordion.js"></script>
    <script src="/js/mylibs/number-functions.js"></script>
    
    <!-- Forms -->
    <script src="/js/libs/plugins/jquery.validate.min.js"></script>
        
    <!-- Charts -->
    <script src="/js/mylibs/nvd3/d3.v3.min.js"></script>
    <script src="/js/mylibs/nvd3/nv.d3.js"></script>

    <!-- Fullstats -->
    <script src="/js/mylibs/fullstats/jquery.css-transform.js"></script>
    <script src="/js/mylibs/fullstats/jquery.animate-css-rotate-scale.js"></script>
    <script src="/js/mylibs/fullstats/jquery.sparkline.js"></script>
    
    <!-- Dynamic Tables -->
    <!-- <script src="/js/mylibs/dynamic-tables/jquery.dataTables.js"></script>
    <script src="/js/mylibs/dynamic-tables/jquery.dataTables.tableTools.zeroClipboard.js"></script>
    <script src="/js/mylibs/dynamic-tables/jquery.dataTables.tableTools.js"></script> -->
    <script src="/js/mylibs/jquery_datatables/datatables.min.js"></script>

    <!-- Tooltips -->
    <script src="/js/mylibs/tooltips/jquery.tipsy.js"></script>

    <!-- Images Loaded -->
    <script src="/js/mylibs/imagesloaded/imagesloaded.pkgd.js"></script>

    <!-- Meltdown -->
    <script src="/js/mylibs/meltdown/js-markdown-extra.js"></script>

    <!-- Multiple/Large File Uploads -->
    <script src="/js/mylibs/flow/flow.js"></script>

    <!-- Ajax File Downloads -->
    <script src="/js/mylibs/jquery.fileDownload.js"></script>

    <!-- App JS -->
    <script src="/js/app.js"></script>

    <!-- end scripts -->
    
</head>

<body class="pure-skin-odr">
    <!-- The toolbar at the top -->
<!-- <section id="toolbar" class="pure-form pure-g"> -->

<div class="ODRMenuWrapper pure-g" id="ODRMainMenu">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu">
            <ul class="pure-menu-list">

                <li><a href="#" class="pure-menu-heading odr-custom-brand">Admin</a>
                    <ul>
                        <li><a href="#">MENU Test 11</a></li>
                    </ul>
                </li>
            </ul>
            {# block navigation_top %}
            {% endblock #}
            <a href="#" class="odr-custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal odr-custom-can-transform">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a>
                    <ul class="ODR-pure-submenu">
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 1</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                        <li class="pre-menu-item"><a href="#" class="pre-menu-link">TEST 2</a></li>
                    </ul>
                </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal odr-custom-menu-3 odr-custom-can-transform">
            <ul class="pure-menu-list">
                {% if current_user != '' %}
                    <li class="pure-menu-item"><span class="pure-menu-link">{{ current_user }}</span></li>
                {% endif %}
                {% if header_right_title != '' %}
                    <li class="pure-menu-item"><a class="pure-menu-link" {% if header_right_path != '' %}href="{{ header_right_path }}"{% endif %} {% if header_right_js != '' %}onclick="{{ header_right_js }}"{% endif %}>{{ header_right_title }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


<!-- </section><!-- End of #toolbar -->
    
<script>
(function (window, document) {
var menu = document.getElementById('ODRMainMenu'),
    WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

function toggleHorizontal() {
    [].forEach.call(
        document.getElementById('ODRMainMenu').querySelectorAll('.odr-custom-can-transform'),
        function(el){
            el.classList.toggle('pure-menu-horizontal');
        }
    );
};

function toggleMenu() {
    // set timeout so that the panel has a chance to roll up
    // before the menu switches states
    if (menu.classList.contains('open')) {
        setTimeout(toggleHorizontal, 500);
    }
    else {
        toggleHorizontal();
    }
    menu.classList.toggle('open');
    document.getElementById('toggle').classList.toggle('x');
};

function closeMenu() {
    if (menu.classList.contains('open')) {
        toggleMenu();
    }
}

document.getElementById('toggle').addEventListener('click', function (e) {
    toggleMenu();
});

window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
})(this, this.document);

</script>

    {% if use_navigation_block == true %}
        <!-- The container of the sidebar and content box -->
        <!-- The Properties sidebar -->
        <aside id="ODRNavRightWrapper">
            <div id="ODRNavRight" class="NavSlideOut">
                <div id="ODRMenuLabelRight">properties <i title="Click to stick in place." class="fa fa-thumb-tack Pointer TackProperties"></i></div>
                <div class="top">
                </div><!-- End of .top -->
            </div>
        </aside><!-- End of sidebar -->
    {% endif %}

    <div role="main" id="main" class="pure-form pure-g">
        <section id="left-spacer" class="pure-u-md-1-24"></section>

        <!-- Here goes the content. -->
        <section id="content" class="pure-u-1 pure-u-md-22-24" data-sort=true style="margin-top: 10px;">
        {% block body %}{% endblock %}
        </section><!-- End of #content -->
        
        <section id="right-spacer" class="pure-u-md-1-24"></section>
    </div><!-- End of #main -->
    
    <!-- The footer -->
    <footer class="pure-u-1">
        <span class="ODRMenuRight pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a class="ODRLogoImage" href="http://www.opendatarepository.org"><img src="/images/ODR_Logo_Final.svg" alt="Open Data Repository" /></a></li>
                <li><a href="http://www.opendatarepository.org/about">About</a></li>
                <li>&nbsp;&nbsp;&nbsp;</li>
                <li>&copy; 2014&nbsp;&nbsp;</li>
            </ul>
        </span>
    </footer> <!-- End of footer -->

    <!-- The loading box -->
    <div id="loading-overlay"></div>
    <div id="loading">
        <span>Loading...</span>
    </div>
    <!-- End of loading box -->

    <!-- Spawn $$.loaded -->
    <script>
        $("#loading-overlay").hide();
        $("#loading").hide();
    </script>
    
    <!-- Symfony Javascripts -->
    {% block javascripts %}{% endblock %}
</body>
</html>
