<div class="pure-skin-odr" id="odr-main-content-wrapper">
<!-- main menu -->
<div class="ODRMenuWrapper pure-g" id="ODRMainMenu">
    <div class="pure-menu pure-menu-horizontal odr-custom-can-transform pure-u-1 pure-u-md-7-24 pure-u-lg-7-24">
        <span class="odr-custom-toggle" id="toggle"><i class="fa fa-lg fa-bars"></i> Menu</span>
        <ul class="pure-menu-list">
            {% if use_navigation_block == true %}
                <li class="pure-menu-item"><span class="pure-menu-heading odr-custom-brand">Admin&nbsp;<i class="fa fa-md fa-plus-square"></i></span>
                    {% block navigation_top %}{% endblock %}
                </li>

                {% set href = path('odr_list_types', {'section': 'databases'}) %}
                {% if target_datatype is defined %}
                    {% set href = path('odr_datatype_landing', {'datatype_id': target_datatype.id}) %}
                {% endif %}
                <li id="ODRDatabaseLanding" class="pure-menu-item"><a class="pure-menu-link" href="#{{ href }}">Dashboard</a></li>
            {% endif %}

            {% if header_middle_title != '' %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="{{ header_middle_path }}" rel="test">{{ header_middle_title }}</a></li>
            {% endif %}
        </ul>
    </div>

    {# What is this for?  Spacing? #}
    {% if header_right_title != '' and not odr_wordpress_integrated %}
        <div class="pure-menu pure-menu-horizontal odr-hide-small odr-custom-can-transform odr-menu-center pure-u-1 pure-u-md-6-24 pure-u-lg-7-24 pure-u-xl-8-24"></div>
    {% else %}
        <div class="pure-menu pure-menu-horizontal odr-hide-small odr-custom-can-transform odr-menu-center pure-u-1 pure-u-md-9-24 pure-u-lg-9-24 pure-u-xl-9-24"></div>
    {% endif %}

    <div class="pure-menu pure-menu-horizontal odr-hide-small odr-custom-menu-3 odr-custom-can-transform pure-u-1 pure-u-md-6-24 pure-u-lg-6-24">
        {% if not odr_wordpress_integrated %}
        <ul class="pure-menu-list">
            {% if current_user != '' %}
                <li id="ODRProfileLink" class="pure-menu-item">
                    <div class="pure-hidden-sm pure-hidden-xs" href="#{{ path('odr_self_profile_edit') }}">
                        <a class="pure-menu-link" href="#{{ path('odr_self_profile_edit') }}">
                            {{ user.firstName }} {{ user.lastName }}
                        </a>
                    </div>
                    <a class="pure-menu-link pure-hidden-xl pure-hidden-lg pure-hidden-md" href="#{{ path('odr_self_profile_edit') }}">Profile</a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>


    {% if header_right_title != '' and not odr_wordpress_integrated %}
        <div class="pure-menu pure-menu-horizontal odr-hide-small odr-custom-menu-3 odr-custom-can-transform pure-u-1 pure-u-md-2-24 pure-u-lg-2-24 pure-u-xl-1-24">
            <ul class="pure-menu-list">
                <li id="ODRLoginLink" class="pure-menu-item">
                    <a class="pure-menu-link" {% if header_right_path != '' %}href="{{ header_right_path|raw }}"{% endif %} {% if header_right_js != '' %}onclick="{{ header_right_js }}"{% endif %}>{{ header_right_title }}</a>
                </li>
            </ul>
        </div>
    {% endif %}

    <div class="pure-menu pure-menu-horizontal odr-hide-small odr-custom-menu-3 odr-custom-can-transform pure-u-2 pure-u-md-2-24 pure-u-lg-2-24">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <span class="pure-menu-heading">
                    <i id="ODRMessages" class="Pointer fa fa-lg fa-bell-o"></i>
                </span>
            </li>
            <li class="pure-menu-item">
                <span class="pure-menu-heading">
                    <i id="ODRHelpButton" class="Pointer fa fa-lg fa-question-circle"></i>
                </span>
            </li>
        </ul>
    </div>
</div>
<ul id="ODRMessageList" class="ODRHidden"></ul>
<!-- End of #ODRMainMenu -->

{% include '::message_handling.html.twig' %}

<script>
    (function (window, document) {
        var menu = document.getElementById('ODRMainMenu')
        var WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize'

        // Add Click handler for all menu LI
        jQuery("#ODRMainMenu .pure-menu-heading").unbind('click').click(function() {
            if(jQuery(document).width() < 768) {
                jQuery(this).parent().toggleClass('show');
            }
        });

        // jQuery("#ODRMainMenu li .pure-menu-heading").unbind('mouseenter');
        jQuery("#ODRMainMenu li").mouseenter(function() {
            if(jQuery(document).width() >= 768) {
                var elem = jQuery(this).children().first();
                if (jQuery(elem).hasClass("pure-menu-heading")) {
                    jQuery(elem).parent().addClass('show');
                }
            }
        });

        jQuery("#ODRMainMenu li").mouseleave(function() {
            if(jQuery(document).width() >= 768) {
                var elem  = jQuery(this).children().first()
                if(jQuery(elem).hasClass("pure-menu-heading")) {
                    jQuery(elem).parent().removeClass('show');
                }
            }
        });

        // Close menus on click
        jQuery("#ODRMainMenu a").click(function(){
            // Close menu
            closeMenu();
            jQuery("#ODRMainMenu").find(".show").toggleClass('show');
        });

        function toggleHorizontal() {
            [].forEach.call(
                document.getElementById('ODRMainMenu').querySelectorAll('.odr-custom-can-transform'),
                function(el){
                    el.classList.toggle('pure-menu-horizontal');
                }
            );
            if(jQuery(".ODRMenuWrapper").hasClass("overflow-visible")) {
                jQuery(".ODRMenuWrapper").removeClass("overflow-visible")
            }
            else {
                jQuery(".ODRMenuWrapper").addClass("overflow-visible")
            }
        }

        function toggleMenu() {
            // set timeout so that the panel has a chance to roll up
            // before the menu switches states
            if (menu.classList.contains('open')) {
                setTimeout(toggleHorizontal, 500);
            }
            else {
                toggleHorizontal();
            }
            menu.classList.toggle('open');
            document.getElementById('toggle').classList.toggle('x');
        }

        function closeMenu() {
            if (menu.classList.contains('open')) {
                toggleMenu();
            }
        }

        document.getElementById('toggle').addEventListener('click', function (e) {
            toggleMenu();
        });


        window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);

        $('#ODRMessages').unbind('click');
        $('#ODRMessages').click(function() {
            showMessageList()
        });
        checkMyJobs();


        /*
        $('#ODRMessageList').on('wheel', function(e) {
            var d = e.originalEvent.deltaY,
                dir = d < 0 ? 'up' : 'down',
                stop = (dir == 'up' && this.scrollTop == 0) ||
                    (dir == 'down' && this.scrollTop == this.scrollHeight-this.offsetHeight);
            stop && e.preventDefault();
        });
         */



    })(this, this.document);
</script>


<!-- main content -->
<div role="main" id="main" class="pure-form pure-g remodal-bg">
    <section id="left-spacer" class="pure-u-md-1-24"></section>

    {# need spaceless tag, otherwise the inheriting templates can still output spaces #}
    <section id="odr_content" class="pure-u-1 pure-u-md-22-24" data-sort=true>
        {% spaceless %}{% block body %}{% endblock %}{% endspaceless %}
    </section><!-- End of #content -->

    <section id="right-spacer" class="pure-u-md-1-24"></section>
</div>
<!-- End of #main -->

    <div class="odr-footer pure-u-1">
    <span class="ODRMenuRight pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item odr-no-effects"><a class="ODRLogoImage" href="http://www.opendatarepository.org/about"><img src="{{ site_baseurl }}/images/ODR_Logo_Final.svg" alt="Open Data Repository" /></a></li>
            <li class="pure-menu-heading">&copy; {{ "now"|date("Y") }}&nbsp;&nbsp;</li>
        </ul>
    </span>
    </div> <!-- End of footer -->

    <!-- The loading box -->
    <div id="loading-overlay"></div>
    <div id="loading">
        <span>Loading...</span>
    </div>
    <!-- End of loading box -->

    <!-- ODR Modal based on Remodal -->
    {% include 'ODRAdminBundle:Default:odr_remodal.html.twig' %}
    <!-- END ODR Modal based on Remodal -->

    <!-- Spawn $$.loaded -->
    <script>
        $("#loading-overlay").hide();
        $("#loading").hide();
    </script>

    <!-- Symfony Javascripts -->
    {% block javascripts %}{% endblock %}
</div>
