{% spaceless %}

<script>

    /**
     * Periodically checks whether the user has a job that has finished.
     */
    function checkMyJobs() {
        var checkJobs = false;
        {% if current_user != '' %}
        checkJobs = true;
        {% endif %}

        var url = "{{ path('odr_my_jobs') }}";
        if (checkJobs) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (data) {
                    if (data.r == 0) {

                        // Determine unviewed number
                        var badge_num = 0;
                        var jobs = data.d;
                        for (var x in jobs) {
                            if (jobs[x].viewed !== undefined && jobs[x].viewed === null) {
                                // Unviewed Job
                                badge_num++;
                            }
                        }
                        var messages = $("#ODRMessages");

                        messages.removeClass('badge');
                        if (badge_num > 0) {
                            messages.addClass('badge');

                            if (badge_num > 9) {
                                badge_num = '9+';
                            }
                            messages.append('<style>.badge:after{content: \'' + badge_num + '\' !important;}</style>');
                        }

                        // TODO Switch to Interval
                        setTimeout(checkMyJobs, 10000);
                    } else {
                        // TODO Alerts need to use the overlay
                        alert(data.d);
                    }
                },
                complete: function (jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                    }
                }
            });
        }
    }

    /**
     * Displays a slideout with the user's completed jobs.
     */
    function showMessageList() {
        if ( !$("#ODRMessageList").hasClass('ODRHidden') ) {
            // Message list is already visible, hide it
            $("#ODRMessageList").fadeOut().addClass('ODRHidden').removeAttr('style');
        }
        else {
            var url = "{{ path('odr_my_jobs') }}";
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (data) {
                    if (data.r == 0) {
                        var jobs = data.d;

                        $('#ODRMessageList').html('');
                        var list_elements = '';
                        for (var x in jobs) {
                            switch (jobs[x].job_type) {
                                case 'mass_edit':
                                    if (jobs[x].viewed !== null) {
                                        var html = '<li class="ODRTrackedJob viewed" rel="' + jobs[x].id + '">' +
                                            '<h3>Mass Edit</h3>' +
                                            '<p>Your edits have been completed.</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    else {
                                        var html = '<li class="ODRTrackedJob" rel="' + jobs[x].id + '">' +
                                            '<h3>Mass Edit</h3>' +
                                            '<p>Your edits have been completed.</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    break;

                                case 'csv_export':
                                    var url = "{{ path('odr_csv_download', {'user_id': 0, 'tracked_job_id': 0}) }}";
                                    url = url.substr(0, url.length-1);
                                    url += jobs[x].id;

                                    var download_html = '<div class="JobDownloadLink"><a onclick="fadeAfterDownload(this)" class="pure-button pure-button-primary" href="' + url + '">Download</a></div>';

                                    if (jobs[x].viewed !== null) {
                                        var html = '<li class="ODRTrackedJob viewed" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Export</h3>' +
                                            '<p>Your export is ready.</p>' + download_html +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    else {
                                        var html = '<li class="ODRTrackedJob" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Export</h3>' +
                                            '<p>Your export is ready.</p>' + download_html +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    break;

                                case 'csv_import_validate':
                                    var url = "{{ path('odr_csv_import_validate_results', {'tracked_job_id': 0}) }}";
                                    url = url.substr(0, url.length-1);
                                    url += jobs[x].id;

                                    var import_html = '<div class="JobDownloadLink"><a onclick="fadeAfterDownload(this)" class="pure-button pure-button-primary" href="#' + url + '">Import</a></div>';

                                    if (jobs[x].viewed !== null) {
                                        var html = '<li class="ODRTrackedJob viewed" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Import Validation</h3>' +
                                            '<p>Your CSV import validation is ready for review.<br />Click import to continue.</p>' + import_html +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    else {
                                        var html = '<li class="ODRTrackedJob" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Import Validation</h3>' +
                                            '<p>Your CSV import validation is ready for review.<br />Click import to continue.</p>' + import_html +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    break;

                                case 'csv_import':
                                    if (jobs[x].viewed !== null) {
                                        var html = '<li class="ODRTrackedJob viewed" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Import</h3>' +
                                            '<p>Your CSV Import is complete.  Search your data to see the new record(s).</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    else {
                                        var html = '<li class="ODRTrackedJob" rel="' + jobs[x].id + '">' +
                                            '<h3>CSV Import</h3>' +
                                            '<p>Your CSV Import is complete.  Search your data to see the new record(s).</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    break;

                                case 'migrate':
                                    if (jobs[x].viewed !== null) {
                                        var html = '<li class="ODRTrackedJob viewed" rel="' + jobs[x].id + '">' +
                                            '<h3>Migration Complete</h3>' +
                                            '<p>Your field migration has been completed.</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    else {
                                        var html = '<li class="ODRTrackedJob" rel="' + jobs[x].id + '">' +
                                            '<h3>Migration Complete</h3>' +
                                            '<p>Your field migration has been completed.</p>' +
                                            '<i class="fa fa-2x fa-times" onclick="messageDeleteJob(this)"></i>' +
                                            '</li>';
                                    }
                                    break;
                            }

                            list_elements += html;
                        }

                        if (list_elements === '')
                            list_elements = '<li><h3>No messages</h3></li>';

                        $('#ODRMessageList').html(list_elements).removeClass('ODRHidden').fadeIn('fast');

                        setTimeout(markViewed, 1500);

                        // Click outside to close
                        $('body').mouseup(function(e) {
                            var container = $("#ODRMessageList");
                            // if the target of the click isn't the container nor a descendant of the container
                            if (!container.is(e.target) && container.has(e.target).length === 0) {
                                container.fadeOut('fast').addClass('ODRHidden').removeAttr('style');
                                $('body').unbind('mouseup');
                            }
                        });

                    } else {
                        // TODO Alerts need to use the overlay
                        alert(data.d);
                    }
                },
                complete: function (jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                    }
                }
            });
        }
    }

    /**
     * @param {HTMLElement} elem
     */
    function fadeAfterDownload(elem) {
        $.when( $(elem).parent().parent().fadeOut('slow').remove() ).then(
            function() {
                if ( $("#ODRMessageList").html() == '' ) {
                    $("#ODRMessageList").html('<li><h3>No messages</h3></li>');
                    setTimeout( $("#ODRMessageList").fadeOut('fast').addClass('ODRHidden').removeAttr('style'), 1000);
                }
            }
        );
    }

    /**
     * Mark a job as viewed.
     */
    function markViewed() {
        // Mark visible jobs as viewed
        var job_ids = '';

        $("#ODRMessageList .ODRTrackedJob").each(function(i, obj) {
            if ( !$(obj).hasClass('viewed') )
                job_ids += $(obj).attr('rel') + ',';
        });

        if ( job_ids.match(/,$/) ) {
            job_ids = job_ids.substr(0, job_ids.length - 1);

            var url = "{{ path('odr_job_viewed', {'job_ids': 0} ) }}";
            url = url.substr(0, url.length-1) + job_ids;

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (data) {
                    if (data.r == 0) {
                        $("#ODRMessageList .ODRTrackedJob").each(function(i, obj) {
                            $(obj).addClass('viewed');
                        });
                    }
                },
                complete: function (jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                    }
                }
            });
        }
    }

    /**
     * Delete a job.
     * @param {HTMLElement} elem
     */
    function messageDeleteJob(elem) {

        var job_id = $(elem).parent().attr('rel');
        if ( $(elem).parent().hasClass('JobDownloadLink') ) {
            job_id = $(elem).parent().parent().attr('rel');
        }

        var url = "{{ path('odr_delete_user_job', {'job_id': 0} ) }}";
        url = url.substr(0, url.length-1) + job_id;

        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function (data) {
                if (data.r == 0) {
                    $.when( $(elem).parent().fadeOut('slow').remove() ).then(
                        function() {
                            if ( $("#ODRMessageList").html() == '' ) {
                                $("#ODRMessageList").html('<li><h3>No messages</h3></li>');
                                setTimeout( $("#ODRMessageList").fadeOut('fast').addClass('ODRHidden').removeAttr('style'), 1000);
                            }
                        }
                    );
                }
            },
            complete: function (jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/' + xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
