{% spaceless %}

{% set is_link = datatree.getislink %}

<form class="ODRDatatreePropertiesForm pure-form pure-form-aligned" {{ form_enctype(datatree_form) }} id="DatatreePropertiesForm_{{ datatree.id }}">
    {{ form_errors(datatree_form._token) }}
    {{ form_widget(datatree_form._token) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ datatree_form.multiple_allowed.vars.id }}">
                <strong>{{ datatree_form.multiple_allowed.vars.label }}</strong>
            </label>

            <span {% if force_multiple == true %}title="A Datarecord already has multiple {% if is_link == true %}linked{% else %}children{% endif %} datarecords of this Datatype, so it can't be set to disallow multiples."{% endif %}>
                {{ form_errors(datatree_form.multiple_allowed) }}
                {% if force_multiple == true %}
                    {{ form_widget(datatree_form.multiple_allowed, { 'attr': {'style': 'width:auto', 'disabled': 'disabled'} }) }}
                {% else %}
                    {{ form_widget(datatree_form.multiple_allowed, { 'attr': {'style': 'width:auto'} }) }}
                {% endif %}
            </span>

            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path('odr_design_analyze_datarecord_number', {'datatree_id': datatree.id }) }}" style="color:black;" title="Show Datarecords with multiple {% if is_link == true %}linked{% else %}child{% endif %} Datarecords for this Datatype..."><i class="fa fa-cog fa-lg"></i></a>
            </span>

        </div>
    </fieldset>

</form>

{% endspaceless %}
