{% spaceless %}

{% set is_link = datatree.getislink %}

{{ form_start(datatree_form, {
    'method': 'POST',
    'attr': {
        'id': 'DatatreePropertiesForm_' ~ datatree.id,
        'class': 'ODRDatatreePropertiesForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ datatree_form.multiple_allowed.vars.id }}">
                <strong>{{ datatree_form.multiple_allowed.vars.label }}</strong>
            </label>

            <span {% if force_multiple == true %}title="A Datarecord already has multiple {% if is_link == true %}linked{% else %}children{% endif %} datarecords of this Datatype, so it can't be set to disallow multiples."{% endif %}>
                {{ form_errors(datatree_form.multiple_allowed) }}
                {% if force_multiple == true %}
                    {{ form_widget(datatree_form.multiple_allowed, { 'attr': {'style': 'width:auto', 'disabled': 'disabled'} }) }}
                {% else %}
                    {{ form_widget(datatree_form.multiple_allowed, { 'attr': {'style': 'width:auto'} }) }}
                {% endif %}
            </span>

            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path('odr_design_analyze_datarecord_number', {'datatree_id': datatree.id }) }}" style="color:black;" title="Show Datarecords with multiple {% if is_link == true %}linked{% else %}child{% endif %} Datarecords for this Datatype..."><i class="fa fa-list fa-lg"></i></a>
            </span>

            {% if affects_namefield %}
            <span title="Changing this will reset the Name Field for this Datatype" style="cursor:help;">
                <i class="fa fa-lg fa-exclamation-circle"></i>&nbsp;
            </span>
            {% endif %}
            {% if affects_sortfield %}
            <span title="Changing this will reset the Sort Field for this Datatype" style="cursor:help;">
                <i class="fa fa-lg fa-exclamation-circle"></i>&nbsp;
            </span>
            {% endif %}
        </div>

        {% if datatree.dataTreeMeta.getislink == 1 %}
        <div class="pure-control-group">
            <label for="{{ datatree_form.edit_behavior.vars.id }}">
                {{ datatree_form.edit_behavior.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(datatree_form.edit_behavior) }}
                <span class="ODRSelectWrap">
                {{ form_widget(datatree_form.edit_behavior,
                    {
                        'attr': {
                        'class': 'pure-u-1 ODRSelect',
                        'data-error-type': 'inline'
                    }
                    })
                }}
                </span>
            </div>
        </div>
        {% endif %}

        <div style="display: none">
            {{ form_rest(datatree_form) }}
        </div>
    </fieldset>

{{ form_end(datatree_form) }}

{% endspaceless %}
