{% spaceless %}

{% set fieldtype = datafield.getfieldtype %}
{% set typename = fieldtype.gettypename %}
{% set typeclass = fieldtype.gettypeclass %}

{% set is_external_id_field = false %}
{% if datafield.datatype.externalIdField != null and datafield.id == datafield.datatype.externalIdField.id %}
    {% set is_external_id_field = true %}
{% endif %}

{{ form_start(datafield_form, {
    'method': 'POST',
    'attr': {
        'id': 'DatafieldPropertiesForm_' ~ datafield.id,
        'class': 'ODRDatafieldPropertiesForm pure-form pure-form-aligned'
    }
}) }}

    <fieldset>
    {% if typename != "Markdown" %}
        <div class="">
            <label for="{{ datafield_form.field_name.vars.id }}">
                {{ datafield_form.field_name.vars.label }}
            </label>
            {{ form_errors(datafield_form.field_name) }}
            {{ form_widget(datafield_form.field_name, { 'attr': {'class': 'required ODRDatafieldName pure-u-1', 'data-error-type': 'inline' } }) }}
        </div>
    {% endif %}

        <div class="">
            <label for="{{ datafield_form.description.vars.id }}">
                {{ datafield_form.description.vars.label }}
            </label>
            {{ form_errors(datafield_form.description) }}
            {{ form_widget(datafield_form.description, { 'attr': {'class': 'required pure-u-1', 'data-error-type': 'inline' } }) }}
        </div>
{#
        <div class="">
            <label for="{{ datafield_form.regex_validator.vars.id }}">
                {{ datafield_form.regex_validator.vars.label }}
            </label>
            {{ form_errors(datafield_form.regex_validator) }}
            {{ form_widget(datafield_form.regex_validator, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
        <div class="">
            <label for="{{ datafield_form.php_validator.vars.id }}">
                {{ datafield_form.php_validator.vars.label }}
            </label>
            {{ form_errors(datafield_form.php_validator) }}
            {{ form_widget(datafield_form.php_validator, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
#}

        <div class="">
            <label for="{{ datafield_form.field_type.vars.id }}">
                {{ datafield_form.field_type.vars.label }}
            </label>
            <input type="hidden" id="previous_fieldtype" {#name="DataFieldsForm[previous_field_type]"#} value="{{ datafield.getfieldtype.id }}" disabled="disabled" />
            {{ form_errors(datafield_form.field_type) }}
            <span class="ODRSelectWrap">
                {% if prevent_fieldtype_change == true %}
                {{
                    form_widget(datafield_form.field_type, {
                        'attr': {
                            'class': 'required ODRDatafieldType ODRSelect',
                            'data-error-type': 'inline',
                            'disabled': 'disabled',
                            'title': prevent_fieldtype_change_message
                        }
                    })
                }}
                {% else %}
                {{
                    form_widget(datafield_form.field_type, {
                        'attr': {
                            'class': 'required ODRDatafieldType ODRSelect',
                            'data-error-type': 'inline'
                        }
                    })
                }}
                {% endif %}
            </span>


            <span id="field_type_meta" class="Cursor ODRDataInspector" title="{% if typename == 'Long Text' %}255{% elseif typename == 'Medium Text' %}64{% elseif typename == 'Short Text' %}32{% else %}No{% endif %} Character Limit">
                &nbsp;<i class="fa fa-question-circle fa-lg"></i>
            </span>
            {% if typeclass == 'ShortVarchar' or typeclass == 'MediumVarchar' or typeclass == 'LongVarchar' or typeclass == 'LongText' or typeclass == 'IntegerValue' or typeclass == 'DecimalValue' %}
            <span>
                <a
                        target="_blank"
                        class="ODRDataInspector"
                        href="#{{ path( 'odr_design_analyze_datafield_content', {'datafield_id': datafield.id }) }}"
                        title="Show all values stored in this Datafield..."
                ><i class="fa fa-list fa-lg"></i></a>
            </span>
            {% elseif typeclass == 'Radio' %}
            <span>
                <a
                        target="_blank"
                        class="ODRDataInspector"
                        href="#{{ path( 'odr_design_analyze_radio_selections', {'datafield_id': datafield.id }) }}"
                        title="Show all Datarecords with multiple selected RadioOptions for this Datafield..."
                ><i class="fa fa-list fa-lg"></i></a>
            </span>
            {% endif %}
        </div>

        {% if typename == "Markdown" %}
        <div class="">
            <label for="{{ datafield_form.markdown_text.vars.id }}">
                {{ datafield_form.markdown_text.vars.label }}
                <span class="ODRMarkdownHelp Pointer" title="Click here for a brief explanation of Markdown...">
                    <i class="fa fa-question-circle fa-lg"></i>
                </span>
            </label>
            {{ form_errors(datafield_form.markdown_text) }}
            {{ form_widget(datafield_form.markdown_text, { 'attr': {'class': 'ODRDatafieldMarkdown pure-u-23-24', 'style': 'min-height:300px;'} }) }}
        </div>
        {% endif %}

        {% if typename != "Markdown" %}
            {#
        <div class="">
            <label for="render_plugin_id">
                Render Plugin
            </label>
            <input type="text" disabled value="{{ datafield.renderplugin.pluginname }}" class="pure-u-23-24"/>
            <span class="pure-u-1">
                <button type="button" class="pure-button pure-button-primary" onclick="openPluginSettingsDialog({{ datafield.id }}, {{ datafield.datatype.id }});">Edit</button>
            </span>
        </div>

            #}
        <div class="ODRCheckboxProperty">
            {{ form_errors(datafield_form.required) }}
            {{ form_widget(datafield_form.required, { 'attr': {'class': 'ODRFloatingCheckbox', 'style': 'width:auto'} }) }}
            <label for="{{ datafield_form.required.vars.id }}">
                {{ datafield_form.required.vars.label }}
            </label>
        </div>
        {% endif %}

        {% if fieldtype.getcanbeunique == 1 %}
        <div class="ODRCheckboxProperty">
            {{ form_errors(datafield_form.is_unique) }}
            {% if is_external_id_field == true %}
                {{
                    form_widget(datafield_form.is_unique, {
                        'attr':
                        {
                            'style': 'width:auto',
                            'class': 'ODRFloatingCheckbox',
                            'disabled': 'disabled',
                            'title': 'This datafield is currently being used as the Datatype\'s External ID field, and must remain unique.'
                        }
                    })
                }}
            {% else %}
                {{
                    form_widget(datafield_form.is_unique, {
                        'attr': {
                            'style': 'width:auto',
                            'class': 'ODRFloatingCheckbox'
                        }
                    })
                }}
            {% endif %}
            <label for="{{ datafield_form.is_unique.vars.id }}">
                {{ datafield_form.is_unique.vars.label }}
                <span>
                    <a
                        target="_blank"
                        class="ODRDataInspector"
                        href="#{{ path( 'odr_design_analyze_datafield_unique', {'datafield_id': datafield.id }) }}"
                        title="Show Datarecords with duplicate values for this Datafield..."
                    ><i class="fa fa-list fa-lg"></i></a>
                </span>
            </label>
        </div>
        {% endif %}

        {% if typename == 'Image' or typename == 'Single Radio' or typename == 'Multiple Radio' %}
        <div class="">
            <label for="{{ datafield_form.children_per_row.vars.id }}">

                {% if typename == 'Image' %}
                    Images per row:&nbsp;
                {% else %}
                    Options per row:&nbsp;
                {% endif %}

            </label>
            {{ form_errors(datafield_form.children_per_row) }}
            {{ form_widget(datafield_form.children_per_row, { 'attr': {'class': 'ODRDatafieldChildren', 'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        {% if typename == 'Single Radio' or typename == 'Multiple Radio' or typename == 'Single Select' or typename == 'Multiple Select' %}
        <div class="ODRCheckboxProperty">
            {{ form_errors(datafield_form.radio_option_name_sort) }}
            {{ form_widget(datafield_form.radio_option_name_sort, { 'attr': {'class': 'ODRDatafieldNameSort ODRFloatingCheckbox', 'style': 'width:auto'} }) }}
            <label for="{{ datafield_form.radio_option_name_sort.vars.id }}">
                {{ datafield_form.radio_option_name_sort.vars.label }}
            </label>
        </div>
        <div class="ODRCheckboxProperty">
            {{ form_errors(datafield_form.radio_option_display_unselected) }}
            {{ form_widget(datafield_form.radio_option_display_unselected, { 'attr': {'class': 'ODRFloatingCheckbox', 'style': 'width:auto'} }) }}
            <label for="{{ datafield_form.radio_option_display_unselected.vars.id }}">
                {{ datafield_form.radio_option_display_unselected.vars.label }}
            </label>
        </div>
        <div class="ODRCheckboxProperty ODRRadioOptions" rel="{{ datafield.id }}">
            <i id="Field_{{ datafield.id }}_radio_options" class="Pointer fa fa-lg fa-cog" title="Edit Options"></i>
            Edit Available Choices
        </div>
        {% endif %}

        {% if typename != 'Markdown' %}   {# all fields except markdown are searchable to some degree #}
        <div class="">
            <label for="{{ datafield_form.searchable.vars.id }}">
                {{ datafield_form.searchable.vars.label }}
            </label>
            {{ form_errors(datafield_form.searchable) }}
            <span class="ODRSelectWrap">
            {{ form_widget(datafield_form.searchable,
                {
                    'attr': {
                        'class': 'ODRSelect',
                    }
                })
            }}
            </span>
        </div>
        {% endif %}

        {% if typename == 'File' or typename == 'Image' %}
        <div class="">
            <label for="{{ datafield_form.allow_multiple_uploads.vars.id }}">
                {{ datafield_form.allow_multiple_uploads.vars.label }}
            </label>
            <span
                {% if has_multiple_uploads == 1 %}
                    title="This option can't be changed because at least one Datarecord already has multiple {{ typename }}s uploaded to this Datafield"
                {% endif %}>

            {{ form_errors(datafield_form.allow_multiple_uploads) }}
            {% if has_multiple_uploads == 1 %}
                <input type="hidden" name="{{ datafield_form.allow_multiple_uploads.vars.full_name }}" value="1" />
                {{ form_widget(datafield_form.allow_multiple_uploads, { 'attr': {'disabled': 'disabled', 'style': 'width:auto'} }) }}
            {% elseif used_by_table_theme == true %}
                {# TODO - warn when changing this would end up changing table layouts? #}
                {{ form_widget(datafield_form.allow_multiple_uploads, { 'attr': {'style': 'width:auto'} }) }}
            {% else %}
                {{ form_widget(datafield_form.allow_multiple_uploads, { 'attr': {'style': 'width:auto'} }) }}
            {% endif %}
            </span>

            <span>
                <a
                        target="_blank"
                        class="ODRDataInspector"
                        href="#{{ path( 'odr_design_analyze_file_uploads', {'datafield_id': datafield.id }) }}"
                        title="Show Datarecords with multiple uploaded {{ typename }}s in this Datafield..."
                ><i class="fa fa-list fa-lg"></i></a>
            </span>

        </div>
        {% endif %}

        {% if typename == 'File' %}
        <div class="">
            <label for="{{ datafield_form.shorten_filename.vars.id }}">
                {{ datafield_form.shorten_filename.vars.label }}
            </label>
            {{ form_errors(datafield_form.shorten_filename) }}
            {{ form_widget(datafield_form.shorten_filename, { 'attr': {'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        <div style="display: none">
        {{ form_rest(datafield_form) }}
        </div>

    </fieldset>

{{ form_end(datafield_form) }}

{% endspaceless %}
