{% spaceless %}

{% if theme_element is null %}
    {{ form_start(datatype_form, {
        'method': 'POST',
        'attr': {
            'id': 'DatatypePropertiesForm_' ~ datatype.id ~ '_0',
            'class': 'ODRDatatypePropertiesForm pure-form'
        }
    }) }}
{% else %}
    {{ form_start(datatype_form, {
        'method': 'POST',
        'attr': {
            'id': 'DatatypePropertiesForm_' ~ datatype.id ~ '_' ~ theme_element.id,
            'class': 'ODRDatatypePropertiesForm pure-form'
        }
    }) }}
{% endif %}

{% if is_target_datatype_admin %}    {# don't display datatype-specific properties if the user can't modify the datatype #}

    <fieldset>
    {% if show_name %}
        {# TODO Make long name the default and auto-populate short name with the same value #}
        <div class="pure-control-group">
            <label for="{{ datatype_form.long_name.vars.id }}">
                {{ datatype_form.long_name.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(datatype_form.long_name) }}
                {{ form_widget(datatype_form.long_name, {
                    'attr': {
                        'class': 'pure-u-1 required ODRDatasetName',
                        'data-error-type': 'inline'
                    }
                }) }}
            </div>
        </div>
    {% else %}
        <div class="pure-control-group">
            <label class="ODRFieldLabel" for="{{ datatype_form.long_name.vars.id }}">
                {{ datatype_form.long_name.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                <span class="ODRPropertiesWarning">See Dataset Properties Page</span>
            </div>
        </div>
    {% endif %}

    {% if show_description %}
        <div class="pure-control-group">
            <label for="{{ datatype_form.description.vars.id }}">
                {{ datatype_form.description.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(datatype_form.description) }}
                {{ form_widget(datatype_form.description, {
                    'attr': {
                        'rows': '3',
                        'class': 'pure-u-1 required',
                        'data-error-type': 'inline'
                    }
                }) }}
            </div>
        </div>
    {% else %}
        <div class="pure-control-group">
            <label for="{{ datatype_form.description.vars.id }}">
                {{ datatype_form.description.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                <span class="ODRPropertiesWarning">See Dataset Properties Page</span>
            </div>
        </div>
    {% endif %}

        <div class="pure-control-group">
            <label for="{{ datatype_form.newRecordsArePublic.vars.id }}">
                {{ datatype_form.newRecordsArePublic.vars.label }}
            </label>
            {{ form_errors(datatype_form.newRecordsArePublic) }}
            {{ form_widget(datatype_form.newRecordsArePublic, {
                'attr': {
                    'style': 'width:auto'
                }
            }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{ datatype_form.externalIdField.vars.id }}">
                {{ datatype_form.externalIdField.vars.label }}
                <span class="ODRHelp">
                    <i class="fa fa-lg fa-question-circle Cursor"
                       title="The contents of the selected Datafield will be used to identify and update Datarecords during CSV/XML Importing.  Only Datafields marked as 'Unique' in DisplayTemplate are eligible for use."></i>
                </span>
            </label>

            <div class="ODRFieldWrapper">
                {{ form_errors(datatype_form.externalIdField) }}
                <span class="ODRSelectWrap">
                    {{ form_widget(datatype_form.externalIdField, {
                        'attr': {
                            'class': 'pure-u-1 ODRSelect',
                            'data-error-type': 'inline'
                        }
                    }) }}
                </span>
            </div>
        </div>

        <div class="pure-control-group">
            <label style="display: inline;">{{ datatype_form.nameField.vars.label }}</label>
            <span>&nbsp;
                <a target="_blank" class="address" style="color:black;"
                   onclick="openSpecialFieldsSelectionDialog({{ datatype.id }}, 'name');"
                   title="Manage Group permissions for this Datatype..."><i class="fa fa-external-link fa-lg"></i>
                </a>
            </span>
        </div>

        <div class="pure-control-group">
            <label style="display: inline;">{{ datatype_form.sortField.vars.label }}</label>
            <span>&nbsp;
                <a target="_blank" class="address" style="color:black;"
                   onclick="openSpecialFieldsSelectionDialog({{ datatype.id }}, 'sort');"
                   title="Manage Group permissions for this Datatype..."><i class="fa fa-external-link fa-lg"></i>
                </a>
            </span>
        </div>

        {% if is_top_level == true %}

        <div class="pure-control-group">
            <label for="{{ datatype_form.searchSlug.vars.id }}">
                {{ datatype_form.searchSlug.vars.label }}
            </label>
            <div class="ODRFieldWrapper">
                {{ form_errors(datatype_form.searchSlug) }}
                <span style="color:black; font-size:80%;">{{ site_baseurl ~ '/' }}</span>
                <span>
                    {{ form_widget(datatype_form.searchSlug, {
                        'attr': {
                            'style': 'width:auto;',
                            'maxlength': '32'
                        }
                    }) }}
                </span>
            </div>
        </div>
        {% endif %}

        {# render all hidden fields, and anything else that's necessary #}
        <div class="ODRHidden">
            {{ form_rest(datatype_form) }}
        </div>

    </fieldset>
{% endif %}

{{ form_end(datatype_form) }}

<div style="margin:5px;">
{% if is_top_level == true %}
    <div style="margin:5px;">
        <label>Default Searches</label>
        <span>&nbsp;
            <a target="_blank" class="address" style="color:black;"
               onclick="openStoredSearchKeysDialog({{ datatype.id }});"
               title="Manage stored Search Keys for this Datatype..."><i class="fa fa-external-link fa-lg"></i>
            </a>
        </span>
    </div>

    {# since only datatype admins can get this far, the user always can view permissions #}
    <div style="margin:5px;">
        <label>Datatype Permissions</label>
        <span>&nbsp;
            <a target="_blank" class="address"
               href="#{{ path( 'odr_manage_groups', {'datatype_id': datatype.id }) }}" style="color:black;"
               title="Manage Group permissions for this Datatype..."><i class="fa fa-external-link fa-lg"></i>
            </a>
        </span>
    </div>
{% endif %}

{% if can_open_multi_df_dialog %}
    <div style="margin:5px;">
        <label>Datafield Properties</label>
        <span>&nbsp;
            <a target="_blank" class="address" style="color:black;"
               onclick="openMultipleDatafieldPropertiesDialog({{ datatype.id }});"
               title="Manage Datafield properties for this Datatype..."><i class="fa fa-external-link fa-lg"></i>
            </a>
        </span>
    </div>
{% endif %}
</div>

{% if is_top_level == false and datatree != null %}   {# display datatree properties if not a top-level datatype #}
    {% include 'ODRAdminBundle:Displaytemplate:datatree_properties_form.html.twig' with {
        'datatree': datatree,
        'datatree_form': datatree_form,
        'force_multiple': force_multiple,
        'affects_namefield': affects_namefield,
        'affects_sortfield': affects_sortfield,
    } %}
{% endif %}

{% if is_top_level == false and theme_datatype != null %}   {# display theme_datatype properties if not a top-level datatype #}
    {% include 'ODRAdminBundle:Theme:theme_datatype_properties_form.html.twig' with {
        'theme_datatype': theme_datatype,
        'theme_datatype_form': theme_datatype_form
    } %}
{% endif %}

{% endspaceless %}
