{% spaceless %}
{% set fieldtype = datafield.getfieldtype %}
{% set typename = fieldtype.gettypename %}
{% set typeclass = fieldtype.gettypeclass %}

{% set is_external_id_field = false %}
{% if datafield.datatype.externalIdField != null and datafield.id == datafield.datatype.externalIdField.id %}
    {% set is_external_id_field = true %}
{% endif %}

<div class="pure-u-3-4" style="visibility: hidden;">
    <label id="saved" style="margin: 10px; float: right; color: black; font-size:1.25em;"><strong>SAVED</strong></label></br>
</div>

{% include 'ODRAdminBundle:Displaytemplate:theme_datafield_properties_form.html.twig' with {'theme_datafield': theme_datafield, 'theme_datafield_form': theme_datafield_form} %}

<form class="ODRDatafieldPropertiesForm pure-form pure-form-aligned" {{ form_enctype(datafield_form) }} id="DatafieldPropertiesForm_{{ datafield.id }}">
    {{ form_errors(datafield_form._token) }}
    {{ form_widget(datafield_form._token) }}

    <fieldset>
    {% if typename != "Markdown" %}
        <div class="pure-control-group">
            <label for="{{datafield_form.field_name.vars.id}}">
                <strong>{{datafield_form.field_name.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.field_name) }}
            {{ form_widget(datafield_form.field_name, { 'attr': {'class': 'required ODRDatafieldName', 'data-error-type': 'inline' } }) }}
            {#{{ form_widget(datafield_form.data_type, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}#}
        </div>
    {% endif %}

        <div class="pure-control-group">
            <label for="{{datafield_form.description.vars.id}}">
                <strong>{{datafield_form.description.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.description) }}
            {{ form_widget(datafield_form.description, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
{#
        <div class="pure-control-group">
            <label for="{{datafield_form.regex_validator.vars.id}}">
                <strong>{{datafield_form.regex_validator.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.regex_validator) }}
            {{ form_widget(datafield_form.regex_validator, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
        <div class="pure-control-group">
            <label for="{{datafield_form.php_validator.vars.id}}">
                <strong>{{datafield_form.php_validator.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.php_validator) }}
            {{ form_widget(datafield_form.php_validator, { 'attr': {'class': 'required', 'data-error-type': 'inline' } }) }}
        </div>
#}

        <div class="pure-control-group">
            <label for="{{datafield_form.field_type.vars.id}}">
                <strong>{{datafield_form.field_type.vars.label}}</strong>
            </label>
            <input type="hidden" id="previous_fieldtype" name="DataFieldsForm[previous_field_type]" value="{{ datafield.getfieldtype.id }}" />

            <span {% if prevent_fieldtype_change == true %}title="{{ prevent_fieldtype_change_message }}"{% endif %} >
                {{ form_errors(datafield_form.field_type) }}
                {% if prevent_fieldtype_change == true %}
                    {{ form_widget(datafield_form.field_type, { 'attr': {'class': 'required ODRDatafieldType', 'data-error-type': 'inline', 'disabled': 'disabled' } }) }}
                {% else %}
                    {{ form_widget(datafield_form.field_type, { 'attr': {'class': 'required ODRDatafieldType', 'data-error-type': 'inline' } }) }}
                {% endif %}
            </span>

            <span id="field_type_meta" class="Cursor" title="{% if typename == 'Long Text' %}255{% elseif typename == 'Medium Text' %}64{% elseif typename == 'Short Text' %}32{% else %}No{% endif %} Character Limit" style="color:black;">
                &nbsp;<i class="fa fa-question-circle fa-lg"></i>
            </span>
            {% if typeclass == 'ShortVarchar' or typeclass == 'MediumVarchar' or typeclass == 'LongVarchar' or typeclass == 'LongText' or typeclass == 'IntegerValue' or typeclass == 'DecimalValue' %}
            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path( 'odr_design_analyze_datafield_content', {'datafield_id': datafield.id }) }}" style="color:black;" title="Show all values stored in this Datafield..."><i class="fa fa-cog fa-lg"></i></a>
            </span>
            {% elseif typeclass == 'Radio' %}
            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path( 'odr_design_analyze_radio_selections', {'datafield_id': datafield.id }) }}" style="color:black;" title="Show all Datarecords with multiple selected RadioOptions for this Datafield..."><i class="fa fa-cog fa-lg"></i></a>
            </span>
            {% endif %}
        </div>

        {% if typename == "Markdown" %}
        <div class="pure-control-group">
            <label for="{{datafield_form.markdown_text.vars.id}}">
                <strong>{{datafield_form.markdown_text.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.markdown_text) }}
            {{ form_widget(datafield_form.markdown_text, { 'attr': {'class': 'ODRDatafieldMarkdown', 'style': 'width:400px; min-height:300px;'} }) }}
        </div>
        {% endif %}

        {% if typename != "Markdown" %}
        <div class="pure-control-group">
{#
            <label for="{{datafield_form.render_plugin.vars.id}}">
                <strong>{{datafield_form.render_plugin.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.render_plugin) }}
            {{ form_widget(datafield_form.render_plugin, { 'attr': {'style': 'width:auto'} }) }}
#}
            <label for="render_plugin_id">
                <strong>Render Plugin</strong>
            </label>
            <input type="text" disabled value="{{ datafield.renderplugin.pluginname }}" class="pure-u-1-3"/>
            <span class="pure-u-1-4">
                <button type="button" class="pure-button pure-button-primary" onclick="openPluginSettingsDialog({{ datafield.id }}, {{ datafield.datatype.id }});">Edit</button>
            </span>
        </div>

        <div class="pure-control-group">
            <label for="{{datafield_form.required.vars.id}}">
                <strong>{{datafield_form.required.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.required) }}
            {{ form_widget(datafield_form.required, { 'attr': {'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        {% if fieldtype.getcanbeunique == 1 %}
        <div class="pure-control-group">
            <label for="{{datafield_form.is_unique.vars.id}}">
                <strong>{{datafield_form.is_unique.vars.label}}</strong>
            </label>

            <span {% if is_external_id_field == true %}title="This datafield is currently being used as the Datatype's External ID field, and must remain unique."{% endif %} >
                {{ form_errors(datafield_form.is_unique) }}
                {% if is_external_id_field == true %}
                    {{ form_widget(datafield_form.is_unique, { 'attr': {'style': 'width:auto', 'disabled': 'disabled'} }) }}
                {% else %}
                    {{ form_widget(datafield_form.is_unique, { 'attr': {'style': 'width:auto'} }) }}
                {% endif %}
            </span>

            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path( 'odr_design_analyze_datafield_unique', {'datafield_id': datafield.id }) }}" style="color:black;" title="Show Datarecords with duplicate values for this Datafield..."><i class="fa fa-cog fa-lg"></i></a>
            </span>
        </div>
        {% endif %}

        {% if typename == 'Image' or typename == 'Single Radio' or typename == 'Multiple Radio' %}
        <div class="pure-control-group">
            <label for="{{datafield_form.children_per_row.vars.id}}">
                <strong>
                {% if typename == 'Image' %}
                    Images per row:&nbsp;
                {% else %}
                    Options per row:&nbsp;
                {% endif %}
                </strong>
            </label>
            {{ form_errors(datafield_form.children_per_row) }}
            {{ form_widget(datafield_form.children_per_row, { 'attr': {'class': 'ODRDatafieldChildren', 'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        {% if typename == 'Single Radio' or typename == 'Multiple Radio' or typename == 'Single Select' or typename == 'Multiple Select' %}
        <div class="pure-control-group">
            <label for="{{datafield_form.radio_option_name_sort.vars.id}}">
                <strong>{{datafield_form.radio_option_name_sort.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.radio_option_name_sort) }}
            {{ form_widget(datafield_form.radio_option_name_sort, { 'attr': {'class': 'ODRDatafieldNameSort', 'style': 'width:auto'} }) }}
        </div>
        <div class="pure-control-group">
            <label for="{{datafield_form.radio_option_display_unselected.vars.id}}">
                <strong>{{datafield_form.radio_option_display_unselected.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.radio_option_display_unselected) }}
            {{ form_widget(datafield_form.radio_option_display_unselected, { 'attr': {'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        {% if typename != 'Markdown' %}   {# all fields except markdown are searchable to some degree #}
        <div class="pure-control-group">
            <label for="{{datafield_form.searchable.vars.id}}">
                <strong>{{datafield_form.searchable.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.searchable) }}
            {{ form_widget(datafield_form.searchable, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{datafield_form.user_only_search.vars.id}}">
                <strong>{{datafield_form.user_only_search.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.user_only_search) }}
            {{ form_widget(datafield_form.user_only_search, { 'attr': {'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        {% if typename == 'File' or typename == 'Image' %}
        <div class="pure-control-group">
            <label for="{{datafield_form.allow_multiple_uploads.vars.id}}">
                <strong>{{datafield_form.allow_multiple_uploads.vars.label}}</strong>
            </label>
            <span
                {% if has_multiple_uploads == 1 %}
                    title="This DataField can't be set to only accept a single file, because at least one DataRecord already has multiple files attached to this DataField"
                {% elseif has_multiple_uploads == 0 and datafield.displayOrder > 0 %}
                    title="This DataField is currently being used in this DataType's TextResults display, which can only handle one file per DataField"
                {% endif %}>

            {{ form_errors(datafield_form.allow_multiple_uploads) }}
            {% if has_multiple_uploads == 1 or (has_multiple_uploads == 0 and datafield.displayOrder > 0) %}
                <input type="hidden" name="{{ datafield_form.allow_multiple_uploads.vars.full_name }}" value="1" />
                {{ form_widget(datafield_form.allow_multiple_uploads, { 'attr': {'disabled': 'disabled', 'style': 'width:auto'} }) }}
            {% else %}
                {{ form_widget(datafield_form.allow_multiple_uploads, { 'attr': {'style': 'width:auto'} }) }}
            {% endif %}
            </span>

            <span>
                &nbsp;<a target="_blank" class="address" href="#{{ path( 'odr_design_analyze_file_uploads', {'datafield_id': datafield.id }) }}" style="color:black;" title="Show Datarecords with multiple uploaded {{ typename }}s in this Datafield..."><i class="fa fa-cog fa-lg"></i></a>
            </span>

        </div>
        {% endif %}

        {% if typename == 'File' %}
        <div class="pure-control-group">
            <label for="{{datafield_form.shorten_filename.vars.id}}">
                <strong>{{datafield_form.shorten_filename.vars.label}}</strong>
            </label>
            {{ form_errors(datafield_form.shorten_filename) }}
            {{ form_widget(datafield_form.shorten_filename, { 'attr': {'style': 'width:auto'} }) }}
        </div>
        {% endif %}

        <div style="display: none">
        {{ form_rest(datafield_form) }}
        </div>

    </fieldset>
</form>

<button type="button" id="DeleteField_{{ datafield.id }}" class="pure-button pure-button-primary{% if prevent_fieldtype_change == true %} pure-button-disabled{% endif %} ODRDeleteField"><i class="fa fa-trash-o"></i>&nbsp;Delete Field</button>
&nbsp;&nbsp;&nbsp;
<button type="button" id="CopyField_{{ datafield.id }}" class="pure-button pure-button-primary ODRCopyField"><i class="fa fa-repeat"></i>&nbsp;Copy Field</button>

{% endspaceless %}
