{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}


{% set typeclass = datafield_meta.fieldType.typeClass %}
<script>

    if (datafield_properties === undefined) {
        var datafield_properties = [];
    }

    datafield_properties[{{ datafield.id }}] = {};
    datafield_properties[{{ datafield.id }}].render_plugin_id = {{ datafield.dataFieldMeta.renderPlugin.id }};
    datafield_properties[{{ datafield.id }}].render_plugin_name = '{{ datafield.dataFieldMeta.renderPlugin.pluginName }}';
    {% if typeclass != "Radio" %}
        datafield_properties[{{ datafield.id }}].can_copy = 1;
    {% else %}
        datafield_properties[{{ datafield.id }}].can_copy = 0;
    {% endif %}
    {% if datafield_meta.publicDate|is_public %}
        datafield_properties[{{ datafield.id }}].is_public = 1;
    {% else %}
        datafield_properties[{{ datafield.id }}].is_public = 0;
    {% endif %}
</script>

<div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }} {% if not is_datatype_admin %}ODRForbidden{% endif %}" id="Field_{{ datafield.id }}" >

<form id="Form_DataField_{{ datafield.id }}" class="pure-u-1">

    {% if field_typename == "Boolean" %}
    <fieldset>
        <label id="Label_{{ datafield.id }}" for="Input_{{ datafield.id }}" class="ODRFieldLabel pure-u-1{% if is_datatype_admin %} Pointer{% endif %}" style="margin:0.5em 0;">
            <input type="checkbox" name="">&nbsp;

            <span id="ODRDatafield_{{ datafield.id }}_name" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>

            {% if is_datatype_admin %}
            <span style="margin-left: 10px;">
                <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
            </span>
            {% endif %}
        </label>
    </fieldset>

    {% elseif field_typename == "File" %}
        <div class="ODRFileDatafield">
            <div class="ODRFileDatafield_header pure-u-1">
                <i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>&nbsp;
                {% if is_datatype_admin %}
                <i id="ODRDatafield_{{datafield.id }}_publicStatus" class="Pointer fa fa-lg fa-globe{% if datafield_meta.publicDate|is_public %} ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
                {% endif %}

                <span id="ODRDataField_{{ datafield.id }}" title="{{ datafield_meta.description }}">
                    <span id="ODRDatafield_{{ datafield.id }}_name" class="ODRFieldLabel">{{ datafield_meta.fieldName }}</span>
                </span>
            </div>
            <div class="ODRFileDatafield_file pure-u-1">
                <span class="ODRFileSpacer ODRFileSpacer_nonpublic">&nbsp;</span>

                <span class="ODRTruncateFilename">

                    <span class="ODRFileInfoDiv">
                        <i class="fa fa-lg fa-info-circle"></i>
                        <span class="ODRFileInfo">
                            <div>
                                <i class="fa fa-globe ODRPublicFile"></i>&nbsp;
                            </div>
                            <div>
                                <i class="fa fa-calendar"></i>&nbsp;
                                Uploaded Unknown Date by Unknown
                            </div>
                            <div>
                                <i class="fa fa-file-o"></i>&nbsp;
                                0 bytes
                            </div>
                        </span>
                    </span>
                    <a class="ODRFileDownload" title="File Name Here" rel="-1">File Name Here</a>
                </span>
            </div>
        </div>

    {% elseif field_typename == "Image" %}
    <fieldset>
        <span class="pure-u-1">
            <h3 id="Label_{{ datafield.id }}" class="ODRFieldLabel pure-u-1" title="{{ datafield_meta.description }}">
            {% if is_datatype_admin %}
                <span>
                    <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
                </span>
            {% endif %}

                <span id="ODRDatafield_{{ datafield.id }}_name">{{ datafield_meta.fieldName }}</span>
            </h3>
        </span>
        <div class="pure-u-1">
            <img class="pure-img" src="/img/blank.jpg" />
        </div>
    </fieldset>

    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Paragraph Text" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
    <fieldset>
        <label id="Label_{{ datafield.id }}" for="Input_{{ datafield.id }}" class="ODRFieldLabel pure-u-1{% if is_datatype_admin %} Pointer{% endif %}">

        {% if is_datatype_admin %}
            <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="ODRPublicStatusIndicator Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
        {% endif %}

            <span id="ODRDatafield_{{ datafield.id }}_name" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
        </label>
        <div class="ODRPseudoField" id="Input_{{ datafield.id }}"></div>
    </fieldset>

    {% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" %}
    <fieldset>
        <span class="pure-u-1">
            <label id="Label_{{ datafield.id }}" class="ODRFieldLabel{% if is_datatype_admin %} Pointer{% endif %}">
                <span id="ODRDatafield_{{ datafield.id }}_name" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
            </label>

            {% if is_datatype_admin %}
            <span style="margin-left: 10px; display: none;">
                <i id="Field_{{ datafield.id }}_radio_options" class="ODRRadioOptions Pointer fa fa-lg fa-cog" title="Edit Options" rel="{{ datafield.id }}"></i>
            </span>
            <span style="margin-left: 10px;">
                <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
            </span>
            {% endif %}
        </span>

        {% if datafield.radioOptions is defined %}
            {% for radio_option in datafield.radioOptions %}
                <label id="Option_{{ radio_option.id }}" for="Option_object_{{ radio_option.id }}" class="pure-u-1 pure-u-md-1-{{ datafield_meta.children_per_row }}{% if is_datatype_admin %} Pointer{% endif %}" style="margin: 0.5em 0;">

                {% if field_typename == "Single Radio" %}
                    <input id="Option_object_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ datafield.id }}" class="SingleRadioGroup" disabled />
                {% else %}
                    <input id="Option_object_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ datafield.id }}" class="MultipleRadioGroup" disabled />
                {% endif %}
                {% if radio_option.radioOptionMeta is defined %}
                <span id="Option_{{ radio_option.id }}_name">{{ radio_option.radioOptionMeta.optionName }}</span>
                    {% else %}
                    invalid option
                {% endif %}
                </label>
            {% endfor %}
        {% endif %}
    </fieldset>

    {% elseif field_typename == "Single Select" or field_typename == "Multiple Select" %}
    <fieldset>
        <label id="Label_{{ datafield.id }}" for="Input_{{ datafield.id }}" class="ODRFieldLabel pure-u-1{% if is_datatype_admin %} Pointer{% endif %}">
            {% if is_datatype_admin %}
                <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="ODRPublicStatusIndicator Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
            {% endif %}
            <span id="ODRDatafield_{{ datafield.id }}_name" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
            {% if is_datatype_admin %}
                <span style="margin-left: 10px; display: none;">
                    <i id="Field_{{ datafield.id }}_radio_options" class="ODRRadioOptions Pointer fa fa-lg fa-cog" title="Edit Options" rel="{{ datafield.id }}"></i>
                </span>
            {% endif %}
        </label>

        <select disabled="disabled" id="SelectGroup_{{ datafield.id }}" class="{% if field_typename == "Multiple Select" %}MultipleSelectGroup{% else %}SingleSelectGroup{% endif %}" {% if field_typename == "Multiple Select" %}multiple{% endif %}>

        {% if datafield.radioOptions is defined %}
            {% if field_typename == "Single Select" %}
                <option id="Option_0" value="0">Select an Option</option>
            {% endif %}

            {% for radio_option in datafield.radioOptions %}
                {% if radio_option.radioOptionMeta is defined %}
                    <option id="Option_{{ radio_option.id }}" value="{{ radio_option.id}}">{{ radio_option.radioOptionMeta.optionName }}</option>
                {% else %}
                    <option id="Option_{{ radio_option.id }}" value="{{ radio_option.id}}">Invalid Option Name</option>
                {% endif %}
            {% endfor %}
        {% endif %}
        </select>
    </fieldset>

    {% elseif field_typename == "DateTime" %}
    <fieldset>
        <label id="Label_{{ datafield.id }}" for="Input_{{ datafield.id }}" class="ODRFieldLabel pure-u-1{% if is_datatype_admin %} Pointer{% endif %}">
            {% if is_datatype_admin %}
                <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="ODRPublicStatusIndicator Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
            {% endif %}
            <span id="ODRDatafield_{{ datafield.id }}_name" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
        </label>
        <div class="ODRPseudoField" id="Input_{{ datafield.id }}">
            <input type="text" name="" class="ODRDatePicker" style="width: 100%" readonly />
        </div>
        <div style="margin-bottom:5px;"><label class="ODRDatePicker_clear"><u>Clear Date</u></label></div>
    </fieldset>

    {% elseif field_typename == "Markdown" %}
        <fieldset>
            {% if is_datatype_admin %}
                <i id="ODRDatafield_{{ datafield.id }}_publicStatus" class="ODRPublicStatusIndicator Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatafield" title="Field {% if not datafield_meta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datafield.id }}"></i>
            {% endif %}
            <div class="ODRMarkdownContent" title="{{ datafield_meta.description }}">
                {% if datafield_meta.markdownText != null %}{{ datafield_meta.markdownText|markdown }}{% endif %}
            </div>
        </fieldset>

    {% endif %}
</form>

</div><!-- End of #Field_{{ datafield.id }} -->
{% endspaceless %}
