{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

<div class="ODRDataType{% if is_link == 1 %} ODRLinkedType{% endif %}{% if is_top_level == 0 %} ODRAccordionWrapper ODRFormAccordion{% endif %} pure-u-1" id="DataType_{{ datatype.id }}">

    {% if is_top_level == 0 %}
        {# current datatype is a child or linked datatype #}
        <h3 title="Click to display properties."
            class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top ODRDatatypeProperties"
            role="tab" aria-expanded="true" aria-selected="true" tabindex="0"
        >
            {% if is_datatype_admin %}
                <i id="ODRDatatype_{{datatype.id }}_publicStatus"
                   class="Pointer fa fa-lg fa-globe{% if datatype.dataTypeMeta.publicDate|is_public %} ODRActiveIcon{% endif %} ODRPublicDatatype"
                   title="Field {% if not datatype.dataTypeMeta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view"
                   rel="{{ datatype.id }}"
                ></i>
            {% endif %}
            <a
                id="Datatype_{{ datatype.id }}_ShortName"
                class="tooltip{% if not is_datatype_admin %} ODRForbidden{% endif %}"
                title="Click to display properties." rel="{{ datatype.id }}"
            >
                {{ datatype.dataTypeMeta.shortName }}
            </a>
        </h3>
        {% include 'ODRAdminBundle:Displaytemplate:design_area_datatypetools_div.html.twig' with {
            'datatype': datatype,
            'theme_id': theme.id,

            'is_top_level': is_top_level,
            'is_link': is_link,
        } %}

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:Displaytemplate:design_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'is_datatype_admin': is_datatype_admin,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->
    {% else %}

        <div class="ODRThemeElement pure-u-1">
            <div class="ODRInnerBox pure-u-1">
                <h3 title="Click to display properties."
                    class="ODRHeader ODRDatatypeProperties tooltip{% if not is_datatype_admin %} ODRForbidden{% endif %}"
                >
                    <i id="ODRDatatype_{{datatype.id }}_publicStatus"
                       class="Pointer fa fa-lg fa-globe{% if datatype.dataTypeMeta.publicDate|is_public %} ODRActiveIcon{% endif %} ODRPublicDatatype"
                       title="Field {% if not datatype.dataTypeMeta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view"
                       rel="{{ datatype.id }}"
                    ></i>
                    <span id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</span>
                </h3>
                {# current datatype is top-level #}
                {% include 'ODRAdminBundle:Displaytemplate:design_area_datatypetools_div.html.twig' with {
                    'datatype': datatype,
                    'theme_id': theme.id,

                    'is_top_level': is_top_level,
                    'is_link': is_link,
                } %}
            </div>
        </div>

        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:Displaytemplate:design_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'is_datatype_admin': is_datatype_admin,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
