{% spaceless %}

<span id="DataTypeTools_{{ datatype.id }}" class="DataTypeTools">
    <i id="ODRDatatype_{{ datatype.id }}_properties" class="Pointer tooltip fa fa-info-circle ODRDatatypeProperties" title="DataType Properties" rel="{{ datatype.id }}"></i>

{#{% if is_link == 0 and datatype_tree.fieldarea_reload == 0 %}#}   {# always display datatype properties...only display the remainder if not a linked type #}
{% if is_link == 0 %}
    <i id="ODRDatatype_{{ datatype.id }}_addTE" class="Pointer tooltip fa fa-edit ODRAddThemeElement" title="Add Group Box" rel="{{ theme_id }}"></i>
    {% if is_top_level == 0 %} {# not allowed to delete top-level datatypes from here #}
        <i id="ODRDatatype_{{ datatype.id }}_delete" class="Pointer tooltip fa fa-trash-o ODRDeleteDatatype" title="Delete DataType" rel="{{ datatype.id }}"></i>
    {% endif %}

    {#<i id="ODRDatatype_{{ datatype.id }}_undeleteDatafields" class="Pointer tooltip fa fa-undo ODRUndeleteFields" title="Undelete Datafields" rel="{{ datatype.id }}"></i>#}

    {% if datatype.dataTypeMeta.renderPlugin.id != 1 %}
        <i id="ODRDatatype_{{ datatype.id }}_renderPlugin" class="Pointer tooltip fa fa-bar-chart-o ODRRenderPlugin ODRActiveIcon" title="RenderPlugin Settings (using {{ datatype.dataTypeMeta.renderPlugin.pluginName }})" rel="{{ datatype.id }}"></i>
    {% else %}
        <i id="ODRDatatype_{{ datatype.id }}_renderPlugin" class="Pointer tooltip fa fa-bar-chart-o ODRRenderPlugin" title="RenderPlugin Settings" rel="{{ datatype.id }}"></i>
    {% endif %}

    <i id="ODRDatatype_{{ datatype.id }}_publicStatus" class="Pointer tooltip fa fa-globe fa-inverse {% if datatype.dataTypeMeta.publicDate|is_public %}ODRActiveIcon{% endif %} ODRPublicDatatype" title="Datatype {% if not datatype.dataTypeMeta.publicDate|is_public %}requires {% else %}does not require {% endif %}permission to view" rel="{{ datatype.id }}"></i>
{% endif %}

</span>

{% endspaceless %}
