{% spaceless %}

    <!-- Link DataType Dialog Form -->
    <form class="ODRLinkDatatypeForm pure-form pure-form-aligned full validate" id="LinkDatatypeForm" action="{{ path('odr_design_link_datatype') }}" method="post">

        <input type="hidden" name="theme_element_id" value="{{ theme_element.id }}" />
        <input type="hidden" name="local_datatype_id" value="{{ local_datatype.id }}" />
        <input type="hidden" id="ODRLinkDatatypeForm_previous" name="previous_remote_datatype" value="{% if remote_datatype != null %}{{ remote_datatype.id }}{% endif %}" />

{% if remote_datatype != null and has_linked_datarecords %}
        <div id="ODRRemoteDatatypeHasLinks" class="pure-u-1">
            <div>
                <span class="pure-u-2-24"><i class="fa fa-lg fa-exclamation-triangle Cursor"></i></span>
                <span class="pure-u-22-24">Several Datarecords of the local Datatype "{{ local_datatype.getShortName }}" are currently connected to Datarecords of the remote Datatype "{{ remote_datatype.getShortName }}".</span>
            </div>
            <div>
                <span class="pure-u-2-24"><i class="fa fa-lg fa-cog Pointer ODRLinkDatatypeAnalyze"></i></span>
                <span class="pure-u-22-24">Click the gear icon to see which connections would be deleted if the local Datatype is unlinked from the remote Datatype.</span>
            </div>
        </div>
{% endif %}

        <fieldset style="margin-top: 5px;">
            <div class="pure-control-group">
                <label for="selected_datatype">
                    <strong>DataType Name:</strong>
                </label>
                <select name="selected_datatype" id="selected_datatype">
                    <option value=""></option>
                {% for datatype in linkable_datatypes %}
                    {% set is_selected = false %}
                    {% if remote_datatype != null and remote_datatype.id == datatype.id %}
                        {% set is_selected = true %}
                    {% endif %}

                    {% set no_table_theme = false %}
                    {% if datatypes_with_table_themes[datatype.id] is not defined %}
                        {% set no_table_theme = true %}
                    {% endif %}

                    <option value="{{ datatype.id }}" rel="{% if no_table_theme %}warn{% endif %}" {% if is_selected %}selected{% endif %}>{{ datatype.shortname }}</option>
                {% endfor %}
                </select>
            </div>
        </fieldset>

        <div id="ODRRemoteDatatypeLacksTableTheme" class="pure-u-1" {% if remote_datatype != null and datatypes_with_table_themes[remote_datatype.id] is not defined %}{% else %}style="display: none;"{% endif %}>
            <div>
                <span class="pure-u-2-24"><i class="fa fa-lg fa-exclamation-triangle Cursor"></i></span>
                <span class="pure-u-22-24">This remote Datatype does not currently have a Table theme.<br>Users won't be able to create links to Datarecords of this remote Datatype until it has at least one Table theme.</span>
            </div>
        </div>
    </form>

    <div style="margin-top: 5px;">
        <button type="button" class="pure-button ODRCancelButton">Cancel</button>
        <button type="button" id="ODRLinkDatatypeFormSubmit" class="pure-button pure-button-primary ODRSubmitButton" disabled>Link Database</button>
    </div>

    <script>
        $(function() {
{% if remote_datatype != null and has_linked_datarecords %}
            $(".ODRLinkDatatypeAnalyze").unbind('click').click(function() {
                var url = "#{{ path( 'odr_design_analyze_datarecord_links', {'local_datatype_id': local_datatype.id, 'remote_datatype_id': remote_datatype.id }) }}";

                window.open(url, "_blank");
            });
{% endif %}

            $("#selected_datatype").unbind('change').change(function() {
                // Disable submission if already linked to current selection
                var current_remote_datatype = $("#ODRLinkDatatypeForm_previous").val();
                console.log( $(this).val() );
                console.log( current_remote_datatype );

                if ( $(this).val() == current_remote_datatype )
                    $("#ODRLinkDatatypeFormSubmit").attr('disabled', 'disabled');
                else
                    $("#ODRLinkDatatypeFormSubmit").removeAttr('disabled');

                // Change button text if selecting the "empty" option
                if ( $(this).val() == '' && current_remote_datatype != '' )
                    $("#ODRLinkDatatypeFormSubmit").html('Unlink Current Database');
                else
                    $("#ODRLinkDatatypeFormSubmit").html('Link Database');

                // Warn about missing table theme if necessary
                if ( $(this).children('option:selected').first().attr('rel') == 'warn' )
                    $("#ODRRemoteDatatypeLacksTableTheme").show();
                else
                    $("#ODRRemoteDatatypeLacksTableTheme").hide();
            });

            $("#dialog_link_datatype").dialog({
                autoOpen: false,
                modal: true,
                width: 500,
                open: function() {
                    $(this).parent().css('overflow', 'visible');
                }
            });

            $("#dialog_link_datatype").find('.ODRSubmitButton').unbind('click').click(function() {
                var $el = $(this).parents('.ui-dialog-content');
                if ( $("#LinkDatatypeForm").valid() ) {
                    $("#LinkDatatypeForm").submit();

                    $el.find('form')[0].reset();
                    $el.dialog('close');
                }
            });

            $("#dialog_link_datatype").find('.ODRCancelButton').unbind('click').click(function() {
                var $el = $(this).parents('.ui-dialog-content');

                $el.find('form')[0].reset();
                $el.dialog('close');
            });

            // Init Form
            LinkDataTypeFormInit();
        });
    </script>

{% endspaceless %}
