{% spaceless %}

{% set NOT_SEARCHABLE = constant('ODR\\AdminBundle\\Entity\\DataFields::NOT_SEARCHABLE') %}
{% set SEARCHABLE = constant('ODR\\AdminBundle\\Entity\\DataFields::SEARCHABLE') %}

<div id="ODRMultiDatafieldPropertiesDialogWrapper">
    <div class="pure-u-1 ODRContentWrapper" style="margin-left:20px;">
        <div class="pure-u-1">
            <button id="ODRMultiDatafield_reset_fieldtype" class="pure-button">Reset all Fieldtype Changes</button>
            <button id="ODRMultiDatafield_all_public" class="pure-button">Make all fields Public</button>
            <button id="ODRMultiDatafield_all_nonpublic" class="pure-button">Make all fields Not Public</button>
            <button id="ODRMultiDatafield_all_searchable" class="pure-button">Make all fields Searchable</button>
            <button id="ODRMultiDatafield_all_nonsearchable" class="pure-button">Make all fields Not Searchable</button>
        </div>

        <form id="ODRMultipleDatafieldPropertiesForm" class="pure-form">
            <input type="hidden" name="_token" value="{{ token }}" />
            {% for df_id, df in datafields %}
                {% set datafield_meta = df['dataFieldMeta'] %}
                <input type="hidden" id="ODRMultiDatafield_{{ df_id }}_publicStatus" name="public_status[{{ df_id }}]" value="{% if datafield_meta.publicDate|is_public %}1{% else %}0{% endif %}" />
            {% endfor %}

            <fieldset>
                <table class="display dataTable pure-u-1">
                    <thead><tr>
                        <th>Datafield Name</th>
                        <th>Fieldtype</th>
                        <th>Public Status</th>
                        <th>Searchable</th>
                        <th></th>
                    </tr></thead>
                    <tbody>
                    {% for df_id, df in datafields %}
                        {% set datafield_meta = df.dataFieldMeta %}
                        {% set typeclass = datafield_meta.fieldType.typeClass %}
                        {% set searchable = datafield_meta.searchable %}

                        <tr>
                            <td>
                                <span class="Cursor">{{ datafield_meta.fieldName }}</span>
                            </td>
                            <td>
                                <input id="df_{{ df_id }}_original_fieldtype" type="hidden" value="{{ datafield_meta.fieldType.id }}" disabled />
                                <select id="df_{{ df_id }}_new_fieldtype" class="ODRMultiDatafield_fieldtype" rel="{{ df_id }}" name="fieldtypes[{{ df_id }}]" {% if fieldtype_info[df_id]['prevent_change'] == true %}disabled title="{{ fieldtype_info[df_id]['prevent_change_message'] }}"{% endif %}>
                                {% for num,ft_id in fieldtype_info[df_id]['allowed_fieldtypes'] %}
                                    <option value="{{ ft_id }}" {% if fieldtype_map[ft_id] == datafield_meta.fieldType.typeName %}selected{% endif %}>{{ fieldtype_map[ft_id] }}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a class="ODRMultiDatafield_public" rel="{{ df_id }}">
                                    <i class="Pointer fa fa-lg fa-globe {% if datafield_meta.publicDate|is_public %}ODRActiveIcon{% endif %}"></i>
                                    &nbsp;<span>{% if datafield_meta.publicDate|is_public %}Public{% else %}Not Public{% endif %}</span>
                                </a>
                            </td>
                            <td>
                                <select id="df_{{ df_id }}_searchable" class="ODRMultiDatafield_searchable" name="searchable[{{ df_id }}]" {% if typeclass == "Markdown" %}disabled title="Markdown fields can't be searched"{% endif %}>
                                    <option value="{{ NOT_SEARCHABLE }}" {% if searchable == NOT_SEARCHABLE %}selected{% endif %}>No</option>
                                    <option value="{{ SEARCHABLE }}" {% if searchable != NOT_SEARCHABLE %}selected{% endif %}>Yes</option>
                                </select>
                            </td>
                            <td>
                                <span id="df_{{ df_id }}_warning" class="ODRMultiDatafield_warning ODRInputError">
                                    <i class="fa fa-warning"></i>&nbsp;
                                    <span id="df_{{ df_id }}_warning_text"></span>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </form>

    </div>
</div>

{% endspaceless %}
