{% spaceless %}

{% set valid_fieldtype = true %}
{% if local_datafield != null and plugin.id != 1 %}
    {% for plugin_field in render_plugin_fields %}
        {% if local_datafield.fieldtype.id not in allowed_fieldtypes[plugin_field.id] %}
            {% set valid_fieldtype = false %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="pure-control-group">
    <div style="margin-top:10px; margin-left:10px; margin-bottom:10px; font-size: 1.2em;">
        {% if valid_fieldtype == false %}
            <span><i class="fa fa-lg fa-exclamation-triangle"></i></span>
            <span>&nbsp;The "{{ plugin.pluginName }}" Render Plugin is not compatible with a "{{ local_datafield.fieldtype.typeclass }}" Datafield</span>
        {% else %}
            {{ plugin.description }}
        {% endif %}
    </div>
</div>

{% if local_datafield == null %}    {# if render plugin is for a datatype #}
<div class="pure-control-group">
    <div style="margin-top:10px; margin-left:10px; margin-bottom:10px; max-height: 400px; overflow-y: auto; font-size: 1.2em;">
        {# Determine if the rendering plugin has any required fields #}
        {% set has_fields = 0 %}
        {% for plugin_field in render_plugin_fields %}
            {% if plugin_field.renderplugin.id == plugin.id %}
                {% set has_fields = 1 %}
            {% endif %}
        {% endfor %}

        {% if has_fields == 0 %}
            This Render Plugin does not require specific fields.
        {% else %}
            {# Print out all required fields for this plugin #}
            <table class="pure-table pure-table-bordered pure-table-striped">
                <thead><tr>
                    <th>Field Name</th>
                    <th>Field Description</th>
                    <th>Field Type</th>
                    <th>Map to DataField...</th>
                </tr></thead>
                <tbody>
                {% for plugin_field in render_plugin_fields %}
                    {#{% if plugin_field.renderplugin.id == plugin.id %}#}
                    <tr>
                        <td><strong>{{ plugin_field.fieldname }}: </strong></td>
                        <td>{{ plugin_field.description }}</td>
                        <td>
                            <select id="plugin_fieldtype_{{ plugin_field.id }}" class="ODRRenderPluginFieldtype" name="plugin_fieldtypes[{{ plugin_field.id }}]">
                                {% for ft_id,ft in all_fieldtypes %}
                                    {% if ft_id in allowed_fieldtypes[plugin_field.id] %}
                                        <option value="{{ ft_id }}">{{ ft.gettypeclass }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {# Print out a dropdown of fields in this datatype that match the fieldtype of the required field #}
                            <select id="plugin_map_{{ plugin_field.id }}" class="ODRRenderPluginMap" name="plugin_map[{{ plugin_field.id }}]" rel="{{ plugin_field.id }}">
                                <option value="-1" selected>Create new datafield...</option>
                                {% for df in datafields %}
                                    {% if df.fieldtype.id in allowed_fieldtypes[plugin_field.id] %}
                                        <option value="{{ df.id }}" rel="{{ df.fieldtype.id }}">{{ df.fieldname }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {#{% endif %}#}
                {% endfor %}
                </tbody>
            </table>

            <div id="render_plugin_datafield_creation_warn">
                <span><i class="fa fa-lg fa-exclamation-circle"></i></span>
                <span>&nbsp;Clicking "Save" will automatically create new Datafields for this Render Plugin...</span>
            </div>

            </br>
        {% endif %}
    </div>
</div>

<script>
    $(function() {

        $(".ODRRenderPluginMap").unbind('change').change(function() {
            var datafield_id = $(this).val();
            var plugin_field_id = $(this).attr('rel');
            var fieldtype_id = $(this).children(':selected').attr('rel');

            if (datafield_id != '-1') {
                // Prevent user from changing fieldtype of existing datafield
                $("#plugin_fieldtype_" + plugin_field_id).attr('disabled', 'disabled');
                // Select fieldtype of selected datafield, for consistency
                $("#plugin_fieldtype_" + plugin_field_id).val(fieldtype_id);

                // Show warning about creating new datafields if needed
                var show_warning = false;
                $(".ODRRenderPluginMap").each(function() {
                    if ( $(this).val() == '-1' ) {
                        show_warning = true;
                        return false;
                    }
                });

                if (show_warning)
                    $("#render_plugin_datafield_creation_warn").show();
                else
                    $("#render_plugin_datafield_creation_warn").hide();
            }
            else {
                // Let user select fieldtype of new datafield
                $("#plugin_fieldtype_" + plugin_field_id).removeAttr('disabled');
                 // Show warning about creating new datafields
                $("#render_plugin_datafield_creation_warn").show();
            }
        });

    {% if render_plugin_map != null %}
        // Pre-select any existing datafield mappings
        {% for plugin_field in render_plugin_fields %}
            {% for map in render_plugin_map %}
                {% if map.renderpluginfields.id == plugin_field.id %}
                $("#plugin_map_{{ plugin_field.id }}").val("{{ map.datafield.id }}");
                $("#plugin_map_{{ plugin_field.id }}").trigger('change');
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    });
</script>

{% else %}  {# render plugin is for a datafield #}
    {% for plugin_field in render_plugin_fields %}
        <input type="hidden" name="plugin_map[{{ plugin_field.id }}]" value="{{ local_datafield.id }}" />
    {% endfor %}
{% endif %}

{% if valid_fieldtype == true %}
    <div class="row">
        <div style="margin-top:10px; margin-left:10px; margin-bottom:10px; max-height: 400px; overflow-y: auto; font-size:1.2em;">
            {# Determine if the rendering plugin has any available options #}
            {% set has_options = 0 %}
            {% for plugin_id, plugin_options in available_options %}
                {% if plugin_id == plugin.id %}
                    {% set has_options = 1 %}
                {% endif %}
            {% endfor %}

            {% if has_options == 0 %}
               This Render Plugin has no options.
            {% else %}
                {% for plugin_id, plugin_options in available_options %}
                    {% if plugin_id == plugin.id %}
                        <table class="pure-table pure-table-bordered pure-table-striped">
                            <tbody><tr>
                            {% set count = 1 %}
                            {% for option_key,option in plugin_options %}
                                {# Only want two options per row #}
                                {% if count == 1 %}
                                    </tr><tr>
                                {% endif %}

                                <td><strong>{{ option.name }}<span style="cursor:pointer;" title="{{ option.description|e }}">&nbsp;<u>?</u>&nbsp;</span></strong></td>

                                {# Save the default value for the option, if there is one #}
                                {% set default = '' %}
                                {% if option.default is defined %}
                                    {% set default = option.default %}
                                {% endif %}

                                <td>
                                    {% if option.choices is defined %}
                                        {# Create a dropdown to hold the available choices #}
                                        <select name="plugin_options[{{ option_key }}]">

                                        {% if "," in option.choices %}
                                            {% set choices = option.choices|split(',') %}
                                            {% for choice in choices %}
                                                {% set mychoice = choice|split('||') %}
                                                {% if current_plugin_options == null %}
                                                    {# Use the default value to set the initial selection for the dropdown #}
                                                    <option value="{{ mychoice[0] }}" {% if mychoice[0] == default %}selected{% endif %}>{{ mychoice[1] }}</option>
                                                {% else %}
                                                    {# Locate the previously saved value for this plugin option and use that to set the initial selection for the dropdown #}
                                                    {% set found = false %}
                                                    {% for current_option in current_plugin_options %}
                                                        {% if current_option.optionname == option_key %}
                                                            {% set found = true %}
                                                            <option value="{{ mychoice[0] }}" {% if current_option.optionvalue == mychoice[0] %}selected{% endif %}>{{ mychoice[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if found == false %}
                                                        <option value="{{ mychoice[0] }}" {% if mychoice[0] == default %}selected{% endif %}>{{ mychoice[1] }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% set choices = option.choices|split('||') %}
                                            {% for choice in choices %}
                                                {% if current_plugin_options == null %}
                                                    {# Use the default value to set the initial selection for the dropdown #}
                                                    <option value="{{ choice }}" {% if choice == default %}selected{% endif %}>{{ choice }}</option>
                                                {% else %}
                                                    {# Locate the previously saved value for this plugin option and use that to set the initial selection for the dropdown #}
                                                    {% set found = false %}
                                                    {% for current_option in current_plugin_options %}
                                                        {% if current_option.optionname == option_key %}
                                                            {% set found = true %}
                                                            <option value="{{ choice }}" {% if current_option.optionvalue == choice %}selected{% endif %}>{{ choice }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if found == false %}
                                                        <option value="{{ choice }}" {% if choice == default %}selected{% endif %}>{{ choice }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </select>

                                    {% else %}
                                        {# Create a textfield so the user can enter a value #}
                                        {% if current_plugin_options == null %}
                                            {# Fill the textfield with the default value for the option #}
                                            <input size="20" type="text" name="plugin_options[{{ option_key }}]" value="{{ default }}" />
                                        {% else %}
                                            {# Locate the previously saved value for this plugin option and use that to fill the textfield #}
                                            {% set found = false %}
                                            {% for current_option in current_plugin_options %}
                                                {% if current_option.optionname == option_key %}
                                                    {% set found = true %}
                                                    <input size="20" type="text" name="plugin_options[{{ option_key }}]" value="{{ current_option.optionvalue }}" /> 
                                                {% endif %}
                                            {% endfor %}
                                            {% if found == false %}
                                                <input size="20" type="text" name="plugin_options[{{ option_key }}]" value="{{ default }}" />
                                            {% endif %}
                                                 
                                        {% endif %}

                                    {% endif %}
                                </td>

                                {# Only want two options per row #}
                                {% set count = count + 2 %}
                                {% if count == 5 %}
                                    {% set count = 1 %}
                                {% endif %}

                            {% endfor %}
                            </tr></tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div style="display: block;">
    <button type="button" class="pure-button ODRCancelButton">Cancel</button>
{% if valid_fieldtype == true %}
    <button type="button" class="pure-button pure-button-primary ODRSubmitButton">Save Plugin Settings</button>
{% endif %}
</div>

<script>
    $(function() {
        // Initialize the cancel button
        $("#dialog_plugin_settings").find('.ODRCancelButton').click(function(){
            var $el = $(this).parents('.ui-dialog-content');
            $el.find('form')[0].reset();
            $el.dialog('close');
        });

{% if valid_fieldtype == true %}
        // Initialize the submission button
        $("#dialog_plugin_settings .ODRSubmitButton").unbind('click').click(function() {
            // Determine whether anything is set to create a new datafield
            var need_confirmation = false;
            $(".ODRRenderPluginMap").each(function() {
                if ( $(this).val() == '-1' ) {
                    need_confirmation = true;
                    return false;
                }
            });

            // If no new datafields will be created, or the user accepts that datafields will be created...
            if ( !need_confirmation || confirm('This will automatically create any missing DataFields required for this RenderPlugin in a new ThemeElement...are you sure?') ) {
                // ...submit the form
                $("#PluginSettingsForm").submit();
            }
        });
{% endif %}
    });
</script>

{% endspaceless %}
