{% spaceless %}
    <tr id="radio_option_{{ radio_option.id }}">
        {% if datafield.getradiooptionnamesort == false %}
        <td>
            <i class="Pointer tooltip fa fa-arrows"></i>
        </td>
        {% endif %}
        <td>
            <input
                    id="radio_option_{{ radio_option.id }}_name"
                    class="ODRRadioOptionName"
                    type="text"
                    name="option_name"
                    value="{{ radio_option.getoptionname }}"
                    rel="{{ radio_option.id}}"
            />
        </td>
        <td>
            <input
                    {% if typename == 'Single Radio' or typename == 'Single Select' %}
                        type="radio"
                    {% else %}
                        type="checkbox"
                    {% endif %}
                    class="ODRDefaultRadioOption"
                    name="RadioGroup_{{ datafield.id }}"
                    {% if radio_option.isdefault == true %}checked="checked"{% endif %}
                    rel="{{ radio_option.id }}"
            />
            <i class="ODRDeleteRadioOption Pointer tooltip fa fa-lg fa-trash-o"
               id="radiooption_{{ radio_option.id }}"
               rel="{{ datafield.id }}"
               title="Delete Option?"
            ></i>
        </td>
    </tr>
{% endspaceless %}
