{% spaceless %}

{% set sort_by_name = datafield.dataFieldMeta.radio_option_name_sort %}

{% if datafield.radioOptions is defined %}
    {% for display_order, ro in datafield.radioOptions %}
        {% set ro_meta = ro.radioOptionMeta %}

        <div id="radio_option_{{ ro.id }}" class="ODRRadioOption_div">

            {% if not disable_controls and not sort_by_name %}
                <span class="ODRRadioOptionAnchor"><i class="fa fa-arrows-v Pointer"></i></span>
            {% endif %}

            {% if not disable_controls %}
            <span class="ODRDeleteRadioOption" rel="{{ ro.id }}"><i class="fa fa-trash Pointer"></i></span>
            {% endif %}

            <input id="radio_option_{{ ro.id }}_name"
                   class="ODRRadioOptionName"
                   type="text"
                   name="option_name"
                   value="{{ ro_meta.optionName }}"
                   data-old-value="{{ ro_meta.optionName }}"
                   size="100"
                   maxlength="255"
                   rel="{{ ro.id }}"
               {% if disable_controls %}
                   disabled
                   title="Not allowed to modify this option's name"
               {% endif %}
            />

            <span title="Option is selected by default when a new Record is created">
                <input class="ODRDefaultRadioOption"
                       rel="{{ ro.id }}"
                       type="checkbox"
                   {% if ro_meta.isDefault %}
                       checked
                   {% endif %}
                   {% if disable_controls %}
                       disabled
                       title="Not allowed to set a default option"
                   {% endif %}
                />
                <span class="Cursor">&nbsp;Default?</span>
            </span>

            <span class="ODRInputError">
                &nbsp;&nbsp;<i class="fa fa-warning"></i>
                <span>Duplicate Option name</span>
            </span>

        </div>
    {% endfor %}
{% endif %}

{% endspaceless %}
