{% spaceless %}

{% set typename = datafield.getfieldtype.gettypename %}

<div class="pure-g pure-u-1">
    <div class="pure-u-1 ODRRadioOptionListWrapper">
        <input type="hidden" id="datafield_{{ datafield.id }}_name_sort" value="{% if datafield.getradiooptionnamesort == true %}1{% else %}0{% endif %}" />
        <form id="ODRRadioOptionsForm_0" class="pure-form" rel="{{ datafield.id }}">    {# id ends with 0 so the click event attached to .ODRDataField works properly #}    {# wtf why #}
            <fieldset>
                <table class="pure-table pure-table-striped pure-u-1">
                    <thead><tr>
                        {% if datafield.getradiooptionnamesort == false %}
                        <th></th>
                        {% endif %}
                        <th>Option Name</th>
                        <th>Default?</th>
                    </tr></thead>
                    <tbody class="ODRSortableOption" rel="{{ datafield.id }}">
                    {% for radio_option in radio_options %}
                        {% include 'ODRAdminBundle:Displaytemplate:radio_option_list_row.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1">
        <button class="ODRAddRadioOption pure-button pure-button-primary" type="button" rel="{{ datafield.id }}">Add Option</button>
        <i class="ODRAddRadioOptionList fa fa-list-alt Pointer" rel="{{ datafield.id }}"></i>
    </div>
</div>

{% endspaceless %}
