{% spaceless %}

{% set datatype = datatype_tree.datatype %}
{% set datarecord = dr_entry.datarecord %}
{% set drf_list = dr_entry.datarecordfields %}
{% set form_list = dr_entry.forms %}

{% for data in datatype_tree.theme_elements %}
    {% set theme_element = data.theme_element %}

    <div class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.getcsswidthmed }} pure-u-xl-{{ theme_element.getcsswidthxl }}">

    {% if data.datafields != null %}
        {% for field in data.datafields %}
            {% set theme_datafield = field.theme_datafield %}
            {% set datafield = field.datafield %}
            {% set datafield_id = datafield.id %}

            {% if theme_datafield.active == 1 %}
                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.getcsswidthmed }} pure-u-xl-{{ theme_datafield.getcsswidthxl }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}">
                {% if datafield.fieldtype.typename == "Markdown" %}
                    {% include 'ODRAdminBundle:Results:results_markdown.html.twig' with {'field': datafield} %}
                {% else %}
                    {% include 'ODRAdminBundle:ShortResults:shortresults_datafield.html.twig' with {'fieldtheme': theme_datafield, 'field': datafield, 'datatype': datatype, 'datarecord': datarecord, 'datarecordfield': drf_list[datafield_id], 'form': form_list[datafield_id]} %}
                {% endif %}
                </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->
            {% endif %}
        {% endfor %}
    {% endif %}

    </div><!-- End of .ODRThemeElement -->

{% endfor %}

{% endspaceless %}
