{% spaceless %}

<div class="ODRShortResultsSortForm_criteria pure-u-1 pure-u-lg-7-24">
    <label for="ODRShortResultsSortForm_{{ num }}" class="ODRShortResultsSortForm_label">{% if num == 0 %}Sort by:{% else %}Then by:{% endif %}&nbsp;</label>
    <select id="ODRShortResultsSortForm_{{ num }}" class="ODRShortResultsSortForm_select" name="df_list[{{ num }}]">
        <option value=""></option>
        {% for dt_id,dt_data in available_sortfields %}
            {% if dt_data['datafields']|length > 0 %}
            <optgroup label="{{ dt_data['datatype_name'] }}">
                {% for df_id,df_name in dt_data['datafields'] %}
                <option value="{{ df_id }}" {% if df_id == sort_df_id %}selected{% endif %}>{{ df_name }}</option>
                {% endfor %}
            </optgroup>
            {% endif %}
        {% endfor %}
    </select>
    <select class="ODRShortResultsSortForm_select" name="df_dir[{{ num }}]">
        <option value="asc" {% if sort_df_dir == 'asc' %}selected{% endif %}>asc</option>
        <option value="desc" {% if sort_df_dir == 'desc' %}selected{% endif %}>desc</option>
    </select>
</div>

{% endspaceless %}
