{% spaceless %}

<div class="ODRShortResults pure-u-1">

    {#<div id="DataType_{{ datatype_id }}" class="DataRecord_{{ datarecord_id }}">#}
    <div class="DataRecordShort DataRecord_{{ datarecord_id }} Pointer" id="DataType_{{ datatype_id }}" onclick="loadDataRecord({{ datarecord_id }});">
        <div class="Resizable">

            <div id="FieldArea_{{ datarecord_id }}" class="ODRFieldArea accordion-content">
                <button class="ODRDataField pure-button pure-button-primary" type="button" onclick="loadCacheEntry({{ datarecord_id }})">Caching failure for DataRecord {{ datarecord_id }}...click to load data.</button>
            </div>
        </div>

{#    <div class="ShortResults_offset clearfix"></div>#}
    </div>

</div>

{% endspaceless %}
