{% spaceless %}

{% set field_typename = datarecordfield.getdatafield.getfieldtype.typename %}

    <form class="{#grid_12 no_box full validate#}" id="EditDataRecordFieldsForm_{{ datarecordfield.id }}">
    {% set valuefield = datarecordfield.getassociatedentity %}

    {# Plugin Filter #}
    {% if datarecordfield.getdatafield.getrenderplugin.getid != 1 %}
        {{ datarecordfield|plug(datarecordfield.getdatafield.getrenderplugin, fieldtheme)|raw }}
    {% elseif field_typename == "Boolean" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                <input type="checkbox" name="BooleanForm[value]" value="1" {% if valuefield.value == 1 %}checked{% endif %} disabled />
            </div>
        </fieldset>

    {% elseif field_typename == "File" %}
        <fieldset>
            <div class="pure-u-1">
                <table class="NotODRTable pure-table pure-u-1">
                    <thead class="pure-u-1">
                        <tr class="pure-u-1">
                            <th class="pure-u-20-24">{{ field.fieldname }}</th>
                            <th class="pure-u-1-24">Options</th>
                        </tr>
                    </thead>
                    <tbody class="pure-u-1">
                    {% for file in datarecordfield.getfile %}
                        {% if file.getoriginalchecksum != '' %}
                        <tr id="File_{{ file.id }}" class="pure-u-1">
                            <td class="pure-u-20-24" {% if file.originalfilename != null and field.getshortenfilename == 1 and file.originalfilename|length > 35 %}title="{{ file.originalfilename }}"{% endif %}>
                                <a href="{{ path('odr_file_download', { 'file_id': file.id } ) }}" class="truncate ODRFileDownload" rel="{{ file.id }}">
                                    {% if file.originalfilename == null %}File_{{ file.id }}.{{ file.getext }}{% else %}{{ file.originalfilename }}{% endif %}
                                </a>
                                <span id="ODRFileDownload_{{ file.id }}" class="ODRFileDownloadProgress" style="cursor:default; margin-left:10px;">
                                    <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRProgressBar" style="margin-left:15px; display:inline-block;">
                                        <span class="ODRProgressBarLabel" style="left:35%;">Decrypting...</span>
                                    </span>
                                    <span id="ODRFileDownload_{{ file.id }}_cancel" class="ODRFileDownloadCancel pure-button pure-button-primary" rel="{{ file.id }}" style="vertical-align: top; margin-left: 10px;">Cancel</span>
                                </span>
                            </td>
                            
                            <td class="pure-u-4-24">
                                <i class="Cursor FRight tooltip fa fa-globe fa-lg ODRPublicFile {% if file.ispublic == 0 %}IconRed{% endif %}" title="{% if file.ispublic == 0 %}File is not public{% else %}Public since {{ file.publicdate|date('Y-m-d') }}{% endif %}" rel="{{ file.id }}"></i>
                                <i class="Cursor FRight tooltip fa fa-calendar fa-lg" title="Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy.getuserstring }}"></i>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>

    {% elseif field_typename == "Image" %}
        {#<fieldset>#}
            <label id="Label_{{ field.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="pure-u-1">
            {% set found = false %}
            {% for image in datarecordfield.getimage %}
                {% if image.getimagesize.imagetype == "thumbnail" %}

                    {% set oimage = image.parent %}
                    {% set image_ext = oimage.ext %}
                    {% set image_caption = oimage.caption %}
                    {% set image_filename = oimage.originalfilename %}

                    {% if found == false and oimage.ispublic == 1 %}
                    {% set found = true %}
                    <div id="Image_{{ oimage.id }}" class="ODRImage pure-u-23-24" rel="{{ image.id }}">    {# rel is the id of the thumbnail, id attr is the id of the full-size image #}
                        <div class="pure-u-1">
                            {#<a target="_blank" href="{{ path('odr_image_download', {'image_id': oimage.id}) }}" title="{{ image_caption }}">#}
                                <img class="{#pure-img#}pure-u-1" src="{{ path('odr_image_download', {'image_id': image.id}) }}" title="{% if image_filename != null %}{{ image_filename }}{% else %}Image_{{ image.id }}.{{ image_ext }}{% endif %}" />
                            {#</a>#}
                        </div>
                    </div>
                    {% endif %}

                {% endif %}
            {% endfor %}

            {% if found == false %}
                <center><strong>No Images found</strong></center>
            {% endif %}
            </div>
        {#</fieldset>#}

{% elseif field_typename == "Paragraph Text" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                <textarea class="pure-u-1" {#style="width: 100%; height: 90%;"#} readonly>{{ valuefield.value }}</textarea>
            </div>
        </fieldset>

    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                {{ form_widget(form.value, { 'attr': {'class': 'pure-u-1 required', 'data-error-type': 'inline', 'readonly': 'readonly' } }) }}
            </div>
        </fieldset>

    {% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" %}
        <fieldset>
            <label id="Label_{{ field.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.fieldname }}</label>
            {% for radio_option in field.getRadioOptions %}
                <label id="Label_{{ field.id }}" for="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" class="pure-u-1 pure-u-md-1-{{ field.childrenperrow }}" style="margin: 0.5em 0;">

                {% set found = false %}
                {% for selection in datarecordfield.getRadioSelection %}
                    {% if selection.selected == 1 and selection.getRadioOption.id == radio_option.id %}
                        {% set found = true %}
                        {% if field_typename == "Single Radio" %}
                        <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ datarecordfield.id }}" class="SingleRadioGroup" checked disabled />
                        {% else %}
                        <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ datarecordfield.id }}" class="MultipleRadioGroup" checked disabled />
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if found == false %}
                    {% if field_typename == "Single Radio" %}
                    <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ datarecordfield.id }}" class="SingleRadioGroup" disabled />
                    {% else %}
                    <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ datarecordfield.id }}" class="MultipleRadioGroup" disabled />
                    {% endif %}
                {% endif %}

                {{ radio_option.getOptionName }}
                </label>
            {% endfor %}
        </fieldset>

    {% elseif field_typename == "Single Select" or field_typename == "Multiple Select" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="SelectGroup_{{ datarecordfield.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.getFieldName }}</label>
            <select id="SelectGroup_{{ datarecordfield.id }}" class="{% if field_typename == "Multiple Select" %}MultipleSelectGroup{% else %}SingleSelectGroup{% endif %}" {% if field_typename == "Multiple Select" %}multiple{% endif %} disabled>
            {% if field_typename == "Single Select" %}
                <option id="Option_0" value="0" disabled>Select an Option</option>
            {% endif %}

            {% for radio_option in field.getRadioOptions %}
                {% set found = false %} 
                {% for selection in datarecordfield.getRadioSelection %}
                    {% if selection.getRadioOption.id == radio_option.id %}
                        {% set found = true %}  
                        <option id="Option_{{ radio_option.id }}" value="{{ radio_option.id}}" {% if selection.selected == 1 %}selected {% if field_typename == "Multiple Select" %}class="MultipleSelect_prev"{% endif %}{% endif %} disabled>{{ radio_option.getOptionName }}</option>
                   {% endif %}
               {% endfor %}
               {% if found == false %} 
                   <option id="Option_{{ radio_option.id }}" value="{{ radio_option.id}}" disabled>{{ radio_option.getOptionName }}</option>
               {% endif %}
           {% endfor %}
           </select>
       </fieldset>

    {% elseif field_typename == "DateTime" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                {{ form_widget(form.value, { 'attr': {'class': 'pure-u-1 required', 'data-error-type': 'inline' , 'readonly': 'readonly'} }) }}
            </div>
        </fieldset>

    {% endif %}

    </form>     

{% endspaceless %}
