{% spaceless %}

{% set can_edit_datarecord = false %}
{% if user_permissions[ datatype.id ] is defined %}
    {% if user_permissions[ datatype.id ][ 'edit' ] is defined or user_permissions[ datatype.id ][ 'child_edit' ] is defined %}
        {% set can_edit_datarecord = true %}
    {% endif %}
{% endif %}

<div class="ODRFormWrap"> 
    <div class="header">
    {% if datatype != null %}
        {% if target == "results" %}
            <h2>Display Records - {{ datatype.shortname }}</h2>
        {% else %}
            <h2>Edit Records - {{ datatype.shortname }}</h2>
        {% endif %}
    {% endif %}
    </div>

{% if count > 0 %}
    <div class="ODRShortResult">
    {{ html | raw }}
    </div>
{% elseif logged_in %}
    <center>No Datarecords found</center>
{% else %}
    <center>No Datarecords found...try logging in</center>
{% endif %}

</div><!-- End of .ODRFormWrap -->

{% set user_role = '' %}
{% if user != 'anon.' %}
    {% for role in user.getroles %}
        {% if role == 'ROLE_ADMIN' %}
            {% set user_role = 'ROLE_ADMIN' %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if user_role == 'ROLE_ADMIN' and count > 0 %}
<div class="Cursor" style="margin-top:25px;">
    <button class="pure-button pure-button-primary" type="button" onclick="doMassEdit();">Mass Edit all these datarecords</button>
    &nbsp;&nbsp;&nbsp;
    <button class="pure-button pure-button-primary" type="button" onclick="doCSVExport();">Mass Export these datarecords into CSV file</button>
</div>
{% endif %}

<style type="text/css">
    .ShortResults_offset {
        min-height: 10px;
    }
    .ODREditLink {
        float: right;
    }
</style>

<script type="text/javascript">

    $(function() {
        $(".MenuDesignArea").remove();

        var prevent_scroll = false;
        ShortResults_initPage(prevent_scroll);

        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');
    });

    function ShortResults_initPage(prevent_scroll) {
{% if can_edit_datarecord == false %}
        // Remove links to edit mode
        $(".ODREditLink").remove();
{% else %}
        $(".ODREditLink").unbind('click');
        $(".ODREditLink").click(function(event) {
            // Don't load view mode for Datarecord
            event.stopImmediatePropagation();
            // Load edit mode of Datarecord instead
            loadDataRecord( $(this).attr('rel'), 'edit' );
        });
{% endif %}

        $(".ODRFileDownloadProgress").hide();

        $("a.ODRFileDownload").unbind('click');
        $("a.ODRFileDownload").click(function(event) {
            // Grab necessary attributes
            var file_id = $(this).attr('rel');
            var href = $(this).attr('href');

            // Prevent the click handler for <tr> elements from firing if a file download href is clicked
            var short_form = true;
            var can_cancel = true;
            handleFileDownload(event, file_id, href, short_form, can_cancel);
        });

        // Hide empty fieldareas
        $(".ODRFieldArea").each(function() {
            var max_height = 0;

            $(this).find(".ODRDataField").each(function() {
                var position = $(this).position();
                var element_offset = position.top + $(this).height();

                if (element_offset > max_height)
                    max_height = element_offset;
            });

            if (max_height > 0) {
//                $(this).css('height', max_height + 'px');
//                $(this).css('min-height', max_height + 'px');
//                $(this).parents('.ChildDataType').css('height', max_height + 'px');
            }
        });

{% if scroll_target != '' %}
//alert( {{ scroll_target }} );
        if (!prevent_scroll) {
            var datarecord = '.DataRecord_' + {{ scroll_target }};
            if ( $(datarecord) !== null && $(datarecord) !== undefined && $(datarecord).parent().prev().offset() !== null ) {
                $('html, body').animate({
                    scrollTop: $(datarecord).parent().prev().offset().top
                }, 500);
            }
        }
{% endif %}

    }

{% if count > 0 and user_role == 'ROLE_ADMIN' %}
    function doMassEdit() {
        var url = '{{ path('odr_mass_edit_render', { 'datatype_id': 0, 'search_key': '', 'offset': '' }) }}';
        url = url.substr(0, url.length-2);
        url += '{{ datatype.id }}' + '/' + '{{ search_key }}' + '/' + '{{ offset }}';

        UpdateURL(url);
    }

    function doCSVExport() {
        var url = '{{ path('odr_csv_export_render', { 'datatype_id': 0, 'search_key': '', 'offset': '' }) }}';
        url = url.substr(0, url.length-2);
        url += '{{ datatype.id }}' + '/' + '{{ search_key }}' + '/' + '{{ offset }}';

        UpdateURL(url);
    }
{% endif %}
</script>
{% endspaceless %}

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(target, search_key, offset) }}
