{% spaceless %}

{% set datatype = datatype_array[initial_datatype_id] %}
{% set theme = theme_array[initial_theme_id] %}

{% set is_datatype_admin = false %}
{% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
    {% set is_datatype_admin = true %}
{% endif %}

<div class="ODRFormWrap">
    <div class="header">
    {% if datatype != null %}
        <h2>Display Records - {{ datatype.dataTypeMeta.shortName }}</h2>
    {% endif %}
    </div>

    <div class="ODRShortResultWrapper">
{#    {% if has_datarecords %}#}
        {{ pagination_html | raw }}
{#    {% endif %}#}

    {% if has_datarecords %}
        {% include 'ODRAdminBundle:ShortResults:shortresults_ajax.html.twig' with {
            'datatype_array': datatype_array,
            'datarecord_array': datarecord_array,
            'theme_array': theme_array,

            'initial_datatype_id': initial_datatype_id,
            'initial_theme_id': initial_theme_id,
            'editable_datarecord_list': editable_datarecord_list,

            'offset': offset,
            'page_length': page_length,

            'intent': intent,
        } %}

        <div id="mass_download_dialog_wrapper">
            {% include 'ODRAdminBundle:Default:mass_download_dialog.html.twig' %}
        </div>

    {% else %}
        <div class="ODRShortResults_empty">
            {% if logged_in %}No Datarecords found{% else %}No Datarecords found...try logging in.{% endif %}
        </div>
    {% endif %}
    </div>

</div><!-- End of .ODRFormWrap -->


<script>
    $(function() {
        enableSearchSidebar('{{ search_key }}');    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $(".MenuDesignArea").remove();

        var prevent_scroll = false;
        ShortResults_initPage(prevent_scroll);

        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');

{% if intent == 'searching' and display_theme_warning %}
        $("#ODRMainMenu").overhang({
            type: "warn",
            message: "The originally requested layout is marked as private.  The database's default layout is being displayed instead.",
            closeConfirm: true
        });
{% else %}
        if ( $(".ODRDataField").length === 0 && $(".ODRShortResults_empty") === undefined ) {
            $("#ODRMainMenu").overhang({
                type: "warn",
                message: "This layout is either empty, or you're unable to view its contents.  You need to switch to a different layout to see any search results.",
                closeConfirm: true
            });
        }
{% endif %}

{% if notify_of_sync is defined and notify_of_sync == true %}
        {% include 'ODRAdminBundle:Theme:theme_sync_warning.js.twig' with {
            'datatype_id': datatype.id,
            'theme_id': theme.id,
            'search_key': search_key,
        }%}
{% endif %}
    });


    function ShortResults_initPage(prevent_scroll) {
        // Resize all elements dependent on window size
        $(window).unbind('resize').resize(function() {
            WindowResizeInterval = window.clearInterval(WindowResizeInterval);    // variable WindowResizeInterval defined in common.js
            WindowResizeInterval = window.setInterval("onWindowResize()", 500);
        });

        // Resize everything prior to divs being hidden
        onWindowResize();

        // Set up image galleries
        setupImageGalleries();

        // Hide divs for accordion purposes
        setupAccordions();

        $(".ODRFileDownloadProgress").hide();

        // Attach click handlers to tags
        setupTagTree();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $("a.ODRFileDownload").unbind('click').click(function(event) {
            // Grab necessary attributes
            var file_id = $(this).attr('rel');

            handleFileDownload(event, file_id);    {# defined in Default::file_handling.html.twig #}
        });

        {% if scroll_target != '' %}
        if (!prevent_scroll) {
            var target = '#ShortResults_' + {{ scroll_target }};
            if ( $(target) !== undefined && $(target).offset() !== undefined ) {
                $('html, body').animate({
                    scrollTop: $(target).offset().top
                }, 500);
            }
        }
        {% endif %}

        hideSearchOverlay();    {# defined in Default::common_js.html.twig #}
    }
</script>

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(search_theme_id, search_key) }}

{% endspaceless %}
