{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = datatype.themes[theme_id] %}
{% set datarecord = datarecord_array[target_datarecord_id] %}

<div class="DataRecordShort DataRecord_{{ datarecord.id }} Pointer" id="DataType_{{ datatype.id }}">
    <div class="Resizable">
        <div class="ODREditLink" rel="{{ datarecord.id }}">
            <u>Edit</u>
        </div>

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
            {% include 'ODRAdminBundle:ShortResults:shortresults_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord_array': datarecord_array,

                'target_datatype_id': target_datatype_id,
                'target_datarecord_id': datarecord.id,
                'theme_id': theme_id,
            } %}
        </div><!-- End of #FieldArea_{{ datarecord.id }} -->

    </div><!-- End of .Resizable -->
</div><!-- End of .DataRecord_{{ datarecord.id }} -->

<div class="ShortResults_offset clearfix"></div>

{% endspaceless %}

