{% spaceless %}

{% set counter = ((offset-1) * page_length) + 1 %}

{% for dr_id, datarecord in datarecord_array %}
    {% set can_edit_datarecord = false %}
    {% if editable_datarecord_list[dr_id] is defined %}
        {% set can_edit_datarecord = true %}
    {% endif %}

    <div class="ODRShortResults pure-u-1" id="ShortResults_{{ dr_id }}">
        <div class="ODRShortResultsHeader pure-u-1 Pointer" id="ShortResultsHeader_{{ dr_id }}">
            {% if intent == 'searching' %}
                <span>Record {{ counter }} - Click here to view</span>
                {% if can_edit_datarecord %}
                <span class="ODRShortResultsHeader_edit">Click here to edit</span>
                {% endif %}
            {% elseif intent == 'linking' %}
                <span>
                    <label for="Input_{{ dr_id }}">
                        <div class="SearchResults_link_box" id="Input_{{ dr_id }}"></div>
                    </label>
                </span>
            {% endif %}
        </div>

        {# Get the regular display renderer to render each datarecord individually #}
        {% set dr_array = { (dr_id): datarecord } %}    {# "(dr_id)" creates an array key with the datarecord id...without the parenthesis the array key is the string "dr_id" #}
        {% include 'ODRAdminBundle:Display:display_ajax.html.twig' with {
            'datatype_array': datatype_array,
            'datarecord_array': dr_array,
            'theme_array': theme_array,

            'initial_datatype_id': initial_datatype_id,
            'initial_datarecord_id': dr_id,
            'initial_theme_id': initial_theme_id,

            'is_top_level': 1,
            'search_key': '',

            'record_display_view': 'multiple'
        } %}
    </div>
    {% set counter = counter + 1 %}
{% endfor %}

<script>
{% if intent == 'searching' %}
    $(function() {
        $(".ODRShortResultsHeader").unbind('click').click(function() {
            var id = jQuery(this).attr('id').replace(/ShortResultsHeader_/,'');
            loadDataRecord(id, 'view', '{{ offset }}');
        });

        $(".ODRShortResultsHeader_edit").unbind('click').click(function(event) {
            // Don't trigger the click event bound to this element's parent
            event.stopImmediatePropagation();

            var id = $(this).parent().attr('id').replace(/ShortResultsHeader_/,'');
            loadDataRecord(id, 'edit', '{{ offset }}');
        });
    });
{% elseif intent == 'linking' %}
    // Need to be able to store all datarecords returned from the search incase "Select All" is clicked
    var all_datarecords = [];

    $(function() {
        all_datarecords = [{% for num,dr_id in all_datarecords %}{{ dr_id }},{% endfor %}];

        var allow_multiple_links = $("#LinkDataRecordForm").children('input[name="allow_multiple_links"]').val();
        var local_datarecord_is_ancestor = $("#LinkDataRecordForm").children('input[name="local_datarecord_is_ancestor"]').val();
        if (allow_multiple_links === 0)
            $("#ODRLinkSelection").remove();
        else
            $("#ODRLinkSelection").show();

        $(".SearchResults_link_box").each(function() {
            var id_data = $(this).attr('id').split(/_/);
            var dr_id = id_data[1];

            if (allow_multiple_links === "1" || local_datarecord_is_ancestor === "0")
                $(this).append('<input type="checkbox" class="ODRLinkCheckbox dr_' + dr_id + '" rel="' + dr_id + '" onchange="LinkRecord(' + dr_id + ');" /> Link to this record');
            else
                $(this).append('<input type="radio" name="radio_group" class="ODRLinkCheckbox dr_' + dr_id + '" rel="' + dr_id + '" onchange="LinkRecord(' + dr_id + ');" /> Link to this record');
        });

        initCheckboxes(".ODRShortResultWrapper", false);
    });
{% endif %}
</script>

{% endspaceless %}
