{% macro input(datatype_tree, datarecord_tree) %}
{% spaceless %}

{% set datatype = datatype_tree.datatype %}
{% set theme_datatype = datatype_tree.theme_datatype %}

<!-- Child Types -->
{% for dr_entry in datarecord_tree %}   {# should only be one in here, theoretically... #}
    {% set datarecord = dr_entry.datarecord %}

    <div class="DataRecordShort DataRecord_{{ datarecord.id }} Pointer" id="DataType_{{ datatype.id }}" rel="{{ theme_datatype.id }}" onclick="loadDataRecord({{ datarecord.id }});">
        <div class="Resizable">

            <div class="ODRFieldArea accordion-content" id="FieldArea_{{ datarecord.id }}">
                {% include 'ODRAdminBundle:ShortResults:shortresults_fields.html.twig' with {'datatype_tree': datatype_tree, 'dr_entry': dr_entry} %}
            </div><!-- End of #FieldArea_{{ datarecord.id }} -->

        </div><!-- End of .Resizable -->
    </div><!-- End of #DataType_{{ datatype.id }} -->

{% endfor %}

<div class="ShortResults_offset clearfix"></div>

{% endspaceless %}
{% endmacro %}
