{% spaceless %}

{% set current_option_value = '' %}
{% if current_plugin_config['conversion_type'] is defined and current_plugin_config['target_units'] is defined %}
    {% set current_option_value = current_plugin_config['conversion_type'] ~ ':' ~ current_plugin_config['target_units'] %}
{% endif %}
{% set current_precision_type = 'none' %}
{% set current_precision_num = null %}
{% if current_plugin_config['precision_type'] is defined %}
    {% if 'decimal' in current_plugin_config['precision_type'] %}
        {% set current_precision_type = 'decimal' %}
        {% set current_precision_num = current_plugin_config['precision_type']|slice(8) %}
    {% else %}
        {% set current_precision_type = current_plugin_config['precision_type'] %}
    {% endif %}
{% endif %}

<div class="pure-u-1">
    <textarea id="plugin_option_{{ rpo_id }}" name="plugin_options[{{ rpo_id }}]" style="display: none;">{{ current_option_value }}</textarea>

    <div class="pure-u-1 ODRRenderPlugin_UnitConversion_header">
        <div class="pure-u-1">
            This plugin also needs you to select which unit to convert all of this field's data into.
            As such, this plugin makes no sense when attached to fields that hold multiple "kinds" of data.  e.g. having both Pressure and Temperature data in the same field.
        </div>
    </div>

    {% set current_target_units = '' %}
    {% if current_plugin_config['target_units'] is defined %}
        {% set current_target_units = current_plugin_config['target_units'] %}
    {% endif %}

    <div class="pure-u-1-2 ODRRenderPlugin_UnitConversion_body">
        <label for="ODRRenderPlugin_UnitConversion_select" style="width: 40%;">
            Units to convert into:&nbsp;
            <select id="ODRRenderPlugin_UnitConversion_select">
                <option value=""></option>
            {% for category,conversions in available_conversions %}
                <optgroup label="{{ category }}">
                {% for label,unit in conversions %}
                    <option value="{{ category }}:{{ unit }}" {% if current_target_units == unit %}selected{% endif %}>{{ label }}&nbsp;({{ unit }})</option>
                {% endfor %}
                </optgroup>
            {% endfor %}
            </select>
        </label>
    </div>
    <div class="pure-u-1-2 ODRRenderPlugin_UnitConversion_body">
        <label for="ODRRenderPlugin_PrecisionType_select">
            Precision Type:&nbsp;
            <select id="ODRRenderPlugin_PrecisionType_select">
                <option value="none" {% if current_precision_type == 'none' %}selected{% endif %}>None</option>
                <option value="decimal" {% if current_precision_type == 'decimal' %}selected{% endif %}>Decimal</option>
                <option value="greedy" {% if current_precision_type == 'greedy' %}selected{% endif %}>Greedy</option>
                <option value="precise" {% if current_precision_type == 'precise' %}selected{% endif %}>Precise</option>
            </select>
        </label>
        <label for="ODRRenderPlugin_PrecisionType_num" {% if current_precision_type != 'decimal' %}style="display: none;"{% endif %}>
            # of Decimal Places:&nbsp;
            <select id="ODRRenderPlugin_PrecisionType_num">
            {% for i in 0..4 %}
                <option value="{{ i }}" {% if current_precision_num == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
            </select>
        </label>

        <div id="ODRRenderPlugin_UnitConversion_none_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will completely ignore the idea of significant figures.  As such, the result may have spurious digits.
            <br>For instance: "1 meter" will be converted to something like "3.28084 feet"
        </div>

        <div id="ODRRenderPlugin_UnitConversion_decimal_0_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will round the result so it has no decimal places.  Values with explicit tolerances will use significant figures instead.
            <br>For instance: "1 meter" will be converted to "3 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_decimal_1_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will round the result so it has at most 1 decimal place.  Values with explicit tolerances will use significant figures instead.
            <br>For instance: "1 meter" will be converted to "3.3 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_decimal_2_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will round the result so it has at most 2 decimal places.  Values with explicit tolerances will use significant figures instead.
            <br>For instance: "1 meter" will be converted to "3.28 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_decimal_3_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will round the result so it has at most 3 decimal places.  Values with explicit tolerances will use significant figures instead.
            <br>For instance: "1 meter" will be converted to "3.281 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_decimal_4_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will round the result so it has at most 4 decimal places.  Values with explicit tolerances will use significant figures instead.
            <br>For instance: "1 meter" will be converted to "3.2808 feet"
        </div>

        <div id="ODRRenderPlugin_UnitConversion_greedy_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will assume that all digits in the source value are significant, and round the converted value accordingly.
            <br>For instance: "1 meter" will be converted to "3 feet"
            <br>"10 meters" will be converted to "32 feet"
            <br>"100 meters" will be converted to "328 feet"
            <br>"100.0 meters" will be converted to "328.1 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_precise_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            With this option selected, the plugin will assume that trailing zeros are not significant, and round the converted value accordingly.
            <br>For instance: "1 meter" will be converted to "3 feet"
            <br>"100 meters" will be converted to "300 feet"
            <br>"100.0 meters" will be converted to "328.1 feet"
        </div>
        <div id="ODRRenderPlugin_UnitConversion_temperature_info" class="pure-u-1 ODRRenderPlugin_UnitConversion_info" style="display: none;">
            Temperature conversions work differently because addition/subtraction is involved, and will instead be rounded to the same number of decimal places.
            <br>For instance: "10 C" will be converted to "283 K"
            <br>"10.5 C" will be converted to "283.6 K"
        </div>
    </div>
</div>

<script>
    var UnitConversion_timeout = null;
    var UnitConversion_SaveTimeout = 500;

    $(function() {
        // Since the resizing apparently refuses to pick up the actual height of the items inside
        //  it for this particular application, force the modal to use the entire screen.
        resetRemodalInnerHeight(true);

        $("#ODRRenderPlugin_UnitConversion_select").unbind('change').change(function() {
            ODRRenderPlugin_UnitConversion_updateInfo();
        });

        $("#ODRRenderPlugin_PrecisionType_select").unbind('change').change(function() {
            ODRRenderPlugin_UnitConversion_updateInfo();
        });

        $("#ODRRenderPlugin_PrecisionType_num").unbind('change').change(function() {
            ODRRenderPlugin_UnitConversion_updateInfo();
        });

        $("#ODRRenderPlugin_UnitConversion_select").trigger('change');
    });

    /**
     * Updates the displayed info blurbs based on the selected options.
     */
    function ODRRenderPlugin_UnitConversion_updateInfo()
    {
        var conversion_unit_value = $("#ODRRenderPlugin_UnitConversion_select").val();
        var precision_type_value = $("#ODRRenderPlugin_PrecisionType_select").val();
        var precision_type_num = $("#ODRRenderPlugin_PrecisionType_num").val();

        var rpom_option_value = conversion_unit_value + ':' + precision_type_value;
        if ( precision_type_value === 'decimal' )
            rpom_option_value += '_' + precision_type_num;

        $("#plugin_option_{{ rpo_id }}").val(rpom_option_value);

        $(".ODRRenderPlugin_UnitConversion_info").hide();
        $("#ODRRenderPlugin_PrecisionType_num").parent().hide();

        if ( precision_type_value !== 'decimal' ) {
            var info_id = 'ODRRenderPlugin_UnitConversion_' + precision_type_value + '_info';
            $('#' + info_id).show();

            if ( precision_type_value !== 'none' )
                $("#ODRRenderPlugin_UnitConversion_temperature_info").show();
        }
        else {
            $("#ODRRenderPlugin_PrecisionType_num").parent().show();
            $("#ODRRenderPlugin_UnitConversion_temperature_info").show();

            var info_id = 'ODRRenderPlugin_UnitConversion_decimal_' + precision_type_num + '_info';
            $('#' + info_id).show();
        }
    }

</script>
{% endspaceless %}
