{% trans_default_domain 'FOSUserBundle' %}
{# changes here should also be made in ODR\OpenRepository\UserBundle\Resources\views\ChangePassword\changePassword_content.html.twig #}

<form id="ODRPasswordResetForm" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset pure-form pure-form-aligned">
    <fieldset>
        <div id="form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div id="password_errors"></div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            <input type="button" class="pure-button pure-button-primary" value="{{ 'resetting.reset.submit'|trans }}" onclick="submitForm();"/>
        </div>
    </fieldset>

    {{ form_end(form) }}
</form>

<style>
    .pure-control-group {
        margin-top: 5px;
    }
</style>

<script>
    $(function() {

        var old_first_value = '';
        var old_second_value = '';
        $("#{{ form.plainPassword.first.vars.id }}").unbind('keyup paste');
        $("#{{ form.plainPassword.first.vars.id }}").on('keyup paste', function() {
            var current_value = $(this).val().trim();

            if ( old_first_value != current_value ) {
                old_first_value = current_value;
                isValid();
            }
        });
        $("#{{ form.plainPassword.second.vars.id }}").unbind('keyup paste');
        $("#{{ form.plainPassword.second.vars.id }}").on('keyup paste', function() {
            var current_value = $(this).val().trim();

            if ( old_second_value != current_value ) {
                old_second_value = current_value;
                isValid();
            }
        });

        $("#form_errors > ul > li").each(function() {
            var error_text = $(this).html();
            $("#password_errors").append( "<label class=\"ODRInputError\">" + error_text + "</label></br>" );
        });
        $("#form_errors").remove();

    });

    var password_lower = new RegExp("[a-z]");
    var password_upper = new RegExp("[A-Z]");
    var password_digit = new RegExp("[0-9]");
    var exp = /[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\[\{\]\}\\\|\;\:\'\"\,\<\.\>\/\?]/;
    var password_symbol = new RegExp(exp);

    function isValid() {
        var current_value = $("#{{ form.plainPassword.first.vars.id }}").val().trim();
        var second_value = $("#{{ form.plainPassword.second.vars.id }}").val().trim();
        var is_valid = false;

        var error_div = $("#password_errors");
        $(error_div).html('');

        if ( !password_lower.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one lowercase character</label></br>" );
        if ( !password_upper.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one uppercase character</label></br>" );
        if ( !password_digit.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one digit</label></br>" );
        if ( !password_symbol.test(current_value) )
            $(error_div).append( "<label class=\"ODRInputError\">Password must contain at least one symbol</label></br>" );
        if ( current_value.length < 8 )
            $(error_div).append( "<label class=\"ODRInputError\">Password must be at least 8 characters long</label></br>" );
        if ( current_value != second_value )
            $(error_div).append( "<label class=\"ODRInputError\">Password fields must match</label></br>" );

        if ( $(error_div).html().trim() != '' )
            is_valid = false;
        else
            is_valid = true;

        return is_valid;
    }

    function submitForm() {
        if ( !isValid() ) {
            alert('Password is not valid');
            return;
        }

        $("#ODRPasswordResetForm").submit();
    }
</script>
