{% trans_default_domain 'FOSUserBundle' %}

<form id="ODRPasswordResetForm" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset pure-form pure-form-aligned">
    <fieldset>
        <div id="form_errors">
            {{ form_errors(form) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div id="password_errors"></div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="pure-control-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </fieldset>

    <fieldset>
        <div class="pure-control-group">
            <input type="button" class="pure-button pure-button-primary" value="{{ 'resetting.reset.submit'|trans }}" onclick="submitForm();"/>
        </div>
    </fieldset>

    {{ form_end(form) }}
</form>

<style>
    .pure-control-group {
        margin-top: 5px;
    }
</style>

{% include 'ODRAdminBundle:ODRUser:password_rules.html.twig' with {'form': form} %}

<script>
    function submitForm() {
        if ( !ODR_isPasswordValid() ) {
            alert('Password is not valid');
            return;
        }

        $("#ODRPasswordResetForm").submit();
    }
</script>
