{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% for theme_element in theme.themeElements %}
    {% set theme_element_meta = theme_element.themeElementMeta %}

    {% if not theme_element|is_filtered(datatype) %}

    <div id="ThemeElement_{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element_meta.cssWidthMed }} pure-u-xl-{{ theme_element_meta.cssWidthXL }}">
    <div class="ODRInnerBox{% if theme_element_meta.hideBorder %} ODRInnerBox_HideBorder{% endif %}">
        {#
        {% include 'ODRAdminBundle:Displaytemplate:theme_element_properties.html.twig' with {
            'theme_element': theme_element,
        } %}
        #}

        {% if theme_element.themeDataFields is defined %}
            {# render all datafields in this theme element #}
            {% for theme_datafield in theme_element.themeDataFields %}
                {% set datafield_id = theme_datafield.dataField.id %}

                {% if datatype['dataFields'][datafield_id] is not defined %}
                    <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }} {% if not is_datatype_admin %}ODRForbidden{% endif %}"
                         id="Field_{{ datafield_id }}"
                    ></div>
                {% else %}
                    {% set datafield = datatype['dataFields'][datafield_id] %}

                    {% include 'ODRAdminBundle:SidebarLayout:sidebarlayout_datafield.html.twig' with {
                        'site_baseurl': site_baseurl,
                        'theme_datafield': theme_datafield,
                        'datafield': datafield,

                        'sidebar_array': sidebar_array,
                    } %}
                {% endif %}
            {% endfor %}

        {% elseif theme_element.themeRenderPluginInstance is defined %}
            {# theoretically should only be a single themeRenderPluginInstance, but be safe... #}
            {% set trpi = theme_element.themeRenderPluginInstance %}
            {% set current_rpi_target = trpi[0].renderPluginInstance.id %}

            {% if datatype['renderPluginInstances'][current_rpi_target] is defined %}
                {% set rpi = datatype['renderPluginInstances'][current_rpi_target] %}
                {% if rpi.renderPlugin.active %}
                    {% set render_plugin_instance = rpi %}
                {% endif %}
            {% endif %}

            {% if render_plugin_instance == null %}
                <div class="ODRInputError ODRPluginErrorDiv">Unable to locate RenderPluginInstance that should be in ThemeElement {{ theme_element.id }} for one of the RenderPlugins attached to Datatype {{ datatype.id }}</div>
            {% else %}
                {% set rendering_options = {'is_top_level': is_top_level, 'is_link': is_link, 'display_type': display_type, 'multiple_allowed': multiple_allowed, 'context': 'design', 'is_datatype_admin': is_datatype_admin} %}

                {# All ThemeElement plugins need to display something when in design mode... #}
                {% set content = datatype|theme_element_plugin_placeholder(render_plugin_instance, theme_array, rendering_options) %}
                {% if content|length > 0 %}
                    <!-- Start {{ render_plugin_instance.renderPlugin.pluginName }} override theme_element html -->
                    {{ content|raw }}
                    <!-- End {{ render_plugin_instance.renderPlugin.pluginName }} override theme_element html -->
                {% else %}
                    {# ...but if they don't, then a fallback is still provided #}
                    <div class="ODRPluginErrorDiv">This Group Box is reserved for use by the "{{ render_plugin_instance.renderPlugin.pluginName }}" attached to the "{{ datatype.dataTypeMeta.shortName }}" Datatype.</div>
                {% endif %}
            {% endif %}

        {% elseif theme_element.themeDataType is defined %}
            {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
            {% for theme_datatype in theme_element.themeDataType %}
                {% set child_datatype_id = theme_datatype.dataType.id %}
                {% set child_theme_id = theme_datatype.childTheme.id %}

                {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
                {% if datatype['descendants'][child_datatype_id] is defined and datatype['descendants'][child_datatype_id]['datatype']|length > 0 %}
                    {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}
                    {% set child_theme = theme_element['themeDataType'][0]['childTheme']['theme'] %}

                    {# Don't want the UI to permit modification of linked datatypes the user isn't allowed to modify #}
                    {% set child_is_datatype_admin = true %}
                    {% if theme_datatype.is_link %}
                        {% if datatype_permissions[ child_datatype_id ] is not defined or datatype_permissions[ child_datatype_id ][ 'dt_admin' ] is not defined %}
                            {% set child_is_datatype_admin = false %}
                        {% endif %}
                    {% endif %}

                    {% include 'ODRAdminBundle:SidebarLayout:sidebarlayout_childtype.html.twig' with {
                        'datatype_array': child_datatype,
                        'theme_array': child_theme,
                        'site_baseurl': site_baseurl,

                        'target_datatype_id': child_datatype_id,
                        'target_theme_id': child_theme_id,

                        'datatype_permissions': datatype_permissions,
                        'is_datatype_admin': child_is_datatype_admin,

                        'sidebar_array': sidebar_array,

                        'is_top_level': 0,
                        'is_link': theme_datatype.is_link,
                        'display_type': theme_datatype.display_type,
                        'multiple_allowed': theme_datatype.multiple_allowed
                    } %}
                {% endif %}
            {% endfor %}

        {% endif %}

    </div><!-- End of .ODRInnerBox -->
    </div><!-- End of #ThemeElement_{{ theme_element.id }} -->

    {% endif %}

{% endfor %}

{% endspaceless %}
