{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = datatype.themes[theme_id] %}

{% set can_edit_datatype = false %}
{% if datatype_permissions[ datatype.id ] is defined %}
    {% if datatype_permissions[ datatype.id ][ 'edit' ] is defined %}
        {% set can_edit_datatype = true %}
    {% endif %}
{% endif %}

<div class="ODRDataType{% if is_top_level == 0 %} ODRAccordionWrapper ODRFormAccordion{% endif %} pure-u-1" id="DataType_{{ datatype.id }}">

    {% if is_top_level == 0 %}
        {# current datatype is a child datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</a>

            <span id="DataTypeTools_{{ datatype.id }}" class="DataTypeTools" style="float:right;" rel="{{ datatype.id }}">
                <i class="Pointer tooltip fa {% if can_edit_datatype == true %}fa-unlock{% else %}fa-lock{% endif %} ODREditPermission" title="User is {% if can_edit_datatype == false %}not {% endif %}permitted to edit this Datatype" rel="{{ user.id }}"></i>
            </span>

        </h3>

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:FieldPermissions:fieldpermissions_fieldarea.html.twig' with {
                'user': user,
                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'datatype_array': datatype_array,
                'target_datatype_id': target_datatype_id,
                'theme_id': theme_id,

                'is_top_level': is_top_level,
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% else %}
        {# current datatype is top-level #}
        <span id="DataTypeTools_{{ datatype.id }}" class="DataTypeTools" style="float:right;" rel="{{ datatype.id }}">
            <i class="Pointer tooltip fa {% if can_edit_datatype == true %}fa-unlock{% else %}fa-lock{% endif %} ODREditPermission" title="User is {% if can_edit_datatype == false %}not {% endif %}permitted to edit this Datatype" rel="{{ user.id }}"></i>
        </span>
{#
        <div class="header">
            <h3 id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</h3>
        </div>
#}
        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:FieldPermissions:fieldpermissions_fieldarea.html.twig' with {
                'user': user,
                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'datatype_array': datatype_array,
                'target_datatype_id': target_datatype_id,
                'theme_id': theme_id,

                'is_top_level': is_top_level,
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
