{% spaceless %}

<div style="margin: 5px 10px;">
{% if structural_group_string != '' %}
    <div>
        <b>Mineral Group:</b> [ {{ structural_group_string|raw }} ]
    </div>
{% endif %}

{% if mineral_name_value != '' %}
    <div>
        <b>Quick Search:</b> [ <a target="_blank" href="#{{ mineral_search_url }}">All {{ mineral_name_value }} samples</a> ]
    </div>
{% endif %}

{% if amcsd_search_url != '' %}
    <div>
        <b>American Mineralogist Crystal Structure Database:</b> [ <a target="_blank" href="{{ amcsd_search_url }}">{{ mineral_name_value }}</a> ]
    </div>
{% endif %}
</div>

{% endspaceless %}
