{% spaceless %}

{% if mapping is defined %}
<fieldset>
    <div class="pure-u-1 ODRRenderPluginContent">
        <table class="pure-u-1 ODRTable ODRDataField">
            <thead class="pure-u-1">
                <tr class="pure-u-1">
                    <th class="pure-u-1-4">Date</th>
                    <th class="pure-u-1-2">{{ datatype.dataTypeMeta.shortName }}</th>
                    <th class="pure-u-1-4">Author</th>
                </tr>
            </thead>
            <tbody class="pure-u-1">
            {% for sort_value, comment_data in comments %}
                <tr id="datarecordchild_{{ sort_value }}" class="pure-u-1">
                    {% set comment_text = comment_data.entity.value %}

                    {% set df = mapping.comment %}
                    {% for rpi_num,rpi in df.renderPluginInstances %}
                        {% if rpi.renderPlugin.active and rpi.renderPlugin.render %}
                            {% set rendering_options = {'context': 'text'} %}
                            {% set comment_text = df|datafield_plugin(comment_data.datarecord, rpi, rendering_options)|raw %}
                        {% endif %}
                    {% endfor %}

                    <td class="pure-u-1-4">{{ comment_data.entity.updated|date("Y-m-d") }}</td>
                    <td class="pure-u-1-2">{{ comment_text|raw }}</td>
                    <td class="pure-u-1-4">{{ comment_data.entity.updatedBy|user_string }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</fieldset>
{% endif %}

{% endspaceless %}
