{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% set valuefield_value = '' %}

{% if field_values[rpf_name] is defined %}
    {# Prefer to get the value from the array info that was passed in... #}
    {% set valuefield_value = field_values[rpf_name] %}

{% elseif datarecord.dataRecordFields[ datafield.id ] is defined %}
    {# ...but fall back to the value from the database if a modified value isn't available #}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}

    {# This is guaranteed to only be called on "Short Text" fields #}
    {% if datarecordfield.shortVarchar[0] is defined %}
        {% set valuefield = datarecordfield.shortVarchar[0] %}
        {% set valuefield_value = valuefield.value %}
    {% endif %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}
{% set input_id = field_typeclass ~ 'Form_' ~ unique_id %}

<form class="pure-u-1" id="ViewForm_{{ unique_id }}">
    {# This is guaranteed to only be called on "Short Text" fields #}
    <fieldset>
        <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">
            {{ datafield_meta.fieldName }}
            {% if rpf_name == 'Volume' %}
            &nbsp;<i class="fa fa-info-circle Info" title="Calculated volume: {{ calculated_volume }}"></i>
            {% endif %}
        </label>
        <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
            <div class="ODRRenderPluginField">{{ valuefield_value|raw }}</div>
        </div>
    </fieldset>

</form>
{% endspaceless %}
