{% spaceless %}

<h2>List of values in Datafield "{{ datafield.getfieldname }}" of Datatype "{{ datatype.getshortname }}", and their resulting decimal values after migration</h2>

{% if data | length == 0 %}
    <div class="ODRDatarecordListHeader">No values found</div>
{% else %}

    <div id="TextResults_wrapper" class="ODRTableOuterWrap">
        <div class="ODRTableWrap">
            <table id="ODRReports_AnalyzeDecimalMigration" class="display ODRDatatableInstance">
                <thead>
                    <tr>
                        <th>datarecord id</th>
                        <th>current value</th>
                        <th>migrated value</th>
                        <th>pass #</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dr_id,values in data %}
                    <tr>
                        <td><a target="_blank" href="{{ baseurl }}{{ dr_id }}">{{ dr_id }}</a></td>
                        <td>{{ values['old_value'] }}</td>
                        <td>{{ values['new_value'] }}</td>
                        <td>{{ values['pass'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        var table = $("#ODRReports_AnalyzeDecimalMigration").dataTable({
            "info": false,
            "paging": false,
        });
    });
</script>

{% endspaceless %}
