{% spaceless %}

{% set new_fieldtype_can_be_unique = new_fieldtype.canBeUnique %}
{# NOTE: the conversions sent through this twig file are always to fieldtypes that can't be unique #}
{% set new_fieldtype_can_be_sort_field = new_fieldtype.canBeSortField %}

{% for df_id,data in strings %}
    {% set df = data['df'] %}
    {% set str = data['str'] %}

    {% set dt = df.getdatatype %}
    {% set external_id_field = dt.getexternalidfield %}

    <div>
        Derived datafield "{{ df.getfieldname }}", belonging to the Datatype "{{ dt.getshortname }}" <a target="_blank" href="#{{ path('odr_design_master_theme', {'datatype_id': dt.grandparent.id}) }}"><i class="fa fa-external-link"></i></a>
        <br>

    {% if df.getisunique %}
        <div class="bold{% if not new_fieldtype_can_be_unique %} ODRInputError{% endif %}">This datafield is currently marked as unique{% if not new_fieldtype_can_be_unique %}, but won't be after migrating to this fieldtype{% endif %}.</div>
    {% endif %}

    {% if external_id_field is not null and external_id_field.id == df.id %}
        <div class="bold{% if not new_fieldtype_can_be_unique %} ODRInputError{% endif %}">This datafield is currently the datatype's external id field{% if not new_fieldtype_can_be_unique %}, but won't be after migrating to this fieldtype{% endif %}.</div>
    {% endif %}

    {% if df.getnamedatatypes|length > 0 %}
        {% for dt in df.getnamedatatypes %}
        <div class="bold{% if not new_fieldtype_can_be_sort_field %} ODRInputError{% endif %}">This datafield is currently used in naming records of the "{{ dt.getshortname }}" datatype{% if not new_fieldtype_can_be_sort_field %}, but won't be after migrating to this fieldtype{% endif %}.</div>
        {% endfor %}
    {% endif %}
    {% if df.getsortdatatypes|length > 0 %}
        {% for dt in df.getsortdatatypes %}
        <div class="bold{% if not new_fieldtype_can_be_sort_field %} ODRInputError{% endif %}">This datafield is currently used in sorting records of the "{{ dt.getshortname }}" datatype{% if not new_fieldtype_can_be_sort_field %}, but won't be after migrating to this fieldtype{% endif %}.</div>
        {% endfor %}
    {% endif %}

        <div class="ODRDatarecordListHeader">{{ str }}</div>
    </div>
{% endfor %}

{% endspaceless %}
