{% spaceless %}

{% for df_id,df_data in data %}
    {% if df_mapping[df_id] is defined %}
        {% set df = df_mapping[df_id] %}
        <div>
        {% if df.masterdatafield != null %}
            Derived datafield "{{ df.getfieldname }}", belonging to the Datatype "{{ df.datatype.getshortname }}" <a target="_blank" href="#{{ path('odr_design_master_theme', {'datatype_id': df.datatype.grandparent.id}) }}"><i class="fa fa-external-link"></i></a>
            <br>
        {% endif %}
        </div>
    {% endif %}

    {% if original_lengths[df_id] == 0 %}
        <div class="ODRDatarecordListHeader">This field has no records that will be affected by this migration.</div>
    {% elseif df_data|length == 0 %}
        <div class="ODRDatarecordListHeader">This field has no records that will be affected by this migration.</div>
    {% else %}
        <div class="ODRDatarecordListHeader">Of the {{ original_lengths[df_id] }} records in this datatype, the following {{ df_data|length }} will be changed:</div>
        <div class="ODRTableOuterWrap">
            <div class="ODRTableWrap">
                <table id="ODRReports_AnalyzeRadioMigration_{{ df_id }}" class="display ODRDatatableInstance">
                    <thead>
                        <tr>
                            <th>datarecord id</th>
                            <th>current number of selected radio options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dr_id,values in df_data %}
                        <tr>
                            <td><a target="_blank" href="{{ baseurl }}{{ values['gdr_id'] }}">{{ dr_id }}</a></td>
                            <td>{{ values['ro_list']|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <script>
        $(function() {
            $("#ODRReports_AnalyzeRadioMigration_{{ df_id }}").dataTable({
                // "info": false,
                // "paging": false,
                "searching": false,
            });
        });
    </script>
{% endfor %}

{% endspaceless %}
