{% spaceless %}

{% set child_datatype = datafield.getdatatype %}
<h2>List of duplicate values for the Datafield "{{ datafield.fieldname }}" of the Child Datatype "{{ child_datatype.shortname }}", within the top-level Datatype "{{ top_level_datatype.shortname }}"</h2>

{% if duplicate_values | length == 0 %}
    <div class="ODRDatarecordListHeader">No duplicate values</div>
{% else %}
<div class="pure-u-1-2">
    <table id="ODRReportList" class="display dataTable">
        <thead>
            <tr>
                <th>Parent Datarecord</th>
                <th>Number of Duplicated Values</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set row_num = 1 %}
            {% for parent_id,data in duplicate_values %}
            <tr>
                <td>
                    <a target="_blank" class="address" href="#{{ path('odr_record_edit', {'datarecord_id': grandparent_list[parent_id]}) }}">{{ parent_id }}</a>
                </td>
                <td>{{ data|length }}</td>
                <td class="Pointer ODRListExpand"><i class="fa fa-lg fa-caret-down ODRGrayIcon" rel="{{ row_num }}"></i></td>
            </tr>
            {% set row_num = row_num + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pure-u-1-24"></div>

{% set row_num = 1 %}
{% for parent_id,data in duplicate_values %}
<div id="datarecord_list_{{ row_num }}" class="ODRDatarecordList pure-u-11-24">
    <div class="pure-u-1 ODRDatarecordListHeader">Duplicated values</div>
    {% for duplicated_value,tmp in data %}
    <div class="pure-u-1-5">
        "{{ duplicated_value }}"
    </div>
    {% endfor %}
</div>
{% set row_num = row_num + 1 %}
{% endfor %}

{% endif %}

<style>
    .ODRDatarecordListHeader {
        border-bottom: 1px solid #111111;
        font-weight: bold;
        padding: 10px 18px;
    }
    .ODRGrayIcon {
        opacity: 0.4;
    }
</style>

<script>
    $(function() {
        $("#ODRReportList").dataTable({
            "searching": false,
            "ordering": false,
            "paging": false,
            "info": false,
        });

        $("#ODRReportList").removeAttr('style');

        $(".ODRDatarecordList").hide();

        $(".ODRListExpand").unbind('click');
        $(".ODRListExpand").click(function() {
            // If clicking an already open datarecord list, don't run the block that will open it again
            var self_click = false;
            if ( $(this).children("i").hasClass('fa-caret-right') )
                self_click = true;

            // Reset any open datarecord lists
            $(".ODRListExpand").children(".fa-caret-right").each(function() {   // should only return one
                var row_num = $(this).attr('rel');
                $("#datarecord_list_" + row_num).hide();

                $(this).removeClass('fa-caret-right').addClass('fa-caret-down ODRGrayIcon');
            });

            if ( !self_click ) {
                // Open the selected datarecord list
                $(this).children("i").each(function() {     // should only return one
                    var row_num = $(this).attr('rel');

                    $("#datarecord_list_" + row_num).show();
                    $(this).removeClass('fa-caret-down ODRGrayIcon').addClass('fa-caret-right');
                });
            }
        });
    });

</script>
{% endspaceless %}
