{% spaceless %}

<h2>List of values in the Datafield "{{ datafield.getfieldname }}" for the Datatype "{{ datatype.getshortname }}"</h2>

{% if content | length == 0 %}
    <div class="ODRDatarecordListHeader">No values found</div>
{% else %}

<div>
    <table id="ODRValuesTable" class="display dataTable">
        <thead>
            <tr>
            {% if is_child_datatype %}
                <th>Grandparent Datarecord</th>
            {% endif %}
                <th>Datarecord</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for dr_id,row in content %}
            <tr>
            {% if is_child_datatype %}
                <td><a target="_blank" href="#{{ path('odr_record_edit', {'datarecord_id': row.gdr_id}) }}">{{ row.gdr_name }}</a></td>
                <td>{{ row.dr_name }}</td>
            {% else %}
                <td><a target="_blank" href="#{{ path('odr_record_edit', {'datarecord_id': dr_id}) }}">{{ row.gdr_name }}</a></td>
            {% endif %}
                <td>{{ row.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $("#ODRValuesTable").dataTable({
            "order": [[ 0, "asc" ]],
            "info": true,
            "scrollY": 600,
            "scrollCollapse": true,
            "paging": false
        });

        $("#ODRValuesTable").removeAttr('style');
    });
</script>

{% endif %}

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}
    });
</script>

{% endspaceless %}
