{% spaceless %}
{% set datatype = datatype_tree.datatype %}

{% set has_children = false %}
{% for dr_entry in datarecord_tree %}
    {% set has_children = true %}
{% endfor %}

{% if datatype.getdisplaytype == 0 %}
    <div class="ODRAccordionWrapper ODRFormAccordion">
{% elseif datatype.getdisplaytype == 1 %}
    <div class="ODRAccordionWrapper ODRTabAccordion">
    {% if has_children == true %}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.shortname }}</a>
        </h3>

        <div class="pure-u-1 ODRTabButtonHeader">
        {% for dr_entry in datarecord_tree %}
            {% set datarecord = dr_entry.datarecord %}
            {% if public_only == false or datarecord.ispublic == true %}
                <button class="pure-button ODRTabButton" rel="{{ datarecord.id }}">{{ datarecord.getnamefieldvalue }}</button>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

{% elseif datatype.getdisplaytype == 2 %}
    <div class="ODRAccordionWrapper ODRDropdownAccordion">
    {% if has_children == true %}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.shortname }}</a>

            <span style="float:right;">
                <select id="DataType_{{ datatype.id }}_dropdown" class="accordion" style="padding: 0.6em 0.78em;">
                {% for dr_entry in datarecord_tree %}
                    {% set datarecord = dr_entry.datarecord %}
                    {% if public_only == false or datarecord.ispublic == true %}
                        <option value="{{ datarecord.id }}">{{ datarecord.getnamefieldvalue }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </span>
        </h3>
    {% endif %}

{% elseif datatype.getdisplaytype == 3 %}
    {# just a header here...accordiong_footer.html.twig doesn't need a closing tag #}
    <h3 class="ODRListDisplayHeader ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
        <a>{{ datatype.shortname }}</a>
    </h3>

{% endif %}

{# closing div tag for all of these is in accordion_footer.html.twig #}
{% endspaceless %}
