{% spaceless %}

<li data-theme-id="{{ theme_data.id }}" {% if theme_data.id == selected_theme_id %}class="ODRCurrentLayout"{% elseif page_type != '' and theme_data.theme_visibility == false %}class="ODRHiddenLayout ODRHidden"{% endif %}>
    <div class="pure-u-1 pure-u-md-6-24">
        <h4>
        {% if theme_data.name != "" %}
            {{ theme_data.name }}
        {% else %}
            Unnamed View.
        {% endif %}
        </h4>
        <div class="ODRChooseViewDescription">
        {% if theme_data.description != "" %}
            {{ theme_data.description }}
        {% else %}
            No description.
        {% endif %}
        </div>
        <div>Created By: {{ theme_data.created_by_name }}</div>
{#        <div>theme id: {{ theme_data.id }}&nbsp;&nbsp;theme type: {{ theme_data.theme_type }}&nbsp;&nbsp;page type: {{ formatted_page_type }}</div>#}
    </div>

    <div class="pure-u-1 pure-u-md-11-24 ODRChooseViewDetails">
    {% set need_spacer = false %}

    {% if theme_data.id == selected_theme_id %}
        <div class="ODRViewNote">[ Currently selected view. ]</div>
        {% set need_spacer = true %}
    {% endif %}

    {% if need_spacer %}
        <div class="ODRViewNote">&nbsp;</div>
        {% set need_spacer = false %}
    {% endif %}


    {% if theme_data.theme_type == "master" %}
        <div class="ODRViewNote">[ Master theme/view for database. ]</div>
        {% set need_spacer = true %}
    {% endif %}

    {% if theme_data.is_table_theme %}
        <div class="ODRViewNote">[ Table view. ]</div>
        {% set need_spacer = true %}
    {% endif %}

    {% if need_spacer %}
        <div class="ODRViewNote">&nbsp;</div>
        {% set need_spacer = false %}
    {% endif %}

    {% if is_datatype_admin or theme_data.default_for|length > 0 %}
        <div class="ODRViewNote ODRLayoutInfoDiv">
            <i class="fa fa-lg fa-info-circle"></i>&nbsp;Database default for...
            <div class="ODRLayoutInfo">
            {% for num,label in theme_data.default_for %}
                <div class="ODRViewNote">
                    {% if is_datatype_admin %}
                        {# datatype admins can make a theme no longer used as a default for a database #}
                        <i class="ODRUnsetDefaultDatabase fa fa-unlink" title="Stop using as database default" rel="{{ label }}"></i>&nbsp;
                    {% endif %}
                    Database default for {{ label }} mode
                </div>
            {% endfor %}

            {% if theme_data.default_for|length > 0 and is_datatype_admin and formatted_page_type not in theme_data.default_for %}
                <div>&nbsp;</div>
            {% endif %}

            {% if is_datatype_admin and formatted_page_type not in theme_data.default_for %}
                <div class="ODRViewNote">
                {% if theme_data.is_shared %}
                    {# datatype admins can set any shared theme as the default for a database #}
                    <i class="ODRDefaultDatabase fa fa-link" title="Make this view the database default."></i>&nbsp;
                    Use as default for {% if formatted_page_type != '' %}{{ formatted_page_type }}{% else %}current{% endif %} mode.
                {% else %}
                    <i class="fa fa-ban"></i>&nbsp;
                    Unshared views can't be used as database defaults.
                {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %}

    {% if user != "anon." %}
        <div class="ODRViewNote ODRLayoutInfoDiv">
            <i class="fa fa-lg fa-info-circle"></i>&nbsp;Personal default for...
            <div class="ODRLayoutInfo">
                {% if formatted_page_type not in theme_data.user_preference_for %}
                    {# users can select any theme they can view to be their personal default #}
                    <div class="ODRViewNote">
                        <i class="ODRDefaultPersonal fa fa-link"></i>&nbsp;
                        Use this layout as your personal default for {% if formatted_page_type != '' %}{{ formatted_page_type }}{% else %}current{% endif %} mode.
                    </div>
                {% endif %}

                {% for num,label in theme_data.user_preference_for %}
                <div class="ODRViewNote">
                    <i class="ODRUnsetDefaultPersonal fa fa-unlink" title="Stop using as personal default" rel="{{ label }}"></i>&nbsp;
                    Stop using this layout as your personal default for {{ label }} mode
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>

    <div class="pure-u-1 pure-u-md-6-24">
        <ul class="ODRViewOptions">
        {% set need_spacer = false %}

        {% if theme_data.id != selected_theme_id %}
            {# this dialog only receives themes the user is allowed to use #}
            <li class="ODRChooseViewLink ODRMakeCurrentView">
                <i class="fa fa-eye"></i>&nbsp;Use (current session)
            </li>

            <li>&nbsp;</li>
        {% endif %}

        {% if is_datatype_admin or (user != "anon." and theme_data.created_by == user.id and theme_data.theme_type != "master") %}
            {# datatype admins are allowed to edit any theme for this datatype #}
            {# non-datatype admins can only edit non-master themes they created #}
            <li class="ODRChooseViewLink ODRModifyTheme">
                <i class="fa fa-edit"></i>&nbsp;Edit
            </li>
        {% endif %}

        {% if user != "anon." %}
            {# users are allowed to make their own copy of any theme they can use #}
            <li class="ODRChooseViewLink ODRCopyModifyTheme">
                <i class="fa fa-copy"></i>&nbsp;Copy
            </li>
        {% endif %}

        {% if theme_data.theme_type != "master" %}
            {# never allowed to delete a master theme... #}
            {% if is_super_admin or (user != "anon." and theme.created_by == user.id) %}
                {# ...but super admins can delete any other theme, while regular users can only delete themes they created #}
                {# datatype admins are not allowed to delete themes belonging to other users #}
                {% if theme_data.default_for|length > 0 %}
                    {# if it's a default for some mode, then show the link but don't activate it #}
                    <li class="ODRChooseViewLink strikethrough" title="This layout can't be deleted because it is being used as a database default">
                        <i class="fa fa-trash"></i>&nbsp;Delete
                    </li>
                {% else %}
                    <li class="ODRChooseViewLink ODRDeleteTheme">
                        <i class="fa fa-trash"></i>&nbsp;Delete
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}


        {% if user != "anon." %}
            {# have to be logged in to change public status of theme... #}
            {% if theme_data.default_for|length > 0 or theme_data.theme_type == "master" %}
                {# never allowed to change public status of default themes #}
                <li class="ODRChooseViewLink strikethrough" title="This layout can't be set to private because it is being used as a database default">
                    <i class="fa fa-globe fa-public"></i>&nbsp;Make private
                </li>
            {% elseif is_super_admin or theme_data.created_by == user.id %}
                {# super-admins can change public status of any other theme in the datatype #}
                {# datatype admins and regular users are only allowed to change public status of themes they created #}
                {% if theme_data.is_shared %}
                <li class="ODRChooseViewLink ODRMakeViewShared">
                    <i class="fa fa-globe fa-public"></i>&nbsp;Make private
                </li>
                {% else %}
                <li class="ODRChooseViewLink ODRMakeViewShared">
                    <i class="fa fa-globe fa-not-public"></i>&nbsp;Make public
                </li>
                {% endif %}
            {% endif %}
        {% endif %}
        </ul>
    </div>
</li>

{% endspaceless %}
