{% spaceless %}
<div onclick="viewResults('{{ search_slug }}', {{ datatype_id }});">
    <strong>{{ total_datarecords }}</strong>
    <small>{{ datatype_name }}</small>
    <small>Datarecords</small>
    {#<span>{{ percent }}% of total</span>#}
</div>
{% endspaceless %}
