{% spaceless %}

{% if is_top_level or display_type == 0 or display_type == 4 %}  {# accordion display_type #}
    <div class="ODRAccordionWrapper ODRFormAccordion">
        {% if datarecord_list|length == 0 and is_top_level == 0 and display_type != 4 %}    {# only display this if there are no child datarecords for this datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.dataTypeMeta.shortName }}</a>

            {% if is_link == 1 %}
                <span style="margin-left: 15px;" title="This is a linked Datatype">
                    <i class="fa fa-lg fa-link Cursor"></i>
                </span>
            {% endif %}
        </h3>
        {% endif %}

{% elseif display_type == 1 %}  {# tabbed display_type #}
    <div class="ODRAccordionWrapper ODRTabAccordion">
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.dataTypeMeta.shortName }}</a>
            {% if is_link == 1 %}
                <span style="margin-left: 15px;" title="This is a linked Datatype">
                <i class="fa fa-lg fa-link Cursor"></i>
            </span>
            {% endif %}
        </h3>

        <div class="pure-u-1 ODRTabButtonHeader">
        {% for num, datarecord in datarecord_list %}
            <button class="pure-button ODRTabButton" rel="{{ datarecord.id }}">{{ datarecord.nameField_value }}</button>
        {% endfor %}
        </div>

{% elseif display_type == 2 %}  {# dropdown display_type #}
    <div class="ODRAccordionWrapper ODRDropdownAccordion">
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.dataTypeMeta.shortName }}</a>
            {% if is_link == 1 %}
                <span style="margin-left: 15px;" title="This is a linked Datatype">
                <i class="fa fa-lg fa-link Cursor"></i>
            </span>
            {% endif %}

            {% if datarecord_list|length > 0 %}
            <span style="float:right;">
                <select id="DataType_{{ datatype.id }}_dropdown" class="accordion">
                {% for num, datarecord in datarecord_list %}
                    <option value="{{ datarecord.id }}">{{ datarecord.nameField_value }}</option>
                {% endfor %}
                </select>
            </span>
            {% endif %}
        </h3>

{% elseif display_type == 3 %}  {# list display_type #}
    {# just a header here...accordion_footer.html.twig doesn't need a closing tag #}
    <h3 class="ODRListDisplayHeader ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
        <a>{{ datatype.dataTypeMeta.shortName }}</a>
        {% if is_link == 1 %}
            <span style="margin-left: 15px;" title="This is a linked Datatype">
                <i class="fa fa-lg fa-link Cursor"></i>
            </span>
        {% endif %}
    </h3>

{% endif %}

{# closing div tag for all of these is in fieldarea_footer.html.twig #}
{% endspaceless %}
