{% spaceless %}

{# Don't let start go below 1 #}
{% set start = offset - 1 %}
{% if start < 1 %}
    {% set start = 1 %}
{% endif %}

{# Don't let end go above number of pages #}
{% set end = offset + 1 %}
{% if end > num_pages %}
    {% set end = num_pages %}
{% endif %}

{# If there's less than 5 pages, ensure all of them are always visible #}
{% if num_pages <= 4 %}
    {% set start = 1 %}
    {% set end = num_pages %}
{% endif %}

<div id="pagination_header" class="pure-u-1">
    <div id="ODRPageSelect_header" class="pure-u-1 pure-u-md-1-8">
        <a id="ODRPageSelectSettings">
            <i class="fa fa-lg fa-fw fa-cog"></i>
            <span class="ODRPaginationLabel">&nbsp;Tools</span>
        </a>
    </div>

    <div class="pure-u-1 pure-u-md-3-8">
        {% if num_datarecords > 1 %}
        <form id="ODRPageSelectForm" name="ODRPageSelectForm">
            {% if num_pages > 4 %}
            <span id="ODRPageSelect" class="odr_page_button Pointer">
                <i class="fa fa-caret-down fa-lg"></i><span class="ODRPaginationLabel">Page&nbsp;</span>
                <input type="text" id="odr_page_input" value="{{ offset }}" size="3" length="10" autocomplete="off"/>&nbsp;of&nbsp;<b>{{ num_pages }}</b>
            </span>
            <span id="ODRPagePopup">Jump to page:
                <button type="button" id="ODRPageSelectButton" class="pure-button" type="submit">Go</button>
            </span>
            {% else %}
            <span class="ODRPaginationLabel Cursor">Page&nbsp;</span>
            {% endif %}

            {% if start >= 2 %}
                <button class="ODRPageChooserButton pure-button" onclick="goToPage(1);">
                    <span>1</span>
                </button>
            {% endif %}

            {% if num_pages > 4 and start >= 3 %}
                &nbsp;<i class="fa fa-ellipsis-h"></i>
            {% endif %}

            {% for i in start..end %}
                <button class="ODRPageChooserButton pure-button {% if i == offset %}pure-button-primary{% endif %}" onclick="goToPage({{ i }});">
                    <span>{{ i }}</span>
                </button>
            {% endfor %}

            {% if num_pages > 4 and end <= (num_pages - 2) %}
                &nbsp;<i class="fa fa-ellipsis-h"></i>
            {% endif %}

            {% if end <= (num_pages - 1) %}
                {#<button class="ODRPageChooserButton pure-button" onclick="UpdateURL('#{{ path_str }}/{{ num_pages }}');">#}
                <button class="ODRPageChooserButton pure-button" onclick="goToPage({{ num_pages }});">
                    <span>{{ num_pages }}</span>
                </button>
            {% endif %}

            {% if num_datarecords > 0 %}
                <span class="ODRResultsNumRecords Cursor"><b>{{ num_datarecords }}</b>&nbsp;<span class="ODRPaginationLabel">records</span></span>
            {% endif %}

        </form>
        {% endif %}
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
        {% if num_datarecords > 1 %}
        <span>
            <span class="ODRPaginationLabel Cursor">Show:&nbsp;</span>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 10 %}pure-button-primary{% endif %}" rel="10">10</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 25 %}pure-button-primary{% endif %}" rel="25">25</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 50 %}pure-button-primary{% endif %}" rel="50">50</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 100 %}pure-button-primary{% endif %}" rel="100">100</button>
            <span class="ODRPaginationLabel Cursor">&nbsp;records/page</span>
        </span>
        {% endif %}
    </div>

    {% set is_datatype_admin = false %}
    {% if user_permissions[ datatype.id ] is defined and user_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
        {% set is_datatype_admin = true %}
    {% endif %}

    {# Page/View Options #}
    {% set page_type = 'search_results' %}
    {# TODO - do I actually want a separate page type for linking purposes?
    {% if intent == 'linking' %}
        {% set page_type = 'linking' %}
    {% endif %}
    #}

    {% include 'ODRAdminBundle:Default:view_manager.html.twig' with {
        'datatype': datatype,
        'theme': theme,
        'page_type': page_type,
        'search_key': search_key,

        'has_datarecords': has_datarecords,
        'has_search_restriction': has_search_restriction,
        'editable_only': editable_only,

        'display_export_options': true,
        'intent': intent,
        'user_permissions': user_permissions,

        'notitle': true,
    } %}
</div>

<script>
    $(function() {

        $("#ODRPageSelectForm input[type='text']").on("click", function () {
            $(this).select();
        });

        $("#ODRPageSelectForm").unbind('submit').submit(function (event) {
            event.preventDefault();
            goToPage();
        });

        $(".ODRPageChooserButton").unbind('click').click(function (event) {
            // Prevent form submission when clicking buttons
            event.preventDefault();
        });

        $("#ODRPageSelect").unbind('click').click(function() {
            if ( $("#ODRPagePopup").is(':hidden') )
                $("#ODRPagePopup").fadeIn('fast');
            else
                $("#ODRPagePopup").fadeOut('fast');

            // Calculate where the popup should go
            var selector_offset = $("#ODRPageSelect").offset();
            var selector_height = $("#ODRPageSelect").height();

            var new_offset = {top: selector_offset.top + selector_height + 24, left: selector_offset.left + 20};
            $("#ODRPagePopup").offset( new_offset );
        });

        $("#ODRPageSelectButton").unbind('click').click(function() {
            goToPage();
        });

        $(".ODRPageLength").unbind('click').click(function() {
            var num = $(this).attr('rel');

            var url = '{{ path( 'odr_session_pagelength', {'length': 10} ) }}';
            url = url.substring(0, (url.length-2));
            url += num;

            // Append the tab's id to the get request if it exists
            var data = '';
            if ( window.sessionStorage.getItem('odr_tab_id') )
                data = {'odr_tab_id': window.sessionStorage.getItem('odr_tab_id')};

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                data: data,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    // TODO - this clobbers the linking search results page
                    var url = "{{ path_str }}" + "/" + "{{ offset }}";
                    UpdateURL(url);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');
    
                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];
    
                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
    });

    /**
     * Changes the displayed page for a search result.
     * @param {integer} [page]
     */
    function goToPage(page) {
        if ( page === undefined ) {
            page = parseInt( $("#odr_page_input").val() );
            if ( isNaN(page) ) {
                $("#odr_page_input").val('');
                return;
            }
        }

        if (page < 1)
            page = 1;
        if (page > {{ num_pages }})
            page = {{ num_pages }};

        showSearchOverlay('loading');    {# defined in Default::common_js.html.twig #}

        var url = "{{ path_str }}" + '/' + page;
        UpdateURL(url);
    }
</script>
{% endspaceless %}
