{% spaceless %}

{% set start = offset - 2 %}
{% if start < 1 %}
    {% set start = 1 %}
{% endif %}

{% set end = offset + 2 %}
{% if end > num_pages %}
    {% set end = num_pages %}
{% endif %}

<div id="pagination_header" style="text-align: center;">

    <div>
    {% if num_datarecords > 0 %}
        <span>{{ num_datarecords }} records found.</span>
        
    {% endif %}
        <span>
            Show:
            <button type="button" class="ODRPageLength pure-button {% if page_length == 10 %}pure-button-primary{% endif %}" rel="10">10</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 25 %}pure-button-primary{% endif %}" rel="25">25</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 50 %}pure-button-primary{% endif %}" rel="50">50</button>
            <button type="button" class="ODRPageLength pure-button {% if page_length == 100 %}pure-button-primary{% endif %}" rel="100">100</button>
            Records per page
        </span>
    </div>

    <fieldset></fieldset>

    <div>

        <span id="ODRPageSelect" class="odr_page_button Pointer">
            <i class="fa fa-caret-down fa-lg"></i>Page {{ offset }} of {{ num_pages }}
        </span>
        <span id="ODRPagePopup">Jump to page: <input type="text" id="odr_page_input" size="10" length="10" />&nbsp;&nbsp;<button type="button" id="ODRPageSelectButton" class="pure-button">Go</button></span>

        {% if offset >= 4 %}
            <button class="pure-button" onclick="UpdateURL('#{{ path_str }}/1');">
                <span>1</span>
            </button>
        {% endif %}

        {% if offset >= 5 %}
            <i class="fa fa-ellipsis-h"></i>
        {% endif %}

        {% for i in start..end %}
            <button class="pure-button {% if i == offset %}pure-button-primary{% endif %}" onclick="UpdateURL('#{{ path_str }}/{{ i }}');">
                <span>{{ i }}</span>
            </button>
        {% endfor %}

        {% if offset <= num_pages - 4 %}
            <i class="fa fa-ellipsis-h"></i>
        {% endif %}

        {% if offset <= num_pages - 3 %}
            <button class="pure-button" onclick="UpdateURL('#{{ path_str }}/{{ num_pages }}');">
                <span>{{ num_pages }}</span>
            </button>
        {% endif %}

    </div>

</div>

<script>
    $(function() {

        $("#ODRPageSelect").unbind('click');
        $("#ODRPageSelect").click(function() {
            if ( $("#ODRPagePopup").is(':hidden') )
                $("#ODRPagePopup").fadeIn();
            else
                $("#ODRPagePopup").fadeOut();

            // Calculate where the popup should go
            var selector_offset = $("#ODRPageSelect").offset();
            var selector_height = $("#ODRPageSelect").height();

            var new_offset = {top: selector_offset.top + selector_height + 20, left: selector_offset.left};
            $("#ODRPagePopup").offset( new_offset );
        });

        $("#ODRPageSelectButton").unbind('click');
        $("#ODRPageSelectButton").click(function() {
            var page = parseInt( $("#odr_page_input").val() );
            if ( isNaN(page) ) {
                $("#odr_page_input").val('');
                return;
            }

            if (page < 1)
                page = 1;
            if (page > {{ num_pages }})
                page = {{ num_pages }};

            var url = "{{ path_str }}" + '/' + page;
            UpdateURL(url);
        });

        $(".ODRPageLength").unbind('click');
        $(".ODRPageLength").click(function() {
            var num = $(this).attr('rel');

            var url = '{{ path( 'odr_session_pagelength', {'length': 10} ) }}';
            url = url.substring(0, (url.length-2));
            url += num;

            // Append the tab's id to the get request if it exists
            var data = '';
            if ( window.sessionStorage.getItem('ODR_tab_id') )
                data = {'odr_tab_id': window.sessionStorage.getItem('ODR_tab_id')};

            var dataType = "json";
            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                data: data,
                dataType: dataType,
                success: function(data, textStatus, jqXHR) {
                    if(data.r == 0) {
                        var url = "{{ path_str }}" + "/" + "{{ offset }}";
                        UpdateURL(url);
                    }
                    else {
                        // An error has occurred.
                        // Show Error message dialog
                        alert(data.d);
                    }
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');
    
                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];
    
                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });

        });
    });
</script>
{% endspaceless %}
