{% spaceless %}

{% set datarecord_is_fake = true %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% set valuefield_value = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}


    {% set valuefield = datarecordfield.longText[0] %}
    {% set valuefield_value = valuefield.value %}
{% endif %}

{% if valuefield == '' and (field_typename == 'File' or field_typename == 'Image' or field_typeclass == 'Radio') %}
    {% set valuefield = [] %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}
{% set input_id = field_typeclass ~ 'Form_' ~ unique_id %}
{% set input_name = field_typeclass ~ 'Form[value]' %}

    <form
        autocomplete="off"
        class="pure-u-1 {% if datafield_meta.is_unique %}ODRUniqueField{% endif %}"
        id="EditForm_{{ unique_id }}"
        method="POST"
    >

        <input type="hidden" id="{{ field_typeclass }}Form__token" name="{{ field_typeclass }}Form[_token]" value="{{ token_list[ datarecord.id ][ datafield.id ] }}" />

        {# Journal datafield is paragraph text #}
        <fieldset>
            <label for="{{ input_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">
                {{ datafield_meta.fieldName }}
            </label>
            <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                <div class="pure-u-1">
                    <select id="{{ input_id }}_select" class="pure-u-1">
                        {% for journal_name,num in journal_list %}
                            <option class="ODRRRUFFReferencePlugin_option" {% if journal_name == valuefield_value %}selected{% endif %}>{{ journal_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <textarea
                    id="{{ input_id }}"
                    class="pure-u-1"
                    name="{{ input_name }}"
                    {% if datafield_meta.required == 1 %}required="required"{% endif %}
                    data-error-type="inline"
                    {% if datafield_meta.internal_reference_name != '' %}rel="{{ datafield_meta.internal_reference_name }}"{% endif %}
                >{{ valuefield_value }}</textarea>
                <i class="fa fa-hourglass-2 ODRSaveIndicator"></i>
            </div>
        </fieldset>

    </form>

    <script>
        $(function() {
            $("#{{ input_id }}_select > option:first").text('<< Select a Journal >>');
        });

        $("#{{ input_id }}_select").unbind('change').change(function() {
            var selected_option_text = $(this).find(':selected').text();
            if ( selected_option_text.length > 0 )
                $("#{{ input_id }}").val(selected_option_text).trigger('paste');
        });

        var {{ field_typeclass }}Interval_{{ unique_id }} = null;
        $("#EditForm_{{ unique_id }}").find("{% if field_typename == 'Paragraph Text' %}textarea{% else %}input{% endif %}[name='{{ input_name }}']").unbind('change').unbind('keyup').unbind('paste').on('keyup paste', function() {
            clearTimeout( {{ field_typeclass }}Interval_{{ unique_id }} );
            {{ field_typeclass }}Interval_{{ unique_id }} = setTimeout( "$('#EditForm_{{ unique_id }}').submit()", SaveTimeout );
        });

        $("#EditForm_{{ unique_id }}").validate({
            rules: {
                "{{ input_name }}": {
                {% if datafield_meta.is_unique %}
                    required: true,
                {% endif %}

                {% if datafield_meta.is_unique %}
                    {# need to query ODR to see whether the contents of this field are unique or not #}
                    remote: {
                        url: "{{ path('odr_check_fake_record_field_uniqueness', { 'datafield_id': datafield.id }) }}",
                        type: "post",
                        data: {
                            {# The form's value is automatically inserted by jQuery validate #}
                            "{{ field_typeclass }}Form[_token]": function () {
                                return $("#EditForm_{{ unique_id }}").find("input[type=hidden]").val();
                            },
                            "{{ field_typeclass }}Form[error_type]": "json",
                        }
                    }
                {% endif %}
                }
            },

            {% if datafield_meta.is_unique %}
            onkeyup: false,    // If the datafield fires off a remote event to check uniqueness, then don't trigger validation on every keyup event
            {% endif %}
            submitHandler: function(form) {
                // "Fake" records don't have an equivalent to SaveRecordData(), so probably should
                //   clear the timeout here
                clearTimeout( {{ field_typeclass }}Interval_{{ unique_id }} );
            }
            // focusInvalid: false
        });

        // Ensure required fields are immediately highlighted when a user is trying to create a new
        //  top-level record
        $("#EditForm_{{ unique_id }}").valid();
    </script>

{% endspaceless %}
