{% spaceless %}

{% set TABBED_HEADER = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::TABBED_HEADER') %}
{% set DROPDOWN_HEADER = constant('ODR\\AdminBundle\\Entity\\ThemeDataType::DROPDOWN_HEADER') %}

{% set parent_datatype_id = parent_datarecord.dataType.id %}
{% set datarecord_meta = datarecord.dataRecordMeta %}

{% set can_edit_parent_record = false %}
{% if datatype_permissions[ parent_datatype_id ] is defined
    and datatype_permissions[ parent_datatype_id ][ 'dr_edit' ] is defined %}
    {% set can_edit_parent_record = true %}
{% endif %}

{% set can_delete_record = false %}
{% if datatype_permissions[ datatype.id ] is defined
    and datatype_permissions[ datatype.id ][ 'dr_delete' ] is defined %}
    {% set can_delete_record = true %}
{% endif %}

{% set can_change_public_status = false %}
{% if datatype_permissions[ datatype.id ] is defined
    and datatype_permissions[ datatype.id ][ 'dr_public' ] is defined %}
    {% set can_change_public_status = true %}
{% endif %}

{# The ACCORDION_HEADER, LIST_HEADER, and NO_HEADER display_types have already been handled in Edit::accordion_header.html.twig #}
{% if is_top_level == 0 and (display_type == TABBED_HEADER or display_type == DROPDOWN_HEADER) %}
<div id="DataTypeTools_{{ datarecord.id }}" class="DataTypeTools">
    {% if not datarecord_is_fake %}
    <span rel="{{ datatype.id }}">

        {% if is_top_level == 0 %}
            {% set class_str = "tooltip fa fa-globe" %}
            {% if datarecord.dataRecordMeta.publicDate|is_public %}
                {% set class_str = class_str ~ " ODRActiveIcon" %}
                {% endif %}
            {% if can_change_public_status %}
                {% set class_str = class_str ~ " Pointer" %}
                {% if is_link == 0 %}
                    {% set class_str = class_str ~ " ODRPublicChildRecord" %}
                {% else %}
                    {% set class_str = class_str ~ " ODRPublicLinkedRecord" %}
                {% endif %}
            {% endif %}

            <i
                id="datarecord_{{ datarecord.id }}_public"
                class="{{ class_str }}"
                title="This {% if is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if not datarecord_meta.publicDate|is_public %}not {% endif %}Public"
                rel="{{ datarecord.id }}"
            ></i>
        {% endif %}

        {% if is_link == 1 and can_edit_parent_record %}
            <i
                class="fa fa-unlink Pointer tooltip ODRUnlinkRecord"
                title="Click to unlink this Linked Record"
                rel="{{ datarecord.id }}"
            ></i>
        {% endif %}

        {% if can_edit_parent_record and can_delete_record %}
            <i
                class="Pointer tooltip fa fa-times {% if is_link == 1 %}ODRDeleteLinkedRecord{% else %}ODRDeleteChildRecord{% endif %}"
                title="Click to delete this {% if is_link == 1 %}Linked{% else %}Child{% endif %} Record"
                rel="{{ datarecord.id }}"
            ></i>
        {% endif %}
    </span>

    {% elseif display_type == DROPDOWN_HEADER %}    {# and datarecord_is_fake == true #}
    <span>
        <i
            class="fa fa-hourglass-half Pointer tooltip"
            title="This is a temporary record..."
        ></i>
    </span>
    {% endif %}
</div>
{% endif %}

{% endspaceless %}
