{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}

{% set can_edit_record = 0 %}
{% set can_add_record = 0 %}
{% set can_delete_record = 0 %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_edit' ] is defined %}
    {% set can_edit_record = 1 %}
{% endif %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_add' ] is defined %}
    {% set can_add_record = 1 %}
{% endif %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_delete' ] is defined %}
    {% set can_delete_record = 1 %}
{% endif %}


<div class="ODRDataType pure-u-1" id="DataType_{{ datatype.id }}">

    {% include 'ODRAdminBundle:Default:fieldarea_header.html.twig' with {
        'datatype': datatype,
        'datarecord_list': datarecord_array,

        'is_top_level': is_top_level,
        'is_link': is_link,
        'display_type': display_type
    } %}

    {% for dr_id, datarecord in datarecord_array %}
{#
----------</br>
datarecord: {{ datarecord.id }}...datatype {{ datarecord.dataType.id }}</br>
parent: {{ datarecord.parent.id }}</br>
grandparent: {{ datarecord.grandparent.id }}</br>
</br>
parent_datarecord_id: {{ parent_datarecord_id }}</br>
target_datatype_id: {{ target_datatype_id }}</br>
</br>
is_top_level: {{ is_top_level }}</br>
is_link: {{ is_link }}</br>
display_type: {{ display_type }}</br>
----------</br>
#}
        {% include 'ODRAdminBundle:Edit:accordion_header.html.twig' with {
            'datarecord': datarecord,
            'datatype': datatype,

            'can_add_record': can_add_record,
            'can_edit_record': can_edit_record,
            'can_delete_record': can_delete_record,

            'is_top_level': is_top_level,
            'display_type': display_type
        } %}

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
            {% include 'ODRAdminBundle:Edit:edit_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'datarecord': datarecord,
                'theme_array': theme_array,

                'target_datatype_id': target_datatype_id,
                'target_datarecord_id': datarecord.id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
                'is_link': is_link,
                'display_type': display_type,

                'token_list': token_list,
            } %}
        </div><!-- End of #FieldArea_{{ datarecord.id }} -->

    {% endfor %}

    {% include 'ODRAdminBundle:Default:fieldarea_footer.html.twig' with {'display_type': display_type } %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
