{% spaceless %}

    <div class="ODRFileDatafield_header pure-u-1">
        <i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>&nbsp;
        <span title="{{ datafield.dataFieldMeta.description }}">{{ datafield.dataFieldMeta.fieldName }}</span>
    </div>

    {% for file in files %}
    <div id="File_{{ file.id }}" class="ODRFileDatafield_file pure-u-1">
        <span class="ODRFileSpacer {% if file.fileMeta.publicDate|is_public %}ODRFileSpacer_public{% else %}ODRFileSpacer_nonpublic{% endif %}">&nbsp;</span>

        <span class="ODRTruncateFilename">
            {% set filename = file.fileMeta.originalFileName %}
            {% if file.fileMeta.originalFileName == null %}
                {% set filename = 'File_' ~ file.id ~ '.' ~ file.ext %}
            {% endif %}

            <span class="ODRFileInfoDiv">
                <i class="fa fa-lg fa-info-circle"></i>
                <span class="ODRFileInfo">
                    <div>
                        <i class="fa fa-globe ODRPublicFile Pointer" rel="{{ file.id }}"></i>&nbsp;
                        <span>{% if not file.fileMeta.publicDate|is_public %}File is not public{% else %}File was made public on {{ file.fileMeta.publicDate|date('Y-m-d') }}{% endif %}</span>
                    </div>
                    <div>
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span>Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy|user_string }}</span>
                    </div>
                    <div>
                        <i class="fa fa-trash-o ODRDeleteFile Pointer" rel="{{ file.id }}"></i>&nbsp;
                        <span>Delete File</span>
                    </div>
                    <div>
                        <i class="fa fa-file-o"></i>&nbsp;
                        <span>{{ file.filesize|filesize }}</span>
                    </div>
                </span>
            </span>

            <a href="{{ path('odr_file_download', { 'file_id': file.id } ) }}" class="ODRFileDownload" title="{{ filename }}" rel="{{ file.id }}">{{ filename }}</a>
        </span>

        <span id="ODRFileDecrypt_{{ file.id }}_overlay" class="ODRFakeProgressBar_overlay" {% if file.provisioned == false %}style="visibility:hidden;"{% endif %}>
            <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRFakeProgressBar"></span>
        </span>

        {% if file.provisioned == true %}
            <script>
                $(function() {
                    createFileEncryptProgressCheck({{ file.id }}, {{ datarecord.id }}, {{ datafield.id }});
                });
            </script>
        {% endif %}
    </div>
    {% endfor %}

{% endspaceless %}
