{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}

    {% for file in files %}
    <div id="File_{{ file.id }}" class="ODRFileDatafield_file pure-u-1">
        {% set file_meta = file.fileMeta %}
        <span class="ODRFileSpacer {% if file_meta.publicDate|is_public %}ODRFileSpacer_public{% else %}ODRFileSpacer_nonpublic{% endif %}">&nbsp;</span>

        <span class="ODRTruncateFilename">
            {% set filename = file_meta.originalFileName %}
            {% if file_meta.originalFileName == null %}
                {% set filename = 'File_' ~ file.id ~ '.' ~ file.ext %}
            {% endif %}

            <span class="ODRFileInfoDiv">
                {% if not file_meta.publicDate|is_public %}
                    <i class="fa fa-lg fa-info-circle fa-not-public"></i>
                {% else %}
                    <i class="fa fa-lg fa-info-circle fa-public"></i>
                {% endif %}
                <span class="ODRFileInfo">
                    <div class="Pointer">
                        <i class="fa fa-globe ODRPublicFile" rel="{{ file.id }}"></i>&nbsp;
                        <span>{% if not file_meta.publicDate|is_public %}File is not public{% else %}File was made public on {{ file_meta.publicDate|date('Y-m-d') }}{% endif %}</span>
                    </div>
                    <div>
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span>Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy|user_string }}</span>
                    </div>
                    <div>
                        <i class="fa fa-file-o"></i>&nbsp;
                        <span>{{ file.filesize|filesize }}</span>
                    </div>
                    <div>
                        <i class="fa fa-trash-o ODRDeleteFile Pointer" onclick="DeleteFile({{ file.id }}{% if file_delete_callback is defined %}, {{ file_delete_callback }}{% endif %});"></i>
                        <span>Delete File</span>
                    </div>
                </span>
            </span>

            {% if uses_file_renamer_plugin is not defined or not uses_file_renamer_plugin %}
            <i class="fa fa-lg fa-edit ODRFileRenameTrigger Pointer" title="Rename File"></i>
            <input id="ODRFile_{{ file.id }}_rename"
                   class="ODRFileRenameInput"
                   type="text"
                   maxlength="255"
                   size="50"
                   value="{{ filename }}"
                   style="display: none;"
            />
            <button class="pure-button ODRFileRenameButton" title="Save changes to filename" style="display: none;">
                <i class="fa fa-lg fa-save"></i>
            </button>
            {% endif %}

            <a class="ODRFileDownload" title="{{ filename }}" rel="{{ file.id }}">{{ filename }}</a>
        </span>

        {% if datafield_meta.quality_str != '' %}
            {% include 'ODRAdminBundle:Edit:file_quality.html.twig' with {
                'datafield': datafield,
                'file': file,
                'meta': file_meta,
            } %}
        {% endif %}

        <span id="ODRFileDecrypt_{{ file.id }}_overlay" class="ODRFakeProgressBar_overlay" {% if file.original_checksum != '' %}style="visibility:hidden;"{% endif %}>
            <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRFakeProgressBar"></span>
        </span>

        {# NOTE - would be using encryptKey, but that property is stripped out of the cached array #}
        {% if file.original_checksum == '' %}
        <script>
            $(function() {
                createFileEncryptProgressCheck({{ file.id }}, {{ datarecord.id }}, {{ datafield.id }});
            });
        </script>
        {% endif %}
    </div>
    {% else %}
    <div class="ODRFileDatafield_empty pure-u-1">
        <span class="ODRFileSpacer_empty">&nbsp;</span>
        {% if not datarecord_is_fake %}
            <a class="Cursor">No Files Uploaded</a>
        {% else %}
            <a class="Info">Record must be saved before files can be uploaded</a>
        {% endif %}
    </div>
    {% endfor %}

{% endspaceless %}
