{% spaceless %}

{% set can_edit_record = 0 %}
{% set can_delete_record = 0 %}
{% set can_add_record = 0 %}
{% set is_datatype_admin = 0 %}

{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_edit' ] is defined %}
    {# Edit page for a datarecord can be accessed if user has permissions for a childtype, need to verify that user has permissions to edit the parent datatype #}
    {% set can_edit_record = 1 %}
{% endif %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_delete' ] is defined %}
    {% set can_delete_record = 1 %}
{% endif %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dr_add' ] is defined %}
    {% set can_add_record = 1 %}
{% endif %}
{% if datatype_permissions[ datatype.id ] is defined and datatype_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
    {% set is_datatype_admin = 1 %}
{% endif %}

{% if can_edit_record == 1 %}
<div class="ODRCreatedBy pure-u-1 PadRight">
    <strong>Created by: </strong>{{ datarecord.createdBy.getuserstring }} <strong>on</strong> {{ datarecord.created|date('Y-m-d h:m:s') }} (UTC-5)
    <strong>Last Modified by: </strong>{{ datarecord.updatedBy.getuserstring }} <strong>on</strong> {{ datarecord.updated|date('Y-m-d h:m:s') }} (UTC-5)
</div>
{% endif %}

<div class="pure-u-1 clearfix">
    {% if search_key != '' %}
        <div class="pure-u-1" style="text-align: right">
            {% include 'ODRAdminBundle:Default:search_header.html.twig' with { 'search_key': search_key, 'page_length': page_length, 'offset': offset, 'prev_datarecord': prev_datarecord, 'next_datarecord': next_datarecord, 'redirect_path': redirect_path, 'search_result_current': search_result_current, 'search_result_count': search_result_count } %}
        </div>
    {% endif %}

    <div class="pure-u-1">
        <button type="button" class="pure-button pure-button-primary" onclick="loadDataRecord({{ datarecord.id }}, 'view', {{ offset }});">View DataRecord</button>
        <button type="button" class="pure-button pure-button-primary" onclick="exportXML({{ datarecord.id }})">Export DataRecord</button>

        {% if is_datatype_admin == 1 %}
            {% if datarecord.ispublic %}
                <button id="public_button" type="button" class="pure-button pure-button-primary" onclick="publicRecord( {{ datarecord.id }} );">Make DataRecord Non-Public</button>
            {% else %}
                <button id="public_button" type="button" class="pure-button pure-button-primary" onclick="publicRecord( {{ datarecord.id }} );">Make DataRecord Public</button>
            {% endif %}
        {% endif %}

        {% if can_delete_record == 1 %}
            <button type="button" class="pure-button pure-button-primary" onclick="deleteRecord( {{ datarecord.id }} );">Delete DataRecord</button>
        {% endif %}

        {% if can_add_record == 1 and is_top_level == 1 and datatype.isMasterType == 0 %}
            <button type="button" class="pure-button pure-button-primary" onclick="addDataRecord( {{ datatype.id }} );">Add New DataRecord</button>
        {% endif %}

        <button type="button" class="pure-button pure-button-primary" onclick="openFileDownloadDialog( {{ datarecord.id }}, 0, 0 );">Download Files...</button>
    </div>
</div>

<script>
    $(function() {
        $(".MenuDesignArea").remove();

        // Need a tab id in html5 sessionStorage if one doesn't exist
        if ( !window.sessionStorage.getItem('odr_tab_id') )
            window.sessionStorage.setItem('odr_tab_id', '{{ odr_tab_id }}');
    });

{% if is_datatype_admin == 1 %}
    function publicRecord(datarecord_id) {
        var url = '{{ path('odr_record_public', { 'datarecord_id': 0 }) }}';
        url = url.substring(0, (url.length - 1));
        url += datarecord_id;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data, textStatus, jqXHR) {
                var html = $("#public_button").html();
                if ( html.indexOf('Non') !== -1 )
                    $("#public_button").html('Make DataRecord Public');
                else
                    $("#public_button").html('Make DataRecord Non-Public');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
{% endif %}

    function exportXML(datarecord_id) {
        var url = '{{ path('odr_export_datarecord_single', {'datarecord_id': datarecord.id, '_format': 'json' }) }}';
        document.location = url;
    }

{% if can_delete_record == 1 %}
    function deleteRecord(datarecord_id) {
        if ( confirm("Are you sure you want to delete this DataRecord?") ) {
            var url = '{{ path('odr_record_delete', { 'datarecord_id': 0, 'search_key': '' }) }}';
            url = url.substring(0, (url.length - 2));
            url += datarecord_id + '/' + '{{ search_key }}';

            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    // Redirect to an appopriate page
                    var url = data.d;
                    UpdateURL(url);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        }
    }
{% endif %}
{% if can_add_record == 1 and is_top_level == 1 and datatype.isMasterType == 0 %}
    function addDataRecord(datatype_id) {
        if ( confirm('Are you sure you want to create a new Datarecord?') ) {
            var url = '{{ path('odr_record_add', { 'datatype_id': 0 }) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

            // The tab id should always exist at this point...need to pass it to the controller
            //  action so any lists of datarecords stored for this tab are deleted
            data = {'odr_tab_id': window.sessionStorage.getItem('odr_tab_id')};

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                data: data,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    // Reload this area of the page
                    var datarecord_id = data.d.datarecord_id;

                    var url = '{{ path('odr_record_edit', { 'datarecord_id': 0 }) }}';
                    url = url.substring(0, (url.length-1));
                    url += datarecord_id;

                    UpdateURL(url);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        }
    }
{% endif %}

</script>

{% import "ODRAdminBundle:Default:load_datarecord_js.html.twig" as js %}
{{ js.write(search_theme_id, search_key) }}

{% endspaceless %}
