{% spaceless %}

{% set childtype = datatype_array[target_datatype_id] %}

{% set can_edit_child_record = false %}
{% if datatype_permissions[ childtype.id ] is defined
    and datatype_permissions[ childtype.id ][ 'dr_edit' ] is defined %}
    {% set can_edit_child_record = true %}
{% endif %}

{#
--------------------<br>
edit_fieldarea_childtype.html.twig<br>
target_datatype_id: {{ target_datatype_id }}<br>
parent_datarecord.datatype: {{ parent_datarecord.dataType.id }}<br>
multiple_allowed: {{ multiple_allowed }}<br>
child_datarecord_count: {{ datarecord_array|length }}<br>
can_edit_child_record: {{ can_edit_child_record }}<br>
is_link: {% if is_link == 1 %}yes{% else %}no{%endif %}<br>
--------------------<br>
#}
<div class="ODRChildDatatype" id="ChildTypeWrapper_{{ childtype.id }}_{{ parent_datarecord.id }}">
{% if is_link == 0 and not can_edit_child_record %}
    {% include 'ODRAdminBundle:Display:display_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'datarecord_array': datarecord_array,
        'theme_array': theme_array,

        'target_datatype_id': target_datatype_id,
        'parent_datarecord': parent_datarecord,
        'target_theme_id': target_theme_id,

        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'record_display_view': 'single',
        'is_top_level': 0,
        'is_link': is_link,
        'display_type': display_type,
        'multiple_allowed': multiple_allowed,
    } %}
{% else %}  {# is_link == 1 or can_edit_child_record #}
    {% include 'ODRAdminBundle:Edit:edit_childtype.html.twig' with {
        'datatype_array': datatype_array,
        'datarecord_array': datarecord_array,
        'theme_array': theme_array,

        'target_datatype_id': target_datatype_id,
        'parent_datarecord': parent_datarecord,
        'target_theme_id': target_theme_id,

        'datatype_permissions': datatype_permissions,
        'datafield_permissions': datafield_permissions,

        'is_top_level': 0,
        'is_link': is_link,
        'display_type': display_type,
        'multiple_allowed': multiple_allowed,

        'token_list': token_list,
    } %}
{% endif %}
</div><!-- End of #ChildTypeWrapper_{{ target_datatype_id }}_{{ parent_datarecord.id }} -->

{% endspaceless %}
