{% spaceless %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}

    <!-- Field History Dialog Form -->
    <form action="{{ path('odr_record_save', { 'datarecord_id': datarecord.id, 'datafield_id': datafield.id }) }}" class="pure-u-1" id="DatafieldHistoryForm" method="POST">

        <input type="hidden" id="{{ current_typeclass }}Form__token" name="{{ current_typeclass }}Form[_token]" value="{{ csrf_token }}" />
        <input type="hidden" value="" required="required" name="{{ current_typeclass }}Form[value]" id="{{ current_typeclass }}Form_revert" />

        <fieldset>
            <div class="pure-control-group" id="field_history_table_container" style="overflow: auto; max-height: 500px;">
                <table class="pure-table pure-table-bordered pure-table-striped">
                    <thead><tr>
                        <th>Version</th>
                        <th>Fieldtype</th>
                        <th>Updated At</th>
                        <th>Updated By</th>
                        <th>Value</th>
                        <th></th>
                    </tr></thead>
                    <tbody>
                    {% set latest_version = 0 %}
                    {% for historical_value in historical_values %}
                        {% if historical_value.version > latest_version %}
                            {% set latest_version = historical_value.version %}
                        {% endif %}
                    {% endfor %}

                    {% for historical_value in historical_values|reverse %}
                        <tr class="row">
                            <td class="center">{{ historical_value.version }}</td>
                            <td class="center">{{ historical_value.typename }}</td>
                            <td class="center">{{ historical_value.created|date("Y-m-d H:i:s") }}</td>
                            <td class="center">{{ historical_value.user }}</td>
                        {% if historical_value.typeclass == "DatetimeValue" %}
                            <td id="version_{{ historical_value.version }}" class="center">{% if historical_value.value|date('Y-m-d') == '-0001-11-30' %}{% else %}{{ historical_value.value|date('Y-m-d') }}{% endif %}</td>
                        {% else %}
                            <td id="version_{{ historical_value.version }}" class="center">{{ historical_value.value }}</td>
                        {% endif %}
                            <td id="version_{{ historical_value.version }}_button" rel="{{ historical_value.typeclass }}" class="center"><button class="pure-button pure-button-primary" type="button" onclick="revertTo('version_{{ historical_value.version }}','{{ historical_value.typeclass }}');">Revert</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>

    </form>

    <button type="button" class="pure-button ODRCancelButton">Cancel</button>

    <script>
        $(function() {
            $("#dialog_field_history").dialog({
                autoOpen: false,
                modal: true,
                width: 800,
                open: function() {
                    $(this).parent().css('overflow', 'visible');
                    /* $$.utils.forms.resize()*/
                    $("#field_history_table_container").scrollTop(0);
                }
            });
            $("#dialog_field_history").find('.ODRCancelButton').unbind('click').click(function() {
                var $el = $(this).parents('.ui-dialog-content');
                $el.find('form')[0].reset();
                $el.dialog('close');
            });

            // Init Form
            DatafieldHistoryFormInit();
        });

/*
        $(function() {
            if(typeof(DatafieldHistoryFormInit) !== "undefined") {
                DatafieldHistoryFormInit();
            }
        });
*/
        $(function() {
{% if current_typeclass == 'DatetimeValue' %}
            // The field is currently a datetime value...don't permit reversions to non-datetime values
            $(".row").each(function() {
                var parent = $(this).find(".pure-button").parent();
                var target_typeclass = $(parent).attr('rel');

                if ( target_typeclass !== 'DatetimeValue' )
                    $(parent).children('button').first().attr('title', 'Unable to revert back to this value').attr('disabled', 'disabled');
            });
{% else %}
            // The field is currently not a datetime value...don't permit reversions to datetime values
            $(".row").each(function() {
                var parent = $(this).find(".pure-button").parent();
                var target_typeclass = $(parent).attr('rel');

                if ( target_typeclass == 'DatetimeValue' )
                    $(parent).children('button').first().attr('title', 'Unable to revert back to this value').attr('disabled', 'disabled');
            });
{% endif %}

{% if current_typeclass == 'Boolean' %}
            // The field is currently a boolean value...don't permit reversions to non-boolean values
            $(".row").each(function() {
                var parent = $(this).find(".pure-button").parent();
                var target_typeclass = $(parent).attr('rel');

                if ( target_typeclass !== 'Boolean' )
                    $(parent).children('button').first().attr('title', 'Unable to revert back to this value').attr('disabled', 'disabled');
            });
{% else %}
            // The field is currently not a boolean value...don't permit reversions to boolean values
            $(".row").each(function() {
                var parent = $(this).find(".pure-button").parent();
                var target_typeclass = $(parent).attr('rel');

                if ( target_typeclass == 'Boolean' )
                    $(parent).children('button').first().attr('title', 'Unable to revert back to this value').attr('disabled', 'disabled');
            });
{% endif %}

            // Doesn't make sense to revert to the current version...remove that option
            var element = "version_{{ latest_version }}_button";
            $("#" + element).remove();
        });

        function revertTo(id, target_typeclass) {
            var current_typeclass = "{{ current_typeclass }}";

            // Changes that require no extra consideration or work
            var no_warn = {
                'IntegerValue': ['LongText','LongVarchar','MediumVarchar','ShortVarchar','DecimalValue'],
                'LongVarchar': ['LongText'],
                'MediumVarchar': ['LongText','LongVarchar'],
                'ShortVarchar': ['LongText','LongVarchar','MediumVarchar'],
                'DecimalValue': ['LongText','LongVarchar','MediumVarchar','ShortVarchar']
            };

            // Changes from 'longer' fieldtypes to 'shorter' fieldtypes
            var length_warn = {
                'LongText': ['LongVarchar','MediumVarchar','ShortVarchar'],
                'LongVarchar': ['MediumVarchar','ShortVarchar'],
                'MediumVarchar': ['ShortVarchar']
            };

            // Changes from text fields to IntegerValue/DecimalValue...it can easily result in lost data
            var number_warn = {
                'LongText': ['IntegerValue','DecimalValue'],
                'LongVarchar': ['IntegerValue','DecimalValue'],
                'MediumVarchar': ['IntegerValue','DecimalValue'],
                'ShortVarchar': ['IntegerValue','DecimalValue']
            };

            // Converting from DecimalValue to IntegerValue...going to lose fractional parts of data
            var precision_warn = {
                'DecimalValue': ['IntegerValue']
            };


            // Warn the user about potential issues when reverting to values from different fieldtypes
            var confirm_str = '';
            if ( no_warn[target_typeclass] != undefined && $.inArray(current_typeclass, no_warn[target_typeclass]) == 0 ) {
                confirm_str = '';
            }
            else if ( length_warn[target_typeclass] != undefined && $.inArray(current_typeclass, length_warn[target_typeclass]) == 0 ) {
                confirm_str = 'WARNING: The value may be truncated...';
            }
            else if ( number_warn[target_typeclass] != undefined && $.inArray(current_typeclass, number_warn[target_typeclass]) == 0 ) {
                confirm_str = 'WARNING: The value will be converted to a number, which may result in nonsensical values...';
            }
            else if ( precision_warn[target_typeclass] != undefined && $.inArray(current_typeclass, precision_warn[target_typeclass])  == 0 ) {
                confirm_str = 'WARNING: Any fractional part of the decimal will be dropped...';
            }
            confirm_str += 'Are you certain you want to revert back to this value?';


            if ( confirm(confirm_str) ) {
                var previous_value = $("#" + id).html();

                // Transfer the desired previous_value into the datafield history form
                if ("{{ current_typeclass }}" == "Boolean") {
                    $("#{{ current_typeclass }}Form_revert").val(1);

                    if (previous_value == '')
                        $("#{{ current_typeclass }}Form_revert").attr('disabled', 'disabled');  // force non-submission of value
                    else
                        $("#{{ current_typeclass }}Form_revert").removeAttr('disabled');
                }
                else {
                    $("#{{ current_typeclass }}Form_revert").val(previous_value);
                }

                var $el = $('#dialog_field_history');
                if ( $el.validate().form() ) {
                    $("#DatafieldHistoryForm").submit();

                    // If no errors, copy the desired previous_value onto the page itself
                    if ("{{ current_typeclass }}" == "DatetimeValue") {
                        $("#EditForm_{{ unique_id }}").find('.ODRDatePicker').datepicker("setDate", previous_value);
                    }
                    else if ("{{ current_typeclass }}" == "Boolean") {
                        if (previous_value == '')
                            $("#EditForm_{{ unique_id }}").find('input[type="checkbox"]').first().prop('checked', false);
                        else
                            $("#EditForm_{{ unique_id }}").find('input[type="checkbox"]').first().prop('checked', true);
                    }
                    else if ("{{ current_typeclass }}" == "LongText") {
                        $("#EditForm_{{ unique_id }}").find('textarea').first().html(previous_value);
                    }
                    else {
                        // All other typeclasses
                        $("#EditForm_{{ unique_id }}").find('input[type="text"]').first().val(previous_value);
                    }

                    $el.find('form')[0].reset();
                }
            }
        }
    </script>
{% endspaceless %}
