{% spaceless %}

{% set has_children = false %}
{% if tag.children is defined and tag.children is not empty %}
    {% set has_children = true %}
{% endif %}

{% set is_selected = 0 %}
{% if tag_selections[ tag.id ] is defined %}
    {% set is_selected = tag_selections[ tag.id ].selected %}
{% endif %}

{# Tags should only be hidden by default when they're not top-level, and when they have no selected descendants #}
<li class="ODRTagItem {% if is_selected == 1 %}ODRTagSelected{% endif %} {% if is_top_level != 1 and is_selected == 0 %}ODRHidden{% endif %}">
{% if has_children %}
    {% if is_selected == 1 %}
        {# At least one of this tag's children/grandchild are selected...so at least one of its children will be displayed #}
        <span class="ODRTagSpacer ODRTagParent ODRTagPartialCollapsed"><i class="fa fa-ellipsis-h Pointer"></i></span>
    {% else %}
        {# This tag isn't selected, so none of its descendants are selected either...hide its children by default #}
        <span class="ODRTagSpacer ODRTagParent ODRTagCollapsed"><i class="fa fa-caret-right Pointer"></i></span>
    {% endif %}
{% else %}
    <span class="ODRTagSpacer"></span>
{% endif %}

    <label for="TagForm_{{ unique_id }}_{{ tag.id }}" class="ODRTagLabel">
        <input
            id="TagForm_{{ unique_id }}_{{ tag.id }}"
            class="ODRTagEdit"
            type="checkbox"
            {% if is_selected == 1 %}checked{% endif %}
            {% if inline_search_link %}disabled{% endif %}    {# TODO - disabled for inline searching...need to figure out a good way of handling it #}
        />&nbsp;
        {{ tag.tagMeta.tagName|markdown }}
    </label>

{% if has_children %}
    <ul class="ODRTagGroup {% if is_selected == 0 %}ODRHidden{% endif %}">
        {# Hide tags when they don't have selected descendants...but all tags need to be rendered in Edit mode #}
        {% for child_tag_id, child_tag in tag.children %}
            {% include 'ODRAdminBundle:Edit:tag.html.twig' with {
                'unique_id': unique_id,

                'tag_selections': tag_selections,
                'tag': child_tag,
                'is_top_level': 0,

                'inline_search_link': inline_search_link
            } %}
        {% endfor %}
    </ul>
{% endif %}
</li>

{% endspaceless %}
