{% spaceless %}
{# Create a dynamic or static graph - either rollup or individual #}
{% if odr_chart_legend|length %}

    <div class="pure-u-1 DynamicGraphs ODRHidden">
        <div id="{{ odr_chart_id }}_Dynamic_GraphWrapper">
            {% if odr_chart_files|length %}
            <div id='{{ odr_chart_id }}' class="ODRGraph ODRDynamicGraph pure-u-1">
                <div id="plotlybars_{{ odr_chart_id }}" class="plotlybars-wrapper">
                    <div class="plotlybars">
                        <div class="plotlybars-bar b1"></div>
                        <div class="plotlybars-bar b2"></div>
                        <div class="plotlybars-bar b3"></div>
                        <div class="plotlybars-bar b4"></div>
                        <div class="plotlybars-bar b5"></div>
                        <div class="plotlybars-bar b6"></div>
                        <div class="plotlybars-bar b7"></div>
                    </div>
                    <div class="plotlybars-text">Loading graph</div>
                </div>
                <!-- <svg class="pure-u-1"></svg> -->

                <div id="{{ odr_chart_id }}_settings" class="DynamicGraphSettingsDiv">
                    <a><i class="fa fa-cog"></i></a>

                    <div class="DynamicGraphSettings ODRHidden">
                        <div class="DynamicGraphSettingsDiv_close">
                            <label id="{{ odr_chart_id }}_close" style="cursor:pointer;">
                                <i class="fa fa-close"></i>&nbsp;Close
                            </label>
                        </div>

                        <div>
                            <label id="{{ odr_chart_id }}_column_1_label" for="{{ odr_chart_id }}_column_1" class="graph_columns"></label>
                            <select id="{{ odr_chart_id }}_column_1" class="graph_columns ODRHidden"></select>
                        </div>
                        <div>
                            <label id="{{ odr_chart_id }}_column_2_label" for="{{ odr_chart_id }}_column_2" class="graph_columns ODRHidden" style="vertical-align: top;"></label>
                            <select id="{{ odr_chart_id }}_column_2" class="graph_columns ODRHidden" multiple></select>
                        </div>
                        <div>
                            <label id="{{ odr_chart_id }}_graph_type_label" for="{{ odr_chart_id }}_graph_type">Graph Type: </label>
                            <select id="{{ odr_chart_id }}_graph_type">
                                <option value="xy">xy</option>
{#                                <option value="bar">bar</option>#}
{#                                <option value="piechart">pie</option>#}
{#                                <option value="histogram">histogram</option>#}
{#                                <option value="stackedarea">stackedarea</option>#}
                            </select>
                        </div>

                        <div id="{{ odr_chart_id }}_line_settings" class="{{ odr_chart_id }}_settings ODRHidden">
                            <label id="{{ odr_chart_id }}_line_type_label" for="{{ odr_chart_id }}_line_type">Line Type: </label>
                            <select id="{{ odr_chart_id }}_line_type">
                                <option value="lines" {% if plugin_options.line_type == "lines" %}selected{% endif %}>Lines</option>
                                <option value="markers" {% if plugin_options.line_type == "markers" %}selected{% endif %}>Markers</option>
                                <option value="lines+markers" {% if plugin_options.line_type == "lines+markers" %}selected{% endif %}>Lines+Markers</option>
                            </select>
                            <br>
                            <label id="{{ odr_chart_id }}_normalize_y_label" for="{{ odr_chart_id }}_normalize_y">Normalize Y Axis: </label>
                            <input type="checkbox" id="{{ odr_chart_id }}_normalize_y" {% if plugin_options.normalize_y_axis == "yes" %}checked{% endif %} />
                            <br>
                            <label id="{{ odr_chart_id }}_disable_scatterGL_label" for="{{ odr_chart_id }}_disable_scatterGL">Disable ScatterGL: </label>
                            <input type="checkbox" id="{{ odr_chart_id }}_disable_scatterGL" />
                            {% if can_delete_cached_image %}
                            <br>
                            <button id="{{ odr_chart_id }}_rebuild_graph_image">Rebuild Cached Image</button>
                            {% endif %}
                        </div>
{#
                        <div id="{{ odr_chart_id }}_bar_settings" class="{{ odr_chart_id }}_settings ODRHidden">
                            <label id="{{ odr_chart_id }}_bar_type_label" for="{{ odr_chart_id }}_bar_type">Bar Type: </label>
                            <select id="{{ odr_chart_id }}_bar_type">
                                <option value="v" {% if plugin_options.bar_type == "vert" %}selected{% endif %}>Vertical</option>
                                <option value="h" {% if plugin_options.bar_type == "horizontal" %}selected{% endif %}>Horizontal</option>
                            </select>
                            <br>
                            <label id="{{ odr_chart_id }}_bar_options_label" for="{{ odr_chart_id }}_bar_options">Bar Options: </label>
                            <select id="{{ odr_chart_id }}_bar_options">
                                <option value="group" {% if plugin_options.bar_options == "grouped" %}selected{% endif %}>Grouped</option>
                                <option value="stack" {% if plugin_options.bar_options == "stacked" %}selected{% endif %}>Stacked</option>
                            </select>
                        </div>

                        <div id="{{ odr_chart_id }}_histogram_settings" class="{{ odr_chart_id }}_settings ODRHidden">
                            <label id="{{ odr_chart_id }}_histogram_dir_label" for="{{ odr_chart_id }}_histogram_dir">Histogram Type: </label>
                            <select id="{{ odr_chart_id }}_histogram_dir">
                                <option value="v" {% if plugin_options.histogram_dir == "vert" %}selected{% endif %}>Vertical</option>
                                <option value="h" {% if plugin_options.histogram_dir == "horizontal" %}selected{% endif %}>Horizontal</option>
                            </select>
                            <br>
                            <label id="{{ odr_chart_id }}_histogram_stack_label" for="{{ odr_chart_id }}_histogram_stack">Histogram Stack: </label>
                            <select id="{{ odr_chart_id }}_histogram_stack">
                                <option value="group" {% if plugin_options.histogram_stack == "grouped" %}selected{% endif %}>Grouped</option>
                                <option value="stack" {% if plugin_options.histogram_stack == "stacked" %}selected{% endif %}>Stacked</option>
                                <option value="overlay" {% if plugin_options.histogram_stack == "overlay" %}selected{% endif %}>Overlaid</option>
                            </select>
                        </div>
#}
                    </div>
                </div>

            </div><!-- end of .ODRGraph -->
            {% endif %}
        </div><!-- end of .DynamicGraph Wrapper -->
    </div><!-- end of .DynamicGraphs -->

    <div class="pure-u-1 StaticGraphs">
        <div id="{{ odr_chart_id }}_Static_GraphWrapper" class="ODRStaticGraphWrapper">
        {% for dr_id, file_name in odr_chart_output_files %}    {# NOTE: unfortunately the loop is still required...the graph plugin puts more than just the "correct" graph in odr_chart_output_files #}
            {% if dr_id == target_datarecord_id or (target_datarecord_id matches '{^rollup}' and dr_id == "rollup") %}
            <div id="StaticGraph_{{ odr_chart_id }}" class="ODRGraph ODRStaticGraph pure-u-1">
                {# Have the browser attempt to load the cached graph image directly, at first... #}
                <img id="StaticGraph_{{ odr_chart_id }}_img" class="pure-u-1" src="{{ config_site_baseurl }}{{ config_files_directory }}{{ file_name }}" />
                <div class="ODRChartTrigger"><span>Click to switch to interactive charts.</span></div>
            </div><!-- end of .ODRGraph -->
            {% endif %}
        {% endfor %}
        </div><!-- end of #{{ odr_chart_id }}_Static_GraphWrapper -->
    </div><!-- end of .StaticGraphs -->
{% endif %}

<script type="text/javascript">

// Used to track active plots for resizing
// Why is this not cleared every time?
var page_plots = [];
jQuery(function() {
    {# Trigger plot resizes when the page dimensions change #}
    window.onresize = function() {
        waitForFinalEvent(function() {
            for(var x in page_plots) {
                Plotly.Plots.resize(page_plots[x]);
            }
        }, 500, "plotly_window_resize")
    };

    {# If the browser fails to load the cached graph image, then instruct it to start the render process #}
    var {{ odr_chart_id }}_tries = 0;
    $("#{{ odr_chart_id }}_Static_GraphWrapper").find("img").on('error', function() {
        var img_id = $(this).attr('id');

        if ( {{ odr_chart_id }}_tries == 0 ) {
            {{ odr_chart_id }}_tries++;

            // Hopefully the graph renderer isn't busy, so try the first reload quickly
            setTimeout( 'ODRGraph_waitForRebuild("' + img_id + '")', 200 );
        }
        else if ( {{ odr_chart_id }}_tries < 5 ) {
            {{ odr_chart_id }}_tries++;

            // If the first reload didn't work, then try again after a delay
            // NOTE: it seems as if the browser doesn't follow the timing "to the letter"...setting
            //  this to a short delay doesn't actually mean the image will load faster
            setTimeout( 'ODRGraph_waitForRebuild("' + img_id + '")', 2000 );
        }
    });

    $("#{{ odr_chart_id }}_Static_GraphWrapper").unbind('click').click(function() {
        var graph_parent = $(this).parents('.ODRDataType').first().children('.ODRGraphSpacer').first();
        $(this).addClass('ODRHidden');
        $(graph_parent).find('.DynamicGraphs').removeClass('ODRHidden');

        // Show the FilterGraph control div
        $(graph_parent).next().removeClass('ODRHidden');
        // Ensure the content div is visible
        $(graph_parent).next().next().removeClass('ODRHidden');

        // Trigger the dynamic graph load
        var chart_id = $(graph_parent).find('.ODRDynamicGraph').attr('id');
        var graph_type = "{{ plugin_options.graph_type }}";
        window["SetupGraphs_" + chart_id](graph_type);
    });
{#
    $(".DynamicGraphs").unbind('click').click(function() {
        var parent = $(this).parent();
        $(this).addClass('ODRHidden');
        $(parent).find('.StaticGraphs').removeClass('ODRHidden');
    });
#}

    var elements = [
        'column_1', 'column_2', 'graph_type',
        'line_type', 'normalize_y', 'disable_scatterGL',
        // 'bar_type', 'bar_options',
        // 'histogram_dir', 'histogram_stack'
    ];

    $.each(elements, function(index, elem) {
        $("#{{ odr_chart_id }}_" + elem).unbind('change').change(function() {
            var pieces = $(this).attr('id').split('_');
            var chart_id = pieces.slice(0, -2).join('_');  // console.log(chart_id);

            ODRGraph_triggerDynamicGraph(chart_id);
            $("select.graph_columns").blur();
        });
    });

    $("#{{ odr_chart_id }}_settings").click(function() {
        $(this).children(".DynamicGraphSettings").first().removeClass('ODRHidden');
    });
    $("#{{ odr_chart_id }}_close").click(function(event) {
        $(this).closest(".DynamicGraphSettings").first().addClass('ODRHidden');
        event.stopPropagation();
    });
{% if can_delete_cached_image %}
    $('#{{ odr_chart_id }}_rebuild_graph_image').unbind('click').click(function(event) {
        event.stopPropagation();

        {% for dr_id, file_name in odr_chart_output_files %}    {# NOTE: unfortunately the loop is still required...the graph plugin puts more than just the "correct" graph in odr_chart_output_files #}
            {% if dr_id == target_datarecord_id or (target_datarecord_id matches '{^rollup}' and dr_id == "rollup") %}
                var graph_filename = '{{ file_name }}';
            {% endif %}
        {% endfor %}

        var reduced_filename = graph_filename.substring(graph_filename.lastIndexOf('/')+1);
        // alert(reduced_filename);  return;

        var url = '{{ path('odr_plugin_graph_delete_individual', {'datatype_id': target_datatype_id, 'graph_filename': 0}) }}';
        url = url.substring(0, url.length-1);
        url += reduced_filename;

        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function(data) {
                alert('Cached graph image will be rebuilt');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR, textStatus) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    });
{% endif %}

    $('#{{ odr_chart_id }}_filter').find('.ODRFilterGraphPlugin_select_all').unbind('click').click(function() {
        $(this).parent().next().find('option').each(function(index,elem) {
            $(elem).prop('selected', true).removeClass('ODRFilterGraphPlugin_fake_unselected ODRFilterGraphPlugin_selected ODRFilterGraphPlugin_bad_selection');
        });

        // Since all options are selected, don't need to display this button
        $(this).addClass('ODRFilterGraphPlugin_select_all_faded');

        ODRGraph_triggerDynamicGraph('{{ odr_chart_id }}');
    });

    $('#{{ odr_chart_id }}_filter').find('.ODRFilterGraphPlugin_select').unbind('change').change(function(event, obj) {
        // Need to determine whether the options are selected or not...
        var all_selected = true;
        $(this).find('option').each(function(index,option) {
            if ( !$(option).is(':selected') )
                all_selected = false;
        });

        // If at least one option is deselected, then show the 'Select All' button
        var button = $(this).parent().parent().find('.ODRFilterGraphPlugin_select_all');
        if ( all_selected )
            $(button).addClass('ODRFilterGraphPlugin_select_all_faded');
        else
            $(button).removeClass('ODRFilterGraphPlugin_select_all_faded');

        ODRGraph_triggerDynamicGraph('{{ odr_chart_id }}');
    });

    $('#{{ odr_chart_id }}_filter').find('.ODRFilterGraphPlugin_active').unbind('change').change(function() {
        ODRGraph_triggerDynamicGraph('{{ odr_chart_id }}');
    });
});

if (!window.ODRFilterChart) {
    function ODRFilterChart() {
        this.chart_id = "";

        this.GraphData = function (graph_type) {
            if ( graph_type === null || graph_type === undefined )
                graph_type = "xy";

            switch (graph_type) {
                case "xy":
                    return ODRGraph_lineChartPlotly(this, clearPlotlyBars);
                // case "bar":
                //     return ODRGraph_barChartPlotly(this, clearPlotlyBars);
                // case "histogram":
                //     return ODRGraph_histogramChartPlotly(this, clearPlotlyBars);
                // case "stackedarea":
                //     return ODRGraph_stackedAreaChartPlotly(this, clearPlotlyBars);
                // case "piechart":
                //     return ODRGraph_pieChartPlotly(this, clearPlotlyBars);
                default:
                    break;
            }
        }
    }
}

var SetupGraphs_{{ odr_chart_id }} = function(graph_type = undefined) {
    if (!{{ odr_chart_id }}_initialized) {
        {{ odr_chart_id }}_initialized = true;

        // Create a new Filter chart, and set its id
        odr_chart_{{ odr_chart_id }} = new ODRFilterChart();
        odr_chart_{{ odr_chart_id }}.chart_id = '{{ odr_chart_id }}';

        // Map remaining options to chart
        {% for o_name, o_value in plugin_options %}
        odr_chart_{{ odr_chart_id }}['{{ o_name }}'] = '{{ o_value }}';
        {% endfor %}
    }

    // Build array of file data based on the selected filter options
    odr_chart_{{ odr_chart_id }}.data_files = ODRFilterGraph_updateGraphedFiles({{ odr_chart_id }}_obj);

    // Plot selected graph
    if ( graph_type === undefined )
        $("#{{ odr_chart_id }}_graph_type").val();
    odr_chart_{{ odr_chart_id }}.GraphData(graph_type);
};

var {{ odr_chart_id }}_initialized = false;
var odr_chart_{{ odr_chart_id }} = null;

</script>
{% endspaceless %}
