{% spaceless %}

{% if subscript_delimiter is not defined %}
    {% set subscript_delimiter = '_' %}
{% endif %}
{% if superscript_delimiter is not defined %}
    {% set superscript_delimiter = '^' %}
{% endif %}

<div id="{{ input_id }}_control" style="float:right">
    <button id="{{ input_id }}_chemistry_trigger" class="ODRChemistryPlugin_button pure-button" title="Open the Chemistry Plugin parsing tool"><i class="fa fa-subscript"></i></button>
</div>
<div id="{{ input_id }}_popup" class="ODRChemistryPlugin_popup">
    <div class="pure-u-1">
        <div class="pure-u-1">
            &nbsp;&nbsp;&nbsp;&nbsp;This input displays the Chemistry Plugin's best guess for how the field's value should be formatted.  If needed, you can make more changes to this value before clicking the save button.
        </div>
        <div id="{{ input_id }}_text_warning" style="display:none;">
            <i class="fa fa-exclamation-triangle" style="color:red;"></i>&nbsp;The field already appears to be formatted.  If you intend to click the save button, please verify no unexpected changes have been made.
        </div>
        <div id="{{ input_id }}_subscript_warning" style="display: none;">
            <i class="fa fa-exclamation-triangle" style="color:red;"></i>&nbsp;The field has at least one instance of a duplicated subscript.
        </div>
        <div id="{{ input_id }}_superscript_warning" style="display: none;">
            <i class="fa fa-exclamation-triangle" style="color:red;"></i>&nbsp;The field has at least one instance of a duplicated superscript.
        </div>

    {% if field_typename == "Paragraph Text" %}
        <textarea id="{{ input_id }}_parsed" class="ODRChemistryPlugin_input pure-u-20-24" title="The field's value with the suggested changes applied.  You can make more changes if needed."></textarea>
    {% else %}
        <input id="{{ input_id }}_parsed" class="ODRChemistryPlugin_input pure-u-20-24" type="text" title="The field's value with the suggested changes applied.  You can make more changes if needed." />
    {% endif %}
        <button id="{{ input_id }}_manual_save" class="ODRChemistryPlugin_button pure-button pure-u-3-24">
            <i id="{{ input_id }}_warning" class="fa fa-exclamation-triangle ODRInputError" style="display: none; color: red;"></i>
            <i class="fa fa-save"></i>
        </button>
    </div>

    <div class="pure-u-1">
        <div class="pure-u-1">
            &nbsp;&nbsp;&nbsp;&nbsp;Below is a preview of what the value will look like outside of Edit mode.
        </div>
        <label for="{{ input_id }}_prettify_toggle" class="pure-u-1" style="font-size: 100%;">
            <input type="checkbox" id="{{ input_id }}_prettify_toggle" />&nbsp;Display as raw HTML
        </label>
        <div id="{{ input_id }}_prettified" class="ODRPseudoField ODRChemistryPlugin_textarea pure-u-20-24" title="A preview of the field's value."></div>
        <button id="{{ input_id }}_cancel_save" class="ODRChemistryPlugin_button pure-button pure-u-3-24" title="Close the dialog without saving changes"><i class="fa fa-close" style="color: red;"></i></button>
    </div>
</div>

<script>
    $(function() {
        $("#{{ input_id }}_chemistry_trigger").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();

            if ( $("#{{ input_id }}_popup").is(':visible') ) {
                // Popup already visible, close it
                $("#{{ input_id }}_cancel_save").trigger('click');
            }
            else {
                // Popup not visible...close any other open popup first
                $(".ODRChemistryPlugin_popup").each(function(index, elem) {
                    if ( $(elem).is(':visible') )
                        $(elem).find(".fa-close").parent().trigger('click');
                });

                // Then parse the chemistry...
                if ( ODR_isFormulaFormatted( $("#{{ input_id }}"), '{{ subscript_delimiter }}', '{{ superscript_delimiter }}' ) ) {
                    // Formula appears to be formatted already
                    $("#{{ input_id }}_manual_save").prop('title', 'The formula already appears to be formatted, but clicking here will still save the suggested changes.');
                    $("#{{ input_id }}_warning").show();
                    $("#{{ input_id }}_text_warning").show();
                }
                else {
                    // Formula does not appear to be formatted
                    $("#{{ input_id }}_manual_save").prop('title', 'Save the suggested changes.');
                    $("#{{ input_id }}_warning").hide();
                    $("#{{ input_id }}_text_warning").hide();
                }
                // Regardless of whether it appears to be formatted, parse the formula
                let output = ODR_parseChemicalFormula( $("#{{ input_id }}").val(), '{{ subscript_delimiter }}', '{{ superscript_delimiter }}' );

                // Display the parsed formula
                $("#{{ input_id }}_parsed").val(output);
                $("#{{ input_id }}_parsed").trigger('keyup');

                // ...and show the popup
                $("#{{ input_id }}_popup").show()
                    .offset( $("#{{ input_id }}").offset() )
                    .width( $("#{{ input_id }}").width() + 15 );
                let prettified_div_width = $("#{{ input_id }}_prettified").width();
                $("#{{ input_id }}_parsed")
                    .height( $("#{{ input_id }}").height() )
                    .width( prettified_div_width - 5 );
                $("#{{ input_id }}_prettified")
                    .width( prettified_div_width - 7 );
            }
        });

        $("#{{ input_id }}_prettify_toggle").unbind('change').change(function(event) {
            event.preventDefault();
            $("#{{ input_id }}_parsed").trigger('keyup');
        });

        $("#{{ input_id }}_manual_save").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();
            $("#{{ input_id }}_popup").hide();

            // Copy the parsed value back into the datafield's form and trigger a save
            $("#{{ input_id }}")
                .val( $("#{{ input_id }}_parsed").val() )
                .trigger('keyup');
        });

        $("#{{ input_id }}_cancel_save").unbind('click').click(function(event) {
            // Don't submit the datafield's form
            event.preventDefault();
            $("#{{ input_id }}_popup").hide();
            // Delete this element's style attribute so it is guaranteed to resize
            $("#{{ input_id }}_prettified").removeAttr('style');
        });

        $("#{{ input_id }}_parsed").unbind('change').unbind('keyup').unbind('paste').on('keyup paste', function() {
            // Warn about duplicate delimiters
            ODR_hasDuplicatedDelimiters('{{ input_id }}', '{{ subscript_delimiter }}', '{{ superscript_delimiter }}');

            // Display the "prettified" version of the formula
            let prettified = ODR_prettifyChemicalFormula($("#{{ input_id }}_parsed").val(), {% if field_typename == "Paragraph Text" %}true{% else %}false{% endif %}, '{{ subscript_delimiter }}', '{{ superscript_delimiter }}' );
            if ( $("#{{ input_id }}_prettify_toggle").is(':checked') )
                $("#{{ input_id }}_prettified").text(prettified);
            else
                $("#{{ input_id }}_prettified").html(prettified);
        });
    });
</script>
{% endspaceless %}
