{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% include 'ODRAdminBundle:Display:display_datatypetools.html.twig' with {
    'datatype': datatype,
    'datarecord': datarecord,
    'parent_datarecord': parent_datarecord,

    'is_top_level': is_top_level,
    'is_link': is_link,
    'display_type': display_type,
} %}

{% for theme_element in theme.themeElements %}

    {% if not theme_element|is_empty(datarecord, datatype, 'display') %}

        <div rel="{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
            <div class="ODRInnerBox{% if theme_element.themeElementMeta.hideBorder %} ODRInnerBox_HideBorder{% endif %}">

                {% if theme_element.themeDataFields is defined %}
                    {% for theme_datafield in theme_element.themeDataFields %}
                        {% set datafield_id = theme_datafield.dataField.id %}

                        {% set is_pin_label_field = false %}
                        {% if plugin_fields[datafield_id] is defined and plugin_fields[datafield_id]['rpf_name'] == 'Pin Label' %}
                            {% set is_pin_label_field = true %}
                        {% endif %}

                        {% set display_field = true %}
                        {% if plugin_fields[datafield_id] is defined %}
                            {% if plugin_fields[datafield_id]['rpf_name'] == 'Vector Parallel X'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Parallel Y'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Parallel Z'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Parallel Reference Space'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Perpendicular X'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Perpendicular Y'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Perpendicular Z'
                                or plugin_fields[datafield_id]['rpf_name'] == 'Vector Perpendicular Reference Space'
                            %}
                                {% set display_field = false %}
                            {% endif %}
                        {% endif %}

                        {% if display_field and not is_pin_label_field %}
                            {% if datatype['dataFields'][datafield_id] is not defined %}
                                 user doesn't have permissions to see this datafield
                                <div class="pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"></div>
                            {% else %}
                                {% set datafield = datatype['dataFields'][datafield_id] %}

                                {% if theme_datafield.hidden == 0 %}
                                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}" rel="{{ theme.id }}">
                                    {% if datafield.dataFieldMeta.fieldType.typeName == "Markdown" %}
                                        {% include 'ODRAdminBundle:Display:display_markdown.html.twig' with {'datafield': datafield} %}
                                    {% else %}
                                        {% include 'ODRAdminBundle:Display:display_datafield.html.twig' with {
                                            'datarecord': datarecord,
                                            'datafield': datafield,
                                            'themeDatafield': theme_datafield,
                                        } %}
                                    {% endif %}
                                </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->
                                {% endif %}
                            {% endif %}
                        {% elseif is_pin_label_field %}
                                {# Replace the Pin Label field with the orientation information #}
                                {% set datafield = datatype['dataFields'][datafield_id] %}
                                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datarecord.id }}_{{ datafield.id }}" rel="{{ theme.id }}">
                                    <form class="pure-u-1">
                                        <fieldset>
                                        {% if vector_parallel_str != '' or vector_perpendicular_str != '' %}
                                            <label class="ODRFieldLabel">
                                                Orientation
                                            </label>
                                            <div class="ODRFieldWrapper">
                                                <span class="pure-u-1 Cursor ODRResultsPseudoField">
                                                    {% if vector_parallel_str != '' %}Laser parallel to {{ vector_parallel_str|raw }}.&nbsp;&nbsp;{% endif %}{% if vector_perpendicular_str != '' %}Fiducial mark perpendicular to laser is parallel to {{ vector_perpendicular_str|raw }}.{% endif %}
                                                </span>
                                            </div>
                                        {% endif %}
                                        </fieldset>
                                    </form>
                                </div>

                                <script>
                                    // Since the parallel/perpendicular fields aren't getting displayed, there could be an empty theme element
                                    var childtype_area = $("#Field_{{ datarecord.id }}_{{ datafield.id }}").closest(".ODRChildDatatype");
                                    if ( $(childtype_area).length > 0 ) {
                                        $(childtype_area).find(".ODRThemeElement").each(function(index,elem) {
                                            // If the theme element has no datafields, remove it
                                            if ( $(elem).find(".ODRDataField").length == 0 )
                                                $(elem).remove();
                                        });
                                    }
                                </script>
                        {% endif %}
                    {% endfor %}

                {% elseif theme_element.themeDataType is defined %}

                    {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
                    {% for theme_datatype in theme_element.themeDataType %}
                        {% set child_datatype_id = theme_datatype.dataType.id %}
                        {% set child_theme_id = theme_datatype.childTheme.id %}

                        {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
                        {% if datatype['descendants'][child_datatype_id]['datatype'] is defined and datatype['descendants'][child_datatype_id]['datatype']|length > 0 %}
                            {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}
                            {% set child_theme = theme_element['themeDataType'][0]['childTheme']['theme'] %}

                            {# filtering also means there may not be anything in the datarecord array... #}
                            {% if datarecord['children'][child_datatype_id] is defined %}
                                {# pass all child datarecords of this child datatype to display_childtype.html.twig at once #}
                                {% set datarecord_array = datarecord['children'][ child_datatype_id ] %}

                                <div class="ODRChildDatatype" id="ChildTypeWrapper_{{ child_datatype_id }}_{{ datarecord.id }}">
                                {% include 'ODRAdminBundle:Display:display_childtype.html.twig' with {
                                    'datatype_array': child_datatype,
                                    'datarecord_array': datarecord_array,
                                    'theme_array': child_theme,

                                    'target_datatype_id': child_datatype_id,
                                    'parent_datarecord': datarecord,
                                    'target_theme_id': child_theme_id,

                                    'is_datatype_admin': is_datatype_admin,

                                    'record_display_view': record_display_view,
                                    'is_top_level': 0,
                                    'is_link': theme_datatype.is_link,
                                    'display_type': theme_datatype.display_type,
                                    'multiple_allowed': theme_datatype.multiple_allowed,
                                } %}
                                </div>
                            {% endif %}

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </div><!-- End of .ODRInnerBox -->
        </div><!-- End of .ThemeElement -->

    {% endif %}

{% endfor %}

{% endspaceless %}
