{% spaceless %}

<div class="header">
    <h2>Render Plugin Management</h2>
</div>

<div>
    <label for="display_only_installed_toggle" class="pure-button">
        <input type="checkbox" id="display_only_installed_toggle" class="ODRDisplayOnlyInstalled" style="margin-right: 5px;" />
        Only show installed Render Plugins
    </label>
</div>

<div id="ODRRenderPluginListWrapper">
    <table id="ODRRenderPluginList" class="display dataTable">
        <thead><tr>
            <th></th>
            <th>Group</th>
            <th>Name</th>
            <th>Description</th>

            <td></td>
            <th>Installed?</th>
            <th>In Use?</th>
        </tr></thead>

        <tbody>
        {% for plugin_classname,plugin_data in available_plugins %}
            <tr {% if installed_plugins[plugin_classname] is not defined %}class="ODRNotInstalledPlugin"{% endif %}>
                <td>{{ plugin_classname }}</td>
                <td>{{ plugin_data['category'] }}</td>
                <td>{{ plugin_data['name'] }}</td>
                <td>{{ plugin_data['description'] }}</td>

                <td>
                {% if readable_plugin_updates[plugin_classname] is defined %}
                    <span class="ODRFileInfoDiv">
                        <i class="fa fa-lg fa-info-circle"></i>
                        <span class="ODRFileInfo" style="left: auto !important; top: auto !important; line-height: 1.5em !important;">
                        {% for blurb in readable_plugin_updates[plugin_classname] %}
                            <div>{{ blurb }}</div>
                        {% endfor %}
                        </span>
                    </span>
                {% endif %}
                </td>

                <td>
                    {% if installed_plugins[plugin_classname] is not defined %}
                        <button class="pure-button pure-button-primary ODRInstallRenderPlugin" rel="{{ plugin_classname }}">Install</button>
                    {% elseif plugins_with_updates[plugin_classname] is defined %}
                        {% if plugin_update_problems[plugin_classname] is defined %}
                            <button class="pure-button ODRRenderPluginUpdateProblems" rel="{{ plugin_classname }}">Update <i class="fa fa-lg fa-exclamation-triangle"></i></button>
                        {% else %}
                            <button class="pure-button ODRUpdateRenderPlugin" rel="{{ plugin_classname }}">Update</button>
                        {% endif %}
                    {% else %}
                        Yes
                    {% endif %}
                </td>

                <td>
                    {% if installed_plugins[plugin_classname] is defined
                        and installed_plugins[plugin_classname]['renderPluginInstance']|length > 0
                    %}
                        <span class="ODRRenderPluginUsage Pointer" rel="{{ plugin_classname }}">Yes&nbsp;<i class="fa fa-external-link-square"></i></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form id="ODRRenderPlugin_form" class="ODRHidden">
        <input type="text" name="plugin_classname" value="" id="ODRRenderPlugin_classname" />
    </form>
</div>

<script>
    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        $("#ODRRenderPluginList").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false
                },
                {
                    "targets": [3],
                    "orderable": false,
                    "searchable": false
                },
                {
                    "targets": [5,6],
                    // "orderable": false,
                    "searchable": false,
                    "className": "ODRCenterText"
                }
            ],
            "order": [ [0, "asc"] ],
            "autoWidth": true,
            "paging": false,
            "fixedHeader": {
                /* headerOffset: 42 */
            },
            "info": false,
            "language": {
                "emptyTable": "No Render Plugins found"
            }
        });
        $("#ODRRenderPluginList").removeAttr('style');

        $(".ODRDisplayOnlyInstalled").unbind('click').click(function() {
            var checked = $("#display_only_installed_toggle").prop('checked');

            if ( checked ) {
                $(".ODRNotInstalledPlugin").each(function() {
                    $(this).addClass('ODRHidden');
                });
            }
            else {
                $(".ODRNotInstalledPlugin").each(function() {
                    $(this).removeClass('ODRHidden');
                });
            }

            // Redraw the table so the row colors match
            redoRowClasses( $("#ODRRenderPluginList") );
        });

        $(".ODRInstallRenderPlugin").unbind('click').click(function() {
            var column = $(this).parent();
            var plugin_classname = $(this).attr('rel');

            var url = '{{ path('odr_install_plugin') }}';

            $("#ODRRenderPlugin_classname").val(plugin_classname);
            var data = $("#ODRRenderPlugin_form").serialize();

            $.ajax({
                cache: false,
                type: 'POST',
                data: data,
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    $(column).html('Yes');
                    $(column).parent().removeClass('ODRNotInstalledPlugin');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODRUpdateRenderPlugin").unbind('click').click(function() {
            var column = $(this).parent();
            var plugin_classname = $(this).attr('rel');

            var url = '{{ path('odr_update_plugin') }}';

            $("#ODRRenderPlugin_classname").val(plugin_classname);
            var data = $("#ODRRenderPlugin_form").serialize();

            $.ajax({
                cache: false,
                type: 'POST',
                data: data,
                url: url,
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    $(column).html('Yes');
                    $(column).prev().html('');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR, textStatus) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODRRenderPluginUpdateProblems").unbind('click').click(function() {
            var plugin_classname = $(this).attr('rel');
            openPluginUpdateProblemsDialog(plugin_classname);
        });

        $(".ODRRenderPluginUsage").unbind('click').click(function() {
            var plugin_classname = $(this).attr('rel');
            openPluginUseDialog(plugin_classname);
        });
    });

    /**
     * Opens ODR's modal to display the problems associated with updating a render plugin
     */
    function openPluginUpdateProblemsDialog(plugin_classname) {
        /** @type {odr_remodal_options} modal_options */
        var modal_options = {
            title: 'Problems when updating "' + plugin_classname + '"',
        };
        openODRRemodal(modal_options);

        var url  = '{{ path('odr_plugin_problems', {'plugin_classname': '' } ) }}';
        url += plugin_classname;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                updateODRRemodalBody( data.d.html );
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Close the dialog so it's not in some half-initialized state
                closeODRRemodal();
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    /**
     * Opens ODR's modal to display which datatypes have an instance of this render plugin.
     */
    function openPluginUseDialog(plugin_classname) {
        /** @type {odr_remodal_options} modal_options */
        var modal_options = {
            title: 'Datatypes using "' + plugin_classname + '"',
        };
        openODRRemodal(modal_options);

        var url  = '{{ path('odr_plugin_uses', {'plugin_classname': '' } ) }}';
        url += plugin_classname;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                updateODRRemodalBody( data.d.html );
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Close the dialog so it's not in some half-initialized state
                closeODRRemodal();
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {
                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
