{% spaceless %}

{% set tmp_baseurl = config_site_baseurl %}
{% if config_odr_wordpress_integrated %}
    {% set tmp_baseurl = config_wordpress_site_baseurl %}
{% endif %}
{% if config_kernel_environment == 'dev' %}
    {% set tmp_baseurl = tmp_baseurl ~ '/app_dev.php' %}
{% endif %}

<div id="ODRPluginUsesDialogWrapper">
    <div id="ODRPluginUsesWrapper">
        <table id="ODRPluginUsesTable" class="display dataTable">
            <thead><tr>
                <th></th>
                <th>Grandparent Datatype</th>
                <th>Child Datatype</th>
                {% if is_datafield_plugin %}
                <th>Datafield</th>
                {% endif %}
            </tr></thead>
            <tbody>
{% for num,data in plugin_uses %}
                <tr>
                    <td><a href="{{ tmp_baseurl }}/{{ data['gp_dt_search_slug'] }}#{{ path('odr_design_master_theme', {'datatype_id': data['gp_dt_id']}) }}" target="_blank"><i class='ODRRenderPlugin_Link fa fa-external-link'></i></a></td>
                    <td>{{ data['gp_dt_name'] }}</td>
                    <td>{% if data['gp_dt_name'] != data['dt_name'] %}{{ data['dt_name'] }}{% endif %}</td>
                    {% if is_datafield_plugin %}
                    <td>{{ data['df_name'] }}</td>
                    {% endif %}
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function() {
        $("#ODRPluginUsesTable").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "orderable": false,
                    "searchable": false
                },
            ],
            "order": [ [1, "asc"] ],
            "searching": false,
            // "autoWidth": true,
            "autoWidth": false,
            "paging": false,
            "fixedHeader": {
                /* headerOffset: 42 */
            },
            "info": false,
        });
        $("#ODRPluginUsesTable").removeAttr('style');
    });
</script>

{% endspaceless %}
