{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set allow_multiple_levels = datafield_meta.tags_allow_multiple_levels %}
{% set sort_by_name = datafield_meta.radio_option_name_sort %}

{% set has_children = false %}
{% if tag.children is defined and tag.children is not empty %}
    {% set has_children = true %}
{% endif %}
    
<li class="ODRTagItem" rel="{{ tag.id }}">

    <div class="ODRTagUnit">
    {% if has_children %}
        {# Have the tag tree start out collapsed #}
        <span class="ODRTagSpacer ODRTagParent ODRTagCollapsed"><i class="fa fa-caret-right Pointer"></i></span>
    {% else %}
        <span class="ODRTagSpacer"></span>
    {% endif %}

    {% if not disable_controls %}
        <span class="ODRDeleteTag" rel="{{ tag.id }}"><i class="fa fa-trash Pointer"></i></span>
    {% endif %}

    {% if disable_controls or (not allow_multiple_levels and sort_by_name) %}
        {# Don't allow re-ordering if only a single level of tags is permitted, and they're sorted by name #}
    {% else %}
        <span class="ODRTagAnchor"><i class="fa {% if allow_multiple_levels %}fa-arrows{% else %}fa-arrows-v{% endif %} Pointer"></i></span>
    {% endif %}

        <input id="ODRTag_{{ tag.id }}_name"
            class="ODRTagLabel"
            type="text"
            name="tag_name"
            value="{{ tag.tagMeta.tagName }}"
            data-old-value="{{ tag.tagMeta.tagName }}"
            size="100"
            maxlength="255"
        {% if disable_controls %}
            disabled
            title="Not allowed to modify this tag's name"
        {% endif %}
        />

        <span class="ODRInputError ODRHidden">&nbsp;&nbsp;<i class="fa fa-warning"></i><span>Duplicate Tag name</span></span>
    </div>

    {% if tag.children is defined and tag.children|length > 0 %}
    {# Have the tag tree start out collapsed #}
    <ul class="ODRTagGroup ODRHidden">
        {% for child_tag_id, child_tag in tag.children %}
            {% include 'ODRAdminBundle:Tags:tag.html.twig' with {
                'datafield': datafield,
                'tag': child_tag,

                'disable_controls': disable_controls,
            } %}
        {% endfor %}
    </ul>
    {% endif %}
</li>

{% endspaceless %}
