{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}
    {% set valuefield = datarecordfield.file %}
{% endif %}

{% if valuefield == '' and (field_typename == 'File' or field_typename == 'Image' or field_typeclass == 'Radio') %}
    {% set valuefield = [] %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}

{% set datarecord_is_fake = false %}
{% if datarecord.is_fake is defined and datarecord.is_fake == true %}
    {% set datarecord_is_fake = true %}
{% endif %}

{% set uses_file_renamer_plugin = false %}
{% set uses_file_header_inserter_plugin = false %}
{% if extra_plugins[datafield.id] is defined %}
    {% for plugin_classname, rpi in extra_plugins[datafield.id] %}
        {% if plugin_classname == "odr_plugins.base.file_renamer" %}
            {% set uses_file_renamer_plugin = true %}
        {% endif %}
        {% if plugin_classname == "odr_plugins.base.file_header_inserter" %}
            {% set uses_file_header_inserter_plugin = true %}
        {% endif %}
    {% endfor %}
{% endif %}

    <form
        {% if is_link %} autocomplete="off"{% endif %}
        {% if not datarecord_is_fake %}
            action="{{ path('odr_record_save', { 'datarecord_id': datarecord.id, 'datafield_id': datafield.id }) }}"
        {% endif %}
        class="pure-u-1{% if is_link %} ODRLinkLookupForm{% endif %} {% if datarecord_is_fake and datafield_meta.is_unique %}ODRUniqueField{% endif %}"
        id="EditForm_{{ unique_id }}"
        method="POST"
    >

        {# NOTE - this will only ever be called on a File field #}
        <input type="hidden" id="{{ field_typeclass }}Form__token" name="{{ field_typeclass }}Form[_token]" value="{{ token_list[ datarecord.id ][ datafield.id ] }}" />

        {% set has_file = false %}
        {% if valuefield|length > 0 %}
            {% set has_file = true %}
        {% endif %}

        {#<fieldset>#}
        <div class="ODRFileDatafield">
            <div class="ODRFileDatafield_header pure-u-1">
            {% if uses_file_renamer_plugin %}
                <i class="Pointer fa fa-edit fa-lg ODRFileRenamer_rebuild" title="Rebuild the filenames in this Datafield"></i>&nbsp;
            {% endif %}
            {% if uses_file_header_inserter_plugin %}
                <i class="Pointer fa fa-indent fa-lg ODRFileHeaderInserter_rebuild" title="Rebuild the headers of all Files in this Datafield"></i>&nbsp;
            {% endif %}
            {% if not datarecord_is_fake %}
                <i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>&nbsp;
                <span title="{{ datafield.dataFieldMeta.description }}">{{ datafield.dataFieldMeta.fieldName }}</span>
            {% else %}
                <i class="fa fa-download fa-lg ODRDownloadAllFiles"></i>&nbsp;
                <span>{{ datafield.dataFieldMeta.fieldName }}</span>
            {% endif %}
            </div>

            {% if datarecord_is_fake %}
            <div class="pure-u-1 Info" title="Record must be saved before files can be uploaded" style="opacity: 45%;">
            {% endif %}

                <div class="ODRFileDatafield_content pure-u-1">
                {# If this datatype is top-level, the the only way to update the rest of the fields after deleting a file is to reload the entire page #}
                {% set file_delete_callback = 'function() { window.location.reload(); }' %}
                {% if not is_top_level %}
                    {# If it's not top level, then should attempt to surgically reload the childtype #}
                    {# NOTE - can't use datarecord.parent, because that won't work when the datatype is linked to #}
                    {% set file_delete_callback = 'function() { ReloadEditChild(' ~ datarecord.dataType.id ~ ',' ~ parent_datarecord.id ~ '); }' %}
                {% endif %}

                {% include "ODRAdminBundle:Edit:edit_file_datafield.html.twig" with {
                    'datafield': datafield,
                    'datarecord': datarecord,
                    'files': valuefield,

                    'datarecord_is_fake': datarecord_is_fake,
                    'file_delete_callback': file_delete_callback,
                    'only_use_callback': true,
                    'uses_file_renamer_plugin': uses_file_renamer_plugin,
                } %}
                </div>

            {% if datarecord_is_fake %}
            </div>
            {% endif %}
        </div>

        {% if not datarecord_is_fake %}
        <div class="pure-u-1 {% if datafield_meta.allow_multiple_uploads == 0 and has_file == true %}ODRHidden{% endif %}">
            {# show upload area only if multiples are allowed or nothing has been uploaded yet #}
            {% set target = 'drf_' ~ datarecord.id ~ '_' ~ datafield.id %}
            {% set single_file = true %}
            {% if datafield_meta.allow_multiple_uploads == 1 %}
                {% set single_file = false %}
            {% endif %}

            {# If this datatype is top level, then the only way to get the rest of the fields to show up is to reload the entire page #}
            {% set callback = 'window.location.reload(true);' %}
            {% if not is_top_level %}
                {# If it's not top-level, then should attempt to surgically reload the childtype #}
                {# NOTE - can't use datarecord.parent, because that won't work when the datatype is linked to #}
                {% set callback = 'ReloadEditChild(' ~ datarecord.dataType.id ~ ',' ~ parent_datarecord.id ~ ');' %}
            {% endif %}

            {% include 'ODRAdminBundle:Flow:flow_upload.html.twig' with {
                'target': target,
                'single_file': single_file,
                'upload_type': 'file',
                'datatype_id': datarecord.dataType.id,
                'datarecord_id': datarecord.id,
                'datafield_id': datafield.id,
                'callback': callback
            } %}
        </div>
        {% endif %}
        {#</fieldset>#}

    </form>

{% endspaceless %}
