{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = datatype.themes[theme_id] %}

{% set id_suffix = '' %}
{% if theme.themeType == 'master' %}
    {% set id_suffix = '_master' %}
{% endif %}

<div class="ODRDataType{% if is_link == 1 %} ODRLinkedType{% endif %}{% if is_top_level == 0 %} ODRAccordionWrapper ODRFormAccordion{% endif %} pure-u-1" id="DataType_{{ datatype.id }}{{ id_suffix }}" {#rel="{{ datatype_tree.theme_datatype.id }}"#}>

    {% if is_top_level == 0 %}
        {# current datatype is a child or linked datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a>{{ datatype.dataTypeMeta.shortName }}</a>

        {% if theme.themeType != 'master' %}
            {% include 'ODRAdminBundle:Theme:theme_datatypetools_div.html.twig' with {
                'datatype': datatype,
                'theme': theme,

                'is_top_level': is_top_level,
                'is_link': is_link,
            } %}
        {% endif %}
        </h3>

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}{{ id_suffix }}">
            {% include 'ODRAdminBundle:Theme:theme_fieldarea.html.twig' with {
                'datatype_array': datatype_array,

                'target_datatype_id': target_datatype_id,
                'theme_id': theme_id,

                'target_themetype': target_themetype,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->
    {% else %}
        {# current datatype is top-level #}

        {% if theme.themeType != 'master' %}
            {% include 'ODRAdminBundle:Theme:theme_datatypetools_div.html.twig' with {
                'datatype': datatype,
                'theme': theme,

                'is_top_level': is_top_level,
                'is_link': is_link,
            } %}
        {% endif %}
{#
        <div class="header">
            <h3 id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</h3>
        </div>
#}
        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}{{ id_suffix }}">
            {% include 'ODRAdminBundle:Theme:theme_fieldarea.html.twig' with {
                'datatype_array': datatype_array,

                'target_datatype_id': target_datatype_id,
                'theme_id': theme_id,

                'target_themetype': target_themetype,

                'is_top_level': is_top_level,
                'is_link': is_link
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }}{{ id_suffix }} -->

    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }}{{ id_suffix }} -->

{% endspaceless %}
