{% spaceless %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}

{% set valuefield = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}

    {% if field_typename == "File" %}
        {% set valuefield = datarecordfield.file %}
    {% endif %}
{% endif %}

{#<fieldset class="pure-u-1">#}
<div class="ODRFileDatafield">
    <div class="ODRFileDatafield_header pure-u-1">
        <i class="Pointer fa fa-download fa-lg ODRDownloadAllFiles" title="Download all Files in this Datafield"></i>&nbsp;
        <span title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</span>
    </div>
    {% for file in valuefield %}
        {% set file_meta = file.fileMeta %}
        <div id="File_{{ file.id }}" class="ODRFileDatafield_file pure-u-1">
            <span class="ODRFileSpacer">&nbsp;</span>

            <span class="ODRTruncateFilename">
            {% set filename = file_meta.originalFileName %}
            {% if file_meta.originalFileName == null %}
                {% set filename = 'File_' ~ file.id ~ '.' ~ file.ext %}
            {% endif %}

                <span class="ODRFileInfoDiv">
                    {% if file_meta.publicDate|is_public %}
                        <i class="fa fa-lg fa-info-circle fa-public"></i>
                    {% else %}
                        <i class="fa fa-lg fa-info-circle fa-not-public"></i>
                    {% endif %}
                    <span class="ODRFileInfo">
                        <div>
                            <i class="fa fa-globe ODRPublicFile {% if file_meta.publicDate|is_public %}fa-public{% else %}fa-not-public{% endif %}"></i>&nbsp;
                            <span>{% if not file_meta.publicDate|is_public %}File is not public{% else %}File was made public on {{ file_meta.publicDate|date('Y-m-d') }}{% endif %}</span>
                        </div>
                        <div>
                            <i class="fa fa-calendar"></i>&nbsp;
                            Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy|user_string }}
                        </div>
                        <div>
                            <i class="fa fa-file-o"></i>&nbsp;
                            {{ file.filesize|filesize }}
                        </div>
                    </span>
                </span>
                <a {#href="{{ path('odr_file_download', { 'file_id': file.id } ) }}"#} class="ODRFileDownload" title="{{ filename }}" rel="{{ file.id }}">{{ filename }}</a>
            </span>

            {% if datafield_meta.quality_str != '' %}
                {% include 'ODRAdminBundle:Display:file_quality.html.twig' with {
                    'datafield': datafield,
                    'file': file,
                    'meta': file_meta,
                } %}
            {% endif %}

            <span id="ODRFileDecrypt_{{ file.id }}_overlay" class="ODRFakeProgressBar_overlay" {% if file.original_checksum != '' %}style="visibility:hidden;"{% endif %}>
                <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRFakeProgressBar"></span>
            </span>

            {# NOTE - would be using encryptKey, but that property is stripped out of the cached array #}
            {% if file.original_checksum == '' %}
            <script>
                $(function() {
                    createFileEncryptProgressCheck({{ file.id }}, {{ datarecord.id }}, {{ datafield.id }});
                });
            </script>
            {% endif %}
        </div>
    {% else %}
        <div class="ODRFileDatafield_empty pure-u-1">
            <span class="ODRFileSpacer_empty">&nbsp;</span>
            <a class="Cursor">No Files Uploaded</a>
        </div>
    {% endfor %}
</div>
{#</fieldset>#}

{% if data_array|length > 0 %}
<div class="pure-u-1">
    <div id="hot_{{ datarecord.id }}_{{ datafield.id }}" class="{#pure-u-1#}"></div>
    <script>
        // Handsontable display
        var data_{{ datarecord.id }}_{{ datafield.id }} = {% spaceless %}{{ data_array|raw }}{% endspaceless %}

        var hot_container_{{ datarecord.id }}_{{ datafield.id }} = document.getElementById('hot_{{ datarecord.id }}_{{ datafield.id }}');
        var hot_{{ datarecord.id }}_{{ datafield.id }} = new Handsontable(hot_container_{{ datarecord.id }}_{{ datafield.id }}, {
            data: data_{{ datarecord.id }}_{{ datafield.id }},
            rowHeaders: true,
            colHeaders: true,
            readOnly: true,
            height: 'auto',
            width: '100%',
            licenseKey: 'non-commercial-and-evaluation'
        });
    </script>
</div>
{% endif %}

{% endspaceless %}
