{% spaceless %}
{#
<fieldset>
    <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
    <div class="ODRPseudoField ODRRenderPluginField" id="Input_{{ field.id }}">{% if str|raw != '' %}{{ str|raw }}{% endif %}</div>
</fieldset>
#}
    <fieldset>
        <label id="Label_{{ datafield.id }}" for="Input_{{ datafield.id }}" class="ODRFieldLabel" title="{{ datafield.dataFieldMeta.description }}">{{ datafield.dataFieldMeta.fieldName }}</label>
        <div class="ODRFieldWrapper" id="Input_{{ datafield.id }}">
            <input type="text" value="{{ value }}" readonly="readonly" />
        </div>
    </fieldset>
{% endspaceless %}
