{% macro input(normal_datatype_tree, search_datatype_tree, normal_theme, search_theme) %}
{% spaceless %}

{% set datatype = search_datatype_tree.datatype %}

    <div class="header">
        <h3>{{ datatype.shortname }} Search Design Area</h3>
    </div>

    <div id="DataTypeTools_{{ datatype.id }}" class="DataTypeTools pure-u-1"><span style="float:right;">
        <i class="Pointer tooltip fa fa-edit AddThemeElement" title="Add Group Box" rel="{{ datatype.id }}"></i>
    </span></div>

    <div id="search_form_template_area">
        <div class="ODRFieldArea ODRDesignArea" id="FieldArea_{{ datatype.id }}_design">
            {% include 'ODRAdminBundle:Searchtemplate:search_area_fieldarea_design.html.twig' with {'datatype_tree': search_datatype_tree, 'theme': search_theme} %}
        </div><!-- End of #FieldArea_{{ datatype.id }}_design -->
    </div>

{% endspaceless %}
{% endmacro %}
