{% spaceless %}
<form class="ODRThemeElementPropertiesForm pure-form pure-form-aligned" {{ form_enctype(form) }} id="ThemeElementPropertiesForm_{{ theme_element.id }}">
    {{ form_errors(form._token) }}
    {{ form_widget(form._token) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{form.cssWidthMed.vars.id}}">
                <strong>{{form.cssWidthMed.vars.label}}</strong>
            </label>
            {{ form_errors(form.cssWidthMed) }}
            {{ form_widget(form.cssWidthMed, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div class="pure-control-group">
            <label for="{{form.cssWidthXL.vars.id}}">
                <strong>{{form.cssWidthXL.vars.label}}</strong>
            </label>
            {{ form_errors(form.cssWidthXL) }}
            {{ form_widget(form.cssWidthXL, { 'attr': {'style': 'width:auto'} }) }}
        </div>

        <div style="display: none">
        {{ form_rest(form) }}
        </div>
    </fieldset>

</form>
{% endspaceless %}
