{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% set is_datatype_admin = false %}
{% if datatype_permissions[target_datatype_id] is defined and datatype_permissions[target_datatype_id][ 'dt_admin' ] is defined %}
    {% set is_datatype_admin = true %}
{% endif %}

<div class="ODRDataType pure-u-1{% if is_top_level == 0 %} ODRAccordionWrapper ODRFormAccordion{% endif %}" id="DataType_{{ datatype.id }}">

    {% if is_top_level == 0 %}

        {# current datatype is a child datatype #}
        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a id="Datatype_{{ datatype.id }}_ShortName">{{ datatype.dataTypeMeta.shortName }}</a>
            {% if is_datatype_admin %}
            <select class="ODRPublicSelect" style="margin-left: 15px;" rel="{{ datatype.id }}">
                <option value="-1">Make all Datarecords non-public</option>
                <option value="0" selected>Don't change public status</option>
                <option value="1">Make all Datarecords public</option>
            </select>
            {% endif %}
        </h3>

        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:MassEdit:massedit_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% else %}

        {# current datatype is top-level #}
        <div class="ODRFieldArea pure-u-1" id="FieldArea_{{ datatype.id }}">
            {% include 'ODRAdminBundle:MassEdit:massedit_fieldarea.html.twig' with {
                'datatype_array': datatype_array,
                'theme_array': theme_array,

                'target_datatype_id': target_datatype_id,
                'target_theme_id': target_theme_id,

                'datatype_permissions': datatype_permissions,
                'datafield_permissions': datafield_permissions,

                'is_top_level': is_top_level,
            } %}
        </div><!-- End of #FieldArea_{{ datatype.id }} -->

    {% endif %}

</div><!-- End of #DataType_{{ datatype.id }} -->

{% endspaceless %}
