{% spaceless %}

{% set datatype = datatype_tree.datatype %}

{% for data in datatype_tree.theme_elements %}

    {% set element = data.theme_element %}
    {# inverse of "if datatype_tree.is_link == 1 and element.displayinresults == 0" #}
    {#{% if datatype_tree.is_link == 0 or element.displayinresults == 1 %}#}
    {% if datatype_tree.is_link == 0 %}
        <div id="ThemeElement_{{ element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ element.getcsswidthmed }} pure-u-xl-{{ element.getcsswidthxl }}">
            <div class="ODRInnerBox">
    {% endif %}


    {#{% if datatype_tree.is_link == 1 and element.displayinresults == 0 %}#}
    {% if datatype_tree.is_link == 1 %}
        {# don't render theme_elements off linked types #}
    {% elseif data.datafields != null %}
        {# render all datafields in this theme element #}
        {% for datafield in data.datafields %}

            {% set theme_datafield = datafield.theme_datafield %}
            {% set datafield = datafield.datafield %}

            {% set can_view_datafield = 0 %}
            {% set can_edit_datafield = 0 %}
            {% if datafield_permissions[ datafield.id ] is defined and datafield_permissions[ datafield.id ][ 'view' ] is defined %}
                {% set can_view_datafield = 1 %}
            {% endif %}
            {% if datafield_permissions[ datafield.id ] is defined and datafield_permissions[ datafield.id ][ 'edit' ] is defined %}
                {% set can_edit_datafield = 1 %}
            {% endif %}


            {% set field_typename = datafield.fieldtype.typename %}

            <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.getcsswidthmed }} pure-u-xl-{{ theme_datafield.getcsswidthxl }}" id="Field_{{ datafield.id }}" >
    
            {% if field_typename == "Markdown" %}
                {% include 'ODRAdminBundle:Results:results_markdown.html.twig' with {'field': datafield} %}
            {% elseif can_view_datafield == 1 %}
                {% include 'ODRAdminBundle:MassEdit:massedit_datafield.html.twig' with {'fieldtheme': theme_datafield, 'field': datafield, 'can_edit_datafield': can_edit_datafield} %}
            {% else %}
                {# user can't view or edit datafield, don't display anything #}
            {% endif %}

            </div><!-- end of #Field_{{ datafield.id }} -->

        {% endfor %}
    {% elseif data.datatype != null %}
        {# render the child/linked datatype in this theme element #}

        {% import "ODRAdminBundle:MassEdit:massedit_childtype.html.twig" as mychildform %}
        {{ mychildform.input(data.datatype, datafield_permissions) }}

    {% endif %}


    {# inverse of "if datatype_tree.is_link == 1 and element.displayinresults == 0" #}
    {#{% if datatype_tree.is_link == 0 or element.displayinresults == 1 %}#}
    {% if datatype_tree.is_link == 0 %}
            </div><!-- End of .ODRInnerBox -->
        </div><!-- End of #ThemeElement_{{ element.id }} -->
    {% endif %}

{% endfor %}

{% endspaceless %}
