{% spaceless %}

{% set DATATYPE_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATATYPE_PLUGIN') %}
{% set DATAFIELD_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATAFIELD_PLUGIN') %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% set rendering_options = {'is_top_level': is_top_level, 'is_link': false, 'theme_type': theme.themeType, 'context': 'mass_edit'} %}

{# Determine whether a datatype render plugin wants to override MassEdit fields #}
{% set datatype_plugin_mass_edit_override_list = [] %}
{% for rpi_num,rpi in datatype.renderPluginInstances %}
    {% if rpi.renderPlugin.plugin_type == DATATYPE_PLUGIN and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
        {% set can_execute_plugin = rpi|can_execute_datatype_plugin(datatype, rendering_options) %}

        {# Only want to save the override list if the plugin is allowed to execute #}
        {% if can_execute_plugin %}
            {% set datatype_plugin_mass_edit_override_list = rpi|get_mass_edit_override_fields() %}
        {% endif %}
    {% endif %}
{% endfor %}

{% for theme_element in theme.themeElements %}

    <div id="ThemeElement_{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
    <div class="ODRInnerBox">

    {% if theme_element.themeDataFields is defined %}

        {% for theme_datafield in theme_element.themeDataFields %}
            {% set datafield_id = theme_datafield.dataField.id %}

            {% if datatype['dataFields'][datafield_id] is not defined %}
                <div class="pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"></div>    {# user doesn't have permissions to see this datafield #}
            {% else %}
                {% set datafield = datatype['dataFields'][datafield_id] %}

                {# Determine whether a datafield render plugin wants to override MassEdit fields #}
                {% set datafield_plugin_mass_edit_override_list = [] %}
                {% for rpi_num,rpi in datafield.renderPluginInstances %}
                    {% if rpi.renderPlugin.plugin_type == DATAFIELD_PLUGIN and rpi.renderPlugin.active and rpi.renderPlugin.render != 'false' %}
                        {% set can_execute_plugin = rpi|can_execute_datafield_plugin(datafield, [], rendering_options) %}

                        {# Only want to save the override list if the plugin is allowed to execute #}
                        {% if can_execute_plugin %}
                            {% set datafield_plugin_mass_edit_override_list = rpi|get_mass_edit_override_fields() %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% set override_mass_edit_field_label = '' %}
                {% set override_mass_edit_field = false %}
                {% if datatype_plugin_mass_edit_override_list['fields'][datafield_id] is defined %}
                    {% set override_mass_edit_field = true %}
                    {% set override_mass_edit_field_label = datatype_plugin_mass_edit_override_list['label'] %}
                {% endif %}
                {% if datafield_plugin_mass_edit_override_list['fields'][datafield_id] is defined %}
                    {% set override_mass_edit_field = true %}
                    {% set override_mass_edit_field_label = datafield_plugin_mass_edit_override_list['label'] %}
                {% endif %}

                {% set can_edit_datafield = false %}
                {% if datafield_permissions[ datafield.id ] is defined and datafield_permissions[ datafield.id ][ 'edit' ] is defined %}
                    {% set can_edit_datafield = true %}
                {% endif %}

                <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datafield.id }}" >

                {% if datafield.dataFieldMeta.fieldType.typeName == "Markdown" %}
                    {% include 'ODRAdminBundle:Display:display_markdown.html.twig' with {'datafield': datafield} %}
                {% else %}
                    {% include 'ODRAdminBundle:MassEdit:massedit_datafield.html.twig' with {
                        'datafield': datafield,
                        'can_edit_datafield': can_edit_datafield,

                        'override_mass_edit_field': override_mass_edit_field,
                        'override_mass_edit_field_label': override_mass_edit_field_label,
                    } %}
                {% endif %}

                </div><!-- end of #Field_{{ datafield.id }} -->
            {% endif %}
        {% endfor %}

    {% elseif theme_element.themeDataType is defined %}

        {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
        {% for theme_datatype in theme_element.themeDataType %}
            {% set child_datatype_id = theme_datatype.dataType.id %}
            {% set child_theme_id = theme_datatype.childTheme.id %}

            {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
            {% if datatype['descendants'][child_datatype_id] is defined and datatype['descendants'][child_datatype_id]['datatype']|length > 0 %}
                {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}
                {% set child_theme = theme_element['themeDataType'][0]['childTheme']['theme'] %}

                {% include 'ODRAdminBundle:MassEdit:massedit_childtype.html.twig' with {
                    'datatype_array': child_datatype,
                    'theme_array': child_theme,

                    'target_datatype_id': child_datatype_id,
                    'target_theme_id': child_theme_id,

                    'datatype_permissions': datatype_permissions,
                    'datafield_permissions': datafield_permissions,

                    'is_top_level': 0
                } %}
            {% endif %}
        {% endfor %}

    {% endif %}

    </div><!-- End of .ODRInnerBox -->
    </div><!-- End of #ThemeElement_{{ theme_element.id }} -->

{% endfor %}

{% endspaceless %}
