{% spaceless %}

{# Store whether this tag has any child tags #}
{% set has_children = false %}
{% if tag.children is defined and tag.children is not empty %}
    {% set has_children = true %}
{% endif %}

<li class="ODRTagItem">
{% if has_children %}
    {# Have the tag tree start out collapsed #}
    <span class="ODRTagSpacer ODRTagParent ODRTagCollapsed"><i class="fa fa-caret-right Pointer"></i></span>
{% else %}
    <span class="ODRTagSpacer"></span>
{% endif %}

    <label id="Label_{{ tag.id }}" for="Input_{{ tag.id }}" class="ODRTagLabel {# pure-u-1#}">
        <span class="ODRTristateCheckbox">
            <i class="fa"></i>
            <input type="hidden" name="{{ datafield.id }}" rel="{{ tag.id }}" value="" {% if has_children %}class="ODRSearchParentTag"{% endif %} />
        </span>
        {{ tag.tagMeta.tagName }}
    </label>

{% if has_children %}
    <ul class="ODRTagGroup" style="display: none;">    {# Have the tag tree start out collapsed #}
        {% for child_tag_id, child_tag in tag.children %}
            {% include 'ODRAdminBundle:MassEdit:tag.html.twig' with {
                'tag': child_tag,
            } %}
        {% endfor %}
    </ul>
{% endif %}
</li>

{% endspaceless %}
