{% spaceless %}

{% for element in datatype.getThemeElement %}

    {# Determine the highest value possible for display_order for this datatype #}
    {% set max_sort_order = 0 %}
    {% for elementfield in element.getThemeElementField %}
        {% if elementfield.getdatafields != null and elementfield.getdatafields.getdisplayorder > max_sort_order %}
            {% set max_sort_order = elementfield.getdatafields.getdisplayorder %}
        {% endif %}
    {% endfor %}

    {# Locate the datafields of this datatype in their display_order #}
    {% for current_field in 1..max_sort_order %}
        {% for elementfield in element.getThemeElementField %}
            {% if null != elementfield.getdatafields and elementfield.getdatafields.getdisplayorder == current_field %}
                {% for mytheme in elementfield.getdatafields.getThemeDataField %}
                    {% if mytheme.theme.id  == theme.id %}
                        {% if current_field == 1 %}
                            <tr class="DataRecord DataRecord_{{ datarecord.id }}" onclick="loadDataRecord({{ datarecord.id }});">
                            <td>{{ datarecord.getsortfieldvalue }}</td>
                            <td><button type="button" onclick="loadCacheEntry({{ datarecord.id }})">Caching failure for DataRecord {{ datarecord.id }}...click to load data.</button></td>
                        {% elseif current_field == max_sort_order %}
                            <td>&nbsp;</td></tr>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endfor %}

{% endspaceless %}
