{% spaceless %}

{# Reduce confusion with the upload button... #}
{% set upload_text = '' %}
{% if upload_type == 'file' or upload_type == 'csv_import_file_storage' or upload_type == 'xml_import_file_storage' %}
    {% set upload_text = 'Files' %}
{% elseif upload_type == 'image' %}
    {% set upload_text = 'Images' %}
{% elseif upload_type == 'csv' %}
    {% set upload_text = 'CSV File' %}
{% elseif upload_type == 'xml' %}
    {% set upload_text = 'XML File' %}
{% endif %}

<div id="ODRFileUpload_{{ target }}" class="ODRFileUpload">
    <span class="ODRUploadBlurb">
        <span class="pure-button pure-button-primary">
            Upload {{ upload_text }} or Drop Here
        </span>
    </span>
</div>

<div id="ODRFileUploadProgress_{{ target }}" class="ODRFileUploadProgress"></div>

<script type="text/javascript">

    var flow_{{ target }} = null;
    var flow_errors_{{ target }} = false;
    var flow_cancelled_{{ target }} = false;

    $(function() {

        // TODO - drag CSS needs work
        $("#ODRFileUpload_{{ target }}").off('dragenter');
        $("#ODRFileUpload_{{ target }}").on('dragenter', function(event) {
            event.stopPropagation();
            event.preventDefault();

            $(this).find('.pure-button-primary').addClass('ODRUploadDragHighlight');
        });

        $("#ODRFileUpload_{{ target }}").off('dragleave');
        $("#ODRFileUpload_{{ target }}").on('dragleave', function(event) {
            event.stopPropagation();
            event.preventDefault();

            $(this).find('.pure-button-primary').removeClass('ODRUploadDragHighlight');
        });

        $("#ODRFileUpload_{{ target }}").off('dragover');
        $("#ODRFileUpload_{{ target }}").on('dragover', function(event) {
            event.stopPropagation();
            event.preventDefault();

            $(this).find('.pure-button-primary').addClass('ODRUploadDragHighlight');
        });

        $("#ODRFileUpload_{{ target }}").off('drop');
        $("#ODRFileUpload_{{ target }}").on('drop', function(event) {
            $(this).find('.pure-button-primary').removeClass('ODRUploadDragHighlight');
        });

        // Create a new Flow.js instance
        flow_{{ target }} = new Flow({
            "target": "{{ path('odr_flow_upload', {'upload_type': upload_type, 'datatype_id': datatype_id, 'datarecord_id': datarecord_id, 'datafield_id': datafield_id}) }}",
            "chunkSize": 2 * 1024 * 1024,
            "forceChunkSize": true,
//            "simultaneousUploads": 3,

            "chunkRetryInterval": 1000,
            "maxChunkRetries": 3,

            "successStatuses": [200],
            "permanentErrors": [404],
        });

        // Remove all event handlers for this instance of flow.js
        flow_{{ target }}.off();

        // Inform this instance of flow.js to watch for upload/drop operations on the related target div
        flow_{{ target }}.assignDrop( $('#ODRFileUpload_{{ target }}') );     // TODO - Need better CSS for HTML drag/drop
{% if single_file == true %}
        flow_{{ target }}.assignBrowse( $('#ODRFileUpload_{{ target }}'), false, true );    // no directories, only allow single file upload
{% else %}
        flow_{{ target }}.assignBrowse( $('#ODRFileUpload_{{ target }}'), false );    // no directories, multiple files allowed
{% endif %}


        // This event is fired when a group of files are added to the file control
        flow_{{ target }}.on('filesAdded', function(files, event) {
{#
console.log('added: ');
console.log(files);
#}
            ODRFileUpload_filesAdded(files, event, "{{ target }}", "{{ upload_type }}");
        });


        // Automatically upload files after submission
        flow_{{ target }}.on('filesSubmitted', function(files, event) {
{#
console.log('submitted: ');
console.log(files);
#}
            ODRFileUpload_filesSubmitted(flow_{{ target }});
            flow_errors_{{ target }} = false;
            flow_cancelled_{{ target }} = false;

{% if single_file == true %}
            // Block uploads any further uploads after a single file
            $("#ODRFileUpload_{{ target }} input").attr('disabled', 'disabled');
            $("#ODRFileUpload_{{ target }}").parent().hide();
            // TODO - other CSS?
{% endif %}
        });


        // Keep track of the uploading progress for all of the files
        flow_{{ target }}.on('fileProgress', function(file, chunk) {
            ODRFileUpload_fileProgress(file, chunk, "{{ target }}", "{{ upload_type }}");
        });


        // This event is fired when a single file finishes uploading
        flow_{{ target }}.on('fileSuccess', function(file, message, chunk) {
{#
console.log('success: ');
console.log(file);
#}
            // File got uploaded...preserve name and progress bar, but remove cancel button
            $("#" + file.uniqueIdentifier + "_{{ target }} > .ODRFileUploadCancel").remove();
        });


        // This event is fired when the upload of any file runs into an error
        flow_{{ target }}.on('fileError', function(file, message) {
{#
console.log('error: ' + message);
console.log(file);
#}
            // Display error and stop upload
            ODRFileUpload_fileError(file, message, "{{ target }}", "{{ upload_type }}");
            file.cancel();
            flow_errors_{{ target }} = true;

{% if single_file == true %}
            // TODO - re-enable file upload on error?
            $("#ODRFileUpload_{{ target }} input").removeAttr('disabled');
            $("#ODRFileUpload_{{ target }}").parent().show();
{% endif %}
        });


        // This event is fired when all files finish uploading
        flow_{{ target }}.on('complete', function() {
//console.log('complete');
            // All uploads complete, remove all files from the HTML5 File API so they can get re-uploaded
            flow_{{ target }}.cancel();

            if ( flow_errors_{{ target }} == false && flow_cancelled_{{ target }} == false ) {
                // Attempt to ensure this only executes once
                flow_cancelled_{{ target }} = true;

                // TODO - make this an option?
                // All files finished uploading...remove all progress bars
                $("#ODRFileUploadProgress_{{ target }}").html('');

                {{ callback }}
            }
        });

    });
</script>

{% endspaceless %}
