{% spaceless %}

{% set DATATYPE_PLUGIN = constant('ODR\\AdminBundle\\Entity\\RenderPlugin::DATATYPE_PLUGIN') %}

{% set datafield_meta = datafield.dataFieldMeta %}
{% set field_typename = datafield_meta.fieldType.typeName %}
{% set field_typeclass = datafield_meta.fieldType.typeClass %}

{% set datarecordfield = '' %}
{% set valuefield = '' %}
{% set valuefield_value = '' %}
{% if datarecord.dataRecordFields[ datafield.id ] is defined %}
    {% set datarecordfield = datarecord.dataRecordFields[ datafield.id ] %}

    {# These reference fields are only allowed to be integers #}
    {% if field_typename == "Integer" and datarecordfield.integerValue[0] is defined %}
        {% set valuefield = datarecordfield.integerValue[0] %}
        {% set valuefield_value = valuefield.value %}
    {% endif %}
{% endif %}

{% set unique_id = datarecord.id ~ '_' ~ datafield.id %}
{% set input_id = field_typeclass ~ 'Form_' ~ unique_id %}

<form class="pure-u-1" id="ViewForm_{{ unique_id }}">

    {# Intentionally ignoring the possibility of a datafield render plugin #}
    {% set rendered_related_reference = false %}

    {# Extract the related reference info from its array #}
    {% set reference_dt = related_reference_info['datatype'] %}
    {% set invalid_references = related_reference_info['invalid_references'] %}
    {% set can_view_references = related_reference_info['can_view_references'] %}
    {% set prerendered_references = related_reference_info['prerendered_references'] %}

    {# If the user can't view the reference, then prerendered_references won't contain it #}

    <fieldset>
        <label for="Input_{{ unique_id }}" class="ODRFieldLabel" title="{{ datafield_meta.description }}">{{ datafield_meta.fieldName }}</label>

        {% if reference_dt is null %}
            <div class="pure-u-1">
                <i class="fa fa-exclamation-triangle ODRInputError"></i>&nbsp;The "{{ datatype.dataTypeMeta.shortName }}" database is not linked to a database using the "RRUFF Reference" render plugin.
            </div>
        {% else %}

            {% if prerendered_references[valuefield_value] is defined %}
                {% set rendered_related_reference = true %}
                <div class="ODRRenderPluginContent ODRReference">{{ prerendered_references[valuefield_value]|raw }}</div>
            {% endif %}

            {# If the field has a value but nothing got rendered... #}
            {% if valuefield_value != '' and not rendered_related_reference %}
                <div class="ODRFieldWrapper" id="Input_{{ unique_id }}">
                {% if invalid_references[valuefield_value] is defined %}
                    <input id="{{ input_id }}" class="pure-u-1 Cursor ODRInputError" type="text" value="" readonly="readonly" style="border: 1px solid red;" />
                    <label id="{{ input_id }}-error" class="ODRInputError" for="{{ input_id }}" style="color: red">This field does not point to a valid reference.</label>
                {% elseif can_view_references[valuefield_value] is defined and can_view_references[valuefield_value] == false %}
                    <label id="{{ input_id }}-error" class="ODRInputError" for="{{ input_id }}" style="color: red">You are not permitted to view the related reference.</label>
                {% endif %}
                </div>
            {% endif %}
        {% endif %}

    </fieldset>
</form>
{% endspaceless %}
