{% spaceless %}

{% set ALWAYS_EDIT = constant('ODR\\AdminBundle\\Entity\\DataTreeMeta::ALWAYS_EDIT') %}
{% set LINK_EDIT = constant('ODR\\AdminBundle\\Entity\\DataTreeMeta::LINK_EDIT') %}
{% set TOGGLE_EDIT_INACTIVE = constant('ODR\\AdminBundle\\Entity\\DataTreeMeta::TOGGLE_EDIT_INACTIVE') %}

{% set parent_datatype_id = parent_datarecord.dataType.id %}
{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}
{% set datarecord = datarecord_array[target_datarecord_id] %}
{% set datarecord_meta = datarecord.dataRecordMeta %}

{% set is_datatype_admin = false %}
{% if datatype_permissions[ datatype.id ] is defined
    and datatype_permissions[ datatype.id ][ 'dt_admin' ] is defined %}
    {% set is_datatype_admin = true %}
{% endif %}

{% set prevent_dr_edits = datarecord.grandparent.prevent_user_edits %}

{% include 'ODRAdminBundle:Edit:edit_datatypetools.html.twig' with {
    'datatype': datatype,
    'datarecord': datarecord,
    'parent_datarecord': parent_datarecord,

    'datatype_permissions': datatype_permissions,
    'datarecord_is_fake': false,

    'is_top_level': is_top_level,
    'is_link': is_link,
    'display_type': display_type,
} %}

{% for theme_element in theme.themeElements %}
    {% if not theme_element|is_empty(datarecord, datatype, 'edit', edit_shows_all_fields) %}
    <div rel="{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
        <div class="ODRInnerBox{% if theme_element.themeElementMeta.hideBorder %} ODRInnerBox_HideBorder{% endif %}">

        {% if theme_element.themeDataFields is defined %}
            {% for theme_datafield in theme_element.themeDataFields %}
                {% set datafield_id = theme_datafield.dataField.id %}

                {% if datatype['dataFields'][datafield_id] is not defined %}
                    <div class="pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"></div>    {# user doesn't have permissions to see this datafield #}
                {% else %}
                    {% set datafield = datatype['dataFields'][datafield_id] %}

                    {% set can_edit_datafield = false %}
                    {% if datafield_permissions[ datafield.id ] is defined and datafield_permissions[ datafield.id ][ 'edit' ] is defined %}
                        {% set can_edit_datafield = true %}
                    {% endif %}

                    {% set derived_datafield_name = null %}
                    {% set is_chemistry_field = false %}
                    {% if plugin_fields[ datafield.id ] is defined %}
                        {% if plugin_fields[ datafield.id ]['rpf_name'] == "IMA Formula" %}
                            {% set derived_datafield_name = "Chemistry Elements" %}
                            {% set is_chemistry_field = true %}
                        {% elseif plugin_fields[ datafield.id ]['rpf_name'] == "RRUFF Formula" %}
                            {% set derived_datafield_name = "Valence Elements" %}
                            {% set is_chemistry_field = true %}
                        {% endif %}
                    {% endif %}

                    {% set derived_datafield_id = null %}
                    {% if derived_datafield_name is not null %}
                        {% for df_id, rpf_data in plugin_fields %}
                            {% if rpf_data['rpf_name'] == derived_datafield_name %}
                                {% set derived_datafield_id = df_id %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if theme_datafield.hidden == 0 or edit_shows_all_fields %}
                        <div class="ODRDataField pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}"
                             id="Field_{{ datarecord.id }}_{{ datafield.id }}" rel="{{ theme.id }}"
                        {% if prevent_dr_edits or datafield.dataFieldMeta.prevent_user_edits or not can_edit_datafield or edit_behavior == LINK_EDIT or edit_behavior == TOGGLE_EDIT_INACTIVE %}
                             title="You are not allowed to make changes to this datafield."
                             style="cursor:help;"
                        {% endif %}
                        >
                            {% if datafield.dataFieldMeta.fieldType.typeName == "Markdown" %}
                                {# markdown fields are their own thing #}
                                {% include 'ODRAdminBundle:Display:display_markdown.html.twig' with {
                                    'datafield': datafield
                                } %}
                            {% elseif prevent_dr_edits or datafield.dataFieldMeta.prevent_user_edits or not can_edit_datafield or edit_behavior == LINK_EDIT or edit_behavior == TOGGLE_EDIT_INACTIVE %}
                                {# user isn't allowed to edit datafield #}
                                {% include 'ODRAdminBundle:Display:display_datafield.html.twig' with {
                                    'datarecord': datarecord,
                                    'datafield': datafield,
                                    'themeDatafield': theme_datafield,

                                    'is_datatype_admin': is_datatype_admin,
                                } %}
                            {% elseif (derived_datafield_id is not null or is_chemistry_field) %}
                                {# The "source" datafields require slightly different saving javascript #}
                                {% include 'ODROpenRepositoryGraphBundle:RRUFF:IMA/ima_edit_datafield.html.twig' with {
                                    'datarecord': datarecord,
                                    'datafield': datafield,

                                    'is_link': is_link,
                                    'token_list': token_list,
                                    'is_datatype_admin': is_datatype_admin,

                                    'derived_datafield_id': derived_datafield_id,
                                    'is_chemistry_field': is_chemistry_field,
                                } %}
                            {% else %}
                                {# user is allowed to edit datafield #}
                                {% include 'ODRAdminBundle:Edit:edit_datafield.html.twig' with {
                                    'datarecord': datarecord,
                                    'datafield': datafield,

                                    'is_link': is_link,
                                    'token_list': token_list,
                                    'is_datatype_admin': is_datatype_admin,
                                } %}
                            {% endif %}
                        </div><!-- End of #Field_{{ datarecord.id }}_{{ datafield.id }} -->

                        {% if problem_fields[datafield.id] is defined %}
                        <script>
                            $(function() {
                                var input = $("#Input_{{ datarecord.id }}_{{ datafield.id }}").children('input').first();
                                var input_id = $(input).attr('id');
                                $(input).addClass('ODRInputError').attr('style', "border: 1px solid red;");
                                $('<label>', {
                                    id: input_id + '-error',
                                    class: 'ODRInputError',
                                    for: input_id,
                                })
                                    .html("{{ problem_fields[datafield.id] }}")
                                    .appendTo("#Input_{{ datarecord.id }}_{{ datafield.id }}");
                            });
                        </script>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% elseif theme_element.themeDataType is defined %}
            {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
            {% for theme_datatype in theme_element.themeDataType %}
                {% set child_datatype_id = theme_datatype.dataType.id %}
                {% set child_theme_id = theme_datatype.childTheme.id %}

                {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
                {% if datatype['descendants'][child_datatype_id] is defined and datatype['descendants'][child_datatype_id]['datatype']|length > 0 %}
                    {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}
                    {% set child_theme = theme_element['themeDataType'][0]['childTheme']['theme'] %}

                    {# descendant records should inherit non-default edit_behavior, unless they also define their own non-default edit behavior #}
                    {% set child_edit_behavior = datatype['descendants'][child_datatype_id]['edit_behavior'] %}
                    {% if edit_behavior != ALWAYS_EDIT and child_edit_behavior == ALWAYS_EDIT %}
                        {% set child_edit_behavior = edit_behavior %}
                    {% endif %}

                    {# pass all child datarecords of this child datatype at once... #}
                    {% set datarecord_array = {} %}
                    {% if datarecord['children'][ child_datatype_id ] is defined %}
                        {% set datarecord_array = datarecord['children'][ child_datatype_id ] %}
                    {% endif %}

                    {% if theme_datatype.is_link == 1 and child_edit_behavior != 0 %}
                    {# need to store the current edit behavior for this relationship... #}
                    <script>
                        $(function() {
                            if ( EditBehaviorLookup[{{ target_datatype_id }}] === undefined )
                                EditBehaviorLookup[{{ target_datatype_id }}] = {};
                            EditBehaviorLookup[{{ target_datatype_id }}][{{ child_datatype_id }}] = {{ child_edit_behavior }};
                            // console.log( EditBehaviorLookup );
                        });
                    </script>
                    {% endif %}

                    {% include 'ODRAdminBundle:Edit:edit_fieldarea_childtype.html.twig' with {
                        'datatype_array': child_datatype,
                        'datarecord_array': datarecord_array,
                        'theme_array': child_theme,

                        'target_datatype_id': child_datatype_id,
                        'parent_datarecord': datarecord,
                        'target_theme_id': child_theme_id,

                        'datatype_permissions': datatype_permissions,
                        'datafield_permissions': datafield_permissions,
                        'edit_shows_all_fields': edit_shows_all_fields,

                        'is_top_level': 0,
                        'is_link': theme_datatype.is_link,
                        'display_type': theme_datatype.display_type,
                        'multiple_allowed': theme_datatype.multiple_allowed,
                        'edit_behavior': child_edit_behavior,

                        'token_list': token_list,
                    } %}
                {% endif %}
            {% endfor %}
        {% endif %}

        </div><!-- End of .ODRInnerBox -->
    </div><!-- End of .ThemeElement -->
    {% endif %}
{% endfor %}

{% endspaceless %}
