{% spaceless %}

<div id="ODRLinkDatatypeFormWrapper">
    <form class="pure-form pure-form-aligned" id="ODRLinkDatatypeForm" action="{{ path('odr_design_link_datatype') }}" method="post">

        <input type="hidden" name="theme_element_id" value="{{ theme_element.id }}" />
        <input type="hidden" name="local_datatype_id" value="{{ local_datatype.id }}" />
        <input type="hidden" id="ODRLinkDatatypeForm_previous" name="previous_remote_datatype" value="{% if remote_datatype != null %}{{ remote_datatype.id }}{% endif %}" />

        {% if remote_datatype != null and has_linked_datarecords %}
        <div id="ODRRemoteDatatypeHasLinks" class="pure-u-1">
            <div>
                <i class="fa fa-lg fa-exclamation-triangle Cursor"></i>&nbsp;&nbsp;
                <span>Several Datarecords of the local Database "{{ local_datatype.getShortName }}" are currently connected to Datarecords of the remote Database "{{ remote_datatype.getShortName }}".</span>
            </div>
            <div>
                <i class="fa fa-lg fa-cog Pointer ODRLinkDatatypeAnalyze"></i>&nbsp;&nbsp;
                <span>Click the gear icon to see which connections would be deleted if the local Database is unlinked from the remote Database.</span>
            </div>
        </div>
        {% endif %}

        <fieldset>
            <div class="pure-control-group">
            {% if linkable_datatypes is empty %}
                <i class="fa fa-lg fa-exclamation-triangle Cursor"></i>&nbsp;&nbsp;
                <span>There are no {% if local_datatype.isMasterType %}Templates{% else %}Databases{% endif %} that can be linked to.</span>
            {% else %}

                <label for="selected_datatype">
                    {% if local_datatype.isMasterType %}
                        <strong>Template Name:</strong>
                    {% else %}
                        <strong>Database Name:</strong>
                    {% endif %}
                </label>

                <select name="selected_datatype" id="selected_datatype">
                    {% if remote_datatype == null %}
                        <option value=""></option>
                    {% endif %}
                    {% for dt in linkable_datatypes %}
                        {% set is_selected = false %}
                        {% if remote_datatype != null and remote_datatype.id == dt.id %}
                            {% set is_selected = true %}
                        {% endif %}

                        <option value="{{ dt.id }}" {% if is_selected %}selected{% endif %}>{{ dt.dataTypeMeta.shortName }}</option>
                    {% endfor %}
                {% endif %}
                </select>
            </div>
        </fieldset>
    </form>

    <div class="pure-u-md-1-6 pure-u-2-24"></div>
    <div id="ODRLinkDetails_wrapper" class="pure-u-md-2-3 pure-u-20-24">
    {% for dt in linkable_datatypes %}
        <div id="ODRLinkDetails_{{ dt.id }}" class="ODRLinkDetails pure-control-group ODRHidden">
            <div>
                <label class="ODRLinkDetailsHeader" for="created_by_{{ dt.id }}">Created By:</label>
                <div class="ODRLinkDetailsContent" id="created_by_{{ dt.id }}">{{ dt.createdBy|user_string }}</div>
            </div>

            <div>
                <label class="ODRLinkDetailsHeader" for="desc_{{ dt.id }}">Description:</label>
                <div class="ODRLinkDetailsContent" id="desc_{{ dt.id }}">{{ dt.dataTypeMeta.description }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="pure-u-md-1-6 pure-u-2-24"></div>

    {% if secondary_datatree_info|length > 0 %}
    <div class="pure-u-1">
        <label for="secondary_datatree_id">
        {% set secondary_datatree_id = '' %}
            {% set secondary_datatree_label = '' %}
            {% for remote_datatype_id,data in secondary_datatree_info['available'] %}
                {% set secondary_datatree_id = data['secondary_datatree_id'] %}
                {% set secondary_datatree_label = data['label'] %}
            {% endfor %}

            <input id="secondary_datatree_id" type="checkbox" name="secondary_datatree_id" value="{{ secondary_datatree_id }}" {% if secondary_datatree_info['selected'] is not null %}checked{% endif %} rel="{{ current_datatree.id }}" />&nbsp;All records linked here should also get added to the "{{ secondary_datatree_label }}" relation.
        </label>
    </div>
    {% endif %}
</div>

<script>
    $(function() {
        var current_remote_datatype = $("#ODRLinkDatatypeForm_previous").val();
        if ( current_remote_datatype !== '' ) {
            $("#ODRLinkDetails_" + current_remote_datatype).removeClass('ODRHidden');
            $("#ODRLinkDatatypeFormSubmit").html('Unlink from Selected {% if local_datatype.isMasterType %}Template{% else %}Database{% endif %}');
            $("#ODRLinkDatatypeFormSubmit").prop('disabled', false);
        }

    {% if remote_datatype != null and has_linked_datarecords %}
        $(".ODRLinkDatatypeAnalyze").unbind('click').click(function() {
            var url = "#{{ path( 'odr_design_analyze_datarecord_links', {'local_datatype_id': local_datatype.id, 'remote_datatype_id': remote_datatype.id }) }}";

            window.open(url, "_blank");
        });
    {% endif %}

        $("#selected_datatype").unbind('change').change(function() {
            // Disable submission if already linked to current selection
            var current_remote_datatype = $("#ODRLinkDatatypeForm_previous").val();
            var selected_id = $(this).val();

            $(".ODRLinkDetails").addClass('ODRHidden');
            $("#ODRLinkDetails_" + selected_id).removeClass('ODRHidden');

            if ( selected_id === '' ) {
                $("#ODRLinkDatatypeFormSubmit").prop('disabled', true);
            }
            else {
                $("#ODRLinkDatatypeFormSubmit").prop('disabled', false);

                if ( selected_id === current_remote_datatype )
                    $("#ODRLinkDatatypeFormSubmit").html('Unlink from Selected {% if local_datatype.isMasterType %}Template{% else %}Database{% endif %}');
                else
                    $("#ODRLinkDatatypeFormSubmit").html('Link to Selected {% if local_datatype.isMasterType %}Template{% else %}Database{% endif %}');
            }
        });

        $("#secondary_datatree_id").unbind('change').change(function() {

            var datatree_id = $(this).attr('rel');
            var secondary_datatree_id = 0;
            if ( $(this).is(':checked') )
                secondary_datatree_id = $(this).val();

            var url = '{{ path('odr_design_toggle_secondary_datatree', {'datatree_id': 0, 'secondary_datatree_id': 0 } ) }}';
            url = url.substring(0,(url.length - 3)) + datatree_id + "/" + secondary_datatree_id;

            // alert(url);  return;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    notifySaved();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Close the dialog so it's not in some half-initialized state
                    closeODRRemodal();
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {
                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });

        });
    });
</script>

{% endspaceless %}
