{% spaceless %}

    <!-- Link DataType Dialog Form -->
    <form class="pure-form pure-form-aligned" id="ODRLinkFromTemplateForm" action="{{ path('odr_design_clone_and_link_datatype') }}" method="post">

        <input type="hidden" name="theme_element_id" value="{{ theme_element.id }}" />
        <input type="hidden" name="local_datatype_id" value="{{ local_datatype.id }}" />

        <fieldset style="margin-top: 5px;">
            <div class="pure-control-group">
                <label for="selected_datatype">
                    <strong>DataType Name:</strong>
                </label>
                <select name="selected_datatype" id="selected_datatype">
                    <option value=""></option>
                {% for datatype in linkable_datatypes %}
                    <option value="{{ datatype.id }}">{{ datatype.dataTypeMeta.shortName }}</option>
                {% endfor %}
                </select>
            </div>
        </fieldset>
    </form>

    {% for datatype in linkable_datatypes %}
    <div id="ODRLinkFromTemplateForm_{{ datatype.id }}" class="ODRTemplateInfo ODRHidden pure-u-1">
        <div class="pure-u-1-24">&nbsp;</div>
        <div class="pure-u-23-24">
            <table>
                <tr>
                    <td class="ODRTemplateInfo_label">Created By:</td>
                    <td class="ODRTemplateInfo_span">{{ datatype.createdBy|user_string }}</td>
                </tr>
                <tr>
                    <td class="ODRTemplateInfo_label">Description:</td>
                    <td class="ODRTemplateInfo_span">{{ datatype.dataTypeMeta.description }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}

    <script>
        $(function() {
            $("#selected_datatype").unbind('change').change(function() {

                $(".ODRTemplateInfo").addClass('ODRHidden');

                var dt_id = $(this).children("option:selected").val();
                if ( dt_id !== "" ) {
                    $("#ODRLinkFromTemplateForm_" + dt_id).removeClass('ODRHidden');
                    $("#ODRLinkFromTemplateFormSubmit").removeAttr('disabled');
                }
                else {
                    $("#ODRLinkFromTemplateFormSubmit").attr('disabled', 'disabled');
                }

                resetRemodalInnerHeight();
            });
        });
    </script>

{% endspaceless %}
