
{% set field_typename = datarecordfield.getdatafield.getfieldtype.typename %}
{% set valuefield = datarecordfield.getassociatedentity %}

{% if field_typename == "Boolean" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
        <{{ field.getxmlfieldname }}>
            <value>{% if valuefield.value == 1 %}checked{% endif %}</value>
            <type>{{ field_typename }}</type>
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "File" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
        <{{ field.getxmlfieldname }}>
        {% for file in datarecordfield.getfile %}
            <file>
                <original_name>{% if file.originalfilename != null %}{{ file.originalfilename|xml|raw }}{% else %}File_{{ file.id }}{% endif %}</original_name>
                {#<href>{{ file.localfilename|xml|raw }}</href>#}
                <href>{{ baseurl ~ path('odr_file_download', {'file_id': file.id}) }}</href>

                {% if using_metadata == true %}
                <_file_metadata>
                    <_create_date>{{ file.created|date('Y-m-d H:i:s') }}</_create_date>
                    <_create_auth>{% if file.getcreatedby != null %}{{ file.getcreatedby.getuserstring }}{% endif %}</_create_auth>
                    <_public_date>{{ file.created|date('Y-m-d H:i:s') }}</_public_date>
                    <_external_id>{{ file.getexternalid }}</_external_id>
                </_file_metadata>
                {% endif %}

            </file>
        {% endfor %}
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "Image" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
        <{{ field.getxmlfieldname }}>
        {% for image in datarecordfield.getimage %}
            {% if image.getimagesize.imagetype == "thumbnail" %}
                <image>
                {% for oimage in datarecordfield.getimage %}
                    {% if oimage.getimagesize.original == "1" and oimage.id == image.parent.id %}
                    <original_name>{% if image.originalfilename != null %}{{ image.originalfilename|xml|raw }}{% else %}Image_{{ oimage.id }}{% endif %}</original_name>
                    {#<href>{{ oimage.localfilename|xml|raw }}</href>#}
                    <href>{{ baseurl ~ path('odr_image_download', {'image_id': oimage.id}) }}</href>
                    <caption>{{ oimage.caption|xml|raw }}</caption>

                        {% if using_metadata == true %}
                        <_image_metadata>
                            <_display_order>{{ image.displayorder }}</_display_order>
                            <_create_date>{{ oimage.created|date('Y-m-d H:i:s') }}</_create_date>
                            <_create_auth>{% if oimage.getcreatedby != null %}{{ oimage.getcreatedby.getuserstring }}{% endif %}</_create_auth>
                            <_public_date>{{ oimage.created|date('Y-m-d H:i:s') }}</_public_date>
                            <_external_id>{{ oimage.getexternalid }}</_external_id>
                        </_image_metadata>
                        {% endif %}

                    {% endif %}
                {% endfor %}
                </image>
            {% endif %}
        {% endfor %}
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "Integer" or field_typename == "Decimal" %}

    {% if is_link == 0 or (name_field != null and field.id == name_field.id) %}    {# for a linked datarecord, only display this field if it is that datarecord's "name" field #}
        <{{ field.getxmlfieldname }}>
            <value>{{ valuefield.value }}</value>
            <type>{{ field_typename }}</type>
            {% if name_field != null and field.id == name_field.id %}
                <odr_namefield></odr_namefield>
            {% endif %}
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "Paragraph Text" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
        <{{ field.getxmlfieldname }}>
            <value>{{ valuefield.value|xml|raw }}</value>
            <type>{{ field_typename }}</type>
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}

    {% if is_link == 0 or (name_field != null and field.id == name_field.id) %}    {# for a linked datarecord, only display this field if it is that datarecord's "name" field #}
        <{{ field.getxmlfieldname }}>
            <value>{{ valuefield.value|xml|raw }}</value>
            <type>{{ field_typename }}</type>
            {% if name_field != null and field.id == name_field.id %}
                <odr_namefield></odr_namefield>
            {% endif %}
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" or field_typename == "Single Select" or field_typename == "Multiple Select" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
    <{{ field.getxmlfieldname }} {#type="{{ field_typename }}"#}>
        {% for radio_option in field.getRadioOptions %}
            {% set found = false %} {# assume there won't be a radio_selection for the radio_option #}
            {% for selection in datarecordfield.getRadioSelection %}
                {% if selection.getRadioOption.id == radio_option.id and selection.selected == 1 %}
                    {% set found = true %}  {# found a radio_selection for the radio_option #}
                    {#<{{ radio_option.getxmloptionname }}>#}
                    <radio_option>
                        {#<name>{{ radio_option.getOptionName|xml|raw }}</name>#}
                        <option_name>{{ radio_option.getOptionName|raw }}</option_name>
                        <value>{% if selection.selected == 1 %}selected{% endif %}</value>

                        {% if using_metadata == true %}
                        <_radio_option_metadata>
{#
                            {% if radio_option.getparent != null %}
                                <_parent_id attr="internal">{{ radio_option.getparent.id }}</_parent_id>
                            {% endif %}
#}
                            <_external_id>{{ radio_option.getexternalid }}</_external_id>
                            <_create_date>{{ radio_option.created|date('Y-m-d H:i:s') }}</_create_date>
                            <_create_auth>{% if radio_option.getcreatedby != null %}{{ radio_option.getcreatedby.getuserstring }}{% endif %}</_create_auth>
                        </_radio_option_metadata>
                        {% endif %}

                    {#</{{ radio_option.getxmloptionname }}>#}
                    </radio_option>
                {% endif %}
            {% endfor %}

            {% if found == false %} {# no radio_selection object for the radio_option #}
{#
                <option>
                    <name>{{ radio_option.getOptionName|xml|raw }}</name>
                    <value></value>
                </option>
#}
            {% endif %}
        {% endfor %}
    </{{ field.getxmlfieldname }}>
    {% endif %}

{% elseif field_typename == "DateTime" %}

    {% if is_link == 0 %}   {# don't display this type of datafield when creating xml for a linked datarecord #}
        <{{ field.getxmlfieldname }}>
            <value>{% if valuefield.value|date('Y-m-d H:i:s') == '-0001-11-30' %}0000-00-00{% else %}{{ valuefield.value|date('Y-m-d H:i:s') }}{% endif %}</value>
            <type>{{ field_typename }}</type>
        </{{ field.getxmlfieldname }}>
    {% endif %}

{% endif %}
