{% macro input(datatype_tree, datarecord_tree, theme, public_only) %}
{% spaceless %}

{% set datatype = datatype_tree.datatype %}
{% set render_plugin = datatype.getrenderplugin %}


{% if datatype.getrenderplugin.getoverridechild %}
    {# render_plugin html already displayed from results_fields.html.twig #}


    {% if render_plugin.getoverridefields == 0 %}
        {% include 'ODRAdminBundle:Default:accordion_header.html.twig' with {'datatype_tree': datatype_tree, 'datarecord_tree': datarecord_tree, 'public_only': public_only} %} {# only display accordion/dropdown/tab/list headers if render plugin isn't handling it #}

        {% for dr_entry in datarecord_tree %}
            {% set datarecord = dr_entry.datarecord %}
{#
----------</br>
override_child: true </br>
datarecord: {{ datarecord.id }} </br>
top_level: {{ datatype_tree.top_level }} </br>
display_type: {{ datatype.getdisplaytype }} </br>
is_public: {{ datarecord.ispublic }} </br>
public_only: {{ public_only }} </br>
----------</br>
#}
            {% if datatype_tree.top_level == 0 and datatype.getdisplaytype == 0 and (datarecord.ispublic == true or public_only == false) %}
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                    <span class="ui-icon ui-icon-triangle-1-s"></span>
                    {% set datarecord_name = datarecord.getnamefieldvalue %}
                    {% if datarecord_name != datarecord.id %}
                        <a>{{ datarecord_name }}</a>
                    {% else %}
                        <a>{{ datatype.shortname }}</a>
                    {% endif %}

                    {% if public_only == false and datarecord.grandparent != null %}
                        <span style="float: right;">
                            <i class="tooltip fa fa-lg fa-globe {% if datarecord.ispublic == false %}IconRed{% endif %}" title="{% if datatype_tree.is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if datarecord.ispublic == false %}not {% endif %}Public" rel="{{ datarecord.id }}"></i>
                        </span>
                    {% endif %}

                </h3>
            {% endif %}

            {% if datarecord.ispublic == true or public_only == false %}
                <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
                    {% include 'ODRAdminBundle:Results:results_fields.html.twig' with {'datatype_tree': datatype_tree, 'dr_entry': dr_entry, 'theme': theme, 'public_only': public_only} %}
                </div><!-- End of #FieldArea_{{ datarecord.id }} -->
            {% endif %}

        {% endfor %}

        {% include 'ODRAdminBundle:Default:accordion_footer.html.twig' with {'childtype': datatype} %}

    {% endif %}

{% else %}
    <!-- Child Types -->
    <div id="DataType_{{ datatype.id }}" class="ODRDataType pure-u-1" rel="{{ datatype_tree.theme_datatype.id }}">
        
        {% include 'ODRAdminBundle:Default:accordion_header.html.twig' with {'datatype_tree': datatype_tree, 'datarecord_tree': datarecord_tree, 'public_only': public_only} %}

        {% for dr_entry in datarecord_tree %}
            {% set datarecord = dr_entry.datarecord %}
{#
----------</br>
override_child: false </br>
datarecord: {{ datarecord.id }} </br>
top_level: {{ datatype_tree.top_level }} </br>
display_type: {{ datatype.getdisplaytype }} </br>
is_public: {{ datarecord.ispublic }} </br>
public_only: {{ public_only }} </br>
----------</br>
#}
            {% if datatype_tree.top_level == 0 and datatype.getdisplaytype == 0 and (datarecord.ispublic == true or public_only == false) %}
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                    <span class="ui-icon ui-icon-triangle-1-s"></span>
                    {% set datarecord_name = datarecord.getnamefieldvalue %}
                    {% if datarecord_name != datarecord.id %}
                        <a>{{ datarecord_name }}</a>
                    {% else %}
                        <a>{{ datatype.shortname }}</a>
                    {% endif %}

                    {% if public_only == false and datarecord.grandparent != null %}
                        <span style="float: right;">
                            <i class="tooltip fa fa-lg fa-globe {% if datarecord.ispublic == false %}IconRed{% endif %}" title="{% if datatype_tree.is_link == 1 %}Linked{% else %}Child{% endif %} Record is {% if datarecord.ispublic == false %}not {% endif %}Public" rel="{{ datarecord.id }}"></i>
                        </span>
                    {% endif %}

                </h3>
            {% endif %}

            {% if datarecord.ispublic == true or public_only == false %}
            <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_{{ datarecord.id }}">
                {% if render_plugin.id != '1' %}
                    <!-- render_plugin html -->
                    {{ dr_entry.render_plugin_html|raw }}
                    {% if render_plugin.getoverridefields == 0 %}
                        <!-- render_plugin fields -->
                        {% include 'ODRAdminBundle:Results:results_fields.html.twig' with {'datatype_tree': datatype_tree, 'dr_entry': dr_entry, 'theme': theme, 'public_only': public_only} %}
                    {% endif %}
                {% else %}
                    <!-- default render html -->
                    {% include 'ODRAdminBundle:Results:results_fields.html.twig' with {'datatype_tree': datatype_tree, 'dr_entry': dr_entry, 'theme': theme, 'public_only': public_only} %}
                {% endif %}
            </div><!-- End of #FieldArea_{{ datarecord.id }} -->
            {% endif %}

        {% endfor %}

        {% include 'ODRAdminBundle:Default:accordion_footer.html.twig' with {'childtype': datatype} %}
        
    </div><!-- End of #DataType_{{ datatype.id }} -->
{% endif %}

{% endspaceless %}
{% endmacro %}
