{% spaceless %}

{% set field_typename = datarecordfield.getdatafield.getfieldtype.typename %}

    <form class="pure-u-1" id="EditDataRecordFieldsForm_{{ datarecordfield.id }}">
    {% set valuefield = datarecordfield.getassociatedentity %}

    {# Plugin Filter #}
    {% if field.getrenderplugin.getid != 1 %}
        {{ datarecordfield|plug(field.getrenderplugin, fieldtheme)|raw }}
    {% elseif field_typename == "Boolean" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel pure-u-1" style="margin:0.5em 0;" title="{{ field.description }}">
                <input type="checkbox" name="BooleanForm[value]" value="1" {% if valuefield.value == 1 %}checked{% endif %} disabled />
                {{ field.fieldname }}
            </label>
        </fieldset>

    {% elseif field_typename == "File" %}
        <fieldset class="pure-u-1">
            <div class="pure-u-1">
                <table class="NotODRTable pure-table pure-u-1">
                    <thead class="pure-u-1">
                        <tr class="pure-u-1">
                            <th class="pure-u-20-24">{{ field.fieldname }}</th>
                            <th class="pure-u-1-24"></th>
                        </tr>
                    </thead>
                    <tbody class="pure-u-1">
                    {% for file in datarecordfield.getfile %}
                        {% if file.ispublic == 1 or public_only == false %}    {# don't display non-public files to the public #}
                        <tr id="File_{{ file.id }}" class="pure-u-1">
                            <td class="pure-u-20-24" {% if file.originalfilename != null and field.getshortenfilename == 1 and file.originalfilename|length > 35 %}title="{{ file.originalfilename }}"{% endif %}>
                                {% if file.getoriginalchecksum != '' %}
                                    <a href="{{ path('odr_file_download', { 'file_id': file.id } ) }}" class="truncate ODRFileDownload" rel="{{ file.id }}">
                                        {% if file.originalfilename == null %}File_{{ file.id }}.{{ file.getext }}{% else %}{{ file.originalfilename }}{% endif %}
                                    </a>
                                    <span id="ODRFileDownload_{{ file.id }}" class="ODRFileDownloadProgress" style="cursor:default; margin-left:10px;">
                                        <span id="ODRFileDecrypt_{{ file.id }}_progress" class="ODRProgressBar" style="margin-left:15px; display:inline-block;">
                                            <span class="ODRProgressBarLabel" style="left:35%;">Decrypting...</span>
                                        </span>
                                        <span id="ODRFileDownload_{{ file.id }}_cancel" class="ODRFileDownloadCancel pure-button pure-button-primary" rel="{{ file.id }}" style="vertical-align: top; margin-left: 10px;">Cancel</span>
                                    </span>
                                {% else %}
                                    <span class="Cursor">
                                        {% if file.originalfilename == null %}File_{{ file.id }}.txt{% else %}{{ file.originalfilename }}{% endif %}
                                    </span>
                                    <span id="ODRFileEncrypt_{{ file.id }}_progress" class="ODRProgressBar" style="margin-left:15px; display:inline-block;">
                                        <span class="ODRProgressBarLabel" style="left:35%;">Encrypting...</span>
                                    </span>
                                    <script>
                                        $(function() {
                                            createFileEncryptProgressCheck({{ file.id }}, {{ datarecord.id }}, {{ field.id }});
                                            $("#ODRFileEncrypt_{{ file.id }}_progress").progressbar({
                                                value: false
                                            });
                                        });
                                    </script>
                                {% endif %}
                            </td>
                            
                            <td class="pure-u-4-24">
                                {% if file.getoriginalchecksum != '' %}
                                    <i class="Cursor FRight tooltip fa fa-globe fa-lg ODRPublicFile {% if file.ispublic == 0 %}IconRed{% endif %}" title="{% if file.ispublic == 0 %}File is not public{% else %}Public since {{ file.publicdate|date('Y-m-d') }}{% endif %}" rel="{{ file.id }}"></i>
                                    <i class="Cursor FRight tooltip fa fa-calendar fa-lg" title="Uploaded {{ file.created|date('Y-m-d') }} by {{ file.createdBy.getuserstring }}"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>

    {% elseif field_typename == "Image" %}
        {#<fieldset>#}
            <div id="imagegallery_{{ field.id }}_{{ datarecord.id }}" class="ODRImageGallery pure-u-1">
                <label id="Label_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
                <i id="ODRImageLeft_{{ field.id }}_{{ datarecord.id }}" class="ODRGalleryLeftArrow Pointer fa fa-3x fa-chevron-left" rel="{{ field.id }}_{{ datarecord.id }}"></i>
                <i id="ODRImageRight_{{ field.id }}_{{ datarecord.id }}" class="ODRGalleryRightArrow Pointer fa fa-3x fa-chevron-right" rel="{{ field.id }}_{{ datarecord.id }}"></i>
                <div class="ODRImageGalleryImage pure-u-1"></div>
            </div>
            <div id="imagestorage_{{ field.id }}_{{ datarecord.id }}" style="display: none;" rel="{{ field.childrenperrow }}">

            {% for image in datarecordfield.getimage %}
                {% if image.getimagesize.imagetype == "thumbnail" %}

                    {% set oimage = image.parent %}
                    {% set image_ext = oimage.ext %}
                    {% set image_caption = oimage.caption %}
                    {% set image_filename = oimage.originalfilename %}

                    {% if oimage.ispublic == 1 or public_only == false %}   {# don't display non-public images to the public #}
                    <div id="Image_{{ oimage.id }}" class="ODRImage pure-u-1-{{ field.childrenperrow }}"  rel="{{ image.id }}">    {# rel is the id of the thumbnail, id attr is the id of the full-size image #}
                        <a class="{#pure-u-23-24#}pure-u-1" target="_blank" href="{{ path('odr_image_download', {'image_id': oimage.id}) }}" title="{{ image_caption }}">
                            <img class="pure-u-1{#pure-img#}" src="{{ path('odr_image_download', {'image_id': image.id}) }}" title="{% if image_filename != null %}{{ image_filename }}{% else %}Image_{{ image.id }}.{{ image_ext }}{% endif %}" />
                        </a>
                    </div>
                    {% endif %}

                {% endif %}
            {% endfor %}
            </div>
        {#</fieldset>#}

    {% elseif field_typename == "Paragraph Text" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                <textarea class="pure-u-1" {#style="width: 100%; height: 90%;"#} readonly>{{ valuefield.value }}</textarea>
            </div>
        </fieldset>

    {% elseif field_typename == "Integer" or field_typename == "Decimal" or field_typename == "Long Text" or field_typename == "Medium Text" or field_typename == "Short Text" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                {{ form_widget(form.value, { 'attr': {'class': 'pure-u-1 required', 'data-error-type': 'inline', 'readonly': 'readonly' } }) }}
            </div>
        </fieldset>

    {% elseif field_typename == "Single Radio" or field_typename == "Multiple Radio" or field_typename == "Single Select" or field_typename == "Multiple Select" %}
        <fieldset>
            <label id="Label_{{ field.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.fieldname }}</label>

            {% set option_list = radiooptionlist(field.getRadioOptions, datarecordfield.getRadioSelection) %}
            {% for radio_option in field.getRadioOptions %}
                {% set is_selected = option_list[ radio_option.id ] %}

                {# only display selected options #}
                {% if is_selected == 1 or field.getradiooptiondisplayunselected == 1 %}
                    <label id="Label_{{ field.id }}" for="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" class="pure-u-1 pure-u-md-1-{{ field.childrenperrow }}" style="margin: 0.5em 0;">

                    {% if field_typename == "Single Radio" or field_typename == "Single Select" %}
                        <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="radio" name="RadioGroup_{{ datarecordfield.id }}" class="SingleRadioGroup" {% if is_selected == 1 %}checked{% endif %} disabled />
                    {% else %}
                        <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ datarecordfield.id }}" class="MultipleRadioGroup" {% if is_selected == 1 %}checked{% endif %} disabled />
                    {% endif %}

                    {{ radio_option.getOptionName }}
                    </label>
                {% endif %}
            {% endfor %}

        </fieldset>
{#
    {% elseif field_typename == "Single Select" or field_typename == "Multiple Select" %}
        <fieldset>
            <label id="Label_{{ field.id }}" class="ODRFieldLabel pure-u-1" title="{{ field.description }}">{{ field.getFieldName }}</label>

            {% set option_list = radiooptionlist(field.getRadioOptions, datarecordfield.getRadioSelection) %}
            {% for radio_option in field.getRadioOptions %}
                {% set is_selected = option_list[ radio_option.id ] %}

                {% if is_selected == 1 %}
                    <input id="Input_{{ datarecordfield.id }}_{{ radio_option.id }}" type="checkbox" name="RadioGroup_{{ datarecordfield.id }}" class="MultipleRadioGroup" checked disabled />
                    {{ radio_option.getOptionName }}
                {% endif %}
            {% endfor %}

       </fieldset>
#}
    {% elseif field_typename == "DateTime" %}
        <fieldset>
            <label id="Label_{{ field.id }}" for="Input_{{ field.id }}" class="ODRFieldLabel" title="{{ field.description }}">{{ field.fieldname }}</label>
            <div class="ODRFieldWrapper" id="Input_{{ field.id }}">
                {{ form_widget(form.value, { 'attr': {'class': 'pure-u-1 required', 'data-error-type': 'inline' , 'readonly': 'readonly'} }) }}
            </div>
        </fieldset>

    {% endif %}

    </form>     

{% endspaceless %}
