<div class="ODRShortResultsTitle"><span class="ODRShortResultsHeaderLeft">Searching all databases containing RAMAN Records</span><span
            class="ODRShortResultsHeaderRight"></span></div>
<div id="pagination_header" class="pure-u-1">
    <div id="ODRPageSelect_header" class="pure-u-1 pure-u-md-1-8">
        <a id="ODRPageSelectSettings" data-step="2"
           data-intro="The settings gear contains customizable settings for this search results page.">
            <i class="fa fa-lg fa-fw fa-cog"></i><span class="ODRPaginationLabel">&nbsp;Tools</span>
        </a>
    </div>
    <div class="pure-u-1 pure-u-md-3-8">
        <form id="ODRPageSelectForm" name="ODRPageSelectForm">
            <span id="ODRPageSelect" class="odr_page_button Pointer"
                  data-step="9"
                  data-intro="You may jump to a specific results page by using the &quot;Jump to page&quot; option.">
                <i class="fa fa-caret-down fa-lg"></i><span class="ODRPaginationLabel">Page&nbsp;</span>
                <input type="text" id="odr_page_input" value="1" size="3" length="10" autocomplete="off">
                &nbsp;of&nbsp;<b>{{ (total/limit) | ceil }}</b>
            </span>
            <span id="ODRPagePopup">Jump to page:
                <button type="button" id="ODRPageSelectButton" class="pure-button">Go</button>
            </span>
            <button class="ODRPageChooserButton pure-button pure-button-primary" onclick="openPage('?limit={{ limit }}&offset=0');">
                <span>1</span>
            </button>
            <button class="ODRPageChooserButton pure-button " onclick="openPage('?limit={{ limit }}&offset={{ limit }}');"><span>2</span></button>
                &nbsp;<i class="fa fa-ellipsis-h"></i>
            <button class="ODRPageChooserButton pure-button" onclick="openPage('?limit={{ limit }}&offset={{ (total/limit) | ceil }}');"><span>{{ (total/limit) | ceil }}</span></button>
            <span class="ODRResultsNumRecords Cursor"><b>{{ total }}</b>&nbsp;
            <span class="ODRPaginationLabel">records</span></span>
        </form>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <span>
            <span class="ODRPaginationLabel Cursor">Show:&nbsp;</span>
            <button type="button" class="ODRPageLength pure-button " rel="10">10</button>
            <button type="button"
                    class="ODRPageLength pure-button pure-button-primary"
                    rel="25">25</button>
            <button type="button" class="ODRPageLength pure-button " rel="50">50</button>
            <button type="button"
                    class="ODRPageLength pure-button "
                    rel="100">100</button>
            <span class="ODRPaginationLabel Cursor">&nbsp;records/page</span>
        </span>
    </div>
    <div id="page_settings_menu" class="pure-u-1 pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item SpacerRight"><label id="ChooseView" class="pure-button" data-step="3"
                                                          data-intro="Clicking this brings up a dialog of options for selecting from alternate layouts, or for creating one of your own.">
                    Choose View RH
                </label></li>
            <li class="pure-menu-item SpacerRight"><label id="ODRCSVExport" class="pure-button" data-step="6"
                                                          data-intro="CSV Export allows users to create CSV downloads of the data in the result list.">
                    Export Records (CSV)
                </label></li>
        </ul>
    </div>
    <script>

        $(function () {
            initViewManager();
        });

        /**
         * Attaches the slide open/shut to the "view options" icon.
         */
        function initViewManager() {
            // Setup Theme System
        }

        function openPage(page) {
            window.location.href = window.location.href + page;
        }

    </script>
</div>
