
<div class="ODRShortResults pure-u-1" id="ShortResults_894">
    <div class="ODRShortResultsHeader pure-u-1 Pointer" id="ShortResultsHeader_894" data-step="10"
         data-intro="Click the left side of a result header to view the record.">
        <span style="float: right; margin-right: 30px;">
            {% if record.database_uuid == '07955891a40d597da4285a5c6b9e'%}
            <a href="https://nu.odr.io/uaml">University of Arizona Mineral Lab</a>
            {% else %}
            <a href="https://beta.rruff.net">RRUFF Database</a>
            {% endif %}
        </span>
        <span><a href=""Record {{ record_num }} - Click here to view</span><span class="ODRShortResultsUUID">{{ record.record_uuid }}</span>
    </div>
    <div class="ODRFormWrap ODRResults pure-u-1">
        <div id="DataType_3" class="ODRDataType pure-u-1">
            <div class="ODRAccordionWrapper ODRFormAccordion">
                <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_894">
                    <!-- html for Linked Descendant Merger Plugin -->
                    <div rel="57" class="ODRThemeElement pure-u-1 pure-u-md-1-1 pure-u-xl-1-1">
                        <div class="ODRInnerBox">
                            <div class="ODRChildDatatype" id="ChildTypeWrapper_2_894">
                                <div id="DataType_2" class="ODRDataType pure-u-1">
                                    <div class="ODRAccordionWrapper ODRFormAccordion"><h3
                                                class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active"
                                                role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                                                    <a>
                                                    {{ record | get_value('38829479529b17ded4603527d53b', 'b95ddfaf4e67d180ebd250ed57ff') }}
                                                    </a><span
                                                    class="DatatypeTools"><span title="This is a linked Datatype"><i
                                                            class="fa fa-link Cursor"></i></span><span rel="2"><i
                                                            id="datarecord_799_public"
                                                            class="tooltip fa fa-globe Cursor ODRActiveIcon"
                                                            title="Linked Record is Public" rel="799"></i></span></span>
                                        </h3>
                                        <div class="ODRFieldArea accordion-content pure-u-1" id="FieldArea_799"
                                             style=""><!-- html for IMA Plugin -->
                                            <div rel="67" class="ODRThemeElement pure-u-1 pure-u-md-1-1 pure-u-xl-1-1">
                                                <div class="ODRInnerBox">
                                                    <div class="ODRDataField pure-u-1 pure-u-md-12-24 pure-u-xl-12-24"
                                                         id="Field_799_22" rel="41">
                                                        <form class="pure-u-1" id="ViewForm_799_22">
                                                            <fieldset><label for="Input_799_22" class="ODRFieldLabel"
                                                                             title="">IMA Formula</label>
                                                                <div class="ODRFieldWrapper" id="Input_799_22">
                                                                    <div class="ODRRenderPluginField">
                                                                        {{ record | get_value('38829479529b17ded4603527d53b', '167f9f23ff0ca0ffa410dcd6eb49') | chemistry | raw }}
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div><!-- End of #Field_799_22 -->
                                                    <div class="ODRDataField pure-u-1 pure-u-md-12-24 pure-u-xl-12-24"
                                                         id="Field_799_24" rel="41">
                                                        <form class="pure-u-1" id="ViewForm_799_24">
                                                            <fieldset><label for="Input_799_24" class="ODRFieldLabel"
                                                                             title="">RRUFF Formula</label>
                                                                <div class="ODRFieldWrapper" id="Input_799_24">
                                                                    <div class="ODRRenderPluginField">
                                                                        {{ record | get_value('38829479529b17ded4603527d53b', 'a6fd6f82b834c4f47ab72f06295c') | chemistry | raw }}
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div><!-- End of #Field_799_24 --></div>
                                                <!-- End of .ODRInnerBox --></div><!-- End of .ThemeElement --></div>
                                        <!-- End of #FieldArea_799 --></div><!-- End of .FormAccordion --></div>
                                <!-- End of #DataType_2 --></div>
                        </div><!-- End of .ODRInnerBox --></div><!-- End of .ThemeElement -->
                    <div rel="65" class="ODRThemeElement pure-u-1 pure-u-md-8-24 pure-u-xl-8-24">
                        <div class="ODRInnerBox">
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_42"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_42">
                                    <div class="ODRFileDatafield_header pure-u-1"><span title="">Sample Images</span>
                                    </div>
                                    <div id="imagegallery_42_894"
                                         class="ODRImageGallery pure-u-1 ODRImageGallery_ready"><i
                                                id="ODRImageLeft_42_894"
                                                class="ODRGalleryLeftArrow Pointer fa fa-2x fa-chevron-left"
                                                rel="42_894"></i><i id="ODRImageRight_42_894"
                                                                    class="ODRGalleryRightArrow Pointer fa fa-2x fa-chevron-right"
                                                                    rel="42_894"></i>
                                        <div class="ODRImageGalleryImage pure-u-1">
                                            <div id="Image_3" class="ODRImage pure-u-1-1" rel="4">
                                                <a target="_blank"
                                                    href="{% spaceless %}
                                                       {{ record | get_field_value('332d054904501b02d23e4414fd7b') }}
                                                       {{ record | get_field_value('cd7953cef1b926894bd5fa1079e9') }}
                                                    {% endspaceless %}"
                                                     title=""><img
                                                    class="pure-img"
                                                    src="{% spaceless %}
                                                       {{ record | get_field_value('332d054904501b02d23e4414fd7b') }}
                                                       {{ record | get_field_value('cd7953cef1b926894bd5fa1079e9') }}
                                                    {% endspaceless %}"
                                                    title="Abelsonite__R070007__Sample__Photo__39a4674f289d8e312f2ad109e7e1.jpeg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- End of #Field_894_42 --></div><!-- End of .ODRInnerBox --></div>
                    <!-- End of .ThemeElement -->
                    <div rel="56" class="ODRThemeElement pure-u-1 pure-u-md-16-24 pure-u-xl-16-24">

                        <div class="ODRInnerBox">
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_34"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_34">
                                    <fieldset><label for="Input_894_34" class="ODRFieldLabel" title="">RRUFF ID</label>
                                        <div class="ODRFieldWrapper" id="Input_894_34"><input
                                            id="ShortVarcharForm_894_34" class="pure-u-1 Cursor" type="text"
                                            value="{{ record | get_field_value('8f0cb75e21fdda7eb8a0e697e7df') }}"
                                            readonly="readonly"></div>
                                    </fieldset>
                                </form>
                            </div><!-- End of #Field_894_34 -->
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_40"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_40">
                                    <fieldset><label for="Input_894_40" class="ODRFieldLabel" title="">Sample
                                            Locality</label>
                                        <div class="ODRFieldWrapper" id="Input_894_40"><textarea
                                            id="LongTextForm_894_40" class="pure-u-1 Cursor" readonly="readonly"
                                            style="height: 43.72px;">{% spaceless %}
                                                {{ record | get_field_value('1a1c13989323cb3485a005c297c6') }}
                                                {{ record | get_field_value('7ddd7e00d388a435e785f9431830') }}
                                            {% endspaceless %}</textarea>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- End of #Field_894_40 -->
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_36"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_36">
                                    <fieldset><label for="Input_894_36" class="ODRFieldLabel" title="">Origin</label>
                                        <div class="ODRFieldWrapper" id="Input_894_36"><input
                                            id="LongVarcharForm_894_36" class="pure-u-1 Cursor" type="text"
                                            value="{% spaceless %}
                                                {{ record | get_field_value('4d01c91a4cba93c2c91b8944311c') }}
                                                {{ record | get_field_value('1564465cbdd57c7dee5cd3cec880') }}
                                            {% endspaceless %}"
                                            readonly="readonly"></div>
                                    </fieldset>
                                </form>
                            </div><!-- End of #Field_894_36 -->
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_38"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_38">
                                    <fieldset><label for="Input_894_38" class="ODRFieldLabel" title="">Owner</label>
                                        <div class="ODRFieldWrapper" id="Input_894_38"><input
                                            id="LongVarcharForm_894_38" class="pure-u-1 Cursor" type="text"
                                            value="{% spaceless %}
                                                {{ record | get_field_value('558a5bf963280ed82d44f25e7491') }}
                                                {{ record | get_field_value('c8d649c88ade7d05fbd7549c5d96') }}
                                            {% endspaceless %}"
                                            readonly="readonly"></div>
                                    </fieldset>
                                </form>
                            </div><!-- End of #Field_894_38 -->
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_39"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_39">
                                    <fieldset><label for="Input_894_39" class="ODRFieldLabel" title="">Sample
                                            Description</label>
                                        <div class="ODRFieldWrapper" id="Input_894_39"><textarea
                                            id="LongTextForm_894_39" class="pure-u-1 Cursor" readonly="readonly"
                                            style="height: 43.72px;">{% spaceless %}
                                            {{ record | get_field_value('64c3abe670168622636a998a964c') }}
                                            {{ record | get_field_value('cea0837b888d216941ba40a2b57f') }}
                                            {% endspaceless %}</textarea>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- End of #Field_894_39 -->
                            <div class="ODRDataField pure-u-1 pure-u-md-24-24 pure-u-xl-24-24" id="Field_894_35"
                                 rel="7">
                                <form class="pure-u-1" id="ViewForm_894_35">
                                    <fieldset><label class="ODRFieldLabel pure-u-1" title="">Sample Status</label><label
                                                for="Input_894_35_7"
                                                class="pure-u-1 pure-u-md-1-1 ODRResults_radio"><input
                                                    id="Input_894_35_7" type="radio" name="RadioGroup_894_35" checked=""
                                                    disabled="" class="SingleRadioGroup">

                                            The identification of this mineral is confirmed by single-crystal X-ray
                                            diffraction and chemical analysis.
                                        </label></fieldset>
                                </form>
                            </div><!-- End of #Field_894_35 --></div><!-- End of .ODRInnerBox --></div>
                    <!-- End of .ThemeElement --></div><!-- End of #FieldArea_894 --></div>
            <!-- End of .FormAccordion --></div><!-- End of #DataType_3 --></div><!-- End of .ODRFormWrap --></div>