{% spaceless %}

<div class="accordion-content ODRJobList_wrapper" rel="{{ job_type }}">
    <table id="ODRJobList_{{ job_type }}" class="display">
        <thead>
            <tr>
                <th></th>
                <th>Started At</th>
                <th>Started By</th>
                <th>Description</th>
                <th>Progress</th>
                <th>Time Elapsed</th>
                <th>ETA</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(function() {
        // Setup...
        var job_type = "{{ job_type }}";
        var ajax_url = "{{ path('odr_job_refresh',{'job_type': ''}) }}";
        ajax_url += job_type;

        var table = $("#ODRJobList_" + job_type).dataTable({
            "columns": [
                {
                    "data": "can_delete",
                    "render": function(can_delete, type, row, meta) {  // can_delete is a boolean
                        if (can_delete == true)
                            return '<div><span id="job_' + row.tracked_job_id + '" class="pure-button ODRDeleteJob" rel="' + row.tracked_job_id + '">Delete</span></div>';
                        else
                            return '';
                    }
                },
                { "data": "created_at" },
                { "data": "created_by" },
                { "data": "description" },
                {
                    "data": "progress",
                    "render": function(data, type, row, meta) {    // data is an array containing total and current
                        return '<div class="ODRProgressBar" max_value="' + data.total + '" current_value="' + data.current + '"><div class="ODRProgressBarLabel"></div></div>';
                    }
                },
                { "data": "time_elapsed" },
                {
                    "data": "eta",
                    "render": function(data, type, row, meta) {
                        if (data == 'Done') {
                            var url = "{{ path('odr_csv_download', {'user_id': 0, 'tracked_job_id': 0}) }}";
                            url = url.substr(0, url.length-3);
                            url += row.user_id + '/' + row.tracked_job_id;

                            return '<a target="_blank" href="' + url + '">Download</a>';
                        }
                        else {
                            return data;
                        }
                    }
                },
            ],

            "lengthChange": false,
            "info": false,
            "ordering": false,
            "searching": false,
            "paging": false,

            "language": {
                "emptyTable": "No Jobs found"
            },

            // https://datatables.net/manual/server-side
            "processing": true,   // only displays a little "processing..." blurb

            "ajax": {
                url: ajax_url,
                type: "GET",
                dataSrc: "d",
                complete: function() {
                    $(".ODRDeleteJob").unbind('click');
                    $(".ODRDeleteJob").click(function () {
                        deleteJob( $(this).attr('rel') );
                    });

                    if (typeof doProgressBars == 'function')
                        doProgressBars();
                }
            },
                
        });
    });
</script>

{% endspaceless %}
