{% spaceless %}

{{ form_start(group_form, {
    'method': 'POST',
    'attr': {
        'id': 'GroupPropertiesForm_' ~ group.id,
        'class': 'ODRGroupPropertiesForm pure-form pure-form-aligned',
        'rel': datatype.id,
    }
}) }}

    <fieldset>
        <div class="pure-control-group">
            <label for="{{ group_form.groupName.vars.id }}">
                <strong>{{ group_form.groupName.vars.label }}</strong>
            </label>
            {{ form_errors(group_form.groupName) }}
            {% if prevent_all_changes %}
                {{ form_widget(group_form.groupName, { 'attr': {'class': 'ODRGroupName', 'style': 'width:auto; cursor:not-allowed;', 'readonly': 'readonly', 'title': 'You are not allowed to change the name for this group.'} }) }}
            {% else %}
                {{ form_widget(group_form.groupName, { 'attr': {'class': 'ODRGroupName', 'style': 'width:auto' } }) }}
            {% endif %}
        </div>

        <div class="pure-control-group">
            <label for="{{ group_form.groupDescription.vars.id }}">
                <strong>{{ group_form.groupDescription.vars.label }}</strong>
            </label>
            {{ form_errors(group_form.groupDescription) }}
            {% if prevent_all_changes %}
                {{ form_widget(group_form.groupDescription, { 'attr': {'style': 'width:auto; height:150px; cursor:not-allowed;', 'readonly': 'readonly', 'title': 'You are not allowed to change the description for this group.' } }) }}
            {% else %}
                {{ form_widget(group_form.groupDescription, { 'attr': {'style': 'width:auto; height:150px;' } }) }}
            {% endif %}
        </div>

        <div style="display: none;">
        {{ form_rest(group_form) }}
        </div>
    </fieldset>

{{ form_end(group_form) }}

{% endspaceless %}
