{% spaceless %}

<h1 class="no-margin-top-phone">
    <span>Group Permissions &raquo; {{ datatype.dataTypeMeta.shortName }} <i class="fa fa-lg fa-users ODRDatatypeGroupMembers Pointer" style="margin-left: 10px;" title="Show all Users that belong to Groups for this Datatype"></i></span>
</h1>

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <h3 class="ODRHeader"><i class="fa fa-md fa-info-circle fa-fw"></i> Modify Group Permissions</h3>

            <div class="ODRBodyContent">
                <p>Use this interface to create, view, and edit all the groups for this database.</p>
            </div>

            <div id="ODRGroupListHeader" class="pure-u-1"></div>
        </div>
    </div>
</div>

<input type="hidden" id="datatype_id" value="{{ datatype.id }}" />

<div id="ThemeDesignWrapper">
    <div id="ThemeLeftColumn" class="ODRContentWrapper">
        <div class="ODRThemeElement">
            <div class="ODRInnerBox">
                <div class="pure-u-1"></div>
                <div class="pure-u-24-24"><h3 class="ODRHeader">Group Settings</h3></div>
                <div id="ThemeDesignForm"></div>
            </div>
        </div>
    </div>
    <div id="ThemeDesignArea">
        <div id="ODRGroupListContent" class="pure-u-1"></div>
    </div>
</div>

<script>
    var SaveTimeout = 1500;

    $(function() {
        disableSearchSidebar();    {# defined in ODRAdminBundle:Default:common_js.html.twig #}

        LoadGroupList({{ datatype.id }});

        // Resize all overlay divs on window size
        $(window).unbind('resize');
        $(window).resize(function() {
            WindowResizeInterval = window.clearInterval(WindowResizeInterval);
            WindowResizeInterval = window.setInterval("resizeOverlayDivs()", 50);
        });

        $(".ODRThemeListContentHeader").last().next().show();
    });

    function notifySaved() {
        $.jGrowl('SAVED');
    }

    var WindowResizeInterval = "";
    function resizeOverlayDivs() {
        WindowResizeInterval = window.clearInterval(WindowResizeInterval);

        // Attach an overlay div of sorts over each datafield
        $(".ODROverlayDiv").each(function() {
            // Need dimensions of parent div...
            var height = $(this).parent().css('height');
            var width = $(this).parent().css('width');

            // Apply dimensions of parent div to loading div
            $(this).css({"height": height, "line-height": height, "width": width});
        });
    }

    function LoadGroupList(datatype_id) {
        var url = '{{ path('odr_load_group_list', { 'datatype_id': 0, } ) }}';
        url = url.substring(0, (url.length - 1));
        url += datatype_id;

//alert(url);
//return;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                $("#ODRGroupListHeader").html(data.d.html).fadeIn('fast');
                InitHeader();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {

                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    function InitHeader() {

        $(".ODRDatatypeGroupMembers").unbind('click').click(function() {

            // Clear the currently selected group indicator
            $(".ODREditGroup").removeClass('ODRActiveIcon');
            $(".ODRGroupMembers").removeClass('ODRActiveIcon');
            $("#ODRGroupPropertiesFormDiv").html('');

            // Grab the datatype id
            var datatype_id = $("#datatype_id").val();

            // Load user list for entire datatype
            var url = '{{ path('odr_datatype_group_membership', { 'datatype_id': 0 } ) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

//alert(url);
//return;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#ODRGroupListContent").html(data.d).fadeIn('fast');
                    attachUserLinks();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODRAddGroup").unbind('click').click(function() {
            // Grab the datatype id
            var datatype_id = $("#datatype_id").val();

            // Load form for current datfield if not already loaded
            var url = '{{ path('odr_add_group', { 'datatype_id': 0 } ) }}';
            url = url.substring(0, (url.length - 1));
            url += datatype_id;

//alert(url);
//return;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    // Remove permissions UI if it currently exists
                    if ( $(".ODRGroupListContentHeader") != undefined ) {
                        $(".ODRGroupListContentHeader").next().remove();
                        $(".ODRGroupListContentHeader").remove();
                    }

                    $("#ThemeDesignForm").html('');

                    // Reload the theme list html
                    LoadGroupList(datatype_id);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODREditGroup").unbind('click').click(function() {

            // Clear the currently selected group indicator
            $(".ODRGroupMembers").removeClass('ODRActiveIcon');
            $("#ODRGroupPropertiesFormDiv").html('');
            $("#ThemeDesignForm").html('');

            $(".ODREditGroup").removeClass('ODRActiveIcon');
            $(this).addClass('ODRActiveIcon');

            // Grab the id of the group to load
            var group_id = $(this).attr('rel');

            // Load form for current group if not already loaded
            var url = '{{ path('odr_manage_group_permissions', { 'group_id': 0 } ) }}';
            url = url.substring(0, (url.length - 1));
            url += group_id;

            $("#ODRGroupListContent").html('');
//alert(url);
//return;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    // Hide the group properties div if there's a group in there and the user loaded the permissions UI for another group
                    var active_group_properties = $(".ODRGroupProperties.ODRActiveIcon");
                    if ( active_group_properties.length > 0 ) {
                        if ( $(active_group_properties).attr('rel') != group_id ) {
                            $("#ODRGroupPropertiesFormDiv").hide().html("");
                            $(active_group_properties).removeClass("ODRActiveIcon");
                        }
                    }

                    $("#ODRGroupListContent").html(data.d.html).fadeIn('fast');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });

        $(".ODRGroupMembers").unbind('click').click(function() {
            // Clear the currently selected group indicator
            $(".ODRGroupProperties").removeClass('ODRActiveIcon');
            $(".ODRGroupMembers").removeClass('ODRActiveIcon');
            $(this).addClass('ODRActiveIcon');

            var group_id = $(this).attr('rel');

            var url = '{{ path('odr_group_membership', {'group_id': 0}) }}';
            url = url.substring(0, (url.length - 1));
            url += group_id;

            $.ajax({
                cache: false,
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(data) {
                    $("#ODRGroupPropertiesFormDiv").html(data.d).fadeIn('fast');
                    attachUserLinks();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Don't need to do anything specific on an error
                },
                complete: function(jqXHR) {
                    // Get the xdebugToken from response headers
                    var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                    // If the Sfjs object exists
                    if (typeof Sfjs !== "undefined") {

                        // Grab the toolbar element
                        var currentElement = $('.sf-toolbar')[0];

                        // Load the data of the given xdebug token into the current toolbar wrapper
                        Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                    }
                }
            });
        });
    }

    function attachUserLinks() {
        $(".ODRUserLink").unbind('click').click(function() {
            var user_id = $(this).attr('rel');

            var url = '{{ path('odr_manage_user_groups', {'user_id': 0}) }}';
            url = url.substring(0, (url.length-1));
            url += user_id;

            UpdateURL(url);
        });
    }

    var SaveGroupPropertyInterval = [];
    function SaveGroupProperties(datatype_id, group_id, reload_group_list) {
        // Clear the save timeout for this specific group
        clearTimeout(SaveGroupPropertyInterval[group_id]);

        var url = '{{ path('odr_group_properties', { 'group_id': 0 } ) }}';
        url = url.substring(0, (url.length - 1));
        url += group_id;

//alert( url );
//return;

        var form_data = $("#GroupPropertiesForm_" + group_id).serialize();
        $.ajax({
            type: 'POST',
            url: url,
            data: form_data,
            dataType: "json",
            success: function(data) {
                notifySaved();

                // Forcibly reload group div
                if (reload_group_list)
                    LoadGroupList(datatype_id);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {

                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }

    function InitGroupPropertyForm() {
        // Init Group Properties forms
        $("#ThemeDesignForm").find(".ODRDeleteGroup").each(function() {
            var group_id_data = $(this).attr('id').split(/_/);
            var group_id = group_id_data[1];

            var datatype_id = $(this).attr('rel');

            $(this).unbind('click').click(function() {
                if ( $(this).hasClass('pure-button-disabled') ) {
                    return;
                }
                else if( confirm("Are you certain you want to delete this Group?")) {
                    DeleteGroup(datatype_id, group_id);
                }
            });
        });

        $("#ThemeDesignForm").find("input, textarea").each(function() {
            // Grab group id
            var group_id_data = $("#ThemeDesignForm").find(".ODRGroupPropertiesForm").attr('id').split(/_/);
            var group_id = group_id_data[1];

            var datatype_id = $("#GroupPropertiesForm_" + group_id).attr('rel');

            // Save changes
            if( $(this).is(":checkbox") ) {
                $(this).unbind('change').change(function() {
                    // Only want to execute the save function once
                    clearTimeout(SaveGroupPropertyInterval[group_id]);
                    SaveGroupPropertyInterval[group_id] = setTimeout("SaveGroupProperties(" + datatype_id + "," + group_id + ", true)", SaveTimeout);
                });
            }
            else {
                $(this).unbind('keyup');
                $(this).unbind('paste');
                $(this).on('keyup paste', function() {
                    //
                    if ( $(this).hasClass('ODRGroupName') ) {   // inline update of group name  TODO - error handling?
                        var text = $(this).val();
                        $(".ODRGroup_" + group_id + "_name").html(text);
                    }

                    // Only want to execute the save function once
                    clearTimeout(SaveGroupPropertyInterval[group_id]);
                    SaveGroupPropertyInterval[group_id] = setTimeout("SaveGroupProperties(" + datatype_id + "," + group_id + ", false)", SaveTimeout);
                });
            }
        });
    }

    function DeleteGroup(datatype_id, group_id) {
        var url = '{{ path('odr_delete_group', { 'group_id': 0 } ) }}';
        url = url.substring(0, (url.length - 1));
        url += group_id;

//alert( url );
//return;

        $.ajax({
            cache: false,
            type: 'GET',
            url: url,
            dataType: "json",
            success: function(data) {
                // Remove permissions UI if it currently exists
                if ( $(".ODRGroupListContentHeader").length > 0 ) {
                    var group_id_data = $(".ODRGroupListContentHeader").attr('id').split('_');
                    var current_group_id = group_id_data[1];

                    if (group_id == current_group_id) {
                        $("#ODRGroupListContent_" + group_id).next().remove();
                        $("#ODRGroupListContent_" + group_id).remove();
                    }
                }

                // Reload group list div
                $("#ODRGroupListHeader").fadeOut('fast');
                LoadGroupList(datatype_id);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Don't need to do anything specific on an error
            },
            complete: function(jqXHR) {
                // Get the xdebugToken from response headers
                var xdebugToken = jqXHR.getResponseHeader('X-Debug-Token');

                // If the Sfjs object exists
                if (typeof Sfjs !== "undefined") {

                    // Grab the toolbar element
                    var currentElement = $('.sf-toolbar')[0];

                    // Load the data of the given xdebug token into the current toolbar wrapper
                    Sfjs.load(currentElement.id, '/app_dev.php/_wdt/'+ xdebugToken);
                }
            }
        });
    }
</script>

{% endspaceless %}
