{% spaceless %}

{% set datatype = datatype_array[target_datatype_id] %}
{% set theme = theme_array[target_theme_id] %}

{% for theme_element in theme.themeElements %}

    <div id="ThemeElement_{{ theme_element.id }}" class="ODRThemeElement pure-u-1 pure-u-md-{{ theme_element.themeElementMeta.cssWidthMed }} pure-u-xl-{{ theme_element.themeElementMeta.cssWidthXL }}">
    <div class="ODRInnerBox">

    {% if theme_element.themeDataFields is defined %}

        {% for theme_datafield in theme_element.themeDataFields %}
            {# Output via results_datafield or markdown #}
            {% if theme_datafield.dataField is defined %}
                {% set datafield_id = theme_datafield.dataField.id %}
                {% set datafield = datatype['dataFields'][datafield_id] %}

                {% set is_markdown = false %}
                {% if datafield.dataFieldMeta.fieldType.typeName == 'Markdown' %}
                    {% set is_markdown = true %}
                {% endif %}

                <div class="ODRDataField{% if is_markdown %} ODRMarkdownField{% endif %} pure-u-1 pure-u-md-{{ theme_datafield.cssWidthMed }} pure-u-xl-{{ theme_datafield.cssWidthXL }}" id="Field_{{ datafield.id }}" >
                    {% include 'ODRAdminBundle:ODRGroup:permissions_datafield.html.twig' with {
                        'group': group,
                        'theme_datafield': theme_datafield,
                        'datafield': datafield,
                        'datatype': datatype,

                        'datatype_permissions': datatype_permissions,
                        'datafield_permissions': datafield_permissions,

                        'prevent_all_changes': prevent_all_changes,
                    } %}
                </div>
            {% endif %}
        {% endfor %}

    {% elseif theme_element.themeDataType is defined %}

        {# should only ever going to be a single child datatype, but keep the loop incase that changes in the future #}
        {% for theme_datatype in theme_element.themeDataType %}
            {% set child_datatype_id = theme_datatype.dataType.id %}
            {% set child_theme_id = theme_datatype.childTheme.id %}

            {# due to filtering, this entry in the theme array isn't guaranteed to exist in the datatype array... #}
            {% if datatype['descendants'][child_datatype_id] is defined and datatype['descendants'][child_datatype_id]['datatype']|length > 0 %}
                {% set child_datatype = datatype['descendants'][child_datatype_id]['datatype'] %}
                {% set child_theme = theme_element['themeDataType'][0]['childTheme']['theme'] %}

                {% include 'ODRAdminBundle:ODRGroup:permissions_childtype.html.twig' with {
                    'datatype_permissions': datatype_permissions,
                    'datafield_permissions': datafield_permissions,

                    'group': group,

                    'datatype_array': child_datatype,
                    'theme_array': child_theme,

                    'target_datatype_id': child_datatype_id,
                    'target_theme_id': child_theme_id,

                    'is_top_level': 0,
                    'prevent_all_changes': prevent_all_changes,
                } %}
            {% endif %}
        {% endfor %}

    {% endif %}

    </div><!-- End of .ODRInnerBox -->
    </div><!-- End of .ThemeElement -->

{% endfor %}

{% endspaceless %}
