{% spaceless %}

    {% set external_id_field = datatype.getexternalidfield %}

    <div class="csv_import_header pure-u-2-3">
        {% if external_id_field == null %}
            {# notify that the datatype doesn't have an external id field #}
            <div class="pure-u-1">
                <span><i class="fa fa-lg fa-exclamation-triangle"></i></span>
                <span>&nbsp;This Datatype doesn't have an "External ID" Datafield...as such, the importing process is incapable of updating existing Datarecords.  Any rows imported will ALWAYS create new Datarecords.</span>
            </div>

        {% else %}
            {# notify that the external id field is not mapped #}
            <div id="external_id_field_warning" class="pure-u-1">
                <span><i class="fa fa-lg fa-exclamation-triangle"></i></span>
                <span>&nbsp;This Datatype's External ID Datafield, "{{ external_id_field.getfieldname }}", is currently not mapped to a column of the CSV File...as such, the importing process is incapable of updating existing Datarecords.  Any rows imported WILL create new Datarecords.</span>
            </div>

        {% endif %}

        {# every other unique datafield needs a warning too #}
        {% for df in datafields %}
            {% if df.getisunique == 1 and external_id_field != df and name_field != df %}
            <div id="datafield_{{ df.id }}_unique_notice" class="pure-u-1">
                <span><i class="fa fa-lg fa-exclamation-circle"></i></span>
                <span>&nbsp;The unique Datafield "{{ df.getfieldname }}" is currently not mapped to a column of the CSV File...if any new Datarecords are created as a result of this import, this datafield will have multiple blank values.</span>
            </div>
            {% endif %}
        {% endfor %}
    </div>

<style>
    .ODRHidden {
        display: none;
    }
</style>

<script>
    function updateHeaderWarnings() {
{% if external_id_field == null %}
        /* no external id datafield, do nothing */
{% else %}
        // Check to see if the external id datafield is mapped to a csv column
        var selected = false;
        $(".datafield_mapping:enabled").each(function() {
            var selected_df = $(this).children('option:selected').val();
            if ( selected_df == "{{ external_id_field.id }}" )
                selected = true;
        });

        // Display the warning based on whether it is
        if (selected)
            $("#external_id_field_warning").hide();
        else
            $("#external_id_field_warning").show();

{% endif %}

        // Deal with unique datafields that aren't external id/name datafields
        var datafield_usage = {};
{% for df in datafields %}{% if df.getisunique == 1 %}
        datafield_usage["{{ df.id }}"] = 0;
{% endif %}{% endfor %}

        $(".datafield_mapping:enabled").each(function() {
            var selected_df = $(this).children('option:selected').val();
            if ( datafield_usage[selected_df] !== undefined )
                datafield_usage[selected_df] = 1;
        });

        jQuery.each(datafield_usage, function(key,value) {
            if (value == 1)
                $("#datafield_" + key + "_unique_notice").hide();
            else
                $("#datafield_" + key + "_unique_notice").show();
        });
    }
</script>

{% endspaceless %}
