{% spaceless %}

<div class="ODRContentWrapper pure-u-1">
    <div class="ODRThemeElement pure-u-1">
        <div class="ODRInnerBox pure-u-1">
            <div class="ODRAccordionWrapper ODRFormAccordion">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-active" role="tab" aria-expanded="true" aria-selected="true" tabindex="0">
                    ODR Remote Search Setup
                </h3>

                <div class="ODRFieldArea accordion-content">
                    <div class="ODRBodyContent">
                        Welcome to the ODR Remote Search setup pages. This series of pages will help create a configuration that allows a non-ODR site to create a valid ODR search key, and then redirect the user to the relevant ODR search page.
                        <br>
                        Clicking on the <i class="fa fa-lg fa-question-circle"></i> icon in the upper-right of the page will highlight the most relevant parts of these pages.
                        <br><br>
                        The second step in this process is to select which datafields you're interested in.
                        <br>
                        If no datafields are displayed, then the database is likely unsuitable for remote searching.
                    </div>
                    <div class="ODRHidden">
                        <form id="ODRRemoteSearch_form">
                            <input type="hidden" name="datatype_id" value="{{ datatype_id }}"/>
                        </form>
                    </div>
                    <button id="ODRRemoteSearch_config" class="pure-button pure-button-disabled">Show Config</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ODRContentWrapper pure-u-1">
    <table id="ODRDatatypeList" class="display dataTable">
        <thead><tr>
            <th></th>

            <th></th>
            <th>Datafield Name</th>
            <th>Datafield Description</th>
        </tr></thead>
        <tbody>
        {% for df_id in permitted_datafields %}
            {% set df = dt_array['dataFields'][df_id] %}
            {% set datafield_meta = df.dataFieldMeta %}
            <tr>
                <td>{{ df_id }}</td>
                <td>
                    <input class="ODRRemoteSearch_select" rel="{{ df_id }}" type="checkbox">
                </td>

                <td>{{ datafield_meta.fieldName }}</td>
                <td>{{ datafield_meta.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="odrremotesearch_config_dialog_wrapper">
    {% include 'ODROpenRepositorySearchBundle:Remote:config_dialog.html.twig' %}
</div>

<script>
    $(function() {
        $("#ODRDatatypeList").dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false
                },
                {
                    "targets": [1],
                    "orderable": false,
                    "searchable": false
                },
                // {
                //     "width": "30%",
                //     "targets": [6]
                // }
            ],
            "order": [[2, "asc"]],
            "autoWidth": true,
            "paging": false,
            "fixedHeader": {
                /* headerOffset: 42 */
            },
            "info": false,
            "language": {
                "emptyTable": "No Datafields found"
            }
        });
        $("#ODRDatatypeList").removeAttr('style');

        $(".ODRRemoteSearch_select").unbind('change').change(function() {
            // Enable the button when at least one datafield is selected
            var has_selections = false;
            $(".ODRRemoteSearch_select").each(function(index,elem) {
                if ( $(elem).is(':checked') )
                    has_selections = true;
            });

            if ( has_selections )
                $("#ODRRemoteSearch_config").removeClass('pure-button-disabled');
            else
                $("#ODRRemoteSearch_config").addClass('pure-button-disabled');

        });

        $("#ODRRemoteSearch_config").unbind('click').click(function() {
            // Don't want to open the dialog if nothing is selected
            var has_selections = false;
            $(".ODRRemoteSearch_select").each(function(index,elem) {
                if ( $(elem).is(':checked') )
                    has_selections = true;
            });

            if ( has_selections ) {
                {# defined in ODROpenRepositorySearchBundle:Remote:config_dialog.html.twig #}
                openODRRemoteSearchDialog();
            }
        });


        // Might as well make the help system available here to point out useful stuff
        $('#ODRHelpButton')
            .attr('data-step', '1')
            .attr('data-intro', 'Welcome to the ODR Help System.  This system will guide you through the features of this page.<br><br>For quicker navigation, use your left and right arrow keys to go through the tutorial.');
        $('#ODRDatatypeList_filter')
            .attr('data-step', '2')
            .attr('data-intro', "As with the database table, the list of datafields can be filtered by typing into this field.");
        $('#ODRDatatypeList').find('tr').first()
            .attr('data-step', '3')
            .attr('data-intro', 'Additionally, the table can be sorted by clicking on the column headers, if necessary.');
        $('#ODRDatatypeList').find('.ODRRemoteSearch_select').first()
            .attr('data-step', '4')
            .attr('data-intro', "To include a datafield of interest in the configuration, select the checkbox in that row.");
        $('#ODRRemoteSearch_config')
            .attr('data-step', '5')
            .attr('data-intro', 'After selecting at least one datafield, click this button to move on to the next stage of the process.');
    });
</script>
{% endspaceless %}
